[2015-08-03 17:05] thisandagain commented on #407
Relates to #440

[2015-08-03 17:05] thisandagain commented on #408
Relates to #440

[2015-08-03 17:28] xmatthewx opened #445 "Edit Page UI - utilize a tap to edit a page in project view"
Currently in the project view, a user selects a page and then taps a pencil to open and edit a page. This has proven to be subpar. Instead, let's utilize a tap to open and edit a page.
- Aligns with observed user behaivor
- Increases consistency between project Viewer and Editor
- Allows us to remove awkward selected page state
- Reduces steps and UI elements required

This change requires us to:

[2015-08-03 17:29] Pomax commented on #236
yeah, let's move forward from that ticket instead.

[2015-08-03 17:33] HPaulJohnson commented on #380
@secretrobotron and I tested the fix (noted above). Still need to setup a new round of tests leading up to marketing launch, which I'll do early this week.

[2015-08-03 17:35] thisandagain commented on #380
Great! Thanks.

[2015-08-03 18:34] xmatthewx opened #446 "UX - age verification"
Design an age gate for Webmaker accounts.
- https://accounts.firefox.com/signup
- http://skinnywhitegirl.com/blog/designing-for-coppa/1033/
- https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions

planning: https://github.com/MozillaFoundation/plan/issues/525

[2015-08-03 18:42] xmatthewx commented on #316
tracking in #446

[2015-08-03 18:42] #316 closed, assigned to xmatthewx

[2015-08-03 18:45] xmatthewx commented on #224
STR in original comment above.

It might be better/easier to add color selector for link color instead of auto setting color based on background color.

[2015-08-03 19:15] xmatthewx commented on #418
:+1:  - looks way better.

@vazquez - can you summarize changes between this and current build?

[2015-08-03 21:46] gvn commented on #440
Our primary problem here is that all browsers render text differently. It's doubtful we'll ever get totally consistent layouts because of this. The same text with the same CSS will render at different widths depending on the layout engine, which means that line breaks won't always be in the same spots.

If you use something like `white-space: nowrap` that helps with consistency for single line tex

[2015-08-03 22:05] xmatthewx commented on #440
Are we using normalize.css or something similar? Besides that, let's keep this focused on the extreme layout failures like you suggest.

It looks like Firefox has a bug on element width. A link and two of the phrases wrap much more than they should need to wrap.

[2015-08-03 22:37] gvn commented on #440
A reset isn't going to solve the problem, but yes, we use one. Fundamentally, text is rendered differently at the engine level. I'm comparing identical CSS layouts across different layout engines and getting different dimensions for computed layout...

I have a PR to fix that FF layout so that it doesn't wrap on every word. There's a pretty crazy complex layout there and FF must need a little extr

[2015-08-03 22:43] thisandagain commented on #440
Re: rendering using Canvas ... I'm wondering if 100% perfect accuracy across browsers is what we want. It doesn't quite feel "web-by" to me and so I'm curious if we should find some threshold for rendering inconsistency between browsers that we are comfortable with. Thoughts?

[2015-08-03 23:19] HPaulJohnson commented on #380
New tests are now running. Please let me know if any further issues are experienced. Otherwise, think you can close this issue.

[2015-08-03 23:21] thisandagain commented on #380
Wonderful! Thanks @HPaulJohnson ... LGTM.

[2015-08-03 23:21] #380 closed, assigned to xmatthewx

[2015-08-03 23:42] gvn commented on #440
Yeah, the Canvas approach isn't something I'd advocate, but it's an option if consistency is paramount.

I agree that we should think in terms of a threshold for consistency. As we start introducing more advanced customization and features for projects we're going to be seeing more and more inconsistency cross-browser. That is the nature of the beast – we can only realistically smooth things out s

[2015-08-04 01:33] ryanwarsaw commented on #439
Here are my thoughts and concerns about this, as it stands I don't think we can in-app compile webmaker-core and replace the assets while the instance is still running. This problems solution would most likely require an external helper (helper app) or using a system feature / process.

It is possible to call Android to reinstall the app, but that would re-install the entire app and not just webma

[2015-08-04 14:05] #281 closed, assigned to gvn

[2015-08-04 14:05] #182 closed, assigned to nobody

[2015-08-04 14:05] #365 closed, assigned to thisandagain

[2015-08-04 14:05] errietta commented on #281
closed per 14:02 < ryanw-se> Can someone please close tickets, https://github.com/mozilla/webmaker-core/issues/281,   https://github.com/mozilla/webmaker-core/issues/182, https://github.com/mozilla/webmaker-core/issues/365
14:02 < ryanw-se> All of them contain fixes that were landed a short while ago, except for the style guide git hash, that was landed a few months
                  ago and got r

[2015-08-04 14:05] errietta commented on #182
closed per 14:02 < ryanw-se> Can someone please close tickets, #281, #182, #365
14:02 < ryanw-se> All of them contain fixes that were landed a short while ago, except for the style guide git hash, that was landed a few months
ago and got reopened when they migrated tickets

[2015-08-04 14:05] errietta commented on #365
closed per 14:02 < ryanw-se> Can someone please close tickets, #281, #182, #365
14:02 < ryanw-se> All of them contain fixes that were landed a short while ago, except for the style guide git hash, that was landed a few months
ago and got reopened when they migrated tickets

[2015-08-04 14:29] xmatthewx commented on #440
Agreed. Variance is natural for web content. Not all pixels (or drop shadows) will align.

The unexpected line breaks cross a threshold for me. The app determines the relationship between element width and font-size, but needs more tolerance for expected variance. I see this as a bug rather than a user pushing the limits of the app or web content.

[2015-08-04 14:39] xmatthewx commented on #324
This is ready for implementation. Note: use the copy in the comment above, not the old copy in the screenshot.

[2015-08-04 15:33] #443 closed, assigned to k88hudson

[2015-08-04 15:35] Pomax commented on #12
was this confirmed as "we should add this" from the design side?

[2015-08-04 15:39] ashleygwilliams commented on #12
i personally think it makes a lot of sense- it's how the web works! but i also hear these concerns. we def had this on the list at whistler... thoughts @flukeout @vazquez ?

[2015-08-04 15:51] xmatthewx commented on #12
No, this hasn't landed on the "we should add this" list.

The list at whistler included the feature to link to a page in a different project https://github.com/mozilla/webmaker-core/issues/54, a feature we still plan to build down the line. That will make Webmaker much more webby. The feature in this issue would make it more wiki-like -- create a link to a stub and presto, the page now exists. It

[2015-08-04 16:21] Pomax commented on #12
taking into account [there is a PR](https://github.com/mozilla/webmaker-core/pull/13) for this, so the work's mostly been done already, is there a design moratorium, or do we just want to test the PR and land it even if it wasn't strictly speaking on the list?

[2015-08-04 16:24] k88hudson commented on #433
@vazquez just for some clarification, do you want me to:

a) detect offline status separately, have different error messages for being offline v.s. not being able to connect to the server (which could be caused by the server being down etc.)
b) use the same error message for all connection problems

I'm assuming`Please connect to the Internet to sign in` is somewhat misleading if the error case is

[2015-08-04 16:26] Pomax commented on #440
practical limitation of canvas: putting text on a canvas takes up a LOT of memory, so trying to canvas-ise text can easily need an incidentally 20~30 MB even for a reasonably short bit of text, which on a mobile device is a terrible idea. And of course, it'd be content locking, which I'll always vote against because this is Mozilla, [it's not a thing we do](https://www.mozilla.org/en-US/about/mani

[2015-08-04 16:28] k88hudson commented on #433
cc @thisandagain, can you maybe help clarify?

[2015-08-04 16:30] k88hudson commented on #376
@thisandagain sure, sounds good

[2015-08-04 16:39] k88hudson commented on #376
@thisandagain I've deployed to production, should be building now

[2015-08-04 16:39] #376 closed, assigned to k88hudson

[2015-08-04 17:03] Pomax opened #451 "Clean up "offline" code"
Predicated on https://github.com/mozilla/webmaker-core/issues/183

This requires a few things:
- [ ] refactor of `setView` to `changeViewImmediately`, `changeViewWithRouteData` and `changeViewWithCacheData` (these are not elegant names, but post-refactor renaming to something better is easy) - review pending in https://github.com/mozilla/webmaker-core/pull/569, with the webmaker-android code to ma

[2015-08-04 17:07] Pomax opened #452 "Extend java caching to cover the entire project creation/modification track"
Predicated on https://github.com/mozilla/webmaker-core/issues/183

Right now the code uses java caching for an "offline" experience in `page` setting, covering page and element interactions. In order to offer users a better offline experience, this approach needs to be extended to kick in for entire projects, starting at the "create project" step and ending when the project is exited.

Ideally we

[2015-08-04 17:17] xmatthewx commented on #442
Text: https://drive.google.com/a/mozilla.com/file/d/0B_MJiF6wUoWPaWotV2Y3RzM3V0xQZEtQMzNCbVE5OVpRYlhJ/view?usp=sharing

[2015-08-04 17:18] gvn commented on #408
This appears to be fixed. Can you still repro @xmatthewx ?

[2015-08-04 17:29] xmatthewx opened #453 "Add Open Graph tags to projects in browser viewer"
Add tags for better sharing. Include thumbnails.

Originally discussed here:
https://github.com/mozilla/webmaker-browser/issues/82

[2015-08-04 18:06] gvn commented on #407
Tested on iOS Chrome + Safari and not seeing any of the layout issues. @xmatthewx can you still repro?

[2015-08-04 18:15] thisandagain commented on #433
@k88hudson Good question. I filed this specifically for "A" in which the error message should be different when the user does not have an internet connection.

[2015-08-04 18:25] xmatthewx opened #454 "UX - Add image via URL"
On desktop, users will want to add images via URL.

[2015-08-04 18:27] thisandagain commented on #433
Sketch of method for returning network status using `ping` of API:

[code]

[2015-08-04 18:28] xmatthewx commented on #33
If we remove the pencil from the project view, in favor of tap page to edit (#445) the first item above will need to change. "Tap page to edit" will float above the center page.

edit: clarified my comment

[2015-08-04 18:59] #436 closed, assigned to nobody

[2015-08-04 18:59] #419 closed, assigned to k88hudson

[2015-08-04 19:07] xmatthewx commented on #408
Looks good on my end. @vazquez reported it originally. I'll reassign to him to reconfirm or close.

[2015-08-04 19:56] Pomax commented on #346
a request for clarification: which edit behaviour do we want on first edit, and which behaviour do we want on subsequent edits?

On first edit, we're offering a text field with a text that the user is almost guaranteed not interested in, so wiping that word once the user starts typing feels like it makes sense (although user feedback can invalidate that assumption).

Subsequent edits, however, sho

[2015-08-04 20:42] gvn commented on #271
I can't repro this anymore.

@flukeout are you still seeing this issue?

[2015-08-04 20:51] gvn commented on #194
@Pomax do you think this will be fixed once your bulk patch lands?

[2015-08-04 20:57] k88hudson commented on #189
This should be resolved by https://github.com/mozilla/webmaker-core/commit/e7cc1b976818708871ca1ec8013eea36f3b33ee1

[2015-08-04 20:57] #189 closed, assigned to k88hudson

[2015-08-04 21:02] xmatthewx commented on #407
@vazquez - please confirm if this is resolved.

[2015-08-04 21:46] xmatthewx commented on #12
Let's freeze this but unfreeze experimentation.

I want to pause this because it might introduce bugs right before we launch the snippet. Another reason: Many users will create a link without a full understanding of what it is, how it works, or why they would use it. Adding additional UI might create noise that impedes their understanding. Or it might not. We need to test this and our current impl

[2015-08-04 22:25] Pomax opened #457 "No visual confirmation for deleting your last (only) project"
If you tap the [...] menu and pick "delete" for the only project in your make list, the UI will not remove the project visually, despite deleting it from the database. Reloading the make view then no longer shows the project, but until then you're trying to delete the project over and over and nothing seems to be happening.

[2015-08-04 23:48] gvn commented on #346
Yeah, that makes sense to me too. What do you think @thisandagain ?

[2015-08-05 03:15] thisandagain commented on #346
:+1: thanks for the clarification @Pomax. I agree that the text should be "wiped" on first edit but then persisted on any subsequent edit.

[2015-08-05 03:15] thisandagain commented on #346
/cc @xmatthewx

[2015-08-05 05:21] Pomax commented on #194
we can test it: #402 should be "done" at this point, so if it still does that, it's probably a distinct bug, but I'm hoping it's not..?

[2015-08-05 13:08] vazquez commented on #407
This is resolved!!

![img_2031](https://cloud.githubusercontent.com/assets/1119821/9086268/77601a90-3b51-11e5-97ca-08bf813baf8b.jpg)

[2015-08-05 13:08] #407 closed, assigned to vazquez

[2015-08-05 13:10] vazquez commented on #408
Yep, this is fixed as well. Closing

[2015-08-05 13:10] #408 closed, assigned to vazquez

[2015-08-05 13:32] vazquez commented on #33
Nice catch @xmatthewx. Here is the comp for when we do reach that stage.

![ftu - map view 2](https://cloud.githubusercontent.com/assets/1119821/9086825/e89befe2-3b54-11e5-8fca-b74cc16207e3.png)

[2015-08-05 14:16] vazquez commented on #418
#### UI Changes [browser-based player]
1. In Player view, the background is now `#444444`
2.  Neighbours are now `10%` opacity instead of `7%`
3. Author (i.e. "by lukepacholski") has a `50%` opacity. Project title still displays at `100%` opacity.
4. The nubs have a different visual treatment. They are smaller and `#FFF` with a `70%` opacity. They also display a box-shadow.

![desktop - page view

[2015-08-05 14:43] xmatthewx commented on #418
This looks sharp. Thanks for the notes. Half-moons are out altogether then, yes?

[2015-08-05 14:50] vazquez commented on #418
@xmatthewx -

For mobile view, half moons are out completely.

For desktop browser, I have been toying with the idea that if the browser's height become short, then we indent the top and bottom neighbours.

![desktop - page view short dark](https://cloud.githubusercontent.com/assets/1119821/9088757/b70bb326-3b5f-11e5-9573-a07e7b98f3ba.png)

What do you think about something like this?

[2015-08-05 14:53] xmatthewx commented on #346
This works for me. Selecting the text might be less jarring than wiping it, but either way, I agree that this should only happen to default text, not subsequent edits.

[2015-08-05 15:23] xmatthewx commented on #418
It looks fine, but for simplicity we should keep it consistent everywhere.

In the current implementation, the left/right arrows are at the browser's edge rather than next to the center page. Let's make sure that gets corrected during this theme update.

[2015-08-05 15:25] vazquez commented on #418
+1 I agree about keeping consistency everywhere.

I will make sure to note the placement of left and right arrows.

Can we call this R+? I will file a subsequent implementation ticket.

[2015-08-05 15:33] Pomax commented on #346
in Android, selecting a text and then typing should wipe it, similar to how if you highlight a word on your regular computer and start typing, the highlighted word gets replaced. But, does that mean we're okay with the current behaviour (which means we can close https://github.com/mozilla/webmaker-core/pull/444), or do we need to change the behaviour (in which case https://github.com/mozilla/webma

[2015-08-05 15:39] k88hudson opened #459 "Localize error messages in api.js"
Right now error messages is src/lib/api.js are not localized; perhaps we could convert api to a constructor and pass in strings or something like that. Right now I've added error messages to an object on the singleton, i.e. `api.ERROR_MESSAGES`

See notes in https://github.com/mozilla/webmaker-core/pull/458

[2015-08-05 15:59] xmatthewx commented on #418
:+1:

[2015-08-05 16:02] k88hudson commented on #334
I suspect this will be resolved/significantly changed after pomax's bulk patch lands, so i'm going to wait til that happens

[2015-08-05 16:04] k88hudson commented on #191
@xmatthewx @thisandagain is there design work for this?

[2015-08-05 16:14] xmatthewx commented on #191
We discussed leveraging the [site's error page](https://beta.webmaker.org/#/NothingToSeeHere), rather than a 404 _within_ the project viewer.

Nice to have: a project specific error message. Something like:

<img width="839" alt="screenshot 2015-08-05 12 10 33" src="https://cloud.githubusercontent.com/assets/53411/9090902/16414a80-3b6b-11e5-92c6-2ed016c9848a.png">

[2015-08-05 16:25] gvn commented on #440
Ok, after discussing more in standup we're going to close this based on my forced width patch.

[2015-08-05 16:25] #440 closed, assigned to gvn

[2015-08-05 16:42] xmatthewx commented on #285
@flukeout - take a look at the header as previously designed against the current build. let's update the design.

[2015-08-05 17:08] xmatthewx commented on #46
@flukeout and I will review and update the spec

[2015-08-05 17:08] xmatthewx commented on #37
@flukeout and I will review and update the spec

[2015-08-05 17:25] xmatthewx commented on #262
bugs are filed. milestones are in motion.

[2015-08-05 17:25] #262 closed, assigned to xmatthewx

[2015-08-05 17:29] xmatthewx commented on #242
Tracking PNGs #212 and GIFs #196 elsewhere.

[2015-08-05 17:29] #242 closed, assigned to nobody

[2015-08-05 17:35] xmatthewx commented on #244
I think this feature requires an FTU prompt. Adjusting milestones for this feature that (#33) accordingly.

[2015-08-05 17:35] k88hudson commented on #459
cc @alicoding

[2015-08-05 18:04] #418 closed, assigned to vazquez

[2015-08-05 18:06] vazquez opened #460 "Implement Dark UI on web-based Player"
**What:** We are changing the visual language of the web-based Player.
**Why:** More visual prominence increases page's focus on the page.
Design issue filed in #418
## UI Changes

These changes affect web-based player for now.
1. In Player view, the background is now `#444444`
2.  Neighbours are now `10%` opacity instead of `7%`
3. Author (i.e. "by lukepacholski") has a `50%` opacity. Project tit

[2015-08-05 18:08] vazquez opened #461 "Restyle Button Component"
When a user creates a button, the button currently doesn't stand out _as a button_. It looks more like a rectangle.

[2015-08-05 18:11] vazquez opened #462 "Introduce Discovery section"
When the app loads, it sends the user to the Discovery section of the app. Upon first glance this can be overwhelming and confusing. @LauraReynal suggested to add a line or two of introductory content to make this transition easier.

[2015-08-05 18:13] vazquez opened #463 "Create a Project button in Discovery view"
When the app loads, it sends the user to the Discovery view. There currently is no action to create a project. The user must navigate to the "Make" section of the app to access the creation button.

I want to explore moving the button up one level and placing it on the Discovery view and test if this is a positive change for engagement.

[2015-08-05 18:15] lauradereynal commented on #462
Im not sure that people are so confused by Webmaker and by the discovery gallery once they start scrolling, but the whole section does seem a little cold. I was thinking of a short catchy sentence to set the mood:
Random ideas:
- Discover stories from people all around the world (international)
- The best projects are featured below, Make your own !
- check out awesome projects from the community

[2015-08-05 18:20] vazquez commented on #462
I like "Discover stories from people all around the world." I will run with that for now :) Thanks so much Laura!

[2015-08-05 18:40] xmatthewx commented on #346
Let's go with #444 as written.

[2015-08-05 18:57] k88hudson commented on #433
Resolved by https://github.com/k88hudson/webmaker-core/commit/555a1a508412e55fded88f438178ad6652d86ed7 and https://github.com/k88hudson/webmaker-core/commit/9fd1d7388a514ade1a7fa02674f162f3b584b982

[2015-08-05 18:57] #433 closed, assigned to k88hudson

[2015-08-05 20:49] xmatthewx commented on #446
### Current Firefox account form

<img width="362" alt="firefox-accounts-signup" src="https://cloud.githubusercontent.com/assets/53411/9095759/12b9ca74-3b87-11e5-9dd9-ae3aacec4400.png">

### Lesson learned

The Firefox accounts team learned that you shouldn't make people in their 20s feel old. Twitter storm! https://github.com/mozilla/fxa-content-server/issues/1085

<img width="750" alt="screensho

[2015-08-05 21:01] xmatthewx commented on #446
### Current UI and an Iteration

<img width="825" alt="screenshot 2015-08-05 16 57 58" src="https://cloud.githubusercontent.com/assets/53411/9097715/26d7d36e-3b93-11e5-9a05-0e1f6962649a.png">

### Two-step with verification

Second step would slide in like Tumblr above.
- Single view with a single form.
- Nothing is stored or submitted until step two is complete.

<img width="809" alt="screenshot

[2015-08-05 21:09] xmatthewx commented on #446
@vazquez - put a critical eye on the UX I've proposed. After, we can adjust UI and then share the design with legal for a review.

[2015-08-05 21:57] thisandagain commented on #453
@errietta Would you be interested in hacking on this?

[2015-08-05 21:58] thisandagain commented on #278
@errietta Would you be interested in looking at this bug?

[2015-08-05 21:58] thisandagain commented on #231
@errietta This enhancement might be a good bug for you to hack on! :panda_face:

[2015-08-05 22:42] gvn commented on #194
Appears to be solved by the bulk code that just landed!

[2015-08-05 22:42] #194 closed, assigned to gvn

[2015-08-05 23:52] Pomax commented on #194
\o/

[2015-08-05 23:52] #346 closed, assigned to gvn

[2015-08-06 14:12] cassiemc commented on #446
@xmatthewx can you add your designs to redpen please?

[2015-08-06 15:25] xmatthewx commented on #462
A few approaches to solve this problem:
- a welcome screen
- an element you can dismiss at the top of discover
- a "Welcome to Webmaker" project with an awesome thumbnail featured at the top of Discover

Which form solves our problem the best? Which is easiest to design and build?

[2015-08-06 15:31] xmatthewx commented on #463
@LauraReynal - does this seem like a problem from your tests?

If so, is this a FTU problem? Or should we consider this in tandem with an update to the Android header? (`+` in the top corner?)

[2015-08-06 16:20] errietta commented on #231
dibz

[2015-08-06 16:21] errietta commented on #278
@thisandagain  yeah! what should the limit actually be?

[2015-08-06 16:22] errietta commented on #453
dibs

[2015-08-06 16:27] k88hudson commented on #334
This was resolved by the bulk patch

[2015-08-06 16:27] #334 closed, assigned to k88hudson

[2015-08-06 16:28] ryanwarsaw commented on #278
I pushed PR #17 a couple of weeks back to fix this issue, shortly after it was discussed the problem would be solved on the API side of things instead. Are we doubling back on that idea and going back to a hard coded value?

[2015-08-06 16:28] k88hudson commented on #191
Resolved by https://github.com/mozilla/webmaker-browser/commit/d7f414025d72e886655cefdd5ce8ec657510744c

[2015-08-06 16:28] #191 closed, assigned to k88hudson

[2015-08-06 16:31] xmatthewx commented on #46
Related to system back button #37 and display of project title #285

[2015-08-06 16:33] xmatthewx commented on #37
tracking in #46

[2015-08-06 16:35] xmatthewx commented on #37
Details to consider:
- https://github.com/mozilla/webmaker-android/issues/1545
- https://github.com/mozilla/webmaker-android/issues/2242
- #428

[2015-08-06 16:38] vazquez commented on #446
### UX Ideation 1
- Username, email, password on first screen
- Using radio buttons to check for age on the second screen

![screenshot 2015-08-06 12 36 13](https://cloud.githubusercontent.com/assets/1119821/9117423/0d1ea092-3c38-11e5-931d-1e3479ec5aae.png)

[2015-08-06 16:39] flukeout commented on #271
Just to recap from yesterday, @gvn and I are both able to reproduce the issue. It happens more noticeably when the randomly added text content is short (like "Ola"). It makes the element smaller than our allowed minimum.

I think the best solution here would be to decrease the minimum size of these elements, so that neither the height nor the width can be smaller than 50px.

[2015-08-06 16:41] vazquez commented on #446
### UX Ideation 2
- Username and email on first screen
- Password and radio button age check on second screen

![screenshot 2015-08-06 12 41 50](https://cloud.githubusercontent.com/assets/1119821/9117489/84dbd8de-3c38-11e5-9d6b-02d4e06960c2.png)

[2015-08-06 16:44] vazquez commented on #446
### UX Ideation 3
- Username and email on first screen
- Password and text-field age check on second screen

![screenshot 2015-08-06 12 43 40](https://cloud.githubusercontent.com/assets/1119821/9117522/dd62ba5e-3c38-11e5-9d4b-f3ea8a503ba0.png)

[2015-08-06 16:45] lauradereynal commented on #463
I did not notice anything specific, users generally find the way to create pretty easily.
However, I think @vazquez idea is great and we could test it if we have time !

[2015-08-06 16:51] cassiemc commented on #446
@vazquez 1 makes more sense to me than 2 (grouping username and password), but I prefer the input field of 3. I think you meant to put an age rather than a year, though. What does the 'fail' screen look like?

[2015-08-06 16:54] cassiemc commented on #446
Was going to comment on @xmatthewx's designs that the Next and Join buttons seemed backward, though I understand why you'd put 'join' on the first screen to make it clear what you're signing up for. Maybe just weird to have 'next' on the second screen. Any reason why you couldn't make a title for the page that said 'Join' – since user orientation is one of the problems you're trying to fix? (and o

[2015-08-06 17:00] thisandagain commented on #278
I think we need both. The UI should be bound to the same limit as the API. @cadecairos could you point @errietta at the validation rules?

[2015-08-06 17:18] vazquez commented on #446
@cassiemc -

_Re the text input for age:_ One of the things that @xmatthewx and I were talking about is giving a more passive date range indicator. As a privacy minded individual, one would be more likely to give out a date range rather than the exact year. This also makes the selection one tap away versus 6 taps if we use textfield. I agree that the textfield is more visually coherent, but I have

[2015-08-06 17:40] #43 closed, assigned to k88hudson

[2015-08-06 18:11] k88hudson commented on #435
resolved by https://github.com/k88hudson/webmaker-core/commit/d6b8cdde789a67ffe189042806f1e151a80dc746

[2015-08-06 18:11] #435 closed, assigned to k88hudson

[2015-08-06 18:14] flukeout commented on #435
ALL HAIL THE MIGHTY @k88hudson
:crown: : :woman:
:bow: :bow: :bow: :bow: :bow: :bow: :bow:

[2015-08-06 18:17] xmatthewx commented on #435
:clap:        :clap:         :clap:

[2015-08-06 18:24] k88hudson commented on #435
@flukeout we may need to adjust the threshold a bit to prevent things that are non-square from going off screen, but the bounds do respect the actual size of the element now

[2015-08-06 18:25] #271 closed, assigned to gvn

[2015-08-06 18:34] vazquez commented on #446
This screen achieves better user orientation.
- Added big title at the top of the screen.
- Moved sign in link to the bottom of CTA. I will post benchmarks as to how this area is expected to have a sign in link.

<img width="299" alt="screenshot 2015-08-06 14 32 49" src="https://cloud.githubusercontent.com/assets/1119821/9120057/2fe625b8-3c48-11e5-8ffe-e9dc6467b7bd.png">

[2015-08-06 18:36] ryanwarsaw commented on #284
I would like to take a shot at fixing this.

[2015-08-06 18:43] cassiemc commented on #446
I thought it was the grouping with older ages that 30ish people were struggling with as per Madhava and RFeeley? Also, weren't we not allowed to ask for year someone was born?

Like the new title+orientation better!

[2015-08-06 19:00] ryanwarsaw opened #468 "Debug options aren't showing"
In debug builds, buttons to access things like the Style Guide, are supposed to appear at the bottom of the page in the make tab. These aren't appearing anymore, even though I'm building a project from Android Studio.

[2015-08-06 19:02] ryanwarsaw opened #469 "Staging login should link to staging password reset"
I have an account with the name "ryanw-se", that I lost the password to. When I try to create another account with that username, it tells me it exists. When I click login and try to reset my password, it tells me the account doesn't exist. Luckily, I was able to guess my password but this is still a problem.

[2015-08-06 19:02] ryanwarsaw opened #470 "Sometimes ghost projects appear"
When you delete projects, sometimes it still appears even though its deleted and you can tap on the card, to get a message saying "project not found". Refreshing your page fixes the problem, the page should auto refresh once a project is deleted instead.

[2015-08-06 19:06] ryanwarsaw opened #471 "Navigating pages in play mode is extremely frustrating"
There are half gray circles on each side of the screen that allow you to navigate up, down and left to right while in play mode. These are extremely tiny, very hard to use and are right up against your screen. Even more challenging if your using a phone case that borders the phone.

The bottom navigation arrow is way to close to the home button, I accidentally hit the home button on many occasions

[2015-08-06 19:07] ryanwarsaw opened #472 "Pictures only show up on some projects"
Some projects on the discover page, have pictures. Yet very few actually display these pictures on the thumbnail, this needs to be fixed.

[2015-08-06 19:08] ryanwarsaw opened #473 "Need to build in-app reset password view"
There is no reason to have to redirect users to another website to reset their password, there should be an option to reset your password in the app and the ability to reset your password in the app, without having to use a mobile web browser and reset it.

[2015-08-06 19:13] ryanwarsaw opened #474 "Add a way to directly edit HTML, CSS and possibly JS?"
If you look at the reviews for Webmaker a lot of people would like to directly edit things like the HTML and CSS and possibly even JS of their project. I think this would be a good idea, as people coming from other things Mozilla has created, like Thimble would expect at least some way of customizing their sites code.

[2015-08-06 19:16] ryanwarsaw opened #475 "Pinch to zoom?"
Currently we have a button that appears to be a way to zoom in on a project, but when you try interacting with it, you instead are surprised to see that it just takes you to a project overview of sorts instead. We should definitely consider adding pinch to zoom and work on making the overview button look less like a zoom button (which it isn't).

[2015-08-06 19:20] ryanwarsaw opened #476 "Icon for adding buttons to pages is confusing"
When you want to add an element to a project in your page, you click the + button and you see two easy to understand buttons, one for text and the other for photo's. The third one looks like a share button, or for a URL redirect, instead it gives you a button. This needs to be made more clear so you know exactly what it does, the instant you open the menu.

[2015-08-06 19:23] ryanwarsaw opened #477 "No animation for setting text style"
When you select a text style, (Bold, Italic, or Underline) the button just turns blue. You'd expect the button to have a pushed down animation, or something that shows its activated instead of just changing colors. Selected text style options should stay the same color, but have the pushed down animation and stay pushed down.

[2015-08-06 19:23] vazquez commented on #446
@cassiemc - Ah I see what you mean now! That's my bad, I shouldn't have written "How old are you?", but instead "What year were you born?"

[2015-08-06 19:24] vazquez commented on #446
### UX Ideation 4

![screenshot 2015-08-06 15 22 47](https://cloud.githubusercontent.com/assets/1119821/9121262/2e95fd58-3c4f-11e5-8f86-f2295f5af1a3.png)

[2015-08-06 19:26] ryanwarsaw opened #478 "Options don't save unless you exit the page"
When I edit something, like the color or text of a button and lock my phone, unlock my phone and reopen the app from running processes, all of my edits revert back to default. My text isn't saved, my color isn't saved, nothing is saved. When you select an option, it should be saved. It shouldn't require you to leave the page in order to save these options.

[2015-08-06 19:28] ryanwarsaw opened #479 "Ability to have text links"
You should be able to add text to your page that is clickable that functions just like a button, but as text.

[2015-08-06 19:29] ryanwarsaw opened #480 "Can't change font size"
I am not able to change the size of the font, when creating text for a page in my website. I should be able to change the size of the text.

[2015-08-06 19:31] ryanwarsaw opened #481 "Can't position a element at an exact location"
Currently I have to eyeball things when I move them around and estimate how close to the middle of the page I am, there should really be a system in place that allows you to accurately position elements on a page without having to eyeball it.

[2015-08-06 19:33] ryanwarsaw opened #482 "Poor button animations"
When you add a button, its completely flat. There is no way to specify if you want a 3D button or if you want a flat button. The flat button has a really weird animation, it just jumps up and down and doesn't resemble like you're clicking anything at all.

[2015-08-06 19:37] ryanwarsaw opened #483 "Custom color editor doesn't look like part of the app"
When you're adding color to things, there is a purple hexagon with a lightning bolt in the middle of it. I wasn't sure what it was at first, but once I clicked on it it popped out to be a fully fledged color editor! Complete with purple menu that doesn't look like any part of the app.

It should look like its actually apart of the app and its button should send the message to the user "Hey I make

[2015-08-06 19:39] ryanwarsaw opened #484 "Ability to change background color & orientation"
It would be nice if you could change the background color of a page in your website. Currently your stuck with a whitish grayish background color. Your also stuck to portrait format, it would be nice if you could change this to be landscape as well.

[2015-08-06 19:42] ryanwarsaw opened #485 "Share links show a user number, rather than username"
If I want to share my project with the world, say via twitter or something of that sort, I click the share button and it generates a quick little comment saying "check out my project" with a URL. This URL has a user number in its URL path, rather than my username.

[2015-08-06 19:45] ryanwarsaw opened #486 "Ability to set a custom project ID, as an alternative to numbers in links"
It would be cool if you could share links that looked more user friendly. Currently you're given a URL with user and project numbers, that you can't really identify what it is unless clicked on. My thoughts were to put a project id option in the project settings, that must be unique and will serve as an alternative to the numbers (used by default if you haven't provided a ID).

If I have user "rya

[2015-08-06 19:46] #7 closed, assigned to nobody

[2015-08-06 20:43] xmatthewx commented on #445
![page actions annotated](https://cloud.githubusercontent.com/assets/53411/9137192/163daae4-3cea-11e5-93d4-64e8c6b8ed8f.png)

:red_circle: **Note:** Disregard the neightbours as they appear on the right hand side of this image. In edit mode, the user will not see the neighbours.

R? @vazquez

[2015-08-06 20:46] vazquez commented on #445
The zoom out button the right hand side is missing it's white circled background (minor but might be confusing).

Other than that, R+!

Excited to see how this improves user's editing.

[2015-08-07 12:19] errietta commented on #231
@thisandagain R? :panda_face:

[2015-08-07 13:55] xmatthewx commented on #445
Great. Thanks. Updated annotations above to include margin on divider. Removed zoom from comp since it's not in current build.

[2015-08-07 15:01] vazquez commented on #445
:+1: :100:

[2015-08-07 15:19] vazquez commented on #446
#### Ready for Legal Review

![screenshot 2015-08-07 11 18 50](https://cloud.githubusercontent.com/assets/1119821/9139115/1cb13f24-3cf6-11e5-96c4-f4afe7dc744d.png)

[2015-08-07 16:31] xmatthewx opened #488 "Do QA with scripts"
Heard the news? QA scripts are in [the wiki](https://github.com/mozilla/webmaker-core/wiki/Webmaker-QA-Tasks). Have fun! :dancers:

[2015-08-07 17:33] vazquez commented on #446
### Draft for Review

<img width="1188" alt="screenshot 2015-08-07 13 33 23" src="https://cloud.githubusercontent.com/assets/1119821/9141745/e9fdde08-3d08-11e5-9cbd-40b35cd1176a.png">

[2015-08-07 18:15] xmatthewx opened #489 "Question: A/B test within app ??"
Are we able to use Optimizely within Webmaker? (Build in a default, queue up test if network is available.) Or is the notion plain crazy? It would be useful to avoid a major hit in conversion from our age gate on sign-up.

[2015-08-10 08:57] adamlofting commented on #489
It's technically possible, but I think when @thisandagain tested it we found it added a lot of extra network traffic which we're trying to avoid if possible. https://github.com/mozilla/webmaker-android/issues/1601

As a fallback, we'll be able to compare sign-up rates pre and post age-gate [in GA](https://www.google.com/analytics/web/?hl=en#report/app-content-event-events/a49796218w86059054p974029

[2015-08-10 16:22] errietta commented on #278
@thisandagain Arrrr?

[2015-08-10 16:25] xmatthewx commented on #489
Thanks. We could also test granular details in MLN sign-up flow, and bring the big winners into Android.

[2015-08-10 16:25] #489 closed, assigned to adamlofting

[2015-08-10 17:32] vazquez opened #490 "Improve the look of the Style Guide"

[2015-08-10 18:56] Pomax commented on #238
we need to rename the jump navigation, neither "button" or "link" properly describe what it actually does (it's purely internal page navigation).

[2015-08-10 18:59] gvn commented on #238
I think "link" makes a fair amount of sense.

[2015-08-10 19:03] Pomax commented on #238
The reason I don't like "link" is that it behaves nothing like actual links on the web. For one, they're buttons, not links, and they don't point to URIs, they are navigational jumps that change views (not by any common link mechanism, but through deep javascript magic)

[2015-08-10 19:21] gvn commented on #238
Yeah, we're getting through the looking glass here by basically re-inventing the web to make a "web" that is an approximation or subset of the "world wide web". That's the context in which I think "link" makes sense. Our buttons change pages, and that's all they do (right now anyway), which is what links do on the traditional WWW.

[2015-08-10 20:15] xmatthewx opened #493 "Remove Beta label from logo"
When the moment arrives, we'll remove the beta label from Webmaker. This needs to happen in the play store and in the app itself.

@vazquez - can you link appropriate asset here?

https://support.google.com/googleplay/android-developer/answer/1078870?hl=en

[2015-08-10 20:19] vazquez commented on #493
Icon Accessible Here: https://drive.google.com/a/mozillafoundation.org/file/d/0ByIoeeW0a3R_RE9mb1lSNWg2VVU/view

[2015-08-10 20:22] xmatthewx commented on #493
@KevZawacki @k88hudson - logo file above for use in app and in play store when moment arrives to remove the Beta label.

[2015-08-11 04:15] Pomax commented on #445
I really need to point out that removing user options from the immediate UI and hiding them in a hamburger is not the way towards user uptake. Articles like http://deep.design/the-hamburger-menu/ constantly remind us of this, and I would strongly urge us to not go down this road: keep our users in control by giving them directly usable options for the actions they want to take, and only put things

[2015-08-11 15:25] #461 closed, assigned to vazquez

[2015-08-11 16:39] vazquez commented on #462
What about these two approaches?

#### Option 1: Inline Message
- Passive
- Could be easily ignored (con and pro)
- Some initial real-estate is lost (albeit small)

![discover view share 404 copy 4](https://cloud.githubusercontent.com/assets/1119821/9203541/ccd31594-4025-11e5-8a0e-87cfba56c56f.png)

---

#### Option 2: Introductory Screen
- Active
- Opportunity for playful microcopy
- Nice welcome

[2015-08-11 16:44] Pomax commented on #231
given how React deals with numbers, using percentages does not seem the right solution. Instead, we probably want to deal with it based on the original post proposed solution: 32px is too low to cap out at, so let's increase that value instead. Something like 120px, or computing the radius based on half the screen's width in pixels. The first is fairly straight forward, the latter isn't and might

[2015-08-11 16:57] Pomax commented on #12
https://github.com/mozilla/webmaker-core/pull/13 has been marked "frozen" and backlogged, so we can find it again when we revisit page UX

[2015-08-11 17:13] #269 closed, assigned to Pomax

[2015-08-11 17:26] vazquez opened #494 "Pomax' QA List"
In order to close this bug, go through the follow scripts:
1. [Creating an Account & Signing In](https://github.com/mozilla/webmaker-core/issues/395)
2. [Creating & Deleting Projects](https://github.com/mozilla/webmaker-core/issues/397)

File any bugs as separate tickets, just remember to assign the `QA` label to the issue so it can get triaged accordingly.

Let's do this!

[2015-08-11 17:26] vazquez opened #495 "Kate's QA List"
In order to close this bug, go through the follow scripts:
1. [Image Element](https://github.com/mozilla/webmaker-core/issues/399)
2. [Project Editing Basics](https://github.com/mozilla/webmaker-core/issues/398)

File any bugs as separate tickets, just remember to assign the `QA` label to the issue so it can get triaged accordingly.

Oh yeah!

![](http://38.media.tumblr.com/ad087ad896210571ea890d0

[2015-08-11 17:26] vazquez opened #496 "Gavin's QA List"
In order to close this bug, go through the follow scripts:
1. [Text Element](https://github.com/mozilla/webmaker-core/issues/400)
2. [Viewing a Project](https://github.com/mozilla/webmaker-core/issues/396)

File any bugs as separate tickets, just remember to assign the `QA` label to the issue so it can get triaged accordingly.

This is best done with some sweet music playing.

![](http://media.gip

[2015-08-11 17:38] xmatthewx commented on #434
Should you be able to drag via the helper button?

[2015-08-11 17:43] xmatthewx commented on #431
This bug is a nuisance that's been around for a while. https://github.com/mozilla/webmaker-android/issues/2240. I think we should fix it by removing the auto color and allow users to pick their own color https://github.com/mozilla/webmaker-core/issues/224.

[2015-08-11 17:45] xmatthewx commented on #428
Should be addressed by https://github.com/mozilla/webmaker-core/issues/37

[2015-08-11 17:45] #428 closed, assigned to nobody

[2015-08-11 17:51] xmatthewx commented on #424
Interesting. Also, I love the overlay of transparent script by this font.

[2015-08-11 17:53] xmatthewx commented on #422
Is this resolved by @k88hudson's recent work on image size? Or related to it?

[2015-08-11 17:56] xmatthewx commented on #421
@k88hudson - can you help triage this? Let's discuss the work and risk involved and whether we can tackle it this week.

[2015-08-11 17:59] xmatthewx commented on #488
scripts divvied up and assigned

[2015-08-11 17:59] #488 closed, assigned to nobody

[2015-08-11 18:05] xmatthewx commented on #313
WIP https://github.com/mozilla/webmaker-browser/pull/207

[2015-08-11 18:53] xmatthewx opened #498 "Build process"
discuss play store, pre-flight, build script, etc with @thisandagain

[2015-08-11 19:46] Pomax commented on #494
# Creating an Account & Signing In

**Sign up**
- [x] open the app (or log out from the 'MAKE' tab, if already signed in)
- [x] make sure you are on the screen that says the equivalent of "Join Webmaker" on the button at the bottom
- [x] tap the "Terms" and "Privacy Policy" links at the very bottom
- [x] enter an invalid username by adding a @ in the Username field, check the error message you see

[2015-08-11 19:47] Pomax commented on #494
# Creating & Deleting Projects
- [x] Open the app and tap the Make tab, which displays the Make view

**Make View**
- [x] you see your username displayed at the top of the view
- [x] tap the "+ Create a Project" button, you will enter the Project view

**Project View**
- [x] you are in the map view of a project with a single page
  - [x] the page is selected (there is a blue border around it)
- [x

[2015-08-11 20:07] xmatthewx commented on #445
I hear that and I would pull "share" out from our kabob without hesitation.

Delete page is not a commonly used feature given how easy it is to remove and add new elements on a page. It adds clutter and complexity to the primary role of the project view. We previously designed UI that put delete at the top corner of a page in page view, and could consider moving it there if tests show we need it.

[2015-08-11 20:40] Pomax opened #499 "password rejection due to "too easy to guess" error comes too late"
The **Password not strong enough** notice (for instance, for `abcd1234`) does not show until after the user tries to join, with a text that I don't understand as a regular user. There is no guidance or explanation on what the app expects in terms of a "strong password". Virtually every 8 character password is easy to guess, for instance, but we claim that an 8 character password is the minimum pas

[2015-08-11 20:42] Pomax opened #500 "retyping the password on a "password not strong enough" error does not clear the error"
If a user tries to retype a new password after getting a "Password not strong enough" error (for instance by using `abcd1234` as password and trying to sign up), the original error does not get cleared, and as the user will have started typing a new password, will now be confronted with two errors:
1. the original "password not strong enough" error, and
2. the "your password must be at least blah

[2015-08-11 20:52] Pomax opened #501 "no need to insist on a number in a password if we already test pw strength"
a password like "kiwis do not generally associate with other fruit" currently gets rejected because "it doesn't have at least one number". given that we already test password strength, the "letter + number" restriction seems entirely unnecessary, simply being frustrating.

[2015-08-11 20:55] Pomax opened #502 "why are usernames restricted to 1-20 characters?"
This allows for usernames that make no sense, like "a" or "-", while not allowing usernames that are actually real people names (such as "Allison van savornin-Looijman")

[2015-08-11 20:57] Pomax opened #503 "emails are not checked while signing up"
if I use `pomaxyoyoyo@abc.nonexistent`, there are no errors about the fact that that address does not exist. I can start making projects and if I ever lose my password, I will never get my work back. This seems... bad?

[2015-08-11 21:00] Pomax opened #504 "Error messages should disappear when fixing name/pw"
The "There was a problem with your username or password" error that users get when trying to `sign in` with a bad user/pass combination does not disappear when a user changes their username or password values, persisting throughout the view until "sign in" is clicked.

[2015-08-11 21:03] Pomax opened #505 "Increase max project title length"
This seems arbitrarily short, especially if I want to call it "The history of pre-industrial Japan" or something

[2015-08-11 21:06] Pomax opened #506 "pressing the green arrow ("enter") when changing a project title does nothing"
MoFo Nexus 7, android 5.1, when changing a project's title I can type text but the green arrow/enter button on the software keyboard does nothing.

[2015-08-11 21:07] xmatthewx commented on #505
That is terribly short. And, I really want to see your project on that topic. We set the limit to 256 chars in the API https://github.com/mozilla/api.webmaker.org/issues/110

[2015-08-11 21:08] Pomax opened #507 "I can save project titles that are longer than 25 bytes"
What exactly is the purpose of the character count if I can title a project with what is visually supposed to be an error? This is a confusing signal to me as user. Did I do something wrong? It looks like I did, but it doesn't matter? Why is the app yelling at me in red while still letting me go on?

[2015-08-11 21:11] Pomax opened #508 "saving a "too long" project title, then going back to settings, no longer shows warning colors"
STR:
- edit project settings
- make title something longer than 25 characters
- see things warning-red-highlighted
- go back to project without fixing the too-long title
- go back to project settings
- too-long title is the same as before
- character indicator and underline are now _not_ warning-red-highlighted

[2015-08-11 21:13] xmatthewx commented on #505
see also #507 #508

[2015-08-11 21:25] xmatthewx commented on #494
:boom: :zap: speedy and thorough

[2015-08-11 22:34] lauradereynal commented on #462
It would be interesting to try both, but for now I would go for option 1 to see what it changes.

[2015-08-11 23:01] Pomax commented on #486
one thing to bear in mind though is that project names are not required to be unique, not even for a single user account (if you make two projects "my project", you can totally do that. Only the project id is required to be unique) so if you have multiple projects with the same name automatic vanity urls become a lot more tricky

[2015-08-11 23:04] Pomax commented on #484
The app won't let you author or playback in landscape mode (all the design is based on portrait layouts) so this will require a significant amount of work if we decide we want this functionality.

[2015-08-11 23:07] Pomax commented on #481
due to different device sizes, "exact" positions are tricky to implement, but it's worth talking about.

[2015-08-11 23:09] Pomax commented on #480
since you can scale the text, we did not add in explicit controls for "setting font size", perhaps that needs revisiting (tinker mode?)

[2015-08-11 23:10] Pomax commented on #478
can you check whether this is still the case, we landed some code a few days ago that should have fixed that behaviour

[2015-08-11 23:11] Pomax commented on #479
can you describe what you are thinking that this would be used with? "navigate to page" functionality for a stretch of text, or something else?

[2015-08-11 23:14] Pomax commented on #476
I thought we had an issue for this, but we don't!

[2015-08-11 23:20] Pomax commented on #474
this is part of the long term plan. Closing this as "already covered by the battle plan": not closing this as "wontfix" =D

[2015-08-11 23:20] #474 closed, assigned to nobody

[2015-08-11 23:23] Pomax commented on #473
We rely on oauth2, which means we don't "control" the credentials, id.webmaker.org does. For security reasons, consumer apps do not get to intervene in the reset process. I'm not sure id.wmo even supports reset requests via an API, perhaps @cade or @jbuck can comment on this.

[2015-08-11 23:23] Pomax commented on #472
on production, or on staging?

[2015-08-11 23:24] Pomax commented on #471
This is being redesigned. @vazquez @xmatthewx did we have an issue open that addresses this already?

[2015-08-11 23:24] Pomax commented on #470
closing as duplicate of #457

[2015-08-11 23:24] #470 closed, assigned to nobody

[2015-08-11 23:25] Pomax commented on #469
is this on production or on staging? /cc @cadecairos @jbuck @xmatthewx

[2015-08-11 23:25] Pomax commented on #468
@gvn @k88hudson would you know what might be going on there?

[2015-08-11 23:32] Pomax opened #510 "having the app open for a while can crash android"
Not sure if this is due to debug build things, or whether the regular app also does this ...

[2015-08-12 00:21] ryanwarsaw commented on #469
What ever the default is, I haven't touched any of the variables.

[2015-08-12 00:22] ryanwarsaw commented on #510
Can you check the system processes and see if this is a RAM leak? (It sounds like one).

[2015-08-12 00:23] ryanwarsaw commented on #472
Whatever the default is, I haven't touched any of the values. Its a build I compiled from Android Studio.

[2015-08-12 00:24] Pomax commented on #469
if it's on the version you compile via android studio it'll be staging. If it's the one you install from the play store, that's production. They might do some password things differently but hopefully cade/jbuck can explain that to us

[2015-08-12 00:24] ryanwarsaw commented on #474
Good to hear this is planned, I didn't see this mentioned anywhere so I figured it would be worth making a ticket for.

[2015-08-12 00:24] ryanwarsaw commented on #469
Then that would be on staging, I haven't confirmed if this happens on production.

[2015-08-12 00:26] ryanwarsaw commented on #479
That would be interesting, I also thought of this for adding external links. If I was to use webmaker to make a blog and wanted to link a external resource / website, I could add text links to go to these different places. Where as buttons would be more for navigating to pages.

[2015-08-12 00:26] ryanwarsaw commented on #478
Will do.

[2015-08-12 00:27] ryanwarsaw commented on #480
I wasn't even aware it was possible to scale the text, naturally I look for a dial to set the font size.

[2015-08-12 00:28] ryanwarsaw opened #511 "Tutorial Mode"
I noticed in a lot of the tickets I filed, there were features available to change most things, but I didn't know about them or how to use them. It would be neat to see something that can walk you through different features for a function, possibly a help menu that covers things like buttons, etc?

[2015-08-12 01:17] gvn commented on #468
Not sure, but I've noticed this as well. I wonder if it's from the gradle refactor? cc @thisandagain

[2015-08-12 04:47] Pomax commented on #472
I think for staging we're not as strict about thumbnails in the discover tab (since it's just a testing ground to make sure things work). If the real app from the play store, however, also has lots of "no thumbnails", that's a problem.

[2015-08-12 13:22] cade commented on #473
OAuth2 is a pain in the ass, but I know @cadecairos is up to the challenge.

[2015-08-12 13:23] vazquez commented on #490
PR has been R+. Waiting until after snippet launches to merge code due to the code freeze.

[2015-08-12 13:24] cadecairos commented on #473
but they **really** want your contribution

[2015-08-12 13:28] cade commented on #473
In my experience, _anything_ can be solved with a sufficient number of `iframe`s.

[2015-08-12 13:44] ryanwarsaw commented on #473
![](http://cdn.meme.am/instances/500x/30122470.jpg)
Sorry, I had to.

[2015-08-12 13:55] xmatthewx commented on #480
We haven't seen this as a problem with user tests, though we can keep an eye out for it.

[2015-08-12 13:55] #480 closed, assigned to nobody

[2015-08-12 13:59] xmatthewx commented on #479
We could offer an option to toggle between text and button style on our links. Adding a link within a paragraph of text would be a different animal altogether, and difficult in our current paradigm. We do plan to add URLs as an option for destinations (#53).

[2015-08-12 14:02] xmatthewx commented on #510
@Pomax - would you call this bug critical?

[2015-08-12 14:03] xmatthewx commented on #471
This is altered a bit in the new dark UI theme, though I'm not sure it addresses these concerns.

[2015-08-12 14:06] vazquez commented on #471
Luke and I talked about tinkering with the tap targets of the arrows. Once Dark UI lands, we can make adjustments to the target size as we test it and play with the updated interface.

[2015-08-12 14:11] xmatthewx commented on #476
:disappointed: we explored other imperfect options before adding the task to a consulting gig that never happened. Many art apps label their icons to remedy issues like this.

@LauraReynal - have you seen confusion in the field? Uncomfortable confusion? Or do people try it, learn it, and move on?

[2015-08-12 14:22] xmatthewx commented on #484
Background was in the plan #63, though the design would need an update to sync with the app's evolution.

Orientation would introduce lots of complexity, both for users and for development. Some constraints (twitter's character count, instagram's proportions, a haiku's line lengths) help more than they hurt.

[2015-08-12 14:35] vazquez commented on #499
We are exploring solutions in https://github.com/mozilla/webmaker-core/issues/186

[2015-08-12 14:41] vazquez commented on #494
Thanks so much @Pomax!

You get the victory dance GIF!

![](http://media.giphy.com/media/kZzQfQ3ld9l8k/giphy.gif)

[2015-08-12 14:42] #494 closed, assigned to Pomax

[2015-08-12 14:46] vazquez commented on #476
We had talked about using this icon instead:

![screenshot 2015-08-12 10 46 04](https://cloud.githubusercontent.com/assets/1119821/9227025/65850036-40df-11e5-895c-0f9cd2e208e3.png)

[2015-08-12 14:49] vazquez commented on #477
Good eye :+1: We have this in the designs, but we missed out on calling it out when this was being built.

![screenshot 2015-08-12 10 48 50](https://cloud.githubusercontent.com/assets/1119821/9227077/c4828acc-40df-11e5-8ed4-f588105949a2.png)

[2015-08-12 14:53] vazquez commented on #482
The button look has been fixed in https://github.com/mozilla/webmaker-core/issues/461

We added some bevel and border colour. There are no plans currently to allow the user to choose between a flat button and a raised button. We just decided to make them raised as default (they actually look like buttons now, not just bordered rectangles)

[2015-08-12 14:53] #482 closed, assigned to nobody

[2015-08-12 14:58] xmatthewx commented on #511
How about a demo project? We could pre-populate new accounts with a demo project that includes content that describes what you can do. @flukeout @vazquez

[2015-08-12 15:04] ryanwarsaw commented on #476
Hm, that would be a good icon for creating text links, because that is what I associated that with when I looked at it, (external links), but I don't know if this would be the best choice for a button.

[2015-08-12 15:50] xmatthewx commented on #442
closed by https://github.com/mozilla/webmaker-browser/pull/209

[2015-08-12 15:50] #442 closed, assigned to thisandagain

[2015-08-12 16:19] xmatthewx commented on #469
@ryanw-se - the link on your build points to a reset flow for production accounts.

@cadecairos - is there an instance of password reset that can be used to reset an account on staging? Or do we need to recover this manually?

[2015-08-12 16:42] Pomax commented on #476
yeah that works for links, but our button is not a link, it's a nav element, so that icon doesn't quite make sense to me

[2015-08-12 16:43] Pomax commented on #510
if it's for debug only: no. If it also happens for the real app, then it might be

[2015-08-12 16:52] Pomax opened #512 "Add a password reset link to error msg in Sign up when email/account already exists"
signing up with an already used email address will cause the sign up to fail with an error "An account exists for that email address" under the "join webmaker" button, however, reasonably this should also offer some kind of "if this is your email address and you didn't typo it, do you want to reset your password? click here!" UI

[2015-08-12 16:55] Pomax opened #513 "password reset via email directs to id.wmo, which then directs to webmaker://login?mode=sign-in"
That URL does not work on desktop. And never will. Is there a way for id.wmo to detect whether or not that URL even makes sense and not redirect if we're on desktop @cadecairos @jbuck?

[2015-08-12 16:57] cadecairos commented on #513
Is there a reliable way to detect if the browser is running on android?

[2015-08-12 16:58] Pomax commented on #472
@xmatthewx @cadecairos I am seeing virtually no thumnails in the discovery tab on the officially available app via the play store, too.

[2015-08-12 16:58] cadecairos commented on #513
should we move this issue to id.webmaker.org?

[2015-08-12 17:00] cadecairos commented on #472
I can see all the discovery thumbnails on my device

[2015-08-12 17:03] Pomax commented on #472
I suspect this is the `<ImageLoader>` nonsense element then. Sleeping and waking up the phone again now shows all the images. We probably need to switch that thing over @gvn @k88hudson

[2015-08-12 17:04] Pomax commented on #513
might make more sense there, yeah.

[2015-08-12 17:04] cadecairos commented on #472
I suspected it was that bug as well.

https://api.webmaker.org/discover

none of the thumbnail urls in the json there fail to load directly

[2015-08-12 17:06] Pomax commented on #513
filed as https://github.com/mozilla/id.webmaker.org/issues/359

[2015-08-12 17:06] #513 closed, assigned to nobody

[2015-08-12 17:07] Pomax commented on #421
this should be super quick to put in, since all the information needed to see if a page is already selected is already available and set correctly.

[2015-08-12 17:09] Pomax commented on #473
I love this issue, also apologies for looping in the wrong person =P

[2015-08-12 17:22] cade commented on #473
Whenever you need someone to derail your issue threads, you know where to find me.

[2015-08-12 17:28] vazquez commented on #462
Talked to @xmatthewx, we will go for Option 1 (the simple message) for now.
- "Welcome to webmaker" as the H1

[2015-08-12 17:47] Pomax commented on #421
PR up, but I do find that with this now turned off, I instinctively try to double tap pages to edit them (which doesn't work of course)

[2015-08-12 17:52] flukeout commented on #511
Would this be the kinds of things that we'll cover in the first time use popups? We did have an rough mockup of a tutorial project already.

We could have the tutorial project be the first and only thing you can open when you start maybe, and once you leave it you'll have access to the full discover and make modes.

[2015-08-12 17:52] lauradereynal commented on #476
The initial button reminded people of "sharing" or other stuff
page 5 here https://docs.google.com/document/d/1EjcWaSi8J6tTeUTB1mSAa8y8xj8RK1YBzCWZL9f_FR0/edit#heading=h.e5g93637x4xz

[2015-08-12 17:53] lauradereynal commented on #476
I'm happy to test @vazquez button next time there is an interview

[2015-08-12 17:57] xmatthewx commented on #511
We could, or we could skip the FTU intro screens and give people two options on launch: try it out and see what other people made. Try it out would load an iteration on your demo project. cc @vazquez

[2015-08-12 18:00] xmatthewx commented on #421
Interesting considering #445

[2015-08-12 18:05] xmatthewx commented on #512
cc @vazquez - refining other error msgs now.

[2015-08-12 18:16] k88hudson commented on #472
@Pomax @cadecairos I've removed the image loader component, although I don't think it's on master yet

[2015-08-12 18:16] Pomax opened #515 "project can generate "unexpected token u" during load"
turns out that the cache-retrieval in project's `load` function lacks a check to see if we have anything to JSON.parse and a try/catch around the parse call itself.

harmless bug, but bug nonetheless.

[2015-08-12 18:17] #421 closed, assigned to Pomax

[2015-08-12 18:19] Pomax commented on #445
yeah, turning edit into an intuitive action like tap/double tap makes sense, but delete shouldn't be in a menu. The typical android behaviour there is tap-and-hold to get "advanced" options, so that might be a mode to explore as well.

[2015-08-12 19:16] xmatthewx commented on #445
:+1: We've discussed using a tap-hold in project view for move page as well.

[2015-08-12 19:20] gvn commented on #430
Note: this is part of Android's UI / shadow DOM(?).

[2015-08-12 19:36] Pomax commented on #445
yeah long tap opens up some good intuitive ui. long-tap and hold for additional actions, long tap and move around for.. well.. moving pages around =D

[2015-08-12 19:36] #515 closed, assigned to Pomax

[2015-08-12 22:13] flukeout opened #518 ""Error loading projects" error on first visit to Make page with new account."
**Steps to reproduce**
- Install latest nightly app
- Create a new account
- Go to Make view
- I see the following error...

![image](https://cloud.githubusercontent.com/assets/25212/9238084/7ee2f2ac-4104-11e5-8221-ab5d2154dbb2.png)

Eventually it goes away - but I can make it show again if i pull-to-refresh that page.

[2015-08-12 22:15] flukeout opened #519 "Button appears differently between page and edit element page preview."
**Steps to reproduce**
- Add a button
- Look at it
- Edit the button
- Look at the preview of the button
- The preview is missing the lighter edge on the top of the button
- The preview has a drop shadow that the page on the button doesn't have

[2015-08-12 22:18] xmatthewx commented on #519
New style introduced by @vazquez in https://github.com/mozilla/webmaker-core/commit/947e41a67e362b5e56e1b01b2dd63ffdeb092873

[2015-08-12 22:20] flukeout opened #520 "When I add an element to a page, it's not auto-selected."
Just-added elements should be selected so that they can be acted upon more quickly!

[2015-08-12 22:20] xmatthewx commented on #518
Might be due to staging vs prod database. cc @k88hudson @Pomax

[2015-08-12 22:22] xmatthewx commented on #520
Very important since selected state reveals edit UI.

[2015-08-12 22:23] flukeout opened #521 "Too much "Set Destination" everywhere."
When I'm picking a destination for the button, I see this page...

![image](https://cloud.githubusercontent.com/assets/25212/9238273/f24d30e4-4105-11e5-96bf-8961d7299ea7.png)

I think the button should say something like "OK" or "Done" and not "Set Destination", which the header already says. Maybe we need a better header here anyway, something like "Pick a page for this button to link to".

@xmat

[2015-08-12 22:25] flukeout opened #522 "When Setting a Destination for the Button Element, I'm not shown what page I'm currently on."
This is the view I see when setting the button destination right now...

![image](https://cloud.githubusercontent.com/assets/25212/9279761/8ae64d90-426e-11e5-925d-239684d765df.png)

It's supposed to indicate which page the button is on currently, but doesn't.
These are the only two pages in my project.

[2015-08-12 22:25] flukeout commented on #518
Note - this account doesn't have any projects associated with it, so it's not like it's trying to load projects that actually exist.

[2015-08-12 22:29] flukeout opened #523 "Back button in page view doesn't return me to the aerial/map view."
The back arrow in the header on the Page view acts as a "previous view" button instead of a "zoom out" button, which is what it was designed to be.

**Steps to reproduce**
- Create a project with two pages
- Add a button on one page that links to the other page
- Click "follow link" on the button to go to the second page
- You'll go to the second page
- Tap the "Back" icon in the header
- You will

[2015-08-12 22:34] flukeout opened #524 "Button disappears with this one special trick"
Steps to reproduce
- Add a button
- Set the button's destination to the same page you're currently on
- Tap "Follow Link" on the button
- You go to the same page but...

THE BUTTON IS GONE!

It's actually there if you leave and come back to the page.

[2015-08-12 22:42] flukeout opened #525 "After installing the nightly, most projects don't have a thumbnail in the Discover & Make views."
Seems like maybe 3 or 4 projects have a preview, and most have the generic white/gray mountain & sun image.

[2015-08-12 22:49] Pomax commented on #518
whether there are any projects or not doesn't really matter, since it's contacting the database for "all projects associated with a userid"... I did not see this happen yesterday when doing the whole "making new user accounts".

[2015-08-12 22:52] Pomax commented on #512
to be clear: you _can_ get to the reset link by selecting "sign in", but it would make sense that if the email address is already registered, someone may have simply forgotten that they already had an account, and so just need to reset the password to gain access to "their stuff" again. Allowing that from the screen that generats the "hey this account already exists" error feels like meeting the u

[2015-08-12 22:54] Pomax commented on #524
hm, "follow link" might be a view change, which means we're leaving the page without having technically saved it or cached its content. Does it make sense to let people hit "follow link" while you're editing the content of the page, rather than in play more only? /cc @gvn @vazquez @xmatthewx

[2015-08-12 22:54] flukeout opened #526 "Initial Backspace when editing a text element adds a character."
**Steps to reproduce**
- Add a text element
- Edit the element
- Edit the text
- When the text becomes editable, hit backspace as the first action
- It adds a character to the end of the word instead of deleting one

This is the effect of hitting backspace when the text said "Bonjour"

![image](https://cloud.githubusercontent.com/assets/25212/9238829/66bf1204-410a-11e5-8cda-ead506f41eec.png)

[2015-08-12 22:55] Pomax commented on #525
d00p: https://github.com/mozilla/webmaker-core/issues/472

[2015-08-12 22:55] #525 closed, assigned to nobody

[2015-08-12 22:56] Pomax commented on #523
hm, why should you go back to the map view? You were on a page before, that's where you should be going based on your page navigation?

[2015-08-12 23:03] flukeout opened #527 "Element position inconsistent between Play & Edit modes in map view."
Compare the following screenshots, of the same project.
I've go the word "pizza" on the left page, cropped, and the word "za" on the right page.

![image](https://cloud.githubusercontent.com/assets/25212/9238944/a6f20c9a-410b-11e5-8da1-b16a829c6c55.png)

![image](https://cloud.githubusercontent.com/assets/25212/9238946/af747bfa-410b-11e5-99de-a518d2dfe940.png)

[2015-08-12 23:35] flukeout commented on #523
Because there is no other way to get to the map view and that's what the back arrow was designed to bring you back to.

I don't mind some way to navigate back to previews views, we could spec that out, but it would have to be in addition to a way to zoom back out.

[2015-08-12 23:41] ryanwarsaw commented on #469
@xmatthewx That should be fixed, you should be redirected to the staging reset flow if your on a staging build and a production flow if your on a production build.

[2015-08-12 23:52] Pomax commented on #523
the reason it takes you back to the previous page is that we literally tell the WebView system to "go back one step in the views history", so if we need it to go to project, bypassing part of the history, that is actually a significant change that I suspect we can't land before snippet.

[2015-08-13 11:32] errietta commented on #278
@Pomax  R?

[2015-08-13 11:32] errietta commented on #231
@Pomax i changed to 120 now, kept in variable so we can change easily.

[2015-08-13 11:35] errietta commented on #453
So, reading the linked issue, what was the final agreement? https://github.com/mozilla/webmaker-browser/issues/82#issuecomment-113592558 that?
cc @Pomax @k88hudson

[2015-08-13 13:32] vazquez commented on #186
![error annotations](https://cloud.githubusercontent.com/assets/1119821/9252880/c2152e06-41a8-11e5-8422-16f9defe0a35.png)

Let me know what you think  @xmatthewx

[2015-08-13 13:33] vazquez commented on #462
Assigning to @xmatthewx to see if we should continue with Option 1.

[2015-08-13 15:49] Pomax commented on #278
@errietta where is the PR linkback? I don't see an outstanding PR for this issue...

[2015-08-13 15:53] Pomax commented on #453
excellent question. @xmatthewx closed the issue, so I suspect he has the most complete information on that

[2015-08-13 15:53] errietta commented on #278
@Pomax https://github.com/errietta/webmaker-core/commit/72036ec5f39bcbe19f4c1488e07a3150f8b7039e it's linked above

[2015-08-13 16:00] xmatthewx commented on #453
title: `project title` by `username`
image: `project thumbnail`

Agree with @Pomax that the project thumb is better than Webmaker logo, though logo is good fallback if thumb fails for some reason.

[2015-08-13 16:03] errietta commented on #278
@Pomax do'h forgot to actually PR. https://github.com/mozilla/webmaker-core/pull/530

[2015-08-13 16:43] xmatthewx commented on #493
Reassigning to @thisandagain given our current play store access

[2015-08-13 16:50] Pomax commented on #453
OpenGraph allows multiple thumbs, so we can do project first, logo second, and then in places like Facebook people can cycle through the available OG images to post with the one they like best, with the project-relevant thumbnail as the initial (and thus default) image?

[2015-08-13 16:52] Pomax commented on #507
related to https://github.com/mozilla/webmaker-core/issues/508

[2015-08-13 16:55] Pomax commented on #278
crosslinking to https://github.com/mozilla/webmaker-core/issues/505, since there's was discussion about which length to actually use: let's work the fix for that into this PR since it touches the exact same code - given that the database allows up to 256 characters, let's up the limit from 25 to 256 in our code too, and just take out the props override: max length should simply always be 256.

[2015-08-13 17:08] errietta commented on #278
@Pomax do we keep min length?

[2015-08-13 17:23] xmatthewx commented on #453
perfect :+1:

[2015-08-13 17:37] xmatthewx commented on #469
Super

[2015-08-13 17:38] thisandagain commented on #493
Done!

[2015-08-13 17:38] #493 closed, assigned to thisandagain

[2015-08-13 17:40] xmatthewx commented on #524
Origin page should be locked and not available for set destination.

[2015-08-13 17:44] xmatthewx commented on #522
This is a regression. @gvn - can you take a look? Let's assess whether or not this is a quick fix.

Also, did we previously prevent selecting the current page as the destination (#524)?

[2015-08-13 17:53] k88hudson commented on #313
Resolved

[2015-08-13 17:53] #313 closed, assigned to k88hudson

[2015-08-13 17:56] gvn commented on #430
@thisandagain any thoughts on fixing this?

[2015-08-13 18:05] k88hudson commented on #518
Ok, this is happening because after first creating a user account, the new user id is not yet in the api.webmaker.org database (since no projects have been created yet), so the response is `404 User not found`

[2015-08-13 18:14] ryanwarsaw commented on #469
@xmatthewx I apologize for not being very clear in my comment, the issue isn't actually fixed, I said that its a valid issue that needs to be fixed, redirecting staging / production users to the correct flow.

[2015-08-13 18:30] xmatthewx commented on #469
Hilarious. You were clear, the fault it mine. I optimistically misread it as "this should be fixed now, check it out."

[2015-08-13 18:39] thisandagain commented on #430
Ooof. That's going to be a tough one as it's a part of the underlying Chromium view. Most likely easiest to fix by writing / integrating a drop-down component in `core`.

[2015-08-13 18:48] thisandagain commented on #472
Did lots of testing on this front today. Confirmed in 1.1.0 but resolved via @k88hudson 's removal of the ImageLoader component. Will ship in nightly and limited release of 1.2.0 this evening for final testing against the production / release API. Closing.

[2015-08-13 18:48] #472 closed, assigned to thisandagain

[2015-08-13 18:49] thisandagain commented on #510
Testing now. I agree with @ryanw-se that it sounds like a memory leak.

[2015-08-13 19:10] k88hudson opened #532 "On first load of "make" page for new users, user does not exist in API DB"
When a new user account is created and the user navigates to the "Make" view, a `404 User does not exist` response is returned from the `/user/:id/projects` route since the user has not yet been added to the API database (right now, users are created lazily when the first project is created)

Right now the solution implemented is just not to show the 404 error, but we should probably figure out a

[2015-08-13 19:13] xmatthewx opened #533 "Update link to new terms"
New terms go into effect on the 17th. Update links to https://beta.webmaker.org/#/legal
- [x] sign-up in app
- [x] footer on site https://github.com/mozilla/webmaker-browser/issues/192

[2015-08-13 19:33] thisandagain commented on #510
Update: memory seems stable. I'm seeing a few leaks in the JS layer, but nothing major and nothing that occurs in the background / without user interaction.

[2015-08-13 19:39] gvn commented on #278
Resolved by #528

[2015-08-13 19:39] #278 closed, assigned to errietta

[2015-08-13 19:42] xmatthewx opened #534 "@vazquez, activate @ryanw-se's QA membership"
Requirements:
- [x] sweet animated gif
- [x] link to [wiki](https://github.com/mozilla/webmaker-core/wiki/QA-Script-Sample-Issues)

[2015-08-13 19:44] thisandagain commented on #510
Update: :laughing: that was quick. Got it to crash on the Walton Primo GF3 right after the last update. What's interesting is that it corresponded with Android Studio locking up. `adb logcat` doesn't reveal anything interesting:

[code]

[2015-08-13 20:11] vazquez opened #536 "Ryan's QA List"
In order to close this bug, go through the follow scripts:

[Button Element](https://github.com/mozilla/webmaker-core/issues/401)
[Text Element](https://github.com/mozilla/webmaker-core/issues/400)

File any bugs as separate tickets, just remember to assign the QA label to the issue so it can get triaged accordingly.

Other tasks that you could tackle are in the [wiki](https://github.com/mozilla/w

[2015-08-13 20:14] vazquez commented on #536
@ryanw-se This is your QA list!

[2015-08-13 20:15] #534 closed, assigned to vazquez

[2015-08-13 20:16] ryanwarsaw commented on #534
Woot, thanks @vazquez!

[2015-08-13 20:19] thisandagain commented on #532
Option 2 seems most reasonable to me. Thoughts @cadecairos @ashleygwilliams @simonwex ?

[2015-08-13 20:33] gvn commented on #522
@Pomax I think this regression came out of the bulk work. I'm trying to debug, but so far I think it looks like a case of some data not being transferred into the Project view when setting a destination.

This general area may have something to do with it: https://github.com/mozilla/webmaker-core/blob/develop/src/pages/project/project.jsx#L60

If you could take a look as well, I'd much appreciate

[2015-08-13 20:37] xmatthewx commented on #523
We need a comprehensive review of the header, nav, and back button given how the app has evolved since the original spec and the challenges of working with the android header. Tracking here: https://github.com/mozilla/webmaker-core/issues/46

[2015-08-13 20:37] #523 closed, assigned to nobody

[2015-08-13 20:39] gvn commented on #430
Yeah, it's possible our styles are affecting it, but hard to say. I wasn't able to inspect it in dev tools.

Recommend pushing this to next sprint... cc: @xmatthewx

[2015-08-13 20:40] xmatthewx opened #537 "GA event tracking on page load"
Migrated from https://github.com/mozilla/webmaker-browser/issues/213

@adamlofting says:

See #207
- [x] Are these events always recorded in GA?
- [x] Or, if GA hasn't fully loaded, do we silently miss tracking this data?

[2015-08-13 20:40] xmatthewx commented on #537
How critical is this concern? Likely to fail often, or rarely?

It would be valuable to compare shares on Android and the resulting views via Facebook etc.

And, while the CTA in the browser says 'open app', for anyone who doesn't have the app, this leads to the play store and is a valuable conversion.

[2015-08-13 20:40] #505 closed, assigned to gvn

[2015-08-13 20:45] thisandagain commented on #510
Ok. I haven't been able to replicate on `release`. I believe this may be related specifically to ADB / Android Studio. Needs further investigation but not a blocker for 1.2.0.

[2015-08-13 20:46] xmatthewx commented on #430
Yes. We can assess later.

[2015-08-13 20:48] ryanwarsaw opened #538 "Set destinations position above or below the button, relative to its position"
When I put the button really close to the bottom of the page, the set destination button is cut off and I am not able to set the position of the button. If I am close to the bottom of the page, set destination should be on top of the button, so I can clearly see it and tap on it.

[2015-08-13 21:00] #533 closed, assigned to thisandagain

[2015-08-13 21:25] xmatthewx commented on #538
:+1:  This is something we will need to do if we don't change the way these buttons and helper buttons function.

[2015-08-13 21:33] simonwex commented on #532
Option 1 feels funny, I could see the codebase being peppered with these sorts of rules if we started here.

Adding the user to the API when we first see them in the app seems like a fine solution. Do we expose this through webmaker-browser? If so, we'll still need to maintain our special 404 handling as an edge case for users that are auth'd on the current codebase.

Medium-term, this issue may g

[2015-08-13 21:43] thisandagain commented on #518
Resolved in #531

[2015-08-13 21:43] #518 closed, assigned to k88hudson

[2015-08-13 21:44] thisandagain commented on #183
Closing and tracking in follow-up tickets.

[2015-08-13 21:44] #183 closed, assigned to Pomax

[2015-08-13 21:55] xmatthewx commented on #441
@vazquez's designs address the issue from id.webmaker (https://github.com/mozilla/id.webmaker.org/issues/360 https://github.com/mozilla/id.webmaker.org/issues/361). Seemed the simplest way to address this for a few reasons. Keeping this issue open to track the work.

[2015-08-13 22:01] gvn commented on #496
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a text element to the page by tapping the "Aa" icon
  - [x] a text element appears in the center of the page and contains some text
  - [ ] the text is selected, it has a blue dashed border - _Already a ticket open for this..._
  - [ ] there is a garbage icon,

[2015-08-13 22:07] gvn commented on #496
- [x] Open the app and tap the Discover tab, which opens the Discover view

**Discover View**
- [x] In the Discover view you see a list of projects. Each projects includes...
  - [x] a title
  - [x] a preview image
  - [x] an author (indicated in blue)
- [x] scroll up and down to view additional projects
- [x] tap on any project in the Discover view, it will open

**Project Play Mode**
- [x] when

[2015-08-13 22:16] gvn commented on #496
"tap the back button in the header to zoom back out to the Project view"

Has this functionality changed, or is this a bug? @thisandagain @xmatthewx

[2015-08-13 22:26] xmatthewx commented on #496
That was the oringal plan @gvn, but the android header was a beast we never slayed. It's a big task, so we should review the spec based on things we've learned before we dive into that https://github.com/mozilla/webmaker-core/issues/46

[2015-08-13 22:29] gvn commented on #496
Ah, got it. Thanks!

[2015-08-13 22:38] k88hudson commented on #532
@simonwex no auth in webmaker-browser at the moment.

For option 2, I was thinking more something along the lines of when a user creates an account in the app, we would send an extra request along to api.wm.org to create the user there too.

[2015-08-13 22:56] Pomax commented on #510
could be all the debug injections never getting cleaned out...?

[2015-08-13 23:05] #496 closed, assigned to gvn

[2015-08-14 00:58] ryanwarsaw opened #539 "No set title confirmation button"
When you change the title of your project, from the default text "My Project", a keyboard pops up and you type what you want in. There is no button on the screen that says "Done" or "Save", so logically you just close the keyboard out and exit the screen assuming it'll save your title.

We should reassure the user that their typing was saved and they should know so by having a button confirmation

[2015-08-14 01:01] ryanwarsaw opened #540 "Android Backend - Add a JS interfacable method to close keyboard"
There needs to be a way for you to make a call on the JS side to close the Android keyboard, like when you click a save button, it should save and close the keyboard. This is a fairly simple task, so I'd gladly take this on.

[2015-08-14 10:13] adamlofting commented on #537
It won't cause any errors for the user, as it would fail silently.

But if we don't double check it, we could get incomplete data, and make bad decisions. The load order for JS isn't totally predictably, so the biggest risk is getting partial data and thinking we have complete data. (It's easier to notice when you get no data at all).

[2015-08-14 14:58] errietta commented on #453
@xmatthewx @k88hudson

Matthew asked me to do a write up of what I want to do and run it by engineers before doing code :stuck_out_tongue:

So this is what I'm thinking we should do.
We can get the user name and title by querying '/users/{user}/projects/{project}. This allows us to find the username (in project.author.username) and the project name in project.title.
To add open graph, we'll have t

[2015-08-14 15:37] vazquez commented on #512
R? @xmatthewx

![username exists annotations](https://cloud.githubusercontent.com/assets/1119821/9277540/c8372f70-4278-11e5-9dd7-89d49a7cb0db.png)

[2015-08-14 16:55] xmatthewx commented on #512
R+  :100:

[2015-08-14 16:56] ryanwarsaw opened #541 "Compile changes in webmaker-android and webmaker-core into a easily downloadable APK"
I had an idea this morning, about how nice it would be if someone reported a bug and you were simply able to fix it, link them the APK download where they can easily install it and test to see if the bug is fixed.

Initial idea was to accomplish this with Jenkins, jbuck suggested I try out Travis CI, so that will be the first line of business (seeing if I can compile an APK on Travis CI).  Creatin

[2015-08-14 17:03] k88hudson commented on #495
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add an image element to the page
  - [x] an image appears in the center of the page (it can be one of many starter images)
  - [x] the image is selected, it has a blue dashed border
  - [x] there is a garbage icon, a plus icon, and a paintbrush icon at the bottom

[2015-08-14 17:06] k88hudson commented on #495
- [x] create a new project, or open an existing one
- [x] you will see the map view of the project, centered on one of the pages
- [x] the blue header says "Project"
- [x] the centered page is selected
- [x] the pencil and trash icons are visible below the page
- [x] dragging the view to pan around the project view
- [x] pinching the view zooms the view in and out
- [x] pan to a place where there

[2015-08-14 17:06] k88hudson commented on #495
@vazquez looks good!

[2015-08-14 17:18] xmatthewx commented on #495
:heavy_check_mark: :ballot_box_with_check:  :white_check_mark:  incredible. so many checkmarks!

[2015-08-14 17:22] vazquez commented on #495
Thanks so much Kate!

![](http://media.giphy.com/media/11p1apCPqM7WEw/giphy.gif)

[2015-08-14 17:22] #495 closed, assigned to k88hudson

[2015-08-14 17:24] vazquez commented on #496
@gvn I wronged you of a congratulatory GIF

![](http://media.giphy.com/media/UkQOjabv89N0A/giphy.gif)

[2015-08-14 17:25] thisandagain commented on #537
I can take a look at this today. For `webmaker-android` I know we are in good shape, but most certainly need to check on `webmaker-browser`.

[2015-08-14 17:26] Pomax commented on #522
Trying this with another project, I see the marker but it's on the wrong page entirely, letting me flag the page the button is _actually_ on as a destination, so yeah something is getting cached rather oddly here. Investigating

[2015-08-14 17:30] flukeout commented on #522
@Pomax I noticed that after setting it once, the 'you are here marker' appears. This is when the button destination is first set.

[2015-08-14 17:43] cadecairos opened #542 "Project Settings page throws script errors"
[code]

STR:
1. Open a project from the Make tab
2. press the three dots button, select settings

Expected: Settings tab should load
Actual: blank page, frozen app. Must force close to fix it. console errors above.

[2015-08-14 17:53] xmatthewx commented on #542
Is this just on develop/staging? Related to style guide button? If not, sounds critical. @k88hudson @thisandagain

[2015-08-14 17:55] cadecairos commented on #542
I just downloaded the nightly  from mzl.la/webmaker-nightly

[2015-08-14 17:57] thisandagain commented on #542
Confirmed in RC. Needs to be resolved prior to ship. @k88hudson can you take this?

[2015-08-14 17:58] xmatthewx commented on #186
Looks good. Couple of minor bits to discuss. Seems like enhancement of error handling can proceed independent of new UI, correct?

[2015-08-14 18:21] k88hudson commented on #542
When testing current master, I can't reproduce this; I am pretty sure this is a result of a proper rebuild not being run (so new locale files weren't generated) since `badTitle` was added very recently. Thoughts @thisandagain?

[2015-08-14 18:31] thisandagain commented on #542
I just did another fresh install / build. Perhaps some kind of merge issue? Hmm.

[2015-08-14 18:52] cadecairos opened #543 "New elements are selected, but don't have selection box"
STR:
1. Create a new element!

If you look close, you'll see that the buttons indicate the element is selected, but the blue dotted selection box doesn't show until you interact with the element.

Not sure how critical this is, since it's just a visual bug.

@thisandagain / @xmatthewx

[2015-08-14 18:59] gvn commented on #496
![bizness](https://cloud.githubusercontent.com/assets/206379/9281708/d70405de-427b-11e5-8f51-552b21c9479e.gif)

[2015-08-14 19:24] thisandagain commented on #542
Confirmed as a build issue. Closing.

[2015-08-14 19:24] #542 closed, assigned to k88hudson

[2015-08-14 19:36] xmatthewx commented on #543
Interesting. That's better than not selected at all as previously reported: https://github.com/mozilla/webmaker-core/issues/520

[2015-08-14 19:36] xmatthewx commented on #520
Or maybe they're selected without indicator: https://github.com/mozilla/webmaker-core/issues/543

[2015-08-14 19:38] cadecairos commented on #543
![screenshot from 2015-08-14 15-37-39](https://cloud.githubusercontent.com/assets/438003/9282441/6d39c12e-429a-11e5-9186-9dce1fc02a18.png)

Screenshot right after adding the text - the buttons at the bottom indicate the element is indeed selected, but it's not visibly showing it.

[2015-08-14 19:50] Pomax commented on #522
This bug is a rabbit hole. I'm finding all kinds of things related to source/destination highlighting due to how we don't create/destroy views, but create and then perpetually update them, instead

[2015-08-14 20:25] flukeout commented on #520
@xmatthewx you're correct - this is a dupe of #543, closing.

[2015-08-14 20:25] #520 closed, assigned to nobody

[2015-08-14 21:44] flukeout opened #545 "Webmaker App - Long-pressing a button in Play mode causes it to not navigate."
**Steps to reproduce**
- Open a project with button links
- Tap a button in the Page view, you navigate
- Long-press a button in the Page view and release, nothing happens

You should still navigate

[2015-08-14 21:48] xmatthewx commented on #545
Hmmm. A bug? Or an opportunity for enhancement?

[2015-08-14 21:48] Pomax opened #546 "impossible usernames are not flagged as invalid on the "sign in" view, only on the "join webmaker" view."
correct:
- Join webmaker view
- type username "woiefh@"
- error that this username is invalid on the @ symbol

questionable:
- Sign in view
- type username "woiefh@"
- no errors appear that this username cannot possibly be correct

[2015-08-14 21:49] xmatthewx commented on #496
cc @flukeout to enjoy the fruits of his labor

[2015-08-14 21:50] xmatthewx commented on #495
cc @flukeout to witness the thrill

[2015-08-14 21:51] flukeout commented on #545
I think for the most part buttons and links on the web work whenever you finally release your mouse / finger. Do you mean, should we change the label from bug to enhancement?

I think it should remain a low-priority bug.

[2015-08-14 21:52] xmatthewx commented on #494
cc @flukeout to see where it all began

[2015-08-14 21:56] #522 closed, assigned to Pomax

[2015-08-14 22:01] xmatthewx commented on #545
:+1: (I was just debating semantics with me and myself)

[2015-08-14 22:32] gvn opened #547 "Can't make a remix"
Repro (using nightly: http://mzl.la/webmaker-nightly):
- Create a new account
- Open "First Aider Guide" from Discover tab
- Hit kebab and hit "Remix"
- Hit "Ok got it"
- Hit back until you get back to Discover view
- Hit Make tab

Expected: See remixed project in list
Actual: Empty project list

[2015-08-14 22:34] thisandagain commented on #547
If you pull to refresh what is the result?

[2015-08-14 22:44] gvn commented on #547
If I follow the STR only (IE: have no projects and a totally fresh acct) then I don't see anything after a pull to refresh.

[2015-08-14 23:15] jbuck commented on #547
@gvn I believe https://github.com/mozilla/api.webmaker.org/pull/163 will fix this

[2015-08-14 23:20] flukeout commented on #496
Is that @gvn up on a cloud there?!

[2015-08-14 23:24] flukeout opened #548 "Android App - Switching between apps within android to the Webmaker app causes the currently playing project to reload."
**Steps to reproduce**
- Open a project from Discover mode
- Using the android switch-between-apps feature, switch to a different app
- Now, switch back to Webmaker
- The project reloads, showing the blue loader and then reverting back to the first page of the project

[2015-08-14 23:58] jbuck commented on #547
@gvn and @k88hudson report that this is now fixed on staging, so pushing it up to production!

[2015-08-15 00:01] flukeout opened #549 "Android App - Poor performance in Map mode for content-heavy projects."
**Steps to reproduce**
- Open the Fitness Tips project
- Zoom out to map mode
- Pan and zoom this view
- The app slows down a lot

[2015-08-15 00:11] k88hudson commented on #547
thanks @jbuck

[2015-08-15 00:13] gvn commented on #547
Yes thank you!

[2015-08-15 00:13] gvn commented on #496
Yeah! I think it's "The Cloud" that everyone is always talking about!

[2015-08-15 00:15] xmatthewx commented on #548
A reload of Discover or Make is appropriate. Reload of a project is unnecessary and disruptive (imagine referencing a how-to guide for mobile photography).

[2015-08-15 01:22] #547 closed, assigned to nobody

[2015-08-15 03:47] ryanwarsaw opened #550 "Can't edit middle of text, without being forwarded to the last character"
If you have a title that you want to edit, say you want to remove some a capital letter from the middle of your title, you can't do so without deleting the title to that point and re typing it. I should be able to tap where I want my cursor to start and simply replace that one character.

[2015-08-17 13:33] xmatthewx commented on #539
@ryanw-se -  In our app, we intend to display the title in the header, which would reassure you that your edit was a success (#285). In Google's Material Design, settings are updated with a simple exit of the view.

[2015-08-17 13:33] #539 closed, assigned to nobody

[2015-08-17 17:26] Pomax commented on #550
If I tap a text, then tap it again to put the cursor somewhere in the middle (standard Android interaction model), I can edit/insert just fine. Can you list the steps you're following that makes the text get wiped entirely?

[2015-08-17 18:29] xmatthewx commented on #111
Moving to next milestone in case there's anything pending.

[2015-08-17 18:29] xmatthewx commented on #537
@thisandagain - is this something you can look at this week? Or should we reassign?

[2015-08-17 18:33] k88hudson commented on #453
Hey @errietta, this sounds good :) You should be able to get the thumbnail from the response in `/users/{user}/projects/{project}`; it is generated automatically when a project is created.

As for the react part, something like this might work https://github.com/nfl/react-helmet

[2015-08-17 18:34] #490 closed, assigned to vazquez

[2015-08-17 19:25] thisandagain commented on #537
I was able to look at this on Friday. Tracking seems to be working just fine, but I'll take another look today (under load) to verify.

[2015-08-17 20:29] xmatthewx commented on #460
closed by https://github.com/mozilla/webmaker-core/pull/509

[2015-08-17 20:29] #460 closed, assigned to gvn

[2015-08-17 20:53] flukeout opened #551 "Add ability to delete a project from the Play / Edit interface menu."
Right now, if I suspect one of my old projects is junk, I have to open it to double-check it, then go back to the Make view to delete it. It would be nice to be able to delete it from the project player / editor.

[2015-08-17 21:01] gvn opened #552 "Reposition nubs on window resize"
Right now the nub position will shift when a browser window is resized and look visually broken.

[2015-08-17 21:02] gvn opened #553 "Add dark UI to -browser"
Need to hook up the new dark UI in webmaker-browser.

[2015-08-18 12:32] adamlofting opened #554 "Link from Player to App broken in FF"
Looking at this project in FF Release Channel (40.0)

<img width="1436" alt="screenshot 2015-08-18 13 27 44" src="https://cloud.githubusercontent.com/assets/1901816/9329868/18006652-45ad-11e5-8099-869fabc1f48c.png">

I get the message: 'Use the Webmaker App! We think you'll like it better.' and a button 'Open app'.

Two issues for me:
1. If you arrived on this project without knowing what Webmaker

[2015-08-18 12:45] adamlofting commented on #537
This tracking is working for the two events we're currently firing, but it's because GA is loading faster than the data from our API, even though we call the API first:

<img width="1359" alt="screenshot 2015-08-18 13 40 15" src="https://cloud.githubusercontent.com/assets/1901816/9330125/08780864-45af-11e5-90bd-1ff0cf6dfff4.png">

No urgent need to change anything here, but I'll file a bug to bump

[2015-08-18 12:45] #537 closed, assigned to thisandagain

[2015-08-18 12:51] adamlofting opened #555 "Load GA before firing GA events"
We should move the GA tag in the browser player further up in the load order.

https://github.com/mozilla/webmaker-browser/blob/develop/static/index.html#L24

This could go before the existing ``, or before the `</head>`. It's loaded asynchronously.

The reason for this is that if our code tries to record a GA event before the `ga` obj has been instantiated, [it will silently fail](https://github.

[2015-08-18 14:32] vazquez commented on #414
Notes from working with @cassiemc
- Bottom left placement.
- Can we link to to original project?
- Work with title placement, "by" line

[2015-08-18 14:41] xmatthewx commented on #414
This will introduce more complexity. Let's get a basic CC in place first.

[2015-08-18 14:46] xmatthewx opened #556 "Thumbnails not generated"
Can others confirm this? cc @secretrobotron @k88hudson

STR - new thumb
- create a new project
- add content on first page
- exit page, see it update in project view
- exit project
- refresh Make view
- no thumb
- delete and reinstall app
- login and got Make view
- no thumb

STR - updated thumb
- edit a project
- add or edit content on page that generated previous thumb
- exit page, see it update

[2015-08-18 14:58] vazquez commented on #414
:+1:

[2015-08-18 15:21] vazquez commented on #462
A new idea from @xmatthewx @cassiemc and I to introduce Discovery view AND Make view.
- On first load, screen fades in.
- On subsequent loads, screen will not show.
- This acts as a mini-FTU.
- We are using a new font (Sharpie) because Fira is not so welcoming in this context. We can get away with this for now by exporting as image for each locale (4). This is not so future proof, however. We migh

[2015-08-18 16:25] thisandagain commented on #537
:+1:

[2015-08-18 17:33] cadecairos commented on #556
Could be that the server cache isn't being busted when a thumbnail created

[2015-08-18 17:36] xmatthewx opened #557 "Clarify Title length requirement"
Message says between 4 and 128 characters. Suggests that 4 chars is ok, even if a literal reading says 5 is the minimum.

![screenshot_2015-08-18-10-38-08](https://cloud.githubusercontent.com/assets/53411/9337466/878cf508-45ad-11e5-9e53-cd7ae5e0cf0f.png)

[2015-08-18 17:37] xmatthewx commented on #556
Ok. I'm calling this critical. Let's team up to figure this out. cc @Pomax @gvn

[2015-08-18 17:38] gvn commented on #556
Confirmed. Worse, the project just _disappeared_ for me after I pulled to refresh.

STR:
1. download fresh copy of app from Play store
2. create a new account
3. create a new project
4. add content on first page
5. exit page, see it update in project view
6. exit project (i see a generic thumbnail here)
7. refresh Make view

[2015-08-18 17:56] Pomax commented on #556
fresh install
- sign in
- create new project
- add text and image element on page 1
- back to project, page shows updated
- back to makes list, project is listed
- no thumbnail is visible

unlike @gvn, however:
- refresh makes list
- project still shows up
- still no thumbnail

@cadecairos is there a way for us to see whether cache-invalidating-routes are being called on production?

[2015-08-18 18:17] vazquez commented on #556
Confirmed. But with a slight variance.

STR:
1. create a new project
2. add content on first page
3. exit page, I never saw it update in project view. Waited ~30seconds
4. exit project. I see the content show up in the thumbnail
5. refresh Make view

[2015-08-18 18:22] cadecairos commented on #556
I know what the problem is.

The bulk API request handler isn't triggering any thumbnail updates.

[2015-08-18 18:28] xmatthewx commented on #554
@k88hudson - mind taking a look at this?

[2015-08-18 18:41] vazquez commented on #186
@xmatthewx - Updating the UI to the old UI so work can continue on this bug. R?

![error annotations](https://cloud.githubusercontent.com/assets/1119821/9339292/3690b022-45b7-11e5-8c4b-5fe032125537.png)

[2015-08-18 20:29] xmatthewx opened #559 "Login error - invalid payload : password"
Comment in google play:

Any thoughts @jbuck @ashleygwilliams @cadecairos ?

[2015-08-18 20:33] cadecairos commented on #559
A few possibilities here: they're entering a password that triggers validation to fail, which the app isn't anticipating (I.E. doesn't enforce all password policy rules client-side) or, just inadequate handling of poor/invalid passwords to begin with?

we should try to enter different kinds of passwords to see what could trigger this.

[2015-08-18 20:42] Pomax commented on #559
Password validation in core:

[code]

In which the validation error message seems to have absolutely nothing to do with the actual validation that's taking place... O_o

[2015-08-18 20:48] k88hudson commented on #559
This looks like it might be a case of someone trying to create a password that is too common -- as far as i can remember, this is the only thing we don't validate the same way on the client side.

If that is indeed the problem, we could probably return a more descriptive error message from id.wm.org

[2015-08-18 20:48] flukeout opened #560 "Can't move text element near the top of the screen."
Steps to reproduce
- Add a text element
- Try to move it to the top of the page

This is as far as I can get it, it wont' go any higher.

![image](https://cloud.githubusercontent.com/assets/25212/9342301/cd1351e2-45af-11e5-910f-b964b96b0bf7.png)

[2015-08-18 20:53] Pomax commented on #559
for DRY guarantees, is there a way for us to use "the same code" on both id.wmo and wm-core for password validation?

[2015-08-18 20:56] cadecairos commented on #559
we basically do, with the exception of not shipping a 10,000 item array of weak passwords.

https://github.com/nowsecure/owasp-password-strength-test
https://github.com/cadecairos/passtest

[2015-08-18 20:56] cadecairos commented on #559
(shipping to client devices)

[2015-08-18 20:58] Pomax commented on #559
The client app is currently a whisker under 30MB. Packing in the word list might actually be just fine, it only adds on 100kb from the looks of the code you linked.

[2015-08-18 20:59] k88hudson commented on #559
I think it's a better idea to leave the password list on the server and improve the error message to be more descriptive than add the list to the client.

[2015-08-18 20:59] cadecairos commented on #559
True, but it still leaves us with the id.wmo front-end not wanting to load a 103KB (minified!) JSON array of words

[2015-08-18 21:00] Pomax commented on #559
in that case better error reporting is probably the better approach, yeah.

[2015-08-18 21:02] xmatthewx commented on #559
Option A "That password is too common. Try something else."
Option B "Try a different password."

[2015-08-18 21:02] k88hudson commented on #559
Option A sounds way better to me

[2015-08-18 21:03] cadecairos commented on #559
[The error reporting should be fine](https://github.com/mozilla/id.webmaker.org/blob/develop/web/server.js#L479-L488), I think we just need to handle things better client-side

[2015-08-18 21:04] flukeout opened #561 "Inconsistent element placement between different views."
See the screens below. It's a text element overtop of an image element. I've drawn a green line through the same part of the photo, note that it lines up with the text differently in each view.

![image](https://cloud.githubusercontent.com/assets/25212/9342667/ff0001da-45b1-11e5-9281-18b0061b96e6.png)

[2015-08-18 21:12] k88hudson commented on #559
Ok, so I tested a password on the list and it does indeed say `Password not strong enough`.

I'm unable to reproduce. Is it possible they're using an old build?

[2015-08-18 21:15] xmatthewx commented on #559
Device: jfltexx
App version: 1.2.0

[2015-08-18 21:18] xmatthewx commented on #559
I asked the user to email us at help@ so we can investigate. Let's hold off on this unless we hear from them or see it with other users.

[2015-08-18 21:18] k88hudson commented on #559
thanks @xmatthewx!

@ashleygwilliams reported seeing the ability to bypass client-side validation on slow connections, it's worth looking into that as well

[2015-08-18 21:28] k88hudson commented on #559
I noticed while testing this:
- I am able to create passwords that don't have both letters and numbers, as long as they are over 8 characters; also,
- if I get an error back from the server (such as "Password not strong enough") it doesn't actually go away after fixing it.

[2015-08-18 21:32] xmatthewx commented on #559
error messages should disappear while fixing: #504

[2015-08-18 21:33] xmatthewx commented on #504
In most cases, error messages should appear onblur (#186), disappear when problem has been resolved.

[2015-08-18 21:35] xmatthewx commented on #186
While an error should first appear onblur, it should be rechecked as user types, cleared when fixed.

[2015-08-18 21:44] xmatthewx commented on #498
@k88hudson - do you have all the info you need to continue with nightlies and future releases?

[2015-08-18 21:48] xmatthewx commented on #524
Fixed by https://github.com/mozilla/webmaker-core/pull/544

[2015-08-18 21:48] #524 closed, assigned to nobody

[2015-08-18 21:52] xmatthewx commented on #521
You're right. 'OK' works for me. 'Pick destination' up top would also more user-friendly than 'Set destination' for non-coders.

[2015-08-18 22:05] xmatthewx commented on #337
Closing this. There have been several updates to image handling. Haven't heard other reports of the issue.

[2015-08-18 22:05] #337 closed, assigned to nobody

[2015-08-18 22:19] xmatthewx commented on #283
Can not duplicate

[2015-08-18 22:19] #283 closed, assigned to nobody

[2015-08-18 22:20] #277 closed, assigned to nobody

[2015-08-19 12:24] lauradereynal commented on #462
Love this idea @vazquez It's brilliant
I think I have a preference towards colored gradient (navy blue?) as opposed to the white gradient, because it feels warmer and welcoming.

Thanks for trying this :)

[2015-08-19 13:14] cassiemc commented on #462
I don't have a strong opinion about the light vs. navy blues but do prefer the blues to the white. Originally I'd thought more contrast with the top bar would help the user understand where the buttons are (navy blue), but there is something nice about that medium blue feeling like a continuation of the top bar.

@vazquez and I did talk about probably needing another long-term solution regarding t

[2015-08-19 15:32] k88hudson commented on #498
I think so, it would be helpful to have some notes from @thisandagain though if possible

[2015-08-19 15:34] k88hudson commented on #498
Ok, @thisandagain is going to add to the wiki

[2015-08-19 15:48] xmatthewx opened #563 "Add apk key to the vault"

[2015-08-19 15:48] vazquez commented on #462
Working on getting a more harmonious alignment. The text is now centered with the CTA underneath.

#### Blue Option

![intro 1 copy 3](https://cloud.githubusercontent.com/assets/1119821/9361053/b2f5794e-4667-11e5-94ae-ca4b81cfbc87.png)

#### Plum Option

![intro 1 copy](https://cloud.githubusercontent.com/assets/1119821/9361054/b2f63398-4667-11e5-8b1b-9014b1684151.png)

[2015-08-19 15:51] vazquez commented on #462
I see your point cassiemc. The normal blue does lend itself more to the established UI. I also see the Plum as allowing the FTU message to be delivered more directly; I see the contrast as a healthy quality in this context.

[2015-08-19 16:44] adamlofting opened #564 "Track more detail about sign in errors in GA"
At this point in the code:

https://github.com/mozilla/webmaker-core/blob/develop/src/pages/login/sign-in.jsx#L94

It would be good if we could change:

[code]

to

[code]

I haven't followed the code through, to see if these particular strings are available, but error messages at this level of detail would be great: https://github.com/mozilla/webmaker-core/blob/develop/src/lib/api.js#L104-L110

[2015-08-19 17:43] xmatthewx commented on #462
Nicely done. Alignment is looking better. I like the blues too. The contrast of the darker works well and also feels like a temporary mask over the content below.

@lovegushwa might have some advice on handwritten fonts that support many languages/character sets. I wonder if we could localize the font in addition to the strings. @alicoding ?

[2015-08-19 17:47] alicoding commented on #462
There are many nice font the way you have in the picture that's for sure but we could find some. Localizing font or switching is not really ideal though

[2015-08-19 17:49] xmatthewx opened #565 "Reduce steps to add a photo"
Scenario: user adds a new photo to a page

UX below reduces the steps, skipping the placeholder image and proceeding directly to the source selector. Once selected, image lands on page, selected.

![image](https://cloud.githubusercontent.com/assets/53411/9364151/e6976efe-4678-11e5-86fb-93675004a5bb.png)

[2015-08-19 17:52] xmatthewx opened #566 "Reduce steps to add a text element"
Scenario: user adds a new text element to a page

UX below reduces the steps, going directly to the element editor. 'Hello' string appears ready for edits.

![image](https://cloud.githubusercontent.com/assets/53411/9364235/5312d348-4679-11e5-8fd6-b7a4ebaef172.png)

[2015-08-19 17:56] xmatthewx opened #567 "Reduce steps to add a button element"
Scenario: user adds a new link to a page

UX below reduces the steps, going directly to the destination selector. After setting a destination, user proceeds to element editor.

![image](https://cloud.githubusercontent.com/assets/53411/9364301/a920e6ee-4679-11e5-870a-d84286a46f98.png)

Future changes to the destination would behave the same: confirmation of destination leads to the element editor.

[2015-08-19 17:57] xmatthewx commented on #238
Splitting into three tickets: photos (#565), text (#566), link (#567).

[2015-08-19 17:57] #238 closed, assigned to nobody

[2015-08-19 17:58] k88hudson commented on #238
thanks @xmatthewx !

[2015-08-19 18:05] vazquez commented on #462
I already spoke to @lovegushwa during our dbuds session.

http://www.google.com/get/noto/ would be a good substitute for languages that are non-Latin based. Jordan has already used the font pairing between Fira and Noto in other Webmaker print material.

[2015-08-19 18:17] vazquez commented on #414
Updated the designs above with the new UI work.

R? @cassiemc and @xmatthewx

[2015-08-19 18:30] cassiemc commented on #414
R+ from me! Nice work @vazquez

[2015-08-19 18:57] xmatthewx commented on #564
@k88hudson - thoughts? easy enhancement?

[2015-08-19 18:58] k88hudson commented on #564
Yep, we could definitely do that.

[2015-08-19 19:17] xmatthewx commented on #414
Excellent. @vazquez - mind filing a clean implementation issue and closing this? milestone 1.4

[2015-08-19 19:25] vazquez opened #568 "Implement CC-by-SA in browser-based player"
[design issue was filed in https://github.com/mozilla/webmaker-browser/issues/114]
#### Requirements

We need to display a CC license when people view a project.

The CC license needs to display the following:
1. Name of the project
2. by username
3. CC License with a link to the **[creativecommons.org license](http://creativecommons.org/licenses/by-sa/4.0/)**

This CC license will display on mobi

[2015-08-19 19:25] vazquez commented on #414
Done!

[2015-08-19 19:25] #414 closed, assigned to vazquez

[2015-08-19 20:36] thisandagain commented on #498
Added to the wiki here:
https://github.com/mozilla/webmaker-core/wiki/Release-Process

[2015-08-19 20:36] #498 closed, assigned to k88hudson

[2015-08-19 20:41] gvn commented on #553
:ghost:

[2015-08-19 20:41] #553 closed, assigned to gvn

[2015-08-19 22:11] #422 closed, assigned to k88hudson

[2015-08-19 22:13] flukeout opened #571 "No Thumbnail generated for my project"
I made it yesterday and still no preview thumbnail. It has content on the starting page, so that's not the issue...

![image](https://cloud.githubusercontent.com/assets/25212/9370391/dbbd0122-4684-11e5-857e-706cd8d7dfff.png)

[2015-08-19 22:17] flukeout opened #572 "Recently Featured project shows up halfway down the Discover View list - should be first?"
The "Art on a Wall" project was just featured now, yet it shows up halfway down the Discover view list? What is the sorting method for this list? Should newest projects show up at the top? The project was first created yesterday.

[2015-08-20 10:49] errietta commented on #453
@k88hudson is facebook actually able to parse the meta tags generated with react-helmet? I tried this on my build of the app, and although I could see meta tags generated with firefox dev tools, facebook didn't seem to pick them up. Can it understand meta tags generated on runtime with javascript?

[2015-08-20 10:52] errietta commented on #453
I guess https://github.com/nfl/react-helmet#server-usage may help..

[2015-08-20 14:50] xmatthewx commented on #572
I don't think we have a custom sort order, but we should either add that or a `feature date`. For now, we could adjust date created to optimize. cc @secretrobotron

[2015-08-20 15:01] xmatthewx commented on #571
There was a bug that has been fixed. You will need to edit the page to trigger a new thumbnail. And then refresh Make view. Did that work?

We are looking into automating this fix for other users.

[2015-08-20 15:39] xmatthewx commented on #446
I received feedback from legal review. We're good with a small revision to button strings.
- 1st button : "Next" or "Start" or ??
- 2nd button : "Join Webmaker"

I worry that "Next" suggests a long process and will reduce conversions. But currently, if a user stops between steps they might wonder whether their info has been submitted or not. It hasn't, but it's ambiguous.

[2015-08-20 15:54] vazquez commented on #446
I :eyes: the point.

Some ideas in addition to yours:
- Get started
- Start Creating Stories
- Ready, Set, Go!
- Start Exploring

[2015-08-20 15:57] cassiemc commented on #446
- one more step...
- almost there...
- pick a username

etc.

[2015-08-20 16:26] xmatthewx opened #573 "Questions for Analytics // research ?"
Let's use this thread to gather questions we can investigate in analytics.

[2015-08-20 16:28] xmatthewx commented on #573
Make vs View - Activity in the main view (discover & make) splits roughly 50/50 between viewing a project and editing a project. Do most users do both or is there a significant segment that only does one or the other?

[2015-08-20 16:50] xmatthewx commented on #573
Which projects have the most views? Most remixes? Most shares?

[2015-08-20 16:51] k88hudson opened #574 "Replace jsxhint"
jsxhint is deprecated, we should probably replace it at some point

[2015-08-20 17:27] vazquez commented on #446
Updating UI. @xmatthewx and I had a conversation

One thing we learned from @thisandagain's work with Scratch/DIY work is that having non-standard elements reduces conversions. More informal words could open the door to some confusion. Even though Next or Start might not be ideal, at least those words might convert better.

#### Updating UI

![screenshot 2015-08-20 12 42 43](https://cloud.githubus

[2015-08-20 17:45] xmatthewx opened #575 "First-time kebab (more actions menu)"
Share and remix are important actions currently hidden within the more actions kebab.

FTU in project viewer
- "Share or remix this project"
- Show after delay? After first exit from page to project?

FTU in project editor
- "Share this project"
- Show after delay? After adding two elements? After exit from page to project?

[təˈmeɪtoʊ təˈmɑːtəʊ](https://www.google.com/trends/explore#q=kebab%2C%20

[2015-08-20 17:48] xmatthewx commented on #446
R+ !!

Let's annotate for build. Notes:
- No data should be sent or stored until step 2 is complete
- Build as a single view that replaces the form between steps one and two. System back should return from step 2 to 1.
- Open the "not shared" tip on load. Close on field focus.
- Anything else?

[2015-08-20 17:52] Pomax commented on #453
no, the metadata needs to exist as the page is loaded in, for facebook to pick them up, so we can't really generate them "after the fact"

[2015-08-20 18:03] xmatthewx commented on #453
Does that mean we can only include generic info that applies to all projects? :worried:

[2015-08-20 18:05] errietta commented on #453
Unless we can costumise it on the server side.. haven't done enough digging
there yet, do you guys think that's doable?

On Thu, 20 Aug 2015 19:03 matthew w notifications@github.com wrote:

[2015-08-20 18:12] xmatthewx commented on #446
For dev notes:
- analytics on 2 steps will be important so that we know the impact of the age gate and can optimize

[2015-08-20 18:16] xmatthewx commented on #573
cc @adamlofting @LauraReynal @flukeout

[2015-08-20 18:26] secretrobotron opened #576 "Wrong button depressed when multiple buttons present"
Check out this project: https://beta.webmaker.org/#/project?user=462792&project=9825

Pretty hard to reproduce consistently (I'm using desktop Chrome).

There are two pages, each with a button linked to the other page. If you click on the buttons so that the projects moves back and forth, eventually, the wrong button will depress on mouse down. Sometimes, clicking on images before buttons will mak

[2015-08-20 18:40] secretrobotron opened #577 "Some pages are an island, a point of no return"
Click on the button on the first page of this project: https://beta.webmaker.org/#/project?user=460050&project=8161

Can't get back to the beginning. By design?

[2015-08-20 19:27] xmatthewx commented on #577
I think that button links to an island page with no neighbors. If so, that's correct behavior (just incomplete content). If you nav to the right with Webmaker nav arrows, you can return to the first page as expected.

[2015-08-20 19:29] vazquez commented on #462
I've reached out to @secretrobotron to help me coordinate in getting the text string translated.

https://github.com/mozilla/webmaker-launch/issues/100
https://github.com/mozilla/webmaker-launch/issues/101
https://github.com/mozilla/webmaker-launch/issues/102

[2015-08-20 19:29] xmatthewx commented on #577
Confirmed. Zoom out on Android and you'll see a 4th page with the neighbor in between deleted.

[2015-08-20 19:33] secretrobotron commented on #577
So, I shouldn't be able to get back to the beginning if I'm looking at this on desktop? Feels pretty broken.

[2015-08-20 19:37] xmatthewx commented on #577
The content is definitely broken. The app, maybe so since we don't yet have zoom-out to project view.

@flukeout - do you think there's a problem here that we should address? I suppose we could replace the zoom-out with a refresh as an interim solution.

[2015-08-20 19:45] flukeout commented on #577
We ditched zooming out from the desktop player because of time constraints - this is a side effect of that decision. We could also add a back button or something like that that goes to the previous page. Or maybe override/intercept the browser's "back" action and navigate to previous page instead?

[2015-08-20 20:28] gvn commented on #512
Another refinement that makes sense (to me, anyway) would be to just log someone in if they do provide their proper credentials at this step.

Otherwise you're just making them do more work when the goal is the same in either case: to log in to the app.

Thoughts: @xmatthewx @vazquez ?

[2015-08-20 21:06] xmatthewx commented on #512
+1,000,000  if the login server can handle that.

[2015-08-20 21:13] xmatthewx commented on #556
resolved: https://github.com/mozilla/api.webmaker.org/issues/165

[2015-08-20 21:13] #556 closed, assigned to cadecairos

[2015-08-20 22:56] vazquez commented on #512
That would be unicorns and rainbows and sunshines all combined into one :)

[2015-08-20 23:56] gvn commented on #512
LOL. Awesome!

I think that'll probably need to be a follow up ticket since I imagine it's not an easy thing to do (maybe I'm wrong, though). @cadecairos any thoughts?

I'm also realizing that this issue is a bit of a black hole. The error messages come from `id.webmaker.org` and are [hardcoded](https://github.com/mozilla/id.webmaker.org/blob/e89b16d4de94677b027c8521f250d5999f3b5df9/web/server.js#

[2015-08-21 00:20] cadecairos commented on #512
Without looking at code, I think it would be simple enough to do. I'll confirm that assumption tomorrow.

[2015-08-21 00:26] cadecairos commented on #512
Also, we could also define and document application specific error codes for cases that use the same http error code.

[2015-08-21 09:45] adamlofting commented on #564
It would be good to do the same with sign up errors as well:
- https://github.com/mozilla/webmaker-core/blob/develop/src/pages/login/sign-up.jsx#L112

[2015-08-21 10:43] lauradereynal opened #579 "Curate conversations with UX designers to learn about online communities"
Hey Team,

In order to start thinking and learning about online communities, let's reach out to UX designers of product we love and want to benchmark. Hopefully, they will be able to dedicate some time to talk to us and answer our questions :)

This would be part of a broader research project to understand what community features would enhance Webmaker, Teach, our learning products and the broader

[2015-08-21 10:47] lauradereynal commented on #579
some ideas
- Pinterest
- Quora
- Tumblr
- P2PU
- Medium
- Scratch
- Scratch ED
- Edmodo
- PicCollage
- WattPad
- DuoLingo
- Instagram
- Snapchat
- Canva

[2015-08-21 10:57] lauradereynal commented on #579
- Open Ideo
- Ashoka changemakers
- Wikipedia
- Teach for India
- Skillshare
- KickStarter
- MakerFair / MakerED

[2015-08-21 10:59] lauradereynal commented on #579
- Youtube
- Minecraft forums / Planet Minecraft
- Reddit

[2015-08-21 12:49] thornet commented on #579
<3 this thread and count me in. Have been having similar research conversations already with P2PU and the Scratch team.
- Github

For an educator online community, I also suggest:
- http://educatorinnovator.org/clmooc/

Others to look at, more from a social action and advocacy angle:
- 350.org
- Fight for the Future: https://www.fightforthefuture.org/

And for learning about online communities in

[2015-08-21 14:00] cadecairos commented on #571
you should have a thumbnail now on that project

![](https://dgu16gle6my6q.cloudfront.net/mobile-center-cropped/small/webmaker-desktop/aHR0cHM6Ly9iZXRhLndlYm1ha2VyLm9yZy8jL3RodW1ibmFpbD91c2VyPTUxNTQ2JnByb2plY3Q9MTA4MDYmcGFnZT0yOTMxMiZ0PTE0NDAwODU4MDgyMjk=)

[2015-08-21 14:00] #571 closed, assigned to nobody

[2015-08-21 14:01] xmatthewx commented on #577
I like that. Browser history and back button is the natural solution. Better than creating interim UI.

[2015-08-21 14:05] xmatthewx commented on #576
I couldn't reproduce this.

[2015-08-21 14:16] vazquez opened #580 "Implement onBlur for Login Validation Errors"
[design happened in #186]

We are currently aggressive about displaying validation errors for `username` and `email` fields which is fairly jarring during the sign-up UX. Instead of displaying errors onKeyUp, this new design displays validation errors onBlur.

![error annotations](https://cloud.githubusercontent.com/assets/1119821/9410394/06cf130e-47ee-11e5-8e4e-17cea34ec552.png)

[2015-08-21 14:19] #186 closed, assigned to vazquez

[2015-08-21 15:01] vazquez commented on #462
Some good progress!

![screenshot 2015-08-21 11 00 23](https://cloud.githubusercontent.com/assets/1119821/9411433/ed626910-47f3-11e5-8bc5-b23a7542efba.png)

[2015-08-21 15:06] xmatthewx commented on #462
Good? I'd call it great. Any lingering concerns?

Let's file an implementation ticket. I'm curious whether we can localize font choice.

[2015-08-21 15:08] xmatthewx commented on #504
see #580 for related bits

[2015-08-21 15:34] vazquez opened #581 "Implement Age Verification on Login"
![age verification annotations](https://cloud.githubusercontent.com/assets/1119821/9412211/7f264b56-47f8-11e5-852d-71ac236c8e33.png)

[2015-08-21 15:34] #446 closed, assigned to xmatthewx

[2015-08-21 15:48] xmatthewx opened #582 "Webmaker Ideation"
Over the next month, we will examine the use of Webmaker, discuss the lessons we learned while building it, and revisit the roadmap alongside the Mozilla Learning strategic plan.

Please comment freely below:
- outline topics to discuss
- link to interesting articles
- highlight products in the field
- ideate
  ... all in preparation for a sprint at the end of Sept

[2015-08-21 15:49] xmatthewx commented on #582
#### Topic: Iteration

Frequent and well informed iteration is a key ingredient to success for many digital products.
- How can we test, learn, and iterate more frequently and more easily?
  - How can we spend more time with users? (watch: [Tom Chi](https://air.mozilla.org/july-brantina-on-prototyping-with-tom-chi/))
- How can we increase experimentation and reduce the corresponding risk?

[2015-08-21 15:50] xmatthewx commented on #582
#### Topic: Social
- How does social foster participation online?
- How does it differ within learning spaces, answer forums, and social spaces?
- Learn about online communities: https://github.com/mozilla/webmaker-core/issues/579

[2015-08-21 15:51] xmatthewx commented on #582
#### Topic: Product as intervention

How can our tools help level up people's engagement with the web?

Laura's research includes a framework for thinking about users relationship to the web, a spectrum of engagement: No Use, Limited Use, Leverage, Creation. (I would add Advocates & Architects to that list -- that's us and our fellows.)

Her research also identifies the blockers and requirements f

[2015-08-21 15:51] xmatthewx commented on #582
#### Topic: Code

Among other web literacies, code knowledge unlocks a person's ability to understand the web and shape its future.
- Can code enhance Webmaker’s new platform for content discovery, making, and sharing? How? Why? What’s possible, probable, desirable?
- What does research show that works/fails in teaching code online?
- Who needs to learn it? Why?
- Can Webmaker provide mentor-like

[2015-08-21 15:51] xmatthewx commented on #582
#### Topic: Live the mission

As the org strives to elevate mentors, teachers, advocates, leaders, how can we emulate that in our own practice? How can we make time spent as a mentor or advocate more integral to our monthly work routine?

[2015-08-21 15:52] xmatthewx commented on #582
#### Topic: Offline to online

MoFo has a strong ground game with fellows, hives, Maker Party etc. How can Webmaker connect offline and online engagement? Are there opportunities at both ends of the engagement spectrum?

[2015-08-21 15:59] secretrobotron commented on #576
Keep trying in browser. It happened to me quite a bit yesterday while I was flipping through projects. Hard to reproduce all the time though.

[2015-08-21 16:06] secretrobotron commented on #462
@vazquez, can you drop the appropriate mock into each of those webmaker-launch tickets? Good to get review from those people since there are copy & paste errors sometimes (esp w/ Bangla).

_Done_

[2015-08-21 17:05] gvn commented on #512
Ok, so looking into this more here's what I'm thinking:

We can add extra data to the responses coming from ID with unique semantic error keys that can be correlated to localized strings within core (or whatever other consuming app). This would be a backwards compatible change.

EG:

`Boom.badRequest('An account exists for that email address')`

becomes:

`Boom.badRequest('An account exists for th

[2015-08-21 17:06] cadecairos commented on #512
:+1:

[2015-08-21 17:46] edrushka commented on #579
- [watsi](https://watsi.org/)

[2015-08-21 17:50] cassiemc commented on #579
I'd suggest whittling down the list and digging deep with one or two, @laurad, depending on your availability or how you plan to tackle this (are lots of people tackling?). Feel like the real value would be in having a shared conversation and understanding. Maybe we could even find a team local to wherever the next Webmaker and Teach team work weeks are to do a skillshare similar to the Fundraisin

[2015-08-21 17:53] lauradereynal commented on #579
Good point @cassiemc :+1:
For now Im just collecting ideas, so that we dont miss an important one. But I agree on few and deep rather than large and surface :)

[2015-08-21 19:13] vazquez opened #583 "Implement Discovery view FTU"
In an effort to reduce frustration when landing on the Discovery View, we are introducing a Discovery View FTU.
#### Notes & Requirements
- FTU should display once only, after used has created their account.
- Localization of this message is key. Let's talk about how we can achieve this. Should we load two new fonts (Sharpie font for English, Portuguese, Indonesian && Google Noto for Bengali)? Or

[2015-08-21 19:15] #462 closed, assigned to vazquez

[2015-08-21 19:49] vazquez commented on #575
Proposal to have the text show as:

`Make your own version of this - hit ‘Remix!’`

##### Rationale

My reasoning is that Remix is what truly is a barrier. Users don't understand what Remix is. The arrow is enough to give the user curiosity and, in the process, they can discover Share. Remix, however, requires a little bit more information.

##### Parameters
- FTU would appear on the users' 2nd pr

[2015-08-21 20:27] cadecairos commented on #512
@gvn so, the goal here is to detect the account exists error, and pass the credentials automatically to the login endpoint?

[2015-08-21 20:54] gvn commented on #512
I think so. Is that possible?

[2015-08-21 20:59] cadecairos commented on #512
I'm not too familiar with the code in core, but it should be as simple as making the same request the login activity does as soon as an "accountExistsForEmail" error is encountered

[2015-08-21 21:06] xmatthewx commented on #575
Great. Looks great. My comment above got fudged up, now fixed. Let's design a 2nd version of this for project editor that focuses on share.

[2015-08-21 21:09] xmatthewx commented on #583
Let's confirm that an ellipses makes sense in all languages.

[2015-08-21 21:15] satdav opened #584 "HTML error on Line 5, Column 45"
Element meta is missing one or more of the following attributes: http-equiv, itemprop, name, property.
was using http://achecker.ca/checker/index.php#output_div

this is on the website beta.webmaker.org

[2015-08-21 21:18] Pomax opened #585 "when should projects try to databasify their content?"
As I'm moving the offline behaviour up to the project level, rather than the page level, what are the points at which a project should demand there is a network connection, so it can sync its data with api.wmo?

One obvious moment that I'll be putting in right now is the switch from [project] view to [discover/make] view, but there are also other times that seem pertinent.
- [project] -> [any of t

[2015-08-21 21:36] xmatthewx commented on #585
Great questions.

`project` -> share and app switching seem particularly important.

Adding some thoughts. Probably raising more questions than answers.

Consider two ends of the spectrum
- User A has great network connection and makes a project with many pages and images.
- User B has very limited connectivity.

For User A, our current setup works great. User can go crazy in the page. We only hit

[2015-08-21 21:42] Pomax commented on #585
As a voice of reason: multiple app uses necessitate multiple syncing policies, so I'd like to make sure we don't just pick "one size fits all" if our user data shows we have more than one usage model =)

[2015-08-21 22:03] amirad commented on #579
Some others:
P2PU
Shopify
Medium
Edmodo
LinkedIn
Khan Academy
Coursera
BBC
Do Something
Good

[2015-08-21 22:32] gvn commented on #512
I think I'm gonna have to tackle this in a week when I return because I'm having a hard time getting `login` and `id` services running locally.

It's easy enough for me to add the `errorID`s, but I want to verify that it's all working together nicely.

I'm also seeing that some of the Boom methods already have `data` parameters, so not entirely sure how to make this consistent.

[2015-08-21 23:13] secretrobotron opened #586 "Transitions between linked pages broken if you act quickly (?)"
Not sure how to phrase this one properly. Can make the browser player act really jumpy and improperly though:
1. Check out https://beta.webmaker.org/#/project?user=452666&project=5218
2. Click on button on first page.
3. Click on button on second page.
4. Click on button on third page.
5. Quickly click on first page button again.

Eventually, this will cause some strange transitions for me — like

[2015-08-23 12:02] errietta commented on #453
https://github.com/mozilla/webmaker-browser/pull/219 is something that works, but is quite ugly..

[2015-08-24 12:49] adamlofting opened #588 "Add GA Event Tracking to Remix Events"
When possible, it would be great to add some further GA tracking into the Remix events:
https://github.com/mozilla/webmaker-core/blob/ddb949c4443e041ffcd9127de37d8e3b4cd2781d/src/pages/project/remix.js

This bug includes examples of similar GA events:
https://github.com/mozilla/webmaker-core/issues/564

[code]

[2015-08-24 12:52] lauradereynal commented on #573
- Why do people who create an account drop off afterwards ? If you took the trouble to create an email address and then don't bother making something or even opening a project ?
  This seems to indicate that people had a different idea about what they would find there.
  <img width="655" alt="screen shot 2015-08-24 at 13 42 04" src="https://cloud.githubusercontent.com/assets/8261945/9440300/f259eb

[2015-08-24 13:21] lauradereynal commented on #63
Hey @xmatthewx can this be moved from backlog to a milestone ?
That would be awesome

[2015-08-24 13:45] vazquez commented on #575
#### Project Editor Share FTU

##### Parameters
- Modal would show up after user has created their 2nd page with content. My rationale is that one would be more likely to share a project that has more than 1 page.

![tile map view ftu](https://cloud.githubusercontent.com/assets/1119821/9441250/e4b97596-4a42-11e5-8d41-b451fb9ffa30.png)

[2015-08-24 14:41] xmatthewx commented on #575
R+

[2015-08-24 14:43] xmatthewx commented on #63
I'll move it to 1.4 so we can discuss and weigh against other priorities.

[2015-08-24 14:50] vazquez commented on #583
We've reached out to community members. They have proofread this for grammar and general sense :+1:

[2015-08-24 15:10] xmatthewx commented on #582
Add thoughts, experience, links, topics, ideas, etcetera ... @flukeout @LauraReynal @simonwex @gvn @k88hudson @vazquez @Pomax @adamlofting @HPaulJohnson

[2015-08-24 15:48] adamlofting commented on #582
This is already on the roadmap and in the existing thinking, but just to keep it on the radar:

Re product as intervention:
- What keeps people coming back to a product? (assuming that the longer our relationship with our users the better we can teach, advocate, inlfluence them)
  - Why should I come back on day 1, day 7, day 30, day 90? And what will trigger this behaviour?
- Is the long term use

[2015-08-24 15:57] lauradereynal commented on #582
:+1: to @adamlofting we had a great conversation this morning about which feature would drive user retention and how this would affect the roadmap. we should look at this together

[2015-08-24 16:20] k88hudson commented on #554
Resolved

[2015-08-24 16:20] #554 closed, assigned to k88hudson

[2015-08-24 16:22] k88hudson commented on #559
@xmatthewx the issue i thought might be causing the issue is in fact already returning the right error message, so i'm unable to reproduce this. has anyone else been able to do so?

[2015-08-24 16:23] k88hudson commented on #33
@xmatthewx is this supposed to be in 1.4.0?

[2015-08-24 16:25] #504 closed, assigned to gvn

[2015-08-24 16:28] xmatthewx commented on #582
Definitely. What brings someone back to Webmaker beyond their initial need or desire? What specific features can be optimized to serve as hooks for return visits? (To clarify, I meant intervention by us to unblock users, not user intervention through participation in a campaign.)

Where can and should we intervene to help users reach the next plateau?

<img width="795" alt="screenshot 2015-08-24 1

[2015-08-24 16:30] lauradereynal opened #589 "Desktop view: ability to navigate with the keyboard arrows"
When looking at a project from your computer, the desire to navigate with your keyboard arrows is pretty strong. It would be great if possible to implement.

[2015-08-24 16:31] Pomax opened #590 "Add keyboard nav to project viewer in browser"
In the browser I am used to using my cursor keys for step-wise navigation (typically "prev" vs "next" navication, but sometimes omnidirectional), and it feels like our play mode is a perfect candidate for this, too.

cursor key -> nagivate one page in that direction, rather than clicking the dpad buttons. This should be relatively little work to add to the dpad, such that every time it renders a d

[2015-08-24 16:44] Pomax commented on #585
@jbuck had an idea of a queue, which gets cleared when possible - this probably leads to too much data being sent over (think image create + delete both syncing, leading to meaningless data transfer). However, we could think of some kind of rolling queue system, where actions are queued, and sent to the database at some "set moments". This feels like a proper architectural change that would requir

[2015-08-24 16:56] Pomax opened #591 "unify our two caching mechanisms"
we're using two mechanisms for caching atm,
1. mem storage (used for params, shared prefs)
2. java caching in the "java API" (used for caching data between view changes)

Having both is a little dev-unfriendly, so it'll be worth unifying these into a single caching solution.

[2015-08-24 16:56] xmatthewx commented on #585
As @pomax pointed out, this requires discussion and planning before we proceed. Current implementation is stable. We'll put the rest on hold for now.

[2015-08-24 17:04] xmatthewx opened #592 "Add `Feature Date` to DB for more control over projects in discover"
For a more lively Discover gallery while we build community, we need a bit more control over how we feature projects in discover.

`Feature date` - would allow us to elevate projects that took a long time to make and schedule others for a more steady flow in the gallery.

Let's discuss and then make a plan for implementation.

cc @cadecairos

[2015-08-24 17:10] xmatthewx commented on #589
Same thought: 60 seconds later: #590

[2015-08-24 17:10] #589 closed, assigned to nobody

[2015-08-24 17:16] Pomax opened #593 "project with page 0 deleted behaves rather curiously"
Relevant link:  https://beta.webmaker.org/#/project?user=472564&project=15873

Our code says that if someone deleted their first page, the "first page element in the pages[] array" should be used. However, it looks like this isn't quite working correctly.

On a normal browser view, the linked content does not appear to show at all, resizing the window to phone-display-sized does show it, but seemi

[2015-08-24 17:18] xmatthewx commented on #593
I wonder: does it fail regardless of whether a second page exists before the first page is deleted?

[2015-08-24 17:30] ryanwarsaw commented on #591
@Pomax Shouldn't this have the android tag?

Edit: I'd love to take this ticket.

[2015-08-24 17:34] xmatthewx opened #594 "Rename "Settings" to Project Details"

[2015-08-24 17:35] xmatthewx commented on #594
At least in the more actions menu

[2015-08-24 17:36] ryanwarsaw commented on #594
I'd love to take this, seems pretty straight forward.

[2015-08-24 17:46] xmatthewx commented on #573
@LauraReynal - the drop-off happens before the account creation. 50% success is pretty good. We have an issue filed to make sure that the 50% failure isn't because of sign-up bugs.

It looks like 80% of people who sign-up either view a project or create one. More than 90% of people who view a project continue on to view another project or create one.

[2015-08-24 17:48] xmatthewx commented on #594
thanks @ryanw-se! Don't worry about the header. I just hope to drive more people toward creating a title via the more actions menu.

[2015-08-24 17:57] secretrobotron opened #595 "Visual indicator for unlinked button in editor"
There are a lot of projects that have a button which is obviously supposed to link to a page, but maybe the user forgot to do so (they're usually titled the same).

Can we provide a visual indication that a button isn't linked? Otherwise, what's the point of a button?

[2015-08-24 17:57] secretrobotron commented on #595
cc @vazquez

[2015-08-24 18:01] xmatthewx commented on #595
Question: is this a problem for project viewers only because we need to improve things for project creators? If so, our move to reduce steps should help. When creating a button, @flukeout recommends we take users directly to select destination, before they place, label, or style their button.

Let's keep our eye on this.

[2015-08-24 19:18] vazquez commented on #582
#### Design

With an understanding that well-designed web content has the capacity to communicate overwhelmingly well, how can we push towards teaching design principles to our community? What design principles are the most important to convey to others? What do we need do to allow for people to create naturally beautiful content? Should we teach design alongside code?

[2015-08-24 19:59] xmatthewx commented on #582
Great addition @vazquez. I talked with @secretrobotron about finding ways to support users with interesting content to elevate their work even further. Would be great to find async and realtime ways to do this.

[2015-08-24 20:55] xmatthewx commented on #559
We didn't receive a follow up email. In fact, I can no longer find the original comment in google play. Let's assume it was resolved unless we hear otherwise.

[2015-08-24 20:55] #559 closed, assigned to xmatthewx

[2015-08-24 21:00] xmatthewx commented on #463
Closing this. Analytics don't show a significant portion of sessions leading to new projects.

[2015-08-24 21:00] #463 closed, assigned to vazquez

[2015-08-24 21:01] xmatthewx commented on #33
Moving this to the backlog. We're pursuing a new direction for FTU for share/remix (https://github.com/mozilla/webmaker-core/issues/575) and discover (https://github.com/mozilla/webmaker-core/issues/583).

[2015-08-24 21:52] Pomax commented on #591
it should (thanks @xmatthewx!) and if you want to tackle this one: have at it! I can't assign you (probably a permissions issue?) but consider it yours =)

[2015-08-24 22:44] ryanwarsaw commented on #591
@Pomax Yeah, you can't assign me to a ticket because I'm not apart of the organization, but there is a assigned to contributor tag I use to keep track of the tickets I'm assigned to and keep everything organized.

[2015-08-24 23:38] #540 closed, assigned to nobody

[2015-08-25 00:46] Pomax commented on #591
cool, in that case: have an assigned-to-contributor label, good sir!

[2015-08-25 17:09] ryanwarsaw opened #596 "More user friendly error messages when building the android app"
Apparently when you try to build the app, you need to run npm install first so the dest folder exists, but you really don't know to do that unless you experiment around with it, because the error doesn't reflect that, the error should be mitigated and replaced with a user friendly message instead.

[2015-08-25 17:09] xmatthewx commented on #593
@vazquez - can you do some QA to identify exactly when this bug does and does not emerge?

[2015-08-25 17:29] ryanwarsaw commented on #596
Mental note: You have to run `npm run build` at least once in order to successfully compile the app, I thought I fixed this in the build script but apparently not, I think it has to do with production vs staging builds, will need to investigate this further in the future.

[2015-08-25 17:48] vazquez commented on #593
Sure thing :)

[2015-08-25 17:54] #519 closed, assigned to vazquez

[2015-08-25 17:57] xmatthewx commented on #519
:dancer: :dancers:

[2015-08-25 18:34] secretrobotron opened #598 "Buttons are wrong size/position/font in browser"
I'm seeing a lot of larger-than-intended buttons in projects through desktop Chrome/Firefox. There is discrepancy between desktop and android there. Made a sample project to check it out:

Browser: https://beta.webmaker.org/#/project?user=454339&project=17959
Android: https://beta.webmaker.org/users/454339/projects/17959

[2015-08-25 18:45] Pomax commented on #593
there is no delete button unless there are more than 1 pages, so it would be hard to delete the first page before anything else exists

[2015-08-25 18:50] xmatthewx opened #599 "Implement new login/signup UI"
@vazquez - let's separate this from age verification. Add annotations here. No need to change mocks for age verification.

Note: on login view - let's add "username or email" to first field's label. Both currently work for login.

[2015-08-25 19:02] k88hudson opened #600 "Add new URL structure to sharing code"
We have a social-media friendly url for projects now (thanks @errietta!). We need to update the client in webmaker-core to point to this new url structure instead.

See https://github.com/mozilla/webmaker-browser/commit/bc7c94d59c5b73cefffc97d1813d04f71d89e863

[2015-08-25 19:04] Pomax commented on #593
it looks like the issue here is coordinate computation when the first page is missing, where it's using the wrong values to determine where the "center" is supposed to be.

[2015-08-25 19:06] Pomax commented on #593
3x3 arrangement works, and removing any of the 9 tiles preserves the center correctly

[2015-08-25 19:08] k88hudson opened #601 "Rewrite project urls in browser to be prettier"
Right now sharable urls look like this: `/?user=1&project=1#/project?user=1&project=1`

Ideally, we'd like to:
1. remove the duplication
2. redirect old-style urls from old clients (`/#/project?user=1&project=1`) to use the new style

[2015-08-25 19:09] vazquez commented on #593
Problem only occurs with straight horizontal or straight vertical page order. Removing the first page moves the whole project out of the viewport, rendering the project useless. Removing any of the other pages (2...n) is okay, and centering occurs normally.

[2015-08-25 19:11] vazquez commented on #593
The bug _definitely_ happens when deleting the 1st page in a horizontal or vertical arranged project.

[2015-08-25 19:18] vazquez commented on #593
Some images for reference:

![2015-08-25 14 46 12](https://cloud.githubusercontent.com/assets/1119821/9476765/795e5b54-4b3c-11e5-93d5-4041f967f0d3.png)

---

##### After deleting page 1:
- Page is not centred properly.
- In some cases, content disappears altogether.

![2015-08-25 14 05 56](https://cloud.githubusercontent.com/assets/1119821/9476764/795963ce-4b3c-11e5-92fc-0dbad331c209.png)

[2015-08-25 19:42] vazquez commented on #599
![new ui login annotations](https://cloud.githubusercontent.com/assets/1119821/9477356/e78da26c-4b3f-11e5-8b0c-85c37b5621ca.png)

[2015-08-25 19:42] vazquez commented on #599
@xmatthewx Am I missing anything above? :arrow_up:

[2015-08-25 20:01] xmatthewx commented on #599
Looks good. What's the height of the fields? Let's remove the side notes since they pertain to age gate.

[2015-08-25 20:02] xmatthewx commented on #599
Thanks for the speedy post. If you run out of design tasks, maybe you want to try your hand at building this?

[2015-08-25 20:04] xmatthewx commented on #600
yay! thanks @errietta!!

[2015-08-25 20:18] Pomax commented on #593
trying this on a nexus 5 doesn't actually show this weirdness it gets the camera position wrong when you delete a page, but not so wrong that your content disappears, and on play mode it actually picks the right page, centered.

Do we have any device information by any chance, and any STR that guaranteed make content jump to a wildly wrong spot?

[2015-08-25 20:50] xmatthewx commented on #594
@secretrobotron - I'd like to update the `Settings` to `Project details` in the more actions menu to make it more welcoming. Can we get this translated?

@ryanw-se - interested in learning about transifex?

[2015-08-25 21:00] vazquez commented on #593
My device is a Nexus 4 running Android 5.1. You're right, the wild jumps don't happen all the time. Let me see if I can come to some concrete steps to reproduce this. So far, it seems to happen out of the blue.

[2015-08-25 22:12] xmatthewx commented on #582
#### Topic: Impact

Mozilla Learning [strategic planning](https://wiki.mozilla.org/Learning/impact_howto) strives to identify clear statements of impact to guide our roadmaps. What is Webmaker's impact? Drop ideas below.

**Mozilla Learning impact**: Many more people understand and care about the internet.

A few ideas for Webmaker:

 _1_ More people create and share on the open web (regardless of

[2015-08-26 07:07] lauradereynal commented on #582
Regarding Impact :

1) and 6) seems the closest to reality for me. 2-5 are too big for what Webmaker is doing I think.

[2015-08-26 07:09] lauradereynal commented on #582
I <3 the design addition from @vazquez

@xmatthewx Im getting lost in the number of topics. How about we focus on 1 at a time ? Or reduce the scope ?

[2015-08-26 14:48] xmatthewx opened #602 "Switch from html5 routing to GET routing"
@errietta says:

migrated from https://github.com/mozilla/webmaker-browser/issues/220

[2015-08-26 15:05] secretrobotron commented on #595
:+1: good call. Would love to "measure" again after we land that.

[2015-08-26 15:30] vazquez commented on #599
I'm up for the challenge :guitar:

[2015-08-26 16:07] xmatthewx commented on #582
@LauraReynal - Definitely. I wanted a meta bug to help with planning. For let's dig into two:
- social/community #579 - let's see who's interested, and then schedule a conversation
- impact - we need to articulate how Webmaker connects with the Moz Learning strategy

[2015-08-26 16:41] k88hudson commented on #601
There are also larger concerns about:
- using hash-based urls v.s. real html5 push state
- what to include in the urls

It would definitely be cool if @errietta could implement this, but let's hold off on an implementation until we address some of this stuff

cc @ashleygwilliams

[2015-08-26 16:44] ashleygwilliams commented on #601
+1 this is related to our desire to implement shallow routes on api.. which obviate the need to include user_id in the route... so you could have something like `/projects/id` :)

[2015-08-26 17:57] xmatthewx commented on #601
Short and sweet URLs are great. Usernames, are more fun than IDs. In URLs, usernames hint at a layer of social, a feature we might explore this fall. `/ksmith/project/17`

There is one curious side effect of our current implementation: unshared projects have a layer of privacy. It's weak, but still hard to guess a project id and matching user. No opinion on that, just sayin'.

[2015-08-27 14:13] xmatthewx commented on #579
Pew published an interesting [report on mobile etiquette](http://www.pewinternet.org/2015/08/26/americans-views-on-mobile-etiquette/). In social settings (IRL), some people use their mobile to disengage or connect with people elsewhere. More activity, however, is to support the social gathering itself.

I'm curious how existing digital platforms support/disrupt this behavior. For example, Instagra

[2015-08-27 14:30] xmatthewx commented on #579
It'd be good to categorize the list of platforms, and then target a few representative examples. I wonder which ones succeed at small to medium scale, without an expectation or need to reach kabillions.

Meetup
Wordpress.org
We Heart It
Good Reads
Processing

[2015-08-27 16:02] xmatthewx commented on #579
Here's a looooong list the team made back in February: https://etherpad.mozilla.org/toolbenchmarks

[2015-08-27 17:41] vazquez opened #607 "Allow users to sign in with username or email"
As a follow-up ticket to #603, we want to allow users to sign in using their username or their email.

@k88hudson mentioned that we would need some logic to support this.

The `en-us.yaml` file already has the `username_email` key ready for use.

![sign in copy](https://cloud.githubusercontent.com/assets/1119821/9528187/4d321724-4cc1-11e5-9913-0b3a6adfce84.png)

[2015-08-27 17:48] #599 closed, assigned to vazquez

[2015-08-27 17:49] vazquez commented on #599
![giphy 10 12 38 am](https://cloud.githubusercontent.com/assets/1119821/9528422/5f5f5a96-4cc2-11e5-96d3-49006986c980.gif)

[2015-08-27 17:49] vazquez commented on #599
Follow-up ticket #607 to allow users to sign-in with username or email.

[2015-08-27 17:53] xmatthewx commented on #607
I have tested login using email rather than username on the app. It worked. I believe we added this a month or so ago, but the form label was not updated. @vazquez - give it a try to confirm.

[2015-08-27 18:11] vazquez commented on #607
Confirmed! You are able to sign in with username or email already.

[2015-08-27 18:12] k88hudson commented on #607
Oops! sorry about that @vazquez

[2015-08-27 18:14] vazquez commented on #607
No worries at all Kate! Easy fix :)

[2015-08-27 18:15] #607 closed, assigned to vazquez

[2015-08-27 19:17] k88hudson commented on #543
Resolved by https://github.com/k88hudson/webmaker-core/commit/f0673a1119ad9156311ccdc28d26685b40e5ee37

[2015-08-27 19:17] #543 closed, assigned to k88hudson

[2015-08-27 20:40] xmatthewx commented on #575
@vazquez - ready for translation and annotation?

[2015-08-27 20:43] vazquez commented on #575
I want to wait until we do Tech Review on the other FTU issue (#583) to see what approach we're going to take (load image per locale or load 2 new font familiies and custom position)

[2015-08-27 20:50] cassiemc commented on #33
Perhaps a useful resource. http://emptystat.es/

[2015-08-27 20:52] xmatthewx commented on #572
tracking in #592

[2015-08-27 20:52] #572 closed, assigned to secretrobotron

[2015-08-28 15:40] xmatthewx commented on #453
Looks like this is merged. Can we close this? Any related issues to file?

[2015-08-28 15:52] ryanwarsaw commented on #591
I opened a PR that migrates gets rid of the old cache and migrates to the new one, with the old API calls. I'll work over the weekend on moving these API calls to the new setup and then eventually remove the old ones once it has landed.

[2015-08-28 16:54] xmatthewx commented on #591
Let's make a QA checklist for testing this on device.

[2015-08-28 17:59] xmatthewx opened #609 "Track project views"
Currently, we only have an Event for projects viewed in the browser. The event shows the api url with no title or referral, making analysis difficult. Also, we should add tracking to views with the app (via Discover and via author Play action).

cc @adamlofting @secretrobotron

[2015-08-28 18:09] xmatthewx commented on #586
Just saw something interesting:
1. photo of a cat has a button
2. i click button
3. cat page animates to the left
4. new page with button animates in to the center
5. i quickly click the button
6. browser thinks the cat is still in the center. applies click on that target. >>> I saw the image float for a split second as if I started to drag it across the page. It seems like the animation rendering

[2015-08-28 18:16] flukeout opened #610 "Browser player - Button only works after second click."
Steps to reproduce:
- Open this project https://beta.webmaker.org/#/project?user=476627&project=18490
- Click **Start** to navigate to the adjacent page
- Navigate back to the previous page with the left arrow icon
- Click **Start**
  - Nothing happens
- Click **Start** again
  - The button works as expected

[2015-08-28 18:18] flukeout opened #611 "Buttons should look super super chill"
When the button is white, it loses the top edge bevel, which makes it look flat
![image](https://cloud.githubusercontent.com/assets/25212/9553812/64eb25f8-4d76-11e5-9683-067d4eaa4f87.png)

@vazquez What do you think? We can...
- Leave as is
- Instead of a white highlight at top we add a slight darker shadow on the bottom (which would work on every color except on totally black buttons)
  - Add thi

[2015-08-28 18:21] xmatthewx commented on #610
I see this problem, but only if my two clicks are less than a second apart. I bet this is an animation start end timing problem.

I'm going to close this but add a note from https://github.com/mozilla/webmaker-core/issues/586 to here.

[2015-08-28 18:21] #610 closed, assigned to nobody

[2015-08-28 18:22] xmatthewx commented on #586
I think it's a animation start end timing thing. If clicks are less than a second apart, they don't work. See:
https://github.com/mozilla/webmaker-core/issues/610

[2015-08-28 18:26] xmatthewx commented on #601
@flukeout would like to share a URL that points to a specific page. Something like /ksmith/clouds#page3 or /ksmith/clouds/page3

Not a critical feature, but something to consider as you revamp this.

[2015-08-28 19:01] errietta commented on #453
yes it's fine to close

[2015-08-28 19:01] #453 closed, assigned to errietta

[2015-08-28 19:05] xmatthewx commented on #453
@k88hudson might have one follow up ticket

[2015-08-28 19:54] k88hudson commented on #600
My bad! this was already done a while ago :stuck_out_tongue_winking_eye:

[2015-08-28 19:54] #600 closed, assigned to errietta

[2015-08-28 20:03] k88hudson commented on #453
@xmatthewx i was wrong, we're all good!

[2015-08-28 20:10] xmatthewx commented on #453
Yay. Thanks @errietta. Excited to see this put to use! :rocket:

[2015-08-28 20:10] errietta commented on #453
:grinning:

[2015-08-28 23:25] flukeout commented on #601
I'd like to be able to link to a specific page of a project when sharing a link from the browser player. Could we keep track of the current page in the address bar when viewing? Then I can share that link with someone and they would start on that page.

[2015-08-31 14:59] vazquez commented on #611
I vote for not allowing white as a button color. Having different shadows for different buttons can lead to confusion.

[2015-08-31 16:02] xmatthewx opened #612 "Add "Flag as inappropriate""
We should add a "flag as inappropriate" to the project viewer in Android's more action menu. We'll need to add this to API.

[2015-08-31 19:09] k88hudson opened #614 "use DefinePlugin for configuration"
This seems like a much better way to inject configuration to our builds: https://github.com/webpack/docs/wiki/list-of-plugins#defineplugin

[2015-08-31 19:42] k88hudson commented on #565
Done!

[2015-08-31 19:42] #565 closed, assigned to k88hudson

[2015-08-31 20:02] gvn commented on #601
+1 on moving to pushstate (aka: getting rid of the hash/query/etc. aka: pretty URLs).

However, that's not a trivial thing to do so we should plan accordingly. :dancers:

[2015-08-31 20:39] xmatthewx commented on #609
Nice to have: a count of "page" views within a project.

[2015-08-31 20:45] xmatthewx opened #615 "Add color selector for button label text"
When users create a link button, allow them to select the text color in addition to the background color. (Currently, color is auto set to black or white. It's buggy)

[2015-08-31 20:46] xmatthewx commented on #224
refiling as https://github.com/mozilla/webmaker-core/issues/615 because this issue is a mess.

[2015-08-31 20:46] #224 closed, assigned to nobody

[2015-08-31 20:49] xmatthewx commented on #557
Does this error come from the frontend or api?

[2015-08-31 20:58] xmatthewx commented on #576
I'd wager this is related to #586

[2015-08-31 22:01] gvn commented on #583
This looks do-able from an engineering perspective. :+1:

[2015-08-31 22:21] xmatthewx opened #616 "Dark UI -> Browser"
Dark UI landed in Android, but I'm not seeing it in browser viewer. Maybe this landed on staging and needs a nudge to production? cc @gvn @k88hudson

[2015-08-31 22:28] xmatthewx opened #617 "Update docs with Beta test link"
People can now become a Beta tester via google Play, without needing to download an APK. Let's add this link to the docs. https://play.google.com/apps/testing/org.mozilla.webmaker

[2015-08-31 22:43] xmatthewx commented on #53
@vazquez - let's revisit this, considering https://github.com/mozilla/webmaker-core/issues/567. I'm wondering if the order of events should be:
- tap add link
- see modal for context
- choose Page or URL
- set destination

While a like the tinker bolt on the set destination view, we can make this more clear.

[2015-08-31 23:57] k88hudson commented on #616
Ah, sorry! You're right. I will push that when I get home 

— K

On Mon, Aug 31, 2015 at 6:21 PM, matthew w notifications@github.com
wrote:

[2015-08-31 23:59] xmatthewx commented on #616
Tomorrow morning is fine. Yer the best!

[2015-09-01 00:49] k88hudson commented on #616
All done!

[2015-09-01 00:49] #616 closed, assigned to k88hudson

[2015-09-01 13:07] adamlofting commented on #609
:+1:

Though I need to give some thought to tracking pageviews within pageviews. It's GA Inception :cyclone:

[2015-09-01 14:51] xmatthewx opened #618 "Documenting Mozfest with Webmaker"
Spoke with @chadsansing. We're both excited about Webmaker as a tool for Mozfest.

It'd be great to prepare two things:
- an activity that encourages participants to document their experience
- a few recommendations for how a facilitator might leverage Webmaker within their session

cc @amirad @secretrobotron @LauraReynal @thornet @omnignorant @vazquez

[2015-09-01 15:10] xmatthewx commented on #609
Everywhere we turn, we create new forms of inception. We can't escape it.

A simple count of sub-page views would be sufficient. There's chatter about giving these a path, but currently they aren't reflected in the URL.

[2015-09-01 15:29] ryanwarsaw commented on #618
:+1: excited to see what will come out of this!

[2015-09-01 15:34] k88hudson opened #619 "Android crash report: play store"
This seems to be popping up every so often since 1.2.0 (very unfrequently):

[code]

[2015-09-01 16:21] gvn commented on #583
@vazquez If this is ready to build can you point me to the Sketch file?

[2015-09-01 16:28] gvn commented on #370
We're still not tagging core, but locking to a commit hash seems to be working for `browser`.

[2015-09-01 16:28] #370 closed, assigned to nobody

[2015-09-01 16:35] vazquez commented on #583
Definitely! Sorry for nor sharing earlier.

https://drive.google.com/a/mozilla.com/file/d/0ByIoeeW0a3R_bFJXa242RllFQ0U/view?usp=sharing

[2015-09-01 16:36] vazquez commented on #583
Sharpie font available here: https://www.dropbox.com/s/z69u1p7q1i1syq4/Lamson-Sharpie.ttf?dl=0

[2015-09-01 16:37] vazquez commented on #583
Gogle Noto font available here: http://www.google.com/get/noto/#sans-beng

[2015-09-01 17:51] gvn opened #620 "Enable easier bug reporting for end users"
We should set up a way for people to report bugs from the app, even if it's just an email link.

[2015-09-01 18:48] xmatthewx commented on #620
:+1:

@vazquez - let's identify the best place to put a `Help` link to help@ email address.

[2015-09-01 20:27] Timboliu commented on #582
In the current situation WebMaker focuses on creating content like pages, images, etc. Does WebMaker consider the possibility to make applications? I think this would fit great in learning about the web.

[2015-09-02 00:03] #617 closed, assigned to gvn

[2015-09-02 00:38] gvn commented on #429
Looks like we need to switch over to [ESLint](http://eslint.org/). JSXHint is now [deprecated](https://github.com/STRML/JSXHint#deprecated).

[2015-09-02 12:36] vazquez opened #624 "Placeholders in login are off center"
Something Android-y happened that is causing the placeholder fields to be unaligned vertically.

![2015-09-02 08 27 31](https://cloud.githubusercontent.com/assets/1119821/9631256/b1023c58-514d-11e5-9251-8436170b28f3.png)

[2015-09-02 12:56] vazquez commented on #624
I realized that the culprit was me developing on Firefox, hehe :grin:

Android is webkit, and as such they use `::input-placeholder` instead of `placeholder`, which moz uses.

@k88hudson Should I bother keeping both declarations? Or is `::input-placeholder` enough since that is all we need?

[2015-09-02 13:00] vazquez commented on #624
Nevermind, answered my own question :+1:

[2015-09-02 13:05] k88hudson commented on #624
:+1:

[2015-09-02 13:27] vazquez commented on #620
#### 3 Options

---

##### 1. Show it in Profile

This is the top-most hierarchy in the app. No one will miss it this way.

![make view beta copy](https://cloud.githubusercontent.com/assets/1119821/9632307/67fba93e-5154-11e5-90f3-15124f19567e.png)

---

##### 2. Show it in Project Editing More Actions

My assumption is that people editing might have more questions than people viewing. Regardless,

[2015-09-02 17:10] secretrobotron opened #626 "Remixing a project you own won't save properly"
I've been trying to remix and edit a project I made. None of my changes seem to make it to the DB, and they're sometimes 50% reflected on my device. I can add and delete pages, but not edit existing ones.

[2015-09-02 21:15] cassiemc commented on #620
"Give feedback" seems different from 'get help'

[2015-09-02 21:33] lauradereynal commented on #620
ccing myself as per discussion with Ricardo
1. Get help on whatever you need ==> Desk.com
2. File bugs ==> This is very "Mozilla" I never saw that on other products
3. Give general feedback ==> prompted questions from us such as a survey or else.

I think @gvn referred to 2. No ?

@secretrobotron what do you think  ?

[2015-09-02 21:34] vazquez commented on #620
Notes from critique:
- Get Help vs Give Feedback
  - They are mutually exclusive, should we have both?
  - "How can we help?" "Give us feedback"
- Even though we have Google Play Store for feedback, maybe the user wants their feedback to be private. It is still worth it to place a feedback AND help link on the app.
- On a more general note, it would be great to follow the steps of Wordpress, Fresh

[2015-09-03 08:56] lauradereynal opened #627 "create new feedback survey"
Goal: Create a new survey for Webmaker.
When: Due for Thursday 10th September

Things we want to learn:
- How did you discover Webmaker (multiple choice)
- What did you think you could do with it ?
- What did you make on Webmaker ?
- How would you rate your experience in general ? 1 to 10 (1 is lowest 10 is best)
- Can you explain your choice ?
- Do you think you will use Webmaker again ?
- If yes

[2015-09-03 08:58] lauradereynal commented on #627
@xmatthewx @HPaulJohnson

Is it possible to add the survey in the play store?
Maybe we could add it in our responses for anyone who leaves comments and reviews on the playstore.

I'd love to have non-mozillians answering it, and for now, it's been a lot of community members because of the way we promoted this survey on Twitter etc.

[2015-09-03 14:58] vazquez opened #628 "Idea - Discovery on Desktop"
Maybe desktop is where social really comes to life. Users could talk about the content on the page, and also discover more projects.

Following is an exploration of how we could show discovery and comments in a Desktop environment. This is meant to help guide and inspire conversation. Take the following design as a mockup that shows what could happen, not a document showing how it should happen.

[2015-09-03 14:58] vazquez commented on #628
cc @xmatthewx

[2015-09-03 15:09] vazquez commented on #63
Posting more updated UI to get the discussion rolling.

![screenshot 2015-09-03 11 08 29](https://cloud.githubusercontent.com/assets/1119821/9662137/2e3f4ae2-522c-11e5-8c39-064d4d63e530.png)

[2015-09-03 15:23] lauradereynal commented on #63
:+1: Thanks @vazquez Love it

[2015-09-03 15:52] gvn commented on #620
Sorry, "bug reporting" is **very** dev-centric language. What I mean is an easy way for users to give feedback (something that would probably _become_ a bug on GitHub).

Right now it seems like we are depending on users giving negative reviews instead of reaching out directly, which is obviously not ideal!

[2015-09-03 16:48] vazquez opened #629 "How many fonts are we loading?"
Once we move to Desktop, font weight is going to matter. Let's be proactive and audit the number of fonts we are using, and if we really need all of them.

[2015-09-03 16:49] vazquez commented on #53
A more refined UX based on @xmatthewx's comment.

![set link destination refined ux](https://cloud.githubusercontent.com/assets/1119821/9664815/33a347d2-523a-11e5-9b8b-673bce30e59d.png)

[2015-09-03 17:02] vazquez opened #630 "Implement Play View Remix FTU"
#### Parameters
- FTU will appear on the users' 2nd project lifetime view. I think the first Project view experience they have should just focus on the content, not on the UI. In their 2nd project view, they will have context of what viewing a project is about – we can introduce Remix then.
#### Design

![play page remix ftu](https://cloud.githubusercontent.com/assets/1119821/9417618/c41cb65a-481b

[2015-09-03 17:02] vazquez opened #631 "Implement Project Editor Share FTU"
#### Parameters
- Modal will show up after user has created their 2nd page with content. My rationale is that one would be more likely to share a project that has more than 1 page.
#### Design

![tile map view ftu](https://cloud.githubusercontent.com/assets/1119821/9441250/e4b97596-4a42-11e5-8d41-b451fb9ffa30.png)
##### Text String

`Share this project with anyone!`
##### Asset

Asset available: h

[2015-09-03 17:03] #575 closed, assigned to vazquez

[2015-09-03 17:04] vazquez commented on #575
Created implementation tickets #630 and #631

[2015-09-03 17:12] secretrobotron commented on #620
:+1: to streamlining path to support tickets. Great to have more of those.

That's a cool idea too, @LauraReynal. Because users are on a phone, maybe we have a small FAQ with button that says, "no, i have a real unanswered question", which creates a support ticket through desk.

[2015-09-03 19:01] gvn commented on #583
@vazquez Where did the Sharpie font come from? We'll need the other formats of it and be sure that it's licensed for embedding... :pencil2:

[2015-09-03 19:09] vazquez commented on #583
@gvn Ah my bad. This is the whole folder with all the fonts and webfont specifications.

https://dl.dropboxusercontent.com/u/43783651/Lamson-Sharpie-Typeface.zip

The zip file contains the following formats:
- EOT
- OTF
- TTF
- SVG
- WOFF

[2015-09-03 19:17] gvn commented on #583
Perfect, thanks!

[2015-09-03 19:31] xmatthewx commented on #628
This design is an idea, an artifact to help inform discussion about future research and features. Changed the issue's title to clarify. Thanks @vazquez!

[2015-09-03 19:43] xmatthewx commented on #53
Great. The modal should offer a page in _this_ project first. Let's leave off "another project" until we're ready to implement that. New copy:

[2015-09-03 20:10] xmatthewx commented on #582
@Timboliu thanks for the feedback. An earlier prototype of Webmaker explored applications, but we found the complexity didn't match well with the needs we found in our research.

[2015-09-04 09:34] Timboliu commented on #582
@xmatthewx Thanks for your reply. Do you have more information about that research? I'm curious how this research was conducted.

[2015-09-04 12:46] lauradereynal opened #632 "Setting a destination for the button is confusing"
The process to set a destination is confusing to users.
- Click on add a button
- Click on select a destination
- you will see your project zommed out, and one icon supposed to mean "you are here"
  ==> users can confuse this icon with the destination itself and so they dont understand why the link is already selected.

Proposition:
- add a small text that says "You are here" or something like "de

[2015-09-04 12:48] lauradereynal opened #633 "Consider ways to explore project in discovery and beyond"
Feedback from participants yesterday:
" we should be able to search for content in the discover page"

[2015-09-04 12:49] lauradereynal opened #634 "Remove style guides and share preferences"
In your profile you can see the github styles guides today.
cc @gvn @k88hudson

[2015-09-04 12:55] ryanwarsaw commented on #634
@LauraReynal Was this in the nightly or release version? Its due to the BuildConfig debug flag being true on a production release, it typically has to be set to false to disable these features.

[2015-09-04 13:08] vazquez commented on #632
Great feedback @LauraReynal :hand:

A design is coming very soon!

[2015-09-04 13:29] xmatthewx commented on #632
I agree with the problem, and... let's explore other solutions. I'd like to avoid strings we need to translate if possible. How else could we mark the origin? Grayed out? Arrows emanating from the center?

[2015-09-04 13:30] xmatthewx commented on #634
@ryanw-se - it landed in the play store release. cc @k88hudson

[2015-09-04 13:35] xmatthewx commented on #633
There are a range of solutions that would help users find more interesting projects. We need to generate a long list and then evaluate the time to build vs. the benefit to the user.

A few examples, good and bad:
- free search
- hashtag links
- filter by category
- profile project lists
- random gallery shuffle
- infinite scroll
-

[2015-09-04 14:21] xmatthewx commented on #627
Yes. We could put it at the bottom of the description. You'd get a very particular slice of traffic opting-in. Is that useful to you?

[2015-09-04 15:14] vazquez commented on #632
I think the quickest solution would be to reduce opacity and add a white layer on top of the origin page.

![screenshot 2015-09-04 11 12 38](https://cloud.githubusercontent.com/assets/1119821/9687181/f2f68520-52f5-11e5-9cf6-268e9c6ac45d.png)

More complex idea:
- If the user taps on origin page, we disclose a tooltip educating the user

[2015-09-04 17:58] xmatthewx commented on #620
This is great.
- Highly visible button  ~~next to~~ above log-out :+1:
- Button labeled "Need Help?" or "Questions? Feedback?" :+1:
- Loads a simple FAQ page :+1:
- FAQ page includes email link with CTA: Other Questions? Feedback? Problems? :+1:
- Email goes to desk for triage :+1:
- We reply to user and maybe file bug in github :+1:

[2015-09-05 16:19] lauradereynal opened #636 "When editing text double tapping is very slow"
To reproduce
- add text
- click on the paint brush
- To edit your text you can either tap on the text itself or click on the button called "edit text"

If you choose to tap on the text, which many users do, the app seems to be unresponsive and takes forever to show the options to edit.
Which is then frustrating for the user, who will end up tapping everywhere and the app will only get slower.

[2015-09-05 16:28] lauradereynal opened #637 "Position of 3 elements moves when you leave the page"
Steps to reproduce:
- add a page  (A)
- add a button, image, text
- edit them
- change page (B) and make something else
- Return to page A: all the elements have moved into random position

@Saallen

[2015-09-05 16:29] lauradereynal opened #638 "Webmaker is generally quite slow and buggy"
This is not a specific bug, but a general comment on performance. We just did an event with kids today, and the app is quite slow and buggy.

For example, I spent 20 min making a very simple quiz with a 12 years old.
- Pages disapeared a few times. They only reappeared  when exiting and re opening the app.
- After editing a link destination, there was a bug, when 5 minutes later we were editing te

[2015-09-05 16:51] lauradereynal opened #639 "Implement double tap to edit"
Most people double tap on something to edit it, they do not see the paintbrush or the pencil.
I think this could be related to the position of the icon (at the very bottom).

I propose we wait to see if FTU changes this behavior, but if it does not, we should think about implementing double tap to edit.

@vazquez @gvn @k88hudson @xmatthewx

[2015-09-05 17:42] ryanwarsaw commented on #638
As for the performance perspective, I think it will require an initiative by all of the engineers to evaluate the core architectural concepts we are using currently and determine area's where we can improve. Of course we will always have limitations due to our architectural decisions for Android (Java/JS bridge).

However, I feel there are steps that can and will be taken to at least mitigate thes

[2015-09-08 14:05] vazquez opened #640 "Enhancing Discover and sense of activity"
Elemental enhancements are those small changes made to a product that may change the way a user understands or uses the app, and thereby gives us information about that change.

These enhancements should be small design and development tasks. With analytics, we can test if these changes have been positive.

These are some ideas:
- Add a "New" label to projects that have been recently featured
- Ad

[2015-09-08 14:05] vazquez commented on #640
cc @xmatthewx

[2015-09-08 14:34] vazquez commented on #620
As per my conversation with @xmatthewx

The string `Need help` is enough of an invitation for feedback. Users are already utilizing Google Play and `help@webmaker.org` to leave feedback and ask for help.

For first iteration, a single button that initiates an email to `help@webmaker.org` will be sufficient. Further iterations may include the simple FAQ page.

[2015-09-08 14:39] vazquez commented on #632
R+ from @xmatthewx. Creating implementation ticket.

[2015-09-08 14:51] xmatthewx commented on #640
Can we define the problem better? For example, there isn't a strong sense of activity ... what are elemental interventions that could change that?

I'm intrigued with notifications. A full-fledged system would require a big lift, but maybe there a small tests we can run in the make view, like view count like you mention. Another: If a project is featured in discover, can we mark it as such in the

[2015-09-08 15:06] gvn commented on #639
+1

[2015-09-08 15:14] ryanwarsaw commented on #620
I feel like we should focus on streamlining the process with a form or something that is easy to access, doesn't require remembering (or copying) a email address and allows us to specify information to be provided in the help request.

If we have a form, we can also collect information such as the device type, the version of the app, identify any crash reports sent by the user to GA, etc. I'm a bi

[2015-09-08 15:24] ryanwarsaw commented on #640
Another idea I'd like to emphasis, is having time stamps. Time stamps for when I created the project, when it was featured, etc. You'd be surprised how helpful things like that can be, especially if you are trying to determine a tutorial/guides relevancy in comparison to the latest technology.

TLDR; Lets say I'm using Webmaker to learn how to use Blender (3D modelling tool), I find a guide on Web

[2015-09-08 15:26] ryanwarsaw commented on #640
I like the idea of counting views, not sure if I'm a big fan of alerting users for hitting milestones. I think it would definitely be cool if we alerted users when their project hit the discovery page, however. It would be neat if we modified the projects settings tab to include analytics for their project, total view count, some neat graphs showing the demographics, etc.

[2015-09-08 15:28] #632 closed, assigned to vazquez

[2015-09-08 15:30] ryanwarsaw commented on #640
As for displaying the project title in the header, I am working towards this, but its definitely a challenge and will require a bit of work. Currently, we are drawing and building the header in Android natively, so we'd have to add some new methods in the JS bridge for setting the header. Which comes with its own set of unique challenges as well.

[2015-09-08 15:31] vazquez opened #641 "Implement improvement on Set Destination"
As per feedback that we've received through Laura's research (#632), the process to set a destination is confusing to users.

We have improved the UI with a small change.

![set destination annotations](https://cloud.githubusercontent.com/assets/1119821/9739273/f9d7bf38-561c-11e5-902b-a8ef94a9197d.png)

[2015-09-08 15:41] vazquez commented on #53
Final R? @xmatthewx. Ready for implementation ticket?

![set link destination refined ux](https://cloud.githubusercontent.com/assets/1119821/9739598/8b9e5bd8-561e-11e5-8aec-c008fae67b68.png)

[2015-09-08 15:51] xmatthewx commented on #53
R+

This should be implemented in tandem with the reduce steps https://github.com/mozilla/webmaker-core/issues/567 ticket. Let's file a new ticket and flag @k88hudson.

[2015-09-08 15:55] xmatthewx commented on #620
I hear your concerns @ryanw-se. Implementing with a mailto link is the quickest path to connect users with our support Desk account. We can iterate later based on what that minimal solution teaches us.

[2015-09-08 16:01] gvn opened #642 "Add FTU query method to JS bridge"
Assignee: @ryanw-se
Related to: #621

We need a method exposed in Platform that can query the Android wrapper to see if it's a user's first time using the app.

Something like: `Platform.getFirstTimeUse()` which could just return a boolean value.

[2015-09-08 16:25] gvn commented on #586
Yeah, I'm pretty sure we're going to have to prevent clicks during transitions to solve this. I'll take a look.

[2015-09-08 16:35] secretrobotron commented on #586
@gvn alternatively, jump to end of transition?

[2015-09-08 16:36] gvn commented on #586
Well, you kind of already are "jumping"...it's just a matter of letting things finish.

[2015-09-08 16:38] vazquez opened #643 "Reduce steps to link a page"
Scenario: User adds a button to the page, and edits the button element.

UX below reduces the steps, going directly to the modal, where the user can choose the type of link. After setting a destination, user proceeds to element editor.

![set link destination refined ux](https://cloud.githubusercontent.com/assets/1119821/9740953/7a9a1e60-5625-11e5-968e-6865b35939e1.png)

Notes:
- Modal copy has ch

[2015-09-08 16:39] vazquez commented on #53
Created new ticket (#643), flagged @k88hudson.

[2015-09-08 16:39] #53 closed, assigned to nobody

[2015-09-08 17:27] secretrobotron commented on #638
Thanks for the ideas, @ryanw-se. Should definitely discuss w/ the rest of the team.

@LauraReynal do you remember which devices they were using (even vaguely)?

[2015-09-08 17:41] lauradereynal commented on #638
The bugs described above when we were making something with the 12 years old learner was a Nexus 5
Other people used a Galaxy but I did not mentor that closely and I'm not able to describe with details

[2015-09-08 18:10] vazquez commented on #620
R? @xmatthewx

![make view beta copy](https://cloud.githubusercontent.com/assets/1119821/9743265/610bde12-5633-11e5-8afd-1d98c858ae95.png)

[2015-09-08 18:12] secretrobotron opened #644 "Spike in crashes last week"
Between Sept 2 and Sept 6 there were 110 crashes on version 1.2 and 197 crashes on version 1.3.

212 of those crashes were reported as `RuntimeException (@WebmakerWebView:<init>:22) {main}`

This is the trace from google play:

[code]

To me, the important part there is `Caused by: java.lang.RuntimeException: java.lang.RuntimeException: Use SharedXWalkView if you want to support shared mode`.

And

[2015-09-08 18:17] vazquez commented on #640
Other thoughts: Process of getting something featured is weird. As soon as you make something, it's considered published. Should we switch that mental model?

[2015-09-08 18:28] vazquez opened #645 "Small browser-based viewer improvements"
**On Desktop Player**
- The navigation arrow tap/click areas need to be bigger to accommodate for easier interaction between pages
- Add a hover state to the navigation arrows (maybe a little back and forth nudge in the direction the view will move)
  - Also add a `title` attribute to explain the effect of clicking them
- Make it so you can navigate to adjacent pages by tapping them
- ~~Make it so

[2015-09-08 19:34] xmatthewx opened #646 "Implement link to a URL"
When users adds a link, a modal appears with the choice of destination: page or URL. If they choose URL, these see the settings view below.

![set link destination refined ux](https://cloud.githubusercontent.com/assets/1119821/9740953/7a9a1e60-5625-11e5-968e-6865b35939e1.png)

![button link to web](https://cloud.githubusercontent.com/assets/1119821/7638033/134831c0-fa40-11e4-9201-c8f613187e8e.png)

[2015-09-08 19:37] ryanwarsaw commented on #646
I'm glad to see this is getting worked on, It'd be cool to see a warning pop-up of some kind when clicking a button that goes to an external URL. Having external URLs is a great thing, but it could be abused, possibly even maliciously, so we should warn people before clicking external links.

[2015-09-08 19:41] xmatthewx commented on #643
Note: modal appears when user first adds a new link or taps 'set destination' from element editor.

Note: task to add URLs as destination is filed separately #646

actions:
- tap add new link -> modal appears
- tap edit destination in element editor -> modal appears
- tap Page option in modal -> Page selector
- tap back in Page selector -> element editor
- tap back while viewing modal -> dismiss m

[2015-09-08 19:44] ryanwarsaw commented on #360
TLDR; Need a new method in the JS interface that sends the platform type, so messages and behavior can be changed accordingly.

[2015-09-08 19:45] vazquez commented on #646
@xmatthewx The flows are correct :+1:

[2015-09-08 19:50] vazquez commented on #646
@ryanw-se It would be a good idea to do that once we have information as to how people use URLs in the context of Webmaker.

[2015-09-08 19:52] xmatthewx commented on #583
@gvn - is it worth giving an ID to each FTU experience and then tracking what's been seen by a user in the DB? We could add other prompts in the future. cc @k88hudson

[2015-09-08 19:54] gvn commented on #583
I think that's a great idea if we don't already have analytics that cover the various events that trigger FTU.

[2015-09-08 20:31] gvn commented on #406
Travis is now in place...

[2015-09-08 20:31] #406 closed, assigned to gvn

[2015-09-09 17:22] vazquez commented on #640
#### Problem

There is no sense of activity in Webmaker app.

#### Why?

Users are not connected to each other. It seems like they are creating pages for themselves, when they really are creating content for a whole community.

#### What are the Webmaker social features already implemented?
- Remixing is a highly social feature, and one that Webmaker uses well.
- Discover Gallery is another social

[2015-09-09 19:47] xmatthewx commented on #284
This is done.

[2015-09-09 19:47] #284 closed, assigned to nobody

[2015-09-09 22:48] xmatthewx opened #649 "Add a hashtag to shares"
This could help us track social activity better on FB etc. cc @secretrobotron

[2015-09-10 11:08] lauradereynal commented on #634
Update ?

Im with a user right now and it's still here and confused her

[2015-09-10 12:39] lauradereynal opened #650 "implement the ability to move pages around"
I am sitting with a user right now.

**Her challenge**: wants to move a bunch of content to another page

_"I made a collage on this page, and I hoped that I would be able to move it to the next page, to organize myself, but I can't. There should be the possibility of moving many items at the same time, or moving a whole page somewhere else."_

_"Moving things around and organizing your clusters i

[2015-09-10 12:42] lauradereynal commented on #637
@gvn @xmatthewx

[2015-09-10 12:43] lauradereynal commented on #634
She thought it was the place for her to write longer texts and have more complex edits

[2015-09-10 12:45] vazquez commented on #650
Just to clarify, do you mean move pages around or move objects within the page to another page?

[2015-09-10 12:45] lauradereynal opened #651 "Add "keep private" to enable drafts of longterm projects"
From a user :
- I am working on it, but for now I havent published it. *

It's hard to understand what is public and what is not. I felt embarrassed that she thought her project was private, but it could have been featured in the gallery before she was ready.

@vazquez @xmatthewx

[2015-09-10 12:46] lauradereynal commented on #650
At the beginning she wanted to move objects to another page.
Then she came to the conclusion herself that moving pages would solve that, and be a better option

[2015-09-10 12:47] vazquez commented on #651
Big point here. It also speaks to our minimal sense of activity (some work on that happening in #640). We have talked briefly and in passing about drafts, but this definitely needs more discussion.

[2015-09-10 12:48] vazquez commented on #650
Got it! :+1:

[2015-09-10 16:13] xmatthewx commented on #651
There are a few different solutions across a spectrum: make things more clear or give the user more control. More control can introduce a lot of UX complexity. There's ambiguity between save, publish, and share.

I propose we draft a design for consideration. Give users a "hide // show" toggle on each project in the make view. Let's validate this and other ideas before we invest too much energy.

[2015-09-10 16:15] xmatthewx commented on #634
Assigning to @k88hudson to fix in our next release.

[2015-09-10 16:16] k88hudson commented on #634
Let's do this on Monday

— K

On Thu, Sep 10, 2015 at 6:15 PM, matthew w notifications@github.com
wrote:

[2015-09-10 18:01] gvn commented on #276
Documentation regarding core has been added to webmaker-android README.

[2015-09-10 18:01] #276 closed, assigned to gvn

[2015-09-10 19:30] gvn commented on #642
I actually just decided to use shared preferences w. the existing methods instead of adding extra sugar, so closing this! :sunglasses:

[2015-09-10 20:05] xmatthewx opened #652 "Offer option to embed via browser-based UI"
Projects work nicely in an iframe. Can we offer this to users for use on blogs etc? Relevant via browser. Probably not useful within app.

https://d157rqmxrxj6ey.cloudfront.net/okfuture/7824/

[2015-09-10 20:20] xmatthewx commented on #357
tracking in #650

[2015-09-10 20:20] #357 closed, assigned to nobody

[2015-09-10 20:20] xmatthewx commented on #650
We have draft UX and UI. Needs tech review and a place on the roadmap.

[2015-09-10 20:24] xmatthewx commented on #651
Worth noting that this is an issue because most projects are rich content that take time to build (unlike a quick status or photo post). The app rides a blurry line between these two paradigms.

[2015-09-10 20:25] secretrobotron opened #653 "Can't export projects nicely into Thimble"
I've tried a few different simple things to get a project from the webmaker project server into Thimble. The result is always a little broken — because of the react router, or because of some path/JS issues. What's broken isn't really obvious.

@gavinsharp might you have some insight? What's the easiest (manual) way to do it?

[2015-09-10 20:42] xmatthewx commented on #640
I like the focus on a sense of activity and discover.

Option A & B - These seem like good, low risk ideas. Should be designed so all users have some info even if they have low to no activity. First step would be to make sure we're counting views and remixes in the DB, a feature we need anyhow.

Option C - this would be valuable, but is a bigger lift, both in design and engineering.

Option D - li

[2015-09-10 20:49] xmatthewx commented on #640
A few more ideas:
- Discover show more - infinite scroll or a load more button at the bottom would increase access to projects
- Author view - link author names from discover to an author project list view. this would allow users wander and explore
- Browser-based Discover view - could be built as a sidebar to project display. Or could be a standalone page. This won't have immediate impact on new

[2015-09-10 20:55] xmatthewx opened #654 "Implement Author project list"
Discover view includes author name on projects. Turn these names into links to load a list of the authors projects. View will be the same as Make view, except for author features (logout, create a project, delete project).

[2015-09-10 21:00] xmatthewx opened #655 "Project & Discover Hashtags"
Project hashtags would unlock discovery of projects and enable users to gather around interests and affinities, a key feature of a webby world.

Step 1 - outline the UX and specs
Step 2 - estimate api work required to enable this
Step 3 - evaluate it

[2015-09-10 21:12] xmatthewx commented on #653
cc @gvn

[2015-09-10 21:18] secretrobotron commented on #653
Ugh. I'm sorry @gavinsharp. That's not the first time I've done that.

[2015-09-10 21:24] gvn commented on #653
Hmm. I'm not very familiar with the new Thimble code. You want to export an entire Webmaker project into it? I don't think there will be any _simple_ way to do that considering all the dependencies...

[2015-09-10 21:26] gvn commented on #650
I definitely think this would be useful, so a big +1. However, it's going to a be a significant lift on the engineering side, so just wanted to put that out there! :hamburger:

[2015-09-10 22:17] secretrobotron commented on #653
Even if it's not simple, is there a way to do it? If I just save the project I'm looking at in browser (like, Command+S), I can view it locally. However, some of the JS seems to be broken (maybe router?). And, if I zip it, and upload to Thimble, it works to the same degree.

I can't just view-source and copy either, because I just get the base code there.

Any hints?

[2015-09-11 14:17] vazquez opened #656 "Implement Need Help button"
### Details
- In the Make view, let's add a `Need Help?` button.
- This button will be a `mailto` link to `help@webmaker.org`.

---
### Design

No new styles are being introduced. Going with the same aesthetic as the Log Out button.

![make view beta copy](https://cloud.githubusercontent.com/assets/1119821/9816943/0c063150-586e-11e5-86e8-d4be1aa15853.png)

[2015-09-11 14:17] #620 closed, assigned to vazquez

[2015-09-12 03:36] ryanwarsaw opened #658 "Road to Android 2.2 Froyo Support"
This week I've been experimenting with our Android wrapper trying to get Android 2.2 Froyo support and higher for the app, as that would guarantee close to 100 percent compatibility with all Android devices, which would be optimal. I hit two road blocks during this experiment and decided it was worth discussing.

Currently, the two things blocking this goal is our implementation of Crosswalk (over

[2015-09-13 15:26] Timboliu commented on #582
I came across Paper today (https://vimeo.com/138268307). I think this app is really beautiful and maybe contains some functionality that could be developed in WebMaker? What I like is the paper-look-and-feel. I also like it when you open a project and you see all the papers of that project.

[2015-09-14 18:06] gvn commented on #584
Appears to be validating with no errors now.

[2015-09-14 18:06] #584 closed, assigned to nobody

[2015-09-14 18:32] #324 closed, assigned to gvn

[2015-09-14 20:26] #552 closed, assigned to gvn

[2015-09-15 11:56] lauradereynal opened #659 "Font is diffferent on the desktop and on the phone"
Samsung Galaxy phone
- Add a button
- change the font of the button
- share the project to someone
- open the project on a computer
- the font is not the same
  on the phone it was the cursive font (pacifico?) on the desktop it was similar to Times News Roman

@gvn @xmatthewx @vazquez @k88hudson

[2015-09-15 11:57] lauradereynal opened #660 "Give users more fonts to customize their text"
Feedback from 2 users today: More choices in the fonts library.

[2015-09-15 11:58] lauradereynal commented on #650
2 more users asked for this today

[2015-09-15 11:59] lauradereynal commented on #484
What is the status for this ticket ?

2 new users asked for this feature today

[2015-09-15 12:03] lauradereynal commented on #640
This topic came back as a very important point with 2 users today. They phrased it asl
- How do I see who has viewed my project?
- How does this person knows that I have remixed their project ? How can they see my remix?
- How do I share my project ? Why is it not published yet ? How do you make it public ? (similar to another ticket I filed last week)
- How do I get my project in here?(discover g

[2015-09-15 12:04] lauradereynal commented on #640
- How do you communicate with people ?
- How do i get people to interact with me if they like my art ?

[2015-09-15 12:06] lauradereynal commented on #594
This came back today with users.
It's quite confusing. What is the status?

[2015-09-15 12:07] lauradereynal commented on #63
:white_flower: This came back today with 2 users as an important feedback :whale:

[2015-09-15 16:04] flukeout commented on #63
Hey @vazquez this looks great, but I'm worried that given our slow page-switching, it will be annoying to switch into the 'zoomed in' page to apply a color. What do you think of...
- Keeping the view zoomed out as you color (you can then tap on many pages in a row)
- Putting the background UI into the zoomed in page view so there isn't a 'zoom switch' when you color