[2015-12-03 19:57] xmatthewx opened #904 "Linkify tags in description"
Two things to do:
- [x] use same regex to identify tags on server and client
- [x] wrap tags with html links on client

Anything else?

cc @cadecairos

[2015-12-03 19:59] xmatthewx opened #905 "Add featured tags to discover"
Design complete by @vazquez. Let's add a spec that covers this for implementation.

[2015-12-03 20:03] xmatthewx commented on #510
tracking this work in #780. correct? closing.

[2015-12-03 20:03] #510 closed, assigned to ryanwarsaw

[2015-12-03 20:06] xmatthewx commented on #638
- tracking RAM leaks in #780.
- tracking caching in #591
- file new tickets for router and multi-threaded approaches if and when we have time to tackle them

closing

[2015-12-03 20:06] #638 closed, assigned to ryanwarsaw

[2015-12-03 20:07] xmatthewx commented on #596
@ryanw-se review @gvn's PR when you have a moment .

[2015-12-03 20:10] xmatthewx commented on #212
I think this is less important than RAM leaks, but more important than other tasks that will be less visible to users. If it isn't a huge lift, it would allow us to offer users a link to "stickers," stars, talk bubbles, and other things that can increase the fun and interest of their projects.

[2015-12-03 20:44] gvn commented on #596
It's actually already merged...gonna close this ticket.

[2015-12-03 20:44] #596 closed, assigned to ryanwarsaw

[2015-12-03 22:02] xmatthewx opened #906 "Text element background tinker color starts with zero opactiy"
If a user taps tinker when no previous background color is selected, it seems like the color picker doesn't work, because opacity is set to zero. It should default to 1. Background color default can be set to 'none' to avoid need for zero opacity.

[2015-12-03 22:05] xmatthewx opened #907 "UI polish - tinker color"
- there's a gap between the preview and the tabs
- scroll margin and texture should be added to this view
- the 2D picker and hue slider could be taller (as longer as opacity doesn't fall off the view)

[2015-12-03 22:07] xmatthewx opened #908 "Add padding to text element for background color"
When a text element has a background color, a little padding would improve appearance (particularly on the left/right).

[2015-12-03 22:14] xmatthewx commented on #795
@gvn do you want to take this? Or @alanmoo since this continues your work on the project card lists?

[2015-12-03 22:15] xmatthewx commented on #188
related to #740

[2015-12-03 22:15] gvn commented on #795
I can take it since I'm already working on the description stuff...

[2015-12-03 22:16] alanmoo commented on #795
The stuff I did should be pretty self explanatory for you to use, @gvn

[2015-12-04 15:44] xmatthewx commented on #904
see https://github.com/mozilla/api.webmaker.org/pull/184

[2015-12-04 16:47] xmatthewx commented on #844
cc @alanmoo

[2015-12-04 16:53] xmatthewx opened #912 "Update logo on Mozilla Assets page"
There's one last logo to update here: https://assets.mozilla.org/portal/assets/#category/16.

[2015-12-04 17:28] alanmoo commented on #908
This can be tricky, I think I had a specific reason for the padding being set this way when I fixed the layout rendering, so we just have to be careful when changing this.

[2015-12-04 17:29] gvn commented on #844
FWIW: I was talking about inbound links outside of Webmaker being intercepted in the OS and re-directed into the app automagically (similar to app:// URLs on iOS).

[2015-12-04 17:30] gvn commented on #844
Ideally, though, we should do both inbound and outbound Webmaker project link "hijacking". :+1:

[2015-12-04 22:21] #782 closed, assigned to alanmoo

[2015-12-04 22:24] xmatthewx opened #915 "Make sure thumbs include new background colors"
Pages will soon allow custom background colors. There may be an issue with this in thumbnail rendering. Filing this to follow up on https://github.com/mozilla/webmaker-core/pull/914

[2015-12-04 22:31] xmatthewx commented on #869
@ryanw-se - I relabelled our milestones to better match our actual work. Sorry for any confusion!

1.6 >> 1.5.4
1.7 >> 1.6

[2015-12-13 16:43] ioana-chiorean commented on #869
IS this still on going?

[2015-12-13 19:28] alanmoo commented on #869
@ioana-chiorean, this will get picked back up this week.

[2015-12-14 13:43] #915 closed, assigned to alanmoo

[2015-12-14 16:15] vazquez commented on #912
I've sent out a request to the Mozilla Assets team. Keeping open till I hear back.

[2015-12-14 17:50] vazquez commented on #905
![featured hashtags](https://cloud.githubusercontent.com/assets/1119821/11788910/619154fa-a261-11e5-800b-81246482a67f.png)

[2015-12-15 16:54] xmatthewx commented on #908
What if we used a border of the same color and opacity? Or outline since that isn't counted in box model dimensions? The look is less than ideal currently. cc @vazquez

[2015-12-15 18:29] alanmoo commented on #906
But what would the color be when tinker opens up? Since it's RGB, it needs something...

[2015-12-15 18:32] alanmoo commented on #906
Do we want some edge case behavior like "if the opacity is 0 and the user adjusts one of the other values, make opacity jump to 1"?

[2015-12-15 19:09] vazquez commented on #912
Done.

[2015-12-15 19:09] #912 closed, assigned to vazquez

[2015-12-15 20:24] xmatthewx commented on #912
yippee!

[2015-12-15 20:27] xmatthewx commented on #906
Interesting. Your suggestion would help people who paint themselves into an no opacity corner in addition to the scenario I described.

In my scenario, the 2D picker shows the bottom left selected. We could pick that or any color as a default when someone enters tinker for an attribute not yet defined.

[2015-12-15 20:29] alanmoo commented on #906
Right, but would it make sense to just throw a color at a user when they hit tinker mode?

[2015-12-15 20:42] xmatthewx commented on #906
I hear ya. Let's try your approach. Seems like a good solution.

[2015-12-15 20:53] ryanwarsaw commented on #709
I plan on tackling this tomorrow afternoon, should be pretty straight forward.

[2015-12-15 22:19] xmatthewx commented on #869
1.5.4 is nearly done. @gvn is working to unblock the use of descriptions on projects. 1.6 is under active development.

Depending on how things progress, we could roll these into a single release before we break for the end of the year.

[2015-12-16 07:14] ioana-chiorean commented on #912
:tada:

[2015-12-16 07:17] ioana-chiorean commented on #912
:tada:
PS: @vazquez  what was the process as we need to change it? we need to do this was several others

[2015-12-16 15:46] alanmoo commented on #188
With new elements soon defaulting their style to the last edited element of the same type (within a project) from #740, I'm not sure this is as much of an issue anymore. To be fair though, I'm still a bit unclear about what the expected behavior of this would be- currently the edit mode color picker shows the default colors and the currently selected color if it was manually chosen via tinker. Is

[2015-12-16 16:13] alanmoo commented on #906
Should this behavior happen in both "spectrum" and "RGB slider" views?

[2015-12-16 16:26] xmatthewx commented on #906
Yes, is that a pain? It'd be helpful since the Opacity slider is below the fold and the same UX bug occurs. It's an edge case, but very confusing when it happens.

[2015-12-16 16:28] alanmoo commented on #906
That's fine, just helps decide an approach to take

[2015-12-16 18:01] xmatthewx commented on #188
You're right that default styles will make this need less urgent. We can de-prioritize this.

The original idea was to remember a handful of custom colors, a second row in the color picker everywhere that it appears. The revised idea was to save a single, most recent tinker color. This would allow a user to apply it to both text and image borders, for example.

Persisting styles removes the bigges

[2015-12-16 18:03] xmatthewx commented on #188
Before any implementation, a new design spec based on the apps evolution is required.

[2015-12-16 20:10] #846 closed, assigned to vazquez

[2015-12-16 22:06] xmatthewx commented on #780
User reports that the app is very slow on a "Infinix mobile x551". Maybe related?

[2015-12-16 22:09] alanmoo commented on #908
With #858 getting fixed, should I still take a look at this? @vazquez what do you think?

[2015-12-17 01:51] vazquez commented on #912
@ioana-chiorean Email tflanagan@mozilla.com with the assets.

[2015-12-17 15:25] xmatthewx commented on #912
@ioana-chiorean - is this about the old Webmaker logo in different places, or another project on that assets site?

[2015-12-17 17:46] xmatthewx commented on #908
I think so. #858 provides a hack, but won't help most users. I fully understand that adjusting padding can be a nightmare. Let's see if there's an easy alternative before we punt this to the backlog.

Something like this might work:

[code]

[2015-12-17 18:06] xmatthewx commented on #905
Nice connection with January's campaign.

[2015-12-17 18:09] xmatthewx commented on #905
Implementation:
- admins can manually specify 1-10 featured tags
- admins can set a date on featured tag
- featured tags would be mixed with projects in Discover view, sorted by date
- featured tag links to list view by tag

[2015-12-17 19:44] vazquez commented on #651
![post project](https://cloud.githubusercontent.com/assets/1119821/11882217/3d80b98c-a4d9-11e5-8099-ef3c7fc5be73.png)

[2015-12-17 21:17] vazquez commented on #832
The colour we need is `#315D8A`

![screenshot 2015-12-17 16 17 39](https://cloud.githubusercontent.com/assets/1119821/11882322/b50a19b2-a4d9-11e5-89cb-4e963ef45a44.png)

[2015-12-17 22:02] alanmoo commented on #908
Ah, outline. Good idea, I'll give it a try.

[2015-12-18 00:32] #858 closed, assigned to alanmoo

[2015-12-18 15:44] ryanwarsaw opened #931 "Discovery refresh project list spindicator not working on latest Crosswalk version"
This functionality was originally used for the randomized feed in `1.5.3`, it no longer works on the latest Crosswalk version. This feature is necessary for attempting to manually refresh the discovery feed (without having to close and reopen the app).

[2015-12-18 15:53] ryanwarsaw commented on #832
PR containing the changes requested has been merged, this can be closed! :snowman:

[2015-12-18 15:53] vazquez commented on #832
Thanks so much Ryan :smile:

[2015-12-18 15:53] #832 closed, assigned to ryanwarsaw

[2015-12-18 15:56] ryanwarsaw commented on #808
You can assign me to this, should be a quick fix.

[2015-12-18 16:31] ryanwarsaw opened #933 "Remove the requirement of having to create an account in order to use the app"
While I am reading through reviews, a lot of people dislike the fact you have to create an account in order to use the app. We should remove the requirement to create an account and keep their content locally until they do create an account.

[2015-12-18 17:41] vazquez commented on #729
#### Design Annotation

![name your project annotations](https://cloud.githubusercontent.com/assets/1119821/11903072/83b28b14-a584-11e5-8149-8db588cb7d30.png)

[2015-12-18 18:54] xmatthewx commented on #808
Cool. If it's not a quick fix, don't dive in. There are other back button / history things we could resolve in tandem.

[2015-12-18 19:08] xmatthewx commented on #729
Really nice work. :dizzy:  I love how add description is smaller and muted. Feels optional, which is appropriate.

[2015-12-18 19:18] xmatthewx opened #935 "Add "Post" feature to enable private projects"
Users will want to keep some projects private or in a draft state (particularly with hashtags and profile views unlocking discovery). Design below adds this feature.

Notes:
- new projects will be private by default
- we won't won't change privacy of existing projects
- we will add a toggle in project settings
- we will add a bold CTA in Make view (so we don't lose too many projects)

If "Name thi

[2015-12-18 19:19] xmatthewx commented on #935
Design and notes by @vazquez

![post project](https://cloud.githubusercontent.com/assets/1119821/11882217/3d80b98c-a4d9-11e5-8099-ef3c7fc5be73.png)

[2015-12-18 19:20] xmatthewx commented on #651
Beautiful work. I filed this as a new clean ticket so we can close this monster. #935

[2015-12-18 19:20] #651 closed, assigned to vazquez

[2015-12-18 20:58] #794 closed, assigned to gvn

[2015-12-18 21:48] xmatthewx opened #936 "Offer unofficial support cyanogenmod"
create message for @KevZawacki use on help desk and in playstore
cc @ryanw-se

[2015-12-18 21:51] xmatthewx opened #937 "Move documentation to gitbook"
@ryanw-se started [a gitbook](https://ryanw-se.gitbooks.io/webmaker-docs/content/index.html) to updated our 8 month old (!!) docs in the android repo. Seems like a good opportunity to clean up everything.

check with @simonwex about a mozilla gitbook account

[2015-12-18 21:55] xmatthewx opened #938 "Clean up desktop repo issues"

[2015-12-18 22:31] xmatthewx commented on #794
Heck yes

[2015-12-19 02:02] ryanwarsaw commented on #844
@gvn I actually really like that idea, here are my thoughts: I can implement a feature in the new router that will allow you to hook onto the `router.callExt(url)` method and we can see whats being opened from there, if its a Webmaker project we can handle it within the app.

[2015-12-19 16:19] #908 closed, assigned to alanmoo

[2015-12-19 16:20] #901 closed, assigned to alanmoo

[2015-12-19 16:20] #906 closed, assigned to alanmoo

[2015-12-19 16:21] #740 closed, assigned to alanmoo

[2015-12-19 20:26] #839 closed, assigned to vazquez

[2015-12-21 04:05] simonwex commented on #937
I added you both to our Gitbook org.

[2015-12-21 04:17] ryanwarsaw commented on #937
Rad! Thanks @simonwex!

[2015-12-21 16:53] xmatthewx opened #941 "Update readme with project introduction"
project description

We also need to point to the following on the Wiki:
- Design
- Quality review
- Priorities

@vazquez

[2015-12-21 17:00] gvn commented on #904
Note: [tag regex](https://github.com/mozilla/api.webmaker.org/pull/184/files#diff-beddffc7ddf1369364eb944549dbed78R173)

[2015-12-21 17:08] xmatthewx commented on #869
### Draft 1.6 release notes

Webmaker -- better than ever!
- Add descriptions and use hashtags to share and find projects by #topic or #city.
- Make more beautiful projects by setting page background colors
- Create projects more quickly with easier to use styles
- Enjoy several enhancements and bug fixes

If we land the tags feature, we'll release this as 1.6. If there's a delay to that, we'll re

[2015-12-21 17:32] xmatthewx commented on #904
So... for an FAQ:

Correct?

[2015-12-21 17:33] xmatthewx commented on #904
Question: Will #NewYears load the same projects as #newyears?

"No" is fine for a first release of this. Ideally, we'd preserve the user's string as entered, but load a case insensitive list.

cc @cadecairos

[2015-12-21 17:43] xmatthewx commented on #936
@KevZawacki -- We'd like to adjust our message to people who inquire about Cyanogenmod. It is a fork of Android. Some people install it themselves, but it is also the default OS on a few popular devices.

Something like:

Why? Most likely, these users are seeing bugs experienced by standard Android users. Some in this group are likely to be more expert than the usual suspect, and helpful for feedb

[2015-12-21 17:51] xmatthewx opened #942 "Increment project view count"
See https://github.com/mozilla/api.webmaker.org/issues/185

[2015-12-21 17:52] xmatthewx commented on #902
Filing view count #942, and bumping the rest back out of this milestone.

[2015-12-21 17:54] xmatthewx commented on #942
@cadecairos - can we call this when you get a request for a project? Or is there a reason we should call it client side? cc @alanmoo

[2015-12-21 18:37] xmatthewx commented on #563
@vazquez - can you serve as USB key courier? @k88hudson has the key. Angela has a physical vault.

[2015-12-21 18:38] alanmoo opened #944 "When creating a new project, returning to Make view does not properly refresh list"
Probably an off-by-one error, as it seems to make a request

[2015-12-21 19:02] #941 closed, assigned to vazquez

[2015-12-21 21:50] KevZawacki commented on #936
@xmatthewx Thanks! I've added to our [Webmaker FAQ](https://docs.google.com/document/d/12OC1yjFyYIBJy9HwbuSc7hlcIT6yBQjOqsnoPWqiTiY/edit), and will begin using when Cyanogenmod questions arise.

[2015-12-21 22:29] #907 closed, assigned to alanmoo

[2015-12-22 01:56] xmatthewx opened #946 "Improve project sharing copy"
When a user shares a project, Webmaker sends out

The share would be more inspiring and links more likely to be followed if we used the project title. Most mainstream platforms don't name themselves in their shares.

Proposed: Check out `TITLE` by `USERNAME`.

This is executed in webmaker-[android /util/Share.java](https://github.com/mozilla/webmaker-android/blob/47b70eea3774fceea2d9bebfec95bb3a67

[2015-12-22 13:00] ioana-chiorean commented on #912
@xmatthewx - was for a different project..

but.. in the meanwhile - if u mention it - the logo for Webmaker app on Firefox OS app is till the old one.
Not sure who is owner for that app.

Should I add a new issue and screens?

[2015-12-22 16:07] xmatthewx commented on #727
Done and done.

[2015-12-22 16:07] #727 closed, assigned to cadecairos

[2015-12-22 16:08] xmatthewx commented on #936
Closing. Thanks @KevZawacki.

[2015-12-22 16:08] #936 closed, assigned to xmatthewx

[2015-12-22 16:32] #944 closed, assigned to alanmoo

[2015-12-22 16:53] xmatthewx commented on #946
opinions @vazquez on this?

Proposed: Check out `TITLE` by `USERNAME`.

[2015-12-22 17:06] gvn opened #947 "Rename repo"
Rename this repo to `webmaker`.

[2015-12-22 17:26] xmatthewx commented on #844
We'll keep this conversation open. Things to consider:
- advantages to handling in core vs android
- links to projects, profiles, hashtag list view
- we could offer an [enhanced android 6](http://developer.android.com/training/app-links/index.html) experience
- inbound links

[2015-12-22 17:39] xmatthewx commented on #942
Discussed with @cadecairos. We should trigger this client side. Requests for projects aren't authenticated. The API only counts views by people other than the Author. In the client, we can hook this into all project cards in list views.

[2015-12-22 17:42] xmatthewx commented on #809
@gvn - this is the issue you brought up on our stand today.

[2015-12-22 17:49] xmatthewx opened #948 "Make tag lists case-insensitve"
In an ideal world,
- we preserve the user's string as entered for display of description
- but we load a case insensitive list

For example, #newyears #NewYears yield the same inclusive list of projects.

In a less than idea world,
- we rewrite all tags to be #lowercase

[2015-12-22 19:46] gvn commented on #805
I think this is resolved now...

[2015-12-22 19:46] #805 closed, assigned to nobody

[2015-12-22 20:46] ioana-chiorean commented on #937
Mozilla is using ( and also sponsored through MOSS) readthedocs.org just a fyi - maybe we can use that hee too ( i do not want to dismiss @ryanw-se 's work)

[2015-12-22 21:19] ryanwarsaw commented on #937
@ioana-chiorean That's another great option, there was a little discussion about this today and I believe it was decided that everything will be written in MD format and put in the `webmaker-core` repository and then we can evaluate the different sites that can be used to host these files (readthedocs, gitbooks, etc).

[2015-12-22 21:32] ioana-chiorean commented on #937
:+1:

[2015-12-22 21:39] xmatthewx commented on #869
Closing. We're going directly to 1.6.

[2015-12-22 21:39] #869 closed, assigned to gvn

[2015-12-22 21:40] xmatthewx opened #951 "Release 1.6.2"
- [x] Release is scheduled and a ticket to track the release process is created.
- [x] Tag release on `webmaker-core` repo.
- [x] Generate signed APK.
- [x] Release notes are drafted.
- [x] Ticket is assigned to deploy APK to beta channel.
- [ ] Coordinate release for Browser viewer if relevant (bump version of `webmaker-core` in `webmaker-browser`'s `package.json`).
- [ ] Once APK has been releas

[2015-12-22 21:43] xmatthewx commented on #951
### Draft release notes

Webmaker -- better than ever!
- Add descriptions and use hashtags to share and find projects by #topic or #city.
- Make more beautiful projects by setting page background colors
- Create projects more quickly with easier to use styles
- Enjoy several enhancements and bug fixes

This release includes a ton of UI & UX polish. Lot's a little improvements throughout the app. I

[2015-12-23 15:31] ioana-chiorean opened #954 "Update logo on Webmaker Firefox OS app"
<img src="https://cloud.githubusercontent.com/assets/1391451/11977346/63a1f8be-a98a-11e5-8b23-7f3d46ac9ed7.jpg" width="300" height="550" />
<img src="https://cloud.githubusercontent.com/assets/1391451/11977347/63a58da8-a98a-11e5-86e7-247b9f8ee3f2.jpg" width="300" height="550" />

[2015-12-23 15:39] xmatthewx commented on #954
It's not just the logo. This is the app that was released in the spring, before we switched directions. That app isn't being maintained or updated.

[2015-12-23 15:54] xmatthewx opened #955 "Quick design review"
It'd be good if @vazquez could complete a quick design review today before we release 1.6 beta. Maybe after tags are merged to develop? Or, for simplicity, @gvn and @alanmoo could post screenshots to this thread.
- descriptions and tags in discover
- tag list view :heavy_check_mark:
- page background colors ui :heavy_check_mark:
- improved tinker layout :heavy_check_mark:

[2015-12-23 17:38] #795 closed, assigned to gvn

[2015-12-23 17:38] #904 closed, assigned to gvn

[2015-12-23 17:51] vazquez commented on #955
Awesome work @gvn and @alanmoo.

One little bug that I found is on the description field. If you leave a trailing space it converts it to a `&nbsp;`. Other than that, this is solid.

[2015-12-23 17:52] vazquez opened #956 "Trailing space in description doesn't get removed"
On the description field. If you leave a trailing space it converts it to a `&nbsp;`.

![screenshot_20151223-125353](https://cloud.githubusercontent.com/assets/1119821/11981841/492929dc-a974-11e5-8b00-6f5a3d04d47b.png)

[2015-12-23 17:53] vazquez commented on #955
Filed issue for the above #956

[2015-12-23 18:42] #956 closed, assigned to gvn

[2015-12-23 18:44] alanmoo commented on #905
@xmatthewx What's this "set a date" feature? All the API seems to return is an array of strings.

[2015-12-23 18:47] xmatthewx commented on #809
closed by https://github.com/mozilla/webmaker-core/pull/950

[2015-12-23 18:47] #809 closed, assigned to nobody

[2015-12-23 18:48] xmatthewx commented on #793
tracking in #729

[2015-12-23 18:48] #793 closed, assigned to nobody

[2015-12-23 18:51] xmatthewx commented on #581
@hannahkane - here is our legal-approved design and copy for an age gate. Let's team up to build this out in unison for app and desktop.

[2015-12-23 18:53] hannahkane commented on #581
woohoo! yes, let's.

[2015-12-23 18:53] xmatthewx commented on #772
Done! Tag "ads" filed in #905.

[2015-12-23 18:53] #772 closed, assigned to xmatthewx

[2015-12-23 19:00] xmatthewx commented on #905
I was thinking that projects were sorted by date and that we'd want to mix these intentionally. But, it's not important. You can mix them in free style, after the 1st, 3rd, 5th project or something like that. I don't imagine we'll run more than 3 or 4 at a time.

[2015-12-23 19:01] gvn commented on #955
Got that bug fixed & merged. Anything else sticking out?

[2015-12-23 19:05] vazquez commented on #955
No, everything is looking great otherwise :smile:

[2015-12-23 20:12] xmatthewx opened #958 "Extend API pagination"
I can only search the 5,000 most recent projects, leaving 45,000 in the dark. http://xmatthewx.github.io/webmaker-firehose/

Tracking here: https://github.com/mozilla/api.webmaker.org/issues/188

[2015-12-23 22:36] alanmoo opened #960 "Show elements in editor on the background color of the page"
When adding something (text, for example) to a page, the background in the editor is always the same color (off-white). This makes it hard to get an idea of what the text color will look like on the background of a page that has a different color. The background in the editor preview should reflect the background of the page the user is adding the element to.

[2015-12-23 22:40] alanmoo opened #961 "Long strings of text containers behave erratically in page edit mode"
1. Create a long text element (30 characters or so)
2. Back on the page, while trying to position/scale it you will see that the bounding box doesn't surround the whole piece of text because of a max-width of the element likely not taking into account the scale of the element.

This should...not be weird

Keep in mind when fixing this that we don't want to affect the way text elements render on ex

[2015-12-23 23:59] gvn commented on #951
1.6.0 APK is up in beta channel. :cake:

[2015-12-25 22:00] ioana-chiorean commented on #951
:tada: Is like :santa: brought the app as :gift: under the :christmas_tree:

[2015-12-26 00:01] ioana-chiorean opened #962 "Gray block being the keyboard in login screen"
1. Go to log in
2. Type user name and password
3. Dismiss the keyboard

Actual results:
- the block being the keyboard is gray
- u can barely read the text on it

Expected results:
- the block should maintain original blue color and you should be Able to read the text and links on it

<img src="https://cloud.githubusercontent.com/assets/1391451/12041009/4706c8ec-ae76-11e5-9dae-693d098e66cd.jpg" wi

[2015-12-26 23:48] xmatthewx commented on #961
Alas, seems this was introduced by https://github.com/mozilla/webmaker-core/pull/924/files. If we can't find an easy fix, let's remove this and ignore my request to retain trailing and leading spaces by users.

They way we handle text wrap of a scalable element has always been a bit odd (linking fontsize bounding box), but now's not the time to reinvent how we handle text elements.

[2015-12-26 23:51] xmatthewx commented on #962
Thanks @ioana-chiorean. I wasn't able to reproduce this problem on Nexus 5 with Android 6. Worked fine. Link to your screenshot is broken. Anyone else see this?

[2015-12-28 00:28] alanmoo commented on #962
I think I might have spotted this a few weeks ago....might be something to do with the way the keyboard shrinks the viewport and the height of the blue background being set by `vh` units.

[2015-12-29 19:53] ioana-chiorean commented on #962
@xmatthewx i did updated the screenshot now.
It is not 100% reproducible indeed

[2016-01-04 16:25] xmatthewx commented on #962
Ah. So `vh` isn't miracle cure for everything. That's too bad.

[2016-01-04 16:26] #955 closed, assigned to vazquez

[2016-01-04 17:27] xmatthewx opened #975 "Revise tag view header"
Since the tag filter view can't include the Discover/Make tabs, we'll revise the initial design.
- remove extraneous details: "tags", "hashtag", "X", and the underline
- blue header contains back arrow and no text
- leave large "#chicago" in a medium gray (like avatar or "X")

[2016-01-04 17:29] xmatthewx commented on #961
Since @alanmoo is out, let's remove this patch for now and confirm that it fixes the bug.

[2016-01-04 17:31] xmatthewx commented on #951
There are a couple of small things to resolve in [1.6](https://github.com/mozilla/webmaker-core/milestones/1.6.0). We'll do a new beta, test, and release.

@ioana-chiorean @vazquez - let us know if you notice anything else.

[2016-01-04 21:14] ioana-chiorean commented on #962
Some more screen just to showcase different looks :cry:  :disappointed:

<img src="https://cloud.githubusercontent.com/assets/1391451/12100619/ca2661bc-b338-11e5-9a79-f29dcfaea637.jpg" width="300" height="550" />
<img src="https://cloud.githubusercontent.com/assets/1391451/12100620/ca28ee14-b338-11e5-8670-9ec4e866c174.jpg" width="300" height="550" />

[2016-01-05 19:11] xmatthewx commented on #975
On the Android side, should we set all the strings to an empty string? Or remove the label from the manifest and remove all the string definitions?

[2016-01-07 16:01] cadecairos commented on #948
fixed in mozilla/api.webmaker.org#189

[2016-01-07 16:01] #948 closed, assigned to cadecairos

[2016-01-11 17:58] xmatthewx commented on #948
belated :clap: :clap: thanks @cadecairos

[2016-01-11 18:02] gvn commented on #961
@alanmoo now that you're back, wanna take a look see?

[2016-01-11 18:07] alanmoo commented on #961
Sure thing!

[2016-01-11 18:46] alanmoo commented on #961
I believe I can fix this by removing the max-width of elements in the editor CSS. However that only fixes the visual bug, there's still a question of expected UI behavior and text wrapping. Currently (and with this possible fix), elements simply won't wrap, and there's no way to add a manual line break because the Android keyboard doesn't offer it (presumably because it's an `input` element). Is t

[2016-01-11 19:15] gvn commented on #975
I'm setting them to an empty string because it seems to need a string even if it's just empty...

[2016-01-11 19:55] xmatthewx commented on #961
I wasn't a part of the discussion when this was originally implemented. I know there was a bit of debate on how to handle this.

At this stage, we have to maintain the rendering of existing text elements, which have a forced line-wrap based on initial font-size and scale. If we try and remove one errant stitch, we'll likely unravel our sweater.

We don't have time to implement what I think is the

[2016-01-11 20:49] alanmoo commented on #962
I think we may just need to remove `#login { height: 100vh }`, as the heights of `#login`'s children don't rely on the height of it. Quick testing in the desktop browser seems to show that works.

[2016-01-11 21:08] xmatthewx commented on #962
cc @vazquez

[2016-01-11 21:25] #975 closed, assigned to gvn

[2016-01-11 21:46] #942 closed, assigned to gvn

[2016-01-11 23:02] ryanwarsaw commented on #946
@vazquez update?

[2016-01-12 00:25] alanmoo commented on #898
Odd that this didn't get closed with the PR...

[2016-01-12 00:25] #898 closed, assigned to gvn

[2016-01-12 02:20] xmatthewx commented on #946
You can just run with the proposed change @ryanw-se. Thanks!

[2016-01-12 15:48] xmatthewx commented on #951
Almost done and ready to build. Thanks everyone for your work yesterday.
- [x] tag search case-insensitive!
- [x] count project views!
- [x] taglist header Android PR https://github.com/mozilla/webmaker-android/pull/2460
- [x] text whitespace PR https://github.com/mozilla/webmaker-core/pull/986
- [x] featured tag PR https://github.com/mozilla/webmaker-core/pull/959

cc @alanmoo @ryanw-se

[2016-01-12 17:08] #961 closed, assigned to alanmoo

[2016-01-12 17:08] #905 closed, assigned to alanmoo

[2016-01-12 17:09] gvn commented on #563
Sounds like this needs to be in the next milestone...

[2016-01-12 17:28] vazquez commented on #563
Yes, I haven't seen Angela since December 21st

[2016-01-12 19:29] gvn commented on #951
`1.6.1` is now uploaded to the beta channel. :tada:

[2016-01-12 21:25] #962 closed, assigned to vazquez

[2016-01-12 21:31] xmatthewx commented on #951
that's huge. thanks @gvn. thanks everyone! testing and things are looking good.

[2016-01-13 01:46] ryanwarsaw commented on #946
@xmatthewx I looked into doing a hyperlink but I don't think that will work very well since some apps don't support it, instead I opted-in for "Check out `<title>` by `<username>`. `<link>`"

[2016-01-13 02:13] xmatthewx commented on #946
Yep. That makes sense. That's what I was thinking but didn't make clear. `URL` at the end.

[2016-01-14 21:11] xmatthewx opened #990 "Thumbnails are missing page background color"
Example: https://beta.webmaker.org/#/player?user=421495&project=53760

Update webmaker-desktop? cc @alanmoo @gvn

[2016-01-15 17:48] xmatthewx commented on #951
I tested things and everything is working very nicely. I only see one blocker to launching this: background color in thumbs: https://github.com/mozilla/webmaker-core/issues/990. Fix that, and we can call this a wrap.

[2016-01-15 17:49] alanmoo commented on #990
Agreed, I think this just needs a redeploy/update of webmaker-desktop...

[2016-01-15 20:15] gvn commented on #990
I bumped -desktop up to the latest core, so this should be resolved soon I think...

[2016-01-19 04:57] ryanwarsaw commented on #511
Now that we have FTU models, this isn't that big of an issue (Closing).

[2016-01-19 04:57] #511 closed, assigned to nobody

[2016-01-19 04:57] #478 closed, assigned to nobody

[2016-01-26 19:44] xmatthewx opened #992 "Thumbnail service is failing"
The failure appears to be an issue with Blitline.

Page for thumb seems to render okay: https://beta.webmaker.org/#/thumbnail?user=576822&project=56879&page=169389&t=1453836033047&_k=xiku9a

Tracking here: https://github.com/mozilla/api.webmaker.org/issues/194

Here's a snapshot of recent changes to webmaker-browser:
- deploy https://github.com/mozilla/webmaker-browser/compare/2459b9f...76737ba
-

[2016-01-27 21:37] xmatthewx commented on #992
Service is fixed. Still need to regenerate missing thumbs (https://github.com/mozilla/api.webmaker.org/issues/196) and monitor service for future failure (https://github.com/MozillaFoundation/mofo-devops/issues/251).

[2016-01-27 21:37] xmatthewx commented on #990
Fixed. Working as expected. :smile:

[2016-01-27 21:37] #990 closed, assigned to nobody

[2016-01-27 21:45] xmatthewx opened #994 "Project titles don't persist without a description"
In 1.6 Beta, you can't change the default `title` without also adding a `description`.
1. Access project settings via Editor or Make view.
2. Edit title, but not description.
3. Exit and return to Make view or settings view.
   - Result: title resets to "My Project"
4. Edit title and add a description
5. Exit and return to Make view or settings view.
   - Result: title saves properly

Loosely rela

[2016-02-01 15:15] #992 closed, assigned to nobody

[2016-02-01 15:16] xmatthewx commented on #994
Thumbnails are fixed and regenerated. Last bug before we can release all your work to the world.

[2016-02-02 23:23] gvn commented on #563
It's now in our 1Password shared vault.

[2016-02-02 23:23] #563 closed, assigned to vazquez

[2016-02-02 23:24] gvn commented on #563
Resolved via https://github.com/MozillaFoundation/mofo-devops/issues/149

[2016-02-22 16:30] ryanwarsaw commented on #933
Per discussion with @xmatthewx a few weeks back, I started working on a road map to getting this implemented, which would basically consist of the changes that would need to be made, etc. No ETA yet but I would like to have this completed sometime after the 1.7.0 release.

[2016-02-22 16:30] ryanwarsaw commented on #994
@xmatthewx I can knock this out, is this the only one left before we can land 1.6.0?

[2016-02-22 16:34] ryanwarsaw commented on #946
Quick update on this, I did start work on this a few weeks back but got blocked because of my limited knowledge on how we send data to the backend on this (webmaker-core). I plan to do a bit more research on this soon and knock this out.

Dev note: From preliminary testing, I've determined the easiest way to do this would be to utilize the Memory Storage API, however this is only temporary until w

[2016-02-22 17:36] ryanwarsaw commented on #855
This will be fixed in the updated router, which will add a hook for unknown view calls. We can react accordingly using that hook and trigger a string of JS to run (for a pop-up or whatever we decide is the best option). It'll behave exactly how we do two-way communication currently.

[2016-02-22 17:39] ryanwarsaw commented on #844
I went ahead and implemented a hook within `router.openExternal(url)`, we can use this for users running pre-android 6 devices, and also provide the enhanced experience for Android 6 and above users.

[2016-02-22 17:42] ryanwarsaw commented on #838
Not sure what is causing this, I would assume it has something to do with how and where we are storing app data, I'll take a look at this once 1.6 lands.

[2016-02-22 17:48] ryanwarsaw commented on #780
The design of the new router is complete, it just requires a bit more work on the implementation end and it'll be ready to go. Planning to land 1.6 before implementing this, there will be a massive performance improvement with older devices as we will utilize memory more efficiently.

[2016-02-22 17:51] ryanwarsaw commented on #619
Going to add this to the list of tickets to evaluate with the new router implementation, since one of the steps to implementing it will be to clean up the things we are holding in memory and this appears to be a null reference to one of those objects.

[2016-02-22 22:39] xmatthewx commented on #994
Thanks @ryanwse! There's one other known bug that I'll file now. Otherwise, yes, squashing this would unblock the work everyone did toward this version. Let us know if you have any questions.

[2016-02-22 22:40] xmatthewx commented on #994
This is a regression introduced when we recently added the Description field. Titles previously worked.

[2016-02-22 22:45] xmatthewx opened #1010 "Discover doesn't update, can't refresh"
Pull-to-refresh no longer works in the Discover view.

The most recently featured projects do not appear in Discover (even after 2 weeks). Cache doesn't seem to expire. This second issue might not be new ... might have been hidden by the ability to use pull-to-refresh.

cc @ryanwse @alanmoo @gvn

[2016-02-22 22:47] ryanwarsaw commented on #1010
Dupe of #931

It broke with the crosswalk update, I'll see what I can do about fixing it.

[2016-02-22 22:53] xmatthewx commented on #1010
Pull-to-refresh itself isn't essential. When a user returns to the view, we need to check the server to make sure the cache is recent enough.

[2016-02-22 23:04] ryanwarsaw commented on #1010
@xmatthewx Oh, okay. I'll take a look at that, seems pretty straight forward though.

[2016-02-23 03:14] ryanwarsaw commented on #994
The cause of this problem originates from **api.webmaker.org** and how it validates the parameter **description**. Currently, you can't send an empty string to the API, or it will respond with a **400** status code. This might also happen with titles, however its never been exposed due to its minimum and maximum character requirements.

Specifically, the validation for this route: https://api.webm

[2016-02-23 04:51] xmatthewx commented on #994
Good catch. I posted an issue  at https://github.com/mozilla/api.webmaker.org/issues/197. I'll leave this open just to track it.

[2016-02-23 17:13] ryanwarsaw opened #1011 "Update ESLint configuration to prevent future failures of Travis CI builds"
The configuration format changed from ESLint 1.x.x to 2.x.x.

http://eslint.org/docs/user-guide/migrating-to-2.0.0#language-options

[2016-02-25 20:04] ryanwarsaw commented on #994
@xmatthewx A fix for this was just landed over at api.webmaker.org, this should be good to close!

[2016-02-26 19:17] xmatthewx commented on #994
in the bag :handbag:. done and done!

[2016-02-26 19:17] #994 closed, assigned to nobody

[2016-02-26 23:30] alanmoo commented on #863
Is this moot now that the tap behavior has been changed?

[2016-02-29 15:31] xmatthewx commented on #863
It still applies, but definitely isn't critical.

Steps to repeat:
- add couple large elements
- wish you could view page without selection dotted lines around an elemet
- tap Add Element "+" icon
- tap "x" icon to cancel
- dotted lines remain

Ideally, selection be dismissed on tapping "+" icon.

[2016-02-29 22:13] xmatthewx opened #1012 "Remove Beta from project share URLs"
Browser-based site has finally removed beta from the URL. Project shares can now point toward `webmaker.org/...` instead of `beta.webmaker.org/...`

cc @ryanwse

[2016-03-02 20:44] alanmoo commented on #1010
After looking through the code with @xmatthewx, I feel like it's pretty likely there's been a caching issue from the start, and that we simply didn't notice it because pull-to-refresh was there. It seems what we really need is a timeout on the cache. https://github.com/mozilla/webmaker-core/blob/develop/src/lib/api.js#L47-L88 may be the culprit, as it seems that if a cache exists, it will always b

[2016-03-03 17:40] xmatthewx commented on #1010
Thanks for the notes @alanmoo. I discussed this with @ryanwse. Here's the basic plan:

We'll make sure we're storing a timestamp with the cache, and check that on view load. For now, a simple expiration after one hour will be good enough.

Feature updates are done manually and not frequently. We just need to unlock permanent cache and prevent constant unnecessary updates. In a future release, if n

[2016-03-21 12:25] ryanwarsaw opened #1013 "Add ability to swipe between project pages"
As seen in the Google reviews, a lot of people aren't happy with the current method of switching pages (tapping the navigation arrows), this feels very slow and unresponsive. Most modern web users are going to try and swipe between pages, which should remedy this common complaint.

To make sure first time web users can still navigate the app without issue, it would also be worthwhile to add an FTU

[2016-03-29 00:04] ryanwarsaw commented on #1010
I looked at this in-depth today, the app appears to be showing 19 project entries in the discovery page, and I also get 19 entries when I query the `/discover` route of the staging API. This would suggest that there is either an issue with how moderators are attempting to feature projects, or how the API is handling those requests.

I'd also like to note that in further testing, I can confirm ther

[2016-03-29 16:08] xmatthewx commented on #1010
I just featured 2 more projects on the staging DB. You should now see 21. Let's schedule a time to talk over video to see if we can reproduce the error. My beta app on device still doesn't display the most recently featured projects.

[2016-03-29 21:14] xmatthewx commented on #1010
Problem appears to be with cache on the server. API doesn't return all the projects marked as featured in the DB. No obvious pattern with the missing projects. Most likely they were just featured later than the others.

[2016-03-29 22:16] xmatthewx commented on #951
@gvn - the remaining bug appears to be with the API or Amazon AWS, not the appears. Let's figure out how we can get a release built. We could try and knock it out quickly, or take the opportunity to train a few others on how to build for release so you're not solely responsible.

[2016-03-30 16:09] ryanwarsaw commented on #933
Dupe of  #774

[2016-03-30 16:09] #933 closed, assigned to nobody

[2016-03-30 17:09] ryanwarsaw opened #1014 "Ryan's todo list"
### Roadmap
- [ ] Implement Google Analytics tracking for features (and functionality) added in `1.6`.  ( #774)
- [ ] Fix discovery refresh project list spindicator not working (#931, #1010)
- [x] Fix Travis CI builds failing, due to bad ESLint configuration. (#1011)
- [x] Remove beta from project share URLs. ( #1012)
- [ ] Fix green arrow not dismissing keyboard in Project Settings view. (#847)
-

[2016-03-30 17:09] ryanwarsaw commented on #951
If possible, I'd like to push the `1.6.2` release to the Beta channel for at least the next three weeks. I would like to accomplish the following within that time frame, with the intentions of improving stability and producing a higher quality end result. See #1014

[2016-03-30 17:13] ryanwarsaw commented on #471
Dupe of #1013

[2016-03-30 17:13] #471 closed, assigned to nobody

[2016-03-30 17:28] #541 closed, assigned to nobody

[2016-03-30 17:30] ryanwarsaw commented on #485
Dupe of #486

[2016-03-30 17:30] #485 closed, assigned to nobody

[2016-03-30 17:31] ryanwarsaw commented on #486
Going to rewrite this issue in a more articulate way, and also expand the track to all user/project related URLs.

[2016-03-30 17:31] #486 closed, assigned to nobody

[2016-03-30 17:33] ryanwarsaw commented on #550
Unable to replicate this in latest `1.6.2` staging build.

[2016-03-30 17:33] #550 closed, assigned to nobody

[2016-03-30 17:36] ryanwarsaw commented on #844
Related: Deep link support in Android Marshmallow,  #685.

[2016-03-30 17:39] ryanwarsaw commented on #538
Fixed in latest `1.6.2` staging builds.

[2016-03-30 17:39] #538 closed, assigned to nobody

[2016-03-30 18:00] xmatthewx commented on #951
Thanks @ryanwse for the triage and new list of tasks. Let's chat about all that.

It'd be good to get the latest round of features and fixes into the hands of real users. We can add your improvements to a subsequent release, and include any fixes based on this release. I understand the impulse to wait, but it's generally a better practice to keep releases smaller and more frequent.

[2016-04-13 22:28] ioana-chiorean commented on #951
Hey @xmatthewx - as this is a very old ticket - is this still under radar and needs QA?

[2016-04-14 03:49] xmatthewx opened #1016 "Quick Discover Fix"
The Discover gallery does not show all featured projects. Several of us tried to track down the root of this "bug" (#1010), but it is not a bug after all. 😕

**Cause**: Part of the initial strategy was to promote local content, which is great. So if a user in a supported locale views Discover, they only see projects from other users in that locale. I assumed this was a goal, not a launch feature.

[2016-04-14 03:50] xmatthewx commented on #1010
Closing. This is not a bug. More of a planning flaw. (Sigh) See #1016

[2016-04-14 03:50] #1010 closed, assigned to nobody

[2016-04-14 03:53] xmatthewx commented on #951
@ioana-chiorean – we hit a snag #1016. And have been focused on other MoFo infrastructure projects. Still hoping to get this out the door when we carve out the time.

[2016-04-14 04:51] ryanwarsaw commented on #1016
What are your thoughts on providing a user toggle-able option that allows them to choose whether they want to only see localized content or not? Surely we would need to build such a view in the future anyways (for other user related options).

[2016-04-14 14:32] xmatthewx commented on #1016
@ryanwse – you're right, that could be an ideal solution. We just don't have the time to design, build, test, and localize it. Adding a toggle is relatively easy. Figuring out where to put it, how to label it, and what to call it gets more complicated. Would sketch up a proposal to consider for later. In the meantime, Hashtags will also give people a chance to create a connection between local con

[2016-04-21 16:30] #1011 closed, assigned to nobody

[2016-05-03 14:55] xmatthewx commented on #951
Released 1.6.1 to production (as it was in beta)

[2016-05-03 14:55] #951 closed, assigned to gvn

[2016-05-03 15:13] xmatthewx commented on #1016
As a quick demo of the problem, hit both of these requests. You'll see that the english route doesn't return project ID 56558.

https://api.webmaker.org/discover/fr-US?page=1&count=50
https://api.webmaker.org/discover/en-US?page=1&count=50
https://api.webmaker.org/discover/?page=1&count=50

see: [line 79](https://github.com/mozilla/webmaker-core/blob/develop/src/components/project-list/project-lis

[2016-05-03 15:26] cadecairos commented on #1016
Project 56558 shouldn't show up in the en-US route - it's lang is set to `fr`

edit - so is the problem is that you can't see a non-localized set of discover projects without changing the system locale?

[2016-05-03 17:38] xmatthewx commented on #1016
You are right that it's not a bug in the code. We don't have enough curators to feature activity, so discover is likely to feel stagnant. And, helper and how-to projects  haven't been localized, so others don't see them.

[2016-05-20 15:55] #1012 closed, assigned to nobody

[2016-06-19 16:31] Coder206 commented on #685
@xmatthewx I have a Nexus 6P, if you need some help testing, let me know with no hesitation!

[2016-08-04 05:11] PrageethWanigasekara commented on #1013
I am new and I like to work on this bug.But I did not have any idea to how to start to fix the bug. Can I know some more details?

[2016-08-04 14:30] xmatthewx commented on #1013
Thanks @PrageethWanigasekara! We are not doing active development on this project right now. Feel free to work on it, but we can not promise a lot of support.

You might talk with @acabunoc about our other projects and opportunities to contribute.

[2016-08-05 01:12] PrageethWanigasekara commented on #1013
Ok, thank you xmatthewx. I will talk with him.

[2016-08-05 11:39] abbycabs commented on #1013
Thanks @PrageethWanigasekara!

If you want to get an idea of some of our current project, we have a demos call today at 1pm Eastern time. https://public.etherpad-mozilla.org/p/foundation-demos

if you can't make it, don't worry it's recorded! https://air.mozilla.org/channels/webmaker/

You can reach me here or at abby [at] mozillafoundation.org if you have any questions

[2017-03-07 01:21] #1014 closed, assigned to nobody

[2018-03-28 21:01] madb1lly opened #1018 "Webmaker App for Android no longer available"
Hi all,
The Webmaker app for Android isn't on the Play store anymore. Is this intentional? Is the project defunct? If it is, why is the website www.webmaker.org still up with a link to the Play store?
Cheers,

[2018-03-28 21:02] madb1lly opened #1019 "help@webmaker.org no longer in use"
Hi,
The email address help@webmaker.org bounces back as undeliverable. Is this correct? If so, why link to it on www.webmaker.org?
Cheers,

[2018-04-30 19:54] KevZawacki commented on #1018
Hi @madb1lly

Mozilla is no longer supporting Webmaker for Android; we're currently devoting our resources to our [advocacy](https://foundation.mozilla.org/campaigns/facebook/), [leadership](https://foundation.mozilla.org/fellowships/), and [Internet Health Report](https://internethealthreport.org/2018/) work.

Mozilla is in the process of updating older properties. Thanks for writing — and let me

[2018-04-30 19:55] #1018 closed, assigned to nobody

[2018-05-04 21:47] madb1lly commented on #1018
So you mean Mozilla isn't going to do or support any technical initiatives anymore? That doesn't sound very promising.

[2018-05-07 17:34] KevZawacki commented on #1018
Hi @madb1lly,

To clarify: The specific teams at the Mozilla Foundation that supported Webmaker are now working on our advocacy, leadership, and Internet Health Report work.

You can find a list of projects that Mozilla is supporting -- many of them technical -- here: https://www.mozillapulse.org/featured

[2018-05-20 21:20] madb1lly commented on #1018
Hi @KevZawacki
Thanks for the reply and link to Pulse. It's good to know that Mozilla is keeping the technical projects going. It's a shame that Webmaker couldn't be kept going, these education tools are one of the best things to come from Mozilla. I hope that Thimble, Xray goggles and other education tools will be kept alive?
Cheers :)

[2019-01-19 07:31] AdityaSrivast commented on #862
@gvn I want to work on this issue. I am first time contributor. Can you brief me on what needs to be done, please?

[2019-01-20 21:46] ryanwarsaw commented on #862
@AdityaSrivast Hey there, this project has been discontinued for a few years now. You may be interested in network pulse, o another mozilla project! Let me know if you have any questions?

[2019-01-22 18:09] gvn commented on #862
@alanmoo 👋 Y'all might want to put a deprecation warning in the README.