[2015-09-15 16:41] vazquez commented on #63
@flukeout - Just to clarify, so instead of this:

![page background annotations](https://cloud.githubusercontent.com/assets/1119821/9883243/0824f3d2-5ba7-11e5-8c4a-7dc2723bb49e.png)

You mean something like this:

![page background annotations 2](https://cloud.githubusercontent.com/assets/1119821/9883248/11aa03fc-5ba7-11e5-889c-2403429e6d17.png)

[2015-09-15 17:55] xmatthewx commented on #660
@vazquez - can drop in the names of the other fonts in your original spec?

[2015-09-15 18:05] vazquez commented on #660
In the original spec we have these fonts:
- Bitter Regular
- Pacifico
- Oswald
- Fredoka One
- Share Tech Mono
- Bangers

<img width="502" alt="screenshot 2015-09-15 14 02 57" src="https://cloud.githubusercontent.com/assets/1119821/9885307/7e13b44c-5bb2-11e5-856d-96b428c8af06.png">

In the current build we have the following fonts:
- Bitter Regular
- Pacifico
- Roboto

[2015-09-15 18:32] #583 closed, assigned to gvn

[2015-09-15 18:32] #630 closed, assigned to gvn

[2015-09-15 18:32] #631 closed, assigned to gvn

[2015-09-15 18:34] #429 closed, assigned to gvn

[2015-09-15 18:34] vazquez commented on #630
![](http://media.giphy.com/media/bxQKzvlXsCXpm/giphy.gif)

[2015-09-15 18:34] gvn commented on #630
:pizza: :pizza: :pizza: :pizza: :pizza: :pizza: :pizza: :pizza: :pizza: :pizza:

[2015-09-15 18:40] gvn opened #665 "Add eslint to webmaker-browser"

[2015-09-15 18:44] xmatthewx commented on #658
We need to further optimize the experience on 4+ and 5+. I'm not sure the benefit of support of further legacy devices outweighs the cost in testing and support.

I can't comment on the benefits and disadvantages of Crosswalk.

[2015-09-15 20:30] secretrobotron commented on #594
@LauraReynal @xmatthewx you should be able to tweak (and submit pull request) to https://github.com/mozilla/webmaker-android/blob/develop/app/src/main/res/values-en/strings.xml (which you should just be able to do straight from github).

@alicoding once a change is made to that file, it'll show up automatically on Transifex, right?

[2015-09-15 20:41] alicoding commented on #594
@secretrobotron we did not set up auto push to Transifex for this resource file. We need to do it manually here https://www.transifex.com/webmaker/webmaker/webmaker-stringsxml/

[2015-09-15 22:33] #586 closed, assigned to gvn

[2015-09-15 23:16] gvn commented on #660
We should actually tread lightly here because every font we add means more to download when people view projects in a web browser. We might want to think about adding more web safe fonts that don't require additional downloading...

[2015-09-15 23:47] xmatthewx commented on #660
We should only load fonts used by a project. cc'ing @ashleygwilliams to think about how to best handle this.

[2015-09-15 23:50] gvn commented on #660
Here's a bunch of web safe fonts that don't require additional downloading:

http://www.cssfontstack.com/

[2015-09-16 15:14] #231 closed, assigned to k88hudson

[2015-09-16 15:15] k88hudson commented on #566
Resolved

[2015-09-16 15:15] #566 closed, assigned to k88hudson

[2015-09-16 15:16] k88hudson commented on #634
Resolved as of 1.3.2

[2015-09-16 15:16] #634 closed, assigned to k88hudson

[2015-09-16 15:16] k88hudson commented on #576
Resolved by gavin's #586 patch

[2015-09-16 15:16] #576 closed, assigned to k88hudson

[2015-09-16 15:17] k88hudson commented on #567
Dupe of #643

[2015-09-16 23:52] ryanwarsaw commented on #642
@gvn do you still want me to do this or did you forget to close it?

[2015-09-17 15:39] gvn commented on #642
Sorry, forgot to close. Shared preferences seems to be working out well...thanks though!

[2015-09-17 15:39] #642 closed, assigned to nobody

[2015-09-17 15:53] xmatthewx commented on #484
We have updated UI, but need to weigh this against other features in the pipeline. I'm going to close this and track in #63.

[2015-09-17 15:53] #484 closed, assigned to nobody

[2015-09-17 16:13] gvn commented on #468
This should be fixed now. We had some display logic reversed...

[2015-09-17 16:13] #468 closed, assigned to nobody

[2015-09-17 19:56] gvn commented on #336
Instead of invalidating links, I took a more "webby" approach and just made a simple 404 view.

[2015-09-17 20:28] alanmoo opened #668 "Upgrade to Node v4"
The project seems to build, but the watch task fails. This may be related to webpack's versioning, as the problems start to appear when making changes to a `.jsx` file when `npm start` has been run.

[2015-09-18 16:41] vazquez commented on #651
#### Some explorations

We can place a visibility toggle in different parts of the app.

##### Make View
- Content would be in draft mode/invisible by default. The UI would subtly reflect this.
- Upon marking a content as visible, the Android Snackbar would reveal to show a confirmation message.

<img width="598" alt="screenshot 2015-09-17 10 51 46" src="https://cloud.githubusercontent.com/assets/

[2015-09-18 18:00] flukeout commented on #63
@vazquez Great, a couple of thoughts...
- The title bar still says Project - should we change it to "Choose a color"
  - I know you may have done this because of current limitations, should we put in what we'd like to see?
- What about coloring a couple of pages in the color view?
  - If I have 2 pages, can I tap one, color, tap the second, color it and then hit done?
  - I think that would be coo

[2015-09-18 19:04] #336 closed, assigned to gvn

[2015-09-18 19:22] #641 closed, assigned to gvn

[2015-09-18 19:27] vazquez commented on #63
Cool @flukeout, I will modify the doc to show background colour change for more than 1 page. I initially had that but I removed it due to our current limitations with modifying the header. I will reinstate it, and it can't be done we'll just remove it :)

[2015-09-18 20:14] xmatthewx opened #671 "Share notable projects on the web"
We have a growing list of etherpads that each contain a growing list of interesting projects. It'd be great to unlock this and share this visually on the web. A few options:
- post thumbnail and link to tumblr
- post links to twitter
- start a wordpress blog and post viewer embeds
- share to mozillawebmaker on facebook

cc @vazquez @LauraReynal

[2015-09-18 22:11] gvn commented on #598
I think this will be resolved by https://github.com/mozilla/webmaker-browser/pull/225

[2015-09-18 22:49] #34 closed, assigned to nobody

[2015-09-19 00:06] Pomax commented on #149
this can be closed due to all the followup

[2015-09-19 00:06] #149 closed, assigned to nobody

[2015-09-19 00:07] Pomax commented on #199
assuming fixed due to lots of followup.

[2015-09-19 00:07] #199 closed, assigned to Pomax

[2015-09-19 00:25] Pomax commented on #272
closing as really old.

[2015-09-19 00:25] #272 closed, assigned to nobody

[2015-09-19 00:28] Pomax commented on #358
closing as unverifiable. metrics will have to tell us whether this is still a problem

[2015-09-19 00:35] #358 closed, assigned to thisandagain

[2015-09-19 00:36] Pomax commented on #451
work for this was started on https://github.com/mozilla/webmaker-core/pull/587 but got blocked on issues concerning potentially destructive caching behaviour

[2015-09-19 00:36] #451 closed, assigned to nobody

[2015-09-19 00:41] Pomax commented on #574
this issue got lost in the activity: we switched to ESLint

[2015-09-19 00:41] #574 closed, assigned to nobody

[2015-09-19 15:04] lauradereynal commented on #671
https://www.tumblr.com/blog/decaffeinatedgalaxycollection

We haved talked about this for a long time with Bobby. I made this tumblr quickly. Feel free to edit it as you wish. Password and login infos to follow by email.

I dont have content to add though, but Ricardo and Bobby have tones.

I wonder if people would be okay with it ? what do you think ?

[2015-09-20 10:12] ariefbayu commented on #658
Hi guys,

I would like to weight in my view. Based on [google's dashboard](https://developer.android.com/about/dashboards/index.html), android below 4.0 account for less than 5%. I guess, we can forget froyo device?

[2015-09-20 12:31] ryanwarsaw commented on #658
Per discussion with a couple of Android developers this week, it appears we use Crosswalk to maintain the chromium webview compatibility down through Android 4, Crosswalk doesn't play well with devices older than Android 4 and thus this is not a reliable option.

Devices older than Android 4 most likely are using Webkit based WebViews, which I don't believe our application supports and its probabl

[2015-09-20 12:31] #658 closed, assigned to nobody

[2015-09-21 15:39] gvn commented on #668
I just upgraded to Node `v4.1.0` and everything seems to be working for me.

Which version are you on?

[2015-09-21 15:54] cadecairos opened #672 "Redirect webmaker.org/me to teach.mozilla.org/me"
[As part of the deprecation plan](MozillaFoundation/plan#569), we need to redirect /me to the new page being implemented [here](https://github.com/mozilla/teach.mozilla.org/issues/1276)

[2015-09-21 16:02] vazquez commented on #655
Some thoughts...

![hashtags](https://cloud.githubusercontent.com/assets/1119821/9996258/30a6acc2-6054-11e5-921b-2d5e79e8ed88.png)

[2015-09-21 16:33] ryanwarsaw commented on #285
@xmatthewx This functionality was added in the following PR, https://github.com/mozilla/webmaker-android/pull/2442. It allows us to set the title in any view, including project views. Once landed, this functionality will need to be incorporated in webmaker-core.

[2015-09-21 17:36] xmatthewx commented on #671
Thanks @LauraReynal! We shouldn't share projects that seem like they are private in nature. And we shouldn't share untitled projects. The creative commons notice is displayed on the view where someone adds a title.

[2015-09-21 18:37] vazquez commented on #63
![page background annotations](https://cloud.githubusercontent.com/assets/1119821/10001144/51e681ea-606e-11e5-8277-b4c2bc2ef7a4.png)

cc @flukeout

[2015-09-21 20:04] cadecairos opened #674 "Update webpack version"
Webpack has landed a fix for peerDependency breakage caused by npm@3 in version 1.9.13

[2015-09-21 20:44] #674 closed, assigned to cadecairos

[2015-09-22 15:00] alanmoo commented on #668
I also upgraded to Node `v4.1.0` and removed/reinstalled `node_modules`, I'm still seeing an error after running `npm start`. It looks like the task fails and restarts again, so I have to scroll back up in my console to see the errors

[2015-09-22 15:11] alanmoo commented on #668
Of course now I'm realizing that I also see this error running Node `v0.12.3`...maybe this ticket should be closed and another one opened to figure out what that error's about (if anyone else is getting it).

[2015-09-22 15:16] ryanwarsaw commented on #668
@alanmoo I did encounter this issue, I couldn't build core with Node v0.12.3, but after upgrading to v0.12.7 I could. The error I encountered wasn't really descriptive so I found the workaround by trying to update my environment. NPM also gives some weird errors if you are using an older version of that, also corrected by updating to a new version.

[2015-09-22 16:08] gvn commented on #668
That's a good point too...what version of npm are you running @alanmoo ?

[2015-09-23 15:36] alanmoo commented on #668
It wouldn't even start up using v0.12.7 and npm 3.3.3, but after resetting to npm 2.7.6 and then upgrading both to the latest (node 4.1, npm 3.3.3) and reinstalling node_modules, it's working fine. Maybe there some dependency upgrades happened in the last few days. Or it could have just been gremlins :)

[2015-09-23 15:36] #668 closed, assigned to nobody

[2015-09-23 15:37] alanmoo commented on #668
Actually, should I have closed this or should we update `package.json`? What's the process for something like this?

[2015-09-23 17:14] #659 closed, assigned to gvn

[2015-09-23 22:36] vazquez commented on #655
@LauraReynal gave me some great feedback. Here's a v2!

The concept behind this approach is to **open hashtags as descriptions**. Similar to the most popular social networks that have already been established, users include hashtags in their descriptions. Let's take a look at Instagram:

![screenshot 2015-09-23 18 36 59](https://cloud.githubusercontent.com/assets/1119821/10060848/2125b8d6-6222-11e

[2015-09-24 15:49] #424 closed, assigned to gvn

[2015-09-24 15:49] xmatthewx commented on #655
Thanks @LauraReynal for the feeback!

[2015-09-24 15:49] xmatthewx commented on #655
Three small edits. Our verbal conversation trumps these bits in terms of priority.
- 3rd settings view should have Description instead of Title as the header.
- Make view should exclude username and avatar.
- More actions in Make shouldn't include Flag...

[2015-09-24 15:59] gvn commented on #668
Well, technically we already indicate that 3.3.3 isn't supported in our engines property of package.json, so I think it's ok to leave this closed. We could make a new ticket to add 3.X.X support though!

[code]

Looks like we do need to bump up our node version though...

[2015-09-24 16:00] gvn commented on #668
Also, it would be good to add this info to the README.

[2015-09-24 18:42] vazquez commented on #655
1. Good catch.
2. I think the username and avatar should remain the same in both Discover and Make. Looking at other benchmarks (Instagram, Facebook, Kickstarter, and Vine), the author view metadata persist the author's name and avatar. I think helps to keep the UI consistent between views.
3. Cool, will remove.

[2015-09-25 15:53] vazquez commented on #655
### Enhancing Activity in Webmaker with Hashtags

---

![hashtags activity](https://cloud.githubusercontent.com/assets/1119821/10105320/0f2d19c0-637c-11e5-94e1-601b457cb57d.png)

[2015-09-25 16:48] xmatthewx opened #678 "SWOT on learning products"
Complete SWOT on Webmaker, Thimble, and other learning products.
- planning ticket: https://github.com/MozillaFoundation/plan/issues/578
- examples: https://www.dropbox.com/s/bfx70cnjp4jzlo3/Rizwan%20Org%20Strategic%20Review%20-%20Current%20Learning%20Programs.pdf?dl=0

cc @hannahkane @davidascher @secretrobotron @HPaulJohnson

Anyone else who should join this effort?

[2015-09-25 17:45] xmatthewx opened #679 "Create Thimble tutorial on embedding Webmaker"
Mozfest is a great opportunity to test Webmaker as a tool for capturing experiential learning and extending it into a year-round digital space.

One way to gather and share the results is by embedding projects in a blog or Thimble project. Let's create a tutorial on how to do that.
### Steps
- make something in Webmaker
- share it to yourself via email to get the URL
- copy your URL into the `ifra

[2015-09-25 17:48] vazquez commented on #679
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ILQPXh4C&#x2F;128-create-thimble-tutorial-on-embedding-webmaker"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Create Thimble tutorial on embedding Webmaker</a>

[2015-09-25 18:01] xmatthewx opened #680 "Test embedded Webmaker"
Test Webmaker in an iframe on modern browsers.

@gvn - Any reason to believe it won't work just as well in an iframe for use in a blog post?

https://d157rqmxrxj6ey.cloudfront.net/okfuture/7824/

[2015-09-25 18:09] gvn commented on #680
It'll probably work ok. FWIW: I don't see that project embed in Chrome, but it does in FF.

[2015-09-25 18:15] xmatthewx commented on #679
Here's a thread to discuss curriculum ideas: https://discourse.webmaker.org/t/webmaker-thimble/114?u=okfuture

[2015-09-25 18:17] xmatthewx commented on #680
Odd. I see it in Chrome ok. I did have some trouble setting dimensions on iframe. Seemed thimble might have interfered somehow.

cc @vazquez

[2015-09-25 18:22] gvn commented on #680
It's possible it may be one of my extensions blocking it...

[2015-09-25 18:23] vazquez commented on #680
It shows for me in Chrome

[2015-09-25 18:44] #665 closed, assigned to gvn

[2015-09-25 21:08] xmatthewx commented on #655
Excellent. I'd like to also see a version of a featured hashtag that is just a white card with text on it.  #newyearsresolution, #privacyday. Let's mark them `featured`. Post high enough resolution that I can integrate to slide deck.

[2015-09-28 20:24] vazquez commented on #655
### White Pin

Large resolution available here: https://dl.dropboxusercontent.com/u/43783651/Discover%20View%20Hashtag%20Pins%20Copy.png

![discover view hashtag pins copy](https://cloud.githubusercontent.com/assets/1119821/10147670/57272616-65fd-11e5-870e-241a250a6c52.png)

[2015-09-29 15:27] xmatthewx commented on #651
Nice exploration. A few thoughts:
- This fits well in Make view. Provides a good overview of all your projects and their visibility. We would want a snackbar to display on toggle to state 'your project is now visible' or 'your project is now private'.
- In the editor, it draws attention away from more important functionality. It gives a lot of prominence to something you might utilize only once in

[2015-09-29 15:29] xmatthewx commented on #653
Someone must have built a module to do this. Also, maybe this could be handled on the Thimble import, since this won't be the only react based code people attempt to pull in.

[2015-09-29 16:00] vazquez commented on #651
Quick clarification: The snackbar is already visible in the top Make View explorations, were you thinking something in addition to that?

Make view would be the ideal spot if we made projects not-visible by default. Settings would be great if projects were visible by default. The advantage to having projects not-visible by default is that we could gain a higher quality of content.

---

### Updati

[2015-09-29 16:42] #344 closed, assigned to nobody

[2015-09-29 17:47] vazquez commented on #651
During our standup, we talked about adding a CTA on the Make View if the user has not added any metadata. This could help us in:
1. Encouraging unique Titles
2. Descriptions with hashtags in the future!
3. Show the user that the visibility toggle appears in Settings

The `Name This Project` button would take the user to the **Settings View**.

![scan sep 29 2015 1 37 pm](https://cloud.githubuserco

[2015-09-29 18:46] #153 closed, assigned to gvn

[2015-09-29 19:46] #285 closed, assigned to flukeout

[2015-09-29 21:29] gvn commented on #646
@xmatthewx Where would the "Learn more." link go?

[2015-09-29 21:49] xmatthewx commented on #646
@gvn - we didn't identify a "learn more" destination. Let's leave that off for now.

Also:
- the placeholder shouldn't include "i.e." before the example
- we should be prepared for some people to include http//:, but ideally shouldn't require them to type that out

[2015-09-29 22:02] hannahkane commented on #678
This sounds useful. Are we having a kickoff meeting?

[2015-09-29 23:16] chrislarry33 commented on #678
Could we also add teach.mozilla.org to this list? Here is the documentation from the Leadership Development group, including our SWOT work for reference https://drive.google.com/drive/u/1/folders/0B3P4kAmkrxtCZWpNcmZ1Um1zczA

[2015-09-29 23:17] chrislarry33 commented on #678
Could ask Sam/Meghan/Kaitlin for more on the process they employed.

[2015-09-30 00:41] gvn opened #684 "Potential Optimization: shouldComponentUpdate"
"If performance is a bottleneck, especially with dozens or hundreds of components, use shouldComponentUpdate to speed up your app."

See: [https://facebook.github.io/react/docs/component-specs.html#updating-shouldcomponentupdate](https://facebook.github.io/react/docs/component-specs.html#updating-shouldcomponentupdate)

There may be some opportunities to leverage this.

[2015-09-30 00:57] alanmoo commented on #684
Think this would help at all with #638?

[2015-09-30 01:07] gvn commented on #684
Maybe partially. Most of what's described in that bug are data integrity issues, not so much perf issues. However, if we can figure out what UI in particular feels "slow" we might be able to speed it up by not having `render` called so much...

[2015-09-30 15:08] ryanwarsaw opened #685 "Android 6.0 Support"
Android 6.0 (Marshmallow) should start rolling out on Nexus devices next week, there aren't many changes that impact us, however there are two keep ones that are worth noting. One of them includes runtime permissions, we can no longer assume when the app is downloaded that it has been given permission to everything it requires in order to run.

We will need to prop up the app, in any place where i

[2015-09-30 16:11] xmatthewx commented on #685
Thanks @ryanw-se for the heads up. Let's keep this as a meta ticket for now, but use it to file individual tickets for discussion.
- [ ] runtime permissions `to file`
  - how will Android handle failure? what's required to improve this in terms of design, engineering?
- [ ] deep links into Webmaker `to file`
  - will android 5+ not gain this feature as well?

cc @gvn @vazquez

[2015-09-30 16:42] ryanwarsaw commented on #685
@xmatthewx As far as I am aware, Android doesn't handle failure to accept a permission required by an app, that is left up to the app developer. If I start the app and want to use a camera, I'd get a pop asking if I want to allow Webmaker to use the camera, if I select no, Webmaker needs to handle that properly.

So really, all that issue requires is more propping up in area's where we require per

[2015-09-30 16:46] xmatthewx opened #686 "Beta opt-in link"
Let's add this to the readme docs with a little helpful info: https://play.google.com/apps/testing/org.mozilla.webmaker

[2015-09-30 16:51] xmatthewx commented on #654
@vazquez to confirm this doesn't require any new design...

[2015-09-30 16:53] vazquez commented on #654
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;bBVyLxqs&#x2F;129-implement-author-project-list"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Implement Author project list</a>

[2015-09-30 17:25] vazquez commented on #624
oops! Closing again

[2015-09-30 17:25] #624 closed, assigned to vazquez

[2015-09-30 17:29] vazquez opened #687 "Let's Play!"

[2015-09-30 19:35] xmatthewx opened #688 ""Best of" Content"
Let's gather screenshots for exemplar content. Will be very useful for the program review on Thursday afternoon. If everyone could find 2 or 3 examples that fit each of things below, we'll have a solid collection.

An example should do one of these well, not necessarily all three:
- locally relevant
- leverages unique attributes of the platform
- great looking

Other categories? Drop links and scr

[2015-09-30 19:38] vazquez commented on #688
1. The fastest man alive https://beta.webmaker.org/#/project?user=488656&project=24202
2. Daily workouts https://beta.webmaker.org/#/project?user=488228&project=24470
3. Exploring Dhaka's flood problem: https://beta.webmaker.org/#/project?user=488572&project=24397

[2015-09-30 19:41] xmatthewx commented on #629
tracking in #660

[2015-09-30 19:41] #629 closed, assigned to nobody

[2015-09-30 19:52] xmatthewx commented on #688
cc @benrito

[2015-09-30 20:49] HPaulJohnson commented on #688
Good examples from Bangladesh:
1) Fan pages for cricket team: https://beta.webmaker.org/?user=488486&project=24144#/project?user=488486&project=24144
2) Recycling Tips: https://beta.webmaker.org/?user=488564&project=24240#/project?user=488564&project=24240
3) Photography portfolio: https://beta.webmaker.org/?user=488592&project=24180#/project?user=488592&project=24180
4) Study guides: https://beta

[2015-09-30 21:01] vazquez commented on #654
![artboard 38](https://cloud.githubusercontent.com/assets/1119821/10206431/de2fc152-6794-11e5-8897-6489bda767b2.png)

[2015-09-30 23:20] HPaulJohnson commented on #688
More:
Celebrating Indonesia Independence Day: https://beta.webmaker.org/#/project?user=457648&project=6869
How to create a Twitter account: https://beta.webmaker.org/#/project?user=458810&project=7318
Learn to Pray: https://beta.webmaker.org/#/project?user=459424&project=7676
Firefox birthday card: https://beta.webmaker.org/#/project?user=834&project=12487
Small Business Portfolio: https://beta.we

[2015-10-01 16:12] #656 closed, assigned to gvn

[2015-10-01 17:03] cadecairos commented on #672
I think I filed this in the wrong repo, lol.

[2015-10-01 19:21] ldecoursy commented on #678
Chatted with @xmatthewx briefly, about making some time for this during the upcoming work week, to sit together in person, review product SWOT, share learnings from LD SWOT, etc.

[2015-10-01 21:55] chrislarry33 commented on #678
Great!

[2015-10-01 22:06] xmatthewx commented on #678
@davidascher started to collect some thoughts toward this here: ~~https://etherpad-mozilla.org/prod-swot~~

[2015-10-01 22:21] xmatthewx commented on #688
Here are some screenshots, on desktop and in the app.

<img width="1119" alt="screenshot 2015-09-25 13 51 14" src="https://cloud.githubusercontent.com/assets/53411/10235269/d3139922-6868-11e5-89d4-711948a9da8c.png">
<img width="1678" alt="screenshot 2015-10-01 10 55 11" src="https://cloud.githubusercontent.com/assets/53411/10235277/dc43edf8-6868-11e5-94cb-4df57bca5532.png">
<img width="1680" alt="

[2015-10-01 22:51] benrito commented on #688
Than you!

[2015-10-02 17:47] xmatthewx commented on #688
Some visual appealing options from the list of most viewed projects...

A wedding invitation.
https://beta.webmaker.org/#/project?user=113237&project=26797

<img width="1680" alt="screenshot 2015-10-02 13 17 54" src="https://cloud.githubusercontent.com/assets/53411/10252862/17423cb2-6908-11e5-80f4-24d276ab52f8.png">

Photography tips with examples
https://beta.webmaker.org/#/project?user=28970&pro

[2015-10-02 22:49] hannahkane commented on #678
added my thoughts to the pad

[2015-10-03 00:16] gvn opened #689 "Possibly refactor custom dispatcher w. Redux"
http://rackt.github.io/redux/

[2015-10-05 07:05] mfachrulrazy opened #690 "Use too many resources of my device"
Hello, I have installed Webmaker App on my device, Asus Zenfone 4 (with intel Atom Z2520, 1GB RAM) and when I create a project on Webmaker for about 8 pages, it uses too many resources of my device
- the battery it low very fast
- use too many ram, about 150mb
- my packet data connection for about 50mb
- also my device getting hotter
- it's difficult to arrange the postition of picture and image

[2015-10-05 14:08] xmatthewx commented on #654
The author name card looks good. Two things to adjust in the comp. Remove the create button. Remove active tab indicator from Make. It should either be Discover or neither.

[2015-10-05 14:45] xmatthewx commented on #655
Could the featured hashtag be dark gray instead of blue? This card doesn't feel quite right. A bit tall. The label looked good with the background image, but unbalanced here. Maybe we drop it. Let's give this another pass.

[2015-10-05 15:23] xmatthewx commented on #651
:+1: on the button.

[2015-10-05 15:26] xmatthewx commented on #651
We'll need to be careful with visibility settings to avoid ambiguity about privacy or suggest that flipping the switch will definitely add things as a feature to Discover. As currently worded, many people might want to share their project to friends, but still keep the switch off. We should also avoid complex tech requirements that require auth in the browser viewer or require us to change previou

[2015-10-05 16:25] alanmoo commented on #686
Looks like this was taken care of in #617...Do you want it in https://github.com/mozilla/webmaker-android too or should we have some more info here?

[2015-10-05 16:30] vazquez commented on #655
Agree. Some alternate explorations.

![image](https://cloud.githubusercontent.com/assets/1119821/10286658/bdd2869e-6b5c-11e5-986e-fce10ac1eaa9.png)

[2015-10-05 17:23] alanmoo commented on #615
I assume this would be an additional row below the "Background color" selection, correct? @vazquez?

Related (and this may be another ticket or something) but it strikes me that scrolling down the page loses sight of the button you're trying to decorate- has there been any discussion about keeping the button visible and just having the controls below it scroll underneath the preview?

[2015-10-05 17:29] vazquez commented on #615
@alanmoo

**Re Q1:**

Yes, it would be an additional row :)

**Re Q2:**

That's exactly how we initially envisioned the UI! We haven't implemented it due to tech debt, but it would be _amazing_ to implement this UI handling.

[2015-10-05 19:13] xmatthewx opened #692 "Improve scrolling of element editor views"
At least two improvements are possible:
- fix the preview to the top of the view. scroll attribute UI up behind it.
- improve touch/scroll behavior. currently, a swipe-to-scroll often fails when it starts on a slider or element that might have a different interpretation of the swipe. We're certainly not the only app to encounter this ... must be design or code methods to improve this.

[2015-10-05 19:14] xmatthewx commented on #615
Cool. I filed improvements to element editor, include a fixed preview window here: https://github.com/mozilla/webmaker-core/issues/692

[2015-10-05 19:17] xmatthewx commented on #686
What we have is good. Thanks.

[2015-10-05 19:17] #686 closed, assigned to alanmoo

[2015-10-05 19:18] alanmoo commented on #692
Yeah, I noticed this behavior too. I'm guessing the touchEvent handlers need to be moved to the "knobs" instead of just the whole slider. The side effect would be you wouldn't be able to tap on a part of the slider to adjust to that value, but I feel like that's not a terrible drawback.

[2015-10-05 19:19] vazquez commented on #651
Understood, and great points. New Project Settings would look like the following:

![image](https://cloud.githubusercontent.com/assets/1119821/10290589/ff1fb2c8-6b72-11e5-88c6-8df62527d37c.png)

Before we rule out the eye icon in the Make View, what about this exploration? The button would not act as a toggle, but if the user were to tap on the icon, we could offer help.

![image](https://cloud.gi

[2015-10-05 19:30] xmatthewx commented on #692
Agreed.

[2015-10-05 19:54] xmatthewx opened #693 "Prepare play store release announcement"
New release in Play Store includes "What's New" information to current and new users. It's a chance to highlight features and encourage a download.

Anything missing?

Draft copy:
https://webmaker.etherpad-mozilla.org/whats-new

List of commits:
https://github.com/mozilla/webmaker-core/pull/691

cc @gvn @k88hudson @vazquez @alanmoo @HPaulJohnson @KevZawacki

[2015-10-05 19:55] alanmoo commented on #693
Bad etherpad link?

Edit: nevermind

[2015-10-05 19:55] xmatthewx commented on #693
The new release will include a new translation. Please review how I've stated this @alicoding @secretrobotron. See [copy in etherpad](https://webmaker.etherpad-mozilla.org/whats-new).

[2015-10-05 20:08] xmatthewx commented on #690
@fahrulrazy - sorry for the trouble with the app on your device. It seems like you're experiencing a memory leak. Even if we had an full offline implementation, you would probably still have performance issues.

cc @ryanw-se - any thoughts on the cause?

[2015-10-05 20:09] alanmoo commented on #615
Is it correct to say that with this, text won't automatically change colors based on the background anymore?

[2015-10-05 20:17] ryanwarsaw commented on #690
@xmatthewx I do know there are some small ones present that could be contributing to the problem, but I'll continue to look into it and see what I can find.

[2015-10-05 20:19] xmatthewx commented on #615
Yes, please. The auto color doesn't work correctly for all colors.

[2015-10-05 20:22] alanmoo commented on #615
Ok. For now I'll make the default set the same as for the background, but my guess is we might want to change that in the future

[2015-10-05 20:24] xmatthewx commented on #615
Ah yes. By default let's make text white. That will work reasonably well for most colors.

[2015-10-05 20:35] gvn commented on #693
Technically our latest release will be 1.4.0...

https://github.com/mozilla/webmaker-android/commit/dc8ce6a32e6c4098f2d64c6e4aee4e6a6b12ce3b

[2015-10-05 20:45] vazquez commented on #693
Looks good to me re: copy :+1:

[2015-10-06 07:14] mfachrulrazy commented on #690
I think, It's okay if the app use too many amount of ram.. but I had this opinion, if I can create a project offline first until I finish it, then connection of packet data will be used, but if I only want to publish or share my projects to others. I think this is my idea when this app should offline, and when this app should online.
offline:
- when I create a project from scratch (new project)

[2015-10-06 14:30] vazquez opened #694 "A Webmaker Story"
Brief available: https://docs.google.com/a/mozilla.com/document/d/1irOqPUtHV0c-lhEgujLliPmQREJZ9lj21uC9BXTXw40/edit?usp=sharing

Deck available: https://docs.google.com/a/mozilla.com/presentation/d/19TgHgfrDtbm3Q7VLKRcfyxb20pqSPFrcCP9qW2dmJUw/edit?usp=sharing

[2015-10-06 14:51] vazquez commented on #694
Some thoughts:

journey begins with a celebration of neighborhood #theHeights ... ends with #streetsmart other people who are using webmaker to document the awesome things about where they live.

[2015-10-06 15:26] xmatthewx commented on #655
I dig the green hashtag card. For the "featured" label, let's drop the icon and then bring it back later if/when we can design a system that connects with favs etc.

For settings view, we should explain that a description can include hashtags.

Or, ...the field label could be `Description and #hashtags`

[2015-10-06 15:37] vazquez commented on #655
I vote for Description and #hashtags :+1:

[2015-10-06 15:40] alanmoo opened #695 "Reset password link is hard coded to production environment"
Even when logging in to staging, trying to reset your password will trigger an email from the production database. This should be tied to the environment that the app is currently running in.

[2015-10-06 16:39] vazquez commented on #694
@xmatthewx and I conversed joyfully about the goal of this Webmaker story. These are the organized notes:

![scan oct 6 2015 12 35 pm](https://cloud.githubusercontent.com/assets/1119821/10315259/34864a3a-6c27-11e5-9f18-1277f8182271.png)

[2015-10-06 17:25] vazquez commented on #694
@xmatthewx - A ~~Ricardo Map~~ System Map

![scan oct 6 2015 1 10 pm](https://cloud.githubusercontent.com/assets/1119821/10316528/ae883180-6c2d-11e5-977b-4411464428b6.png)

[2015-10-07 15:58] #261 closed, assigned to Pomax

[2015-10-07 16:43] xmatthewx commented on #55
@alanmoo - this essentially the same thing as what you just landed. Different element, different attribute, same logic.

[2015-10-07 16:44] alanmoo commented on #55
Great. I was thinking it was more of a text outline but if it's a solid field, this _should_ be quick.

[2015-10-07 16:45] #615 closed, assigned to alanmoo

[2015-10-07 16:45] #127 closed, assigned to alanmoo

[2015-10-07 18:02] alanmoo commented on #55
@vazquez I'll put this below text color, but above background color?

[2015-10-07 18:03] vazquez commented on #55
That's exactly right :hand:

[2015-10-07 18:23] vazquez commented on #694
Some ideas from design critique:
- Specific stories need more detail that couldn't fit in instagram or twitter or ... tie stories together in a project that couldn't be done on other platforms. map the neighborhood
- Who does he share his project(s) with? send to specific friends on facebook? what's his motivation?
- I think the 2nd half of the story needs a bit more detail. he connects with anoth

[2015-10-07 18:24] xmatthewx commented on #55
Ah. I see the source of confusion.\* To clarify: this will set `background-color` on the the p text element. The UI control should be labeled "Background" ... it will come after "Color" and before "Text Style" in the editor.
- Screenshot at top was just to show that we already had a component for setting color. Border is not relevant here.

[2015-10-07 18:29] alanmoo commented on #185
As per @xmatthewx during today's meeting, this is on hold for now.

[2015-10-07 18:34] alanmoo commented on #55
Just so we're consistent on i18n, I want to point out that I added "Text Color" in #696, as I felt it was confusing to have something plainly labeled "Color" (even though that's the CSS style we're targeting). Should I change that to "Color" or use "Text Color" here? (I'd vote keeping "text for clarity" but I don't care too much either way).

[2015-10-07 18:49] xmatthewx commented on #55
@alanmoo - interesting thoughts. Let's stick with what we have for now since user tests haven't revealed a problem with that. I think the context is strong since you've just tapped to edit the text element.

[2015-10-07 19:03] vazquez commented on #55
:+1:

[2015-10-07 19:22] alanmoo commented on #55
Ok, I'll add in "Color" to the `en-US.yaml` file as a separate entry (it was hard coded in the markup previously). Should I change the label in #696 back to "Color" as well, instead of "Text Color" @xmatthewx?

[2015-10-07 19:33] alanmoo commented on #590
@Pomax: Just to clarify, you're saying remove the event listener during the `componentWillUnmount` phase of the lifecycle, right?

[2015-10-07 20:13] xmatthewx commented on #55
Yes, that'd be good.

[2015-10-07 20:13] Pomax commented on #590
yeah, the general idea is to addEventListener during `componentDidMount`, and removing it again during `componentWillUnmount`

[2015-10-07 21:18] alanmoo commented on #55
@xmatthewx I created the PR, though I notice you asked for "Background" as the UI control, where it was "Background Color" in the link editor. Right now the PR has "Background Color", again for consistency. Thoughts?

[2015-10-07 21:20] alanmoo opened #700 "Update to React 0.14"
Looks like `package.json` will need some love, among other things. http://facebook.github.io/react/blog/2015/10/07/react-v0.14.html

[2015-10-07 21:21] alanmoo commented on #639
+1, came searching to see if this issue already exists.

[2015-10-07 21:24] alanmoo commented on #240
Duplicate of #639. @xmatthewx Should we leave that one open as the title is more descriptive/action oriented?

[2015-10-07 22:04] xmatthewx commented on #240
Sure. Closing. Tracking in #639.

[2015-10-07 22:04] #240 closed, assigned to nobody

[2015-10-08 13:59] alanmoo commented on #611
@vazquez Would you say then the best way to solve this ticket would be to offer a different set of default colors in the button background color picker?

[2015-10-08 14:05] vazquez commented on #611
I agree @alanmoo. When looking at Webmaker projects, I have never seen anyone use white as a button. I would feel comfortable in removing white and adding a different colour. What do you think @xmatthewx @flukeout?

The button colour I propose adding is purple and blue.

![image](https://cloud.githubusercontent.com/assets/1119821/10368590/0b463e7c-6da4-11e5-95f1-1d88cb4a76cf.png)

[2015-10-08 14:08] vazquez commented on #55
Let's go for:

`Color`: Label for modifying text colour.
`Background`: Label for modifying background colour.

[2015-10-08 15:12] alanmoo commented on #55
Great. Just to tie this in with #611, what should the default colors be for text? Right now I have
![text colors](https://cloud.githubusercontent.com/assets/1682681/10370515/401ea75c-6dad-11e5-96fe-d60c9436c974.png)

[2015-10-08 15:13] alanmoo commented on #611
So those should be the default colors? Right now I have
![link colors](https://cloud.githubusercontent.com/assets/1682681/10370554/78fbd86a-6dad-11e5-8c40-5c279815cd1d.png)

(Cross reference #55)

[2015-10-08 15:25] vazquez commented on #55
Those values are right on the money for text strings. Text can have a transparent background (which is essentially no background).

[2015-10-08 15:26] vazquez commented on #611
Yes, let's remove the transparent option for both Color and Background; they are not used in buttons at all.

Let's add `#9FD0E0` (aqua) and `#8173E4` (purple)

![screenshot 2015-10-08 11 25 52](https://cloud.githubusercontent.com/assets/1119821/10371003/5caae014-6daf-11e5-96b2-7c053f35a44a.png)

[2015-10-08 15:59] #340 closed, assigned to gvn

[2015-10-08 16:06] alanmoo commented on #611
After a conversation with @vazquez, colors for links are
![link colors](https://cloud.githubusercontent.com/assets/1682681/10372261/f3dea4ac-6db4-11e5-8edd-e39bad677499.png)

[2015-10-08 16:10] vazquez commented on #611
Boom! :facepunch:

[2015-10-08 16:13] alanmoo commented on #611
Obviously white is still an allowed color using Tinker, but it's not an immediate choice. If the user really wants to do white, they should probably be able to, right?

[2015-10-08 16:13] gvn commented on #611
@vazquez – Would it make sense to name/standardize these colors and add them to the style guide? Or is this more of a one-off color picker?

[2015-10-08 16:13] flukeout commented on #611
Good stuff guys - I would suggest having a dark grey or black as one of the "color" options though. I don't see a lot of the color options working against those backgrounds - most buttons on the web seem to have white or black text (at varying opacities).

Thoughts?

Radical idea - Maybe even just 3 whites and 3 blacks at varying darknesses / opacities in a kind of gradient?

[2015-10-08 16:13] vazquez commented on #611
@alanmoo Yes, if they want it they can access it in Tinker Mode.

[2015-10-08 16:18] vazquez commented on #611
@flukeout I hear you, what about this?

cc @alanmoo `#484B50`

![image](https://cloud.githubusercontent.com/assets/1119821/10372607/967c1df6-6db6-11e5-93f2-65910b18ce05.png)

[2015-10-08 16:19] vazquez commented on #611
@gvn On the case! I will create another issue with updated colours

[2015-10-08 16:20] alanmoo opened #701 "Text style "checkbox" labels should be white when active"
When "text style" elements are active, the `B`,`I`, and `U` elements should be white like the text alignment elements are in the following image. Currently they stay dark.

![text styles](https://cloud.githubusercontent.com/assets/1682681/10372642/cb76c5b0-6db6-11e5-820e-21de4b35d7bf.png)

[2015-10-08 16:26] flukeout commented on #611
@vazquez yeah, big improvement IMO!

@adamlofting At some point it would be cool to run a query against all published projects and see what the most common button text / background combinations are. Do we have such a capacity?

[2015-10-08 22:14] xmatthewx commented on #678
Migrated content from etherpad to gdoc. Added a few thoughts.  https://docs.google.com/a/mozilla.com/document/d/19LDFQQACSBwMCrem5ET3G1dw9O-e3jdyXoMP0KEj5Ks/edit?usp=sharing

[2015-10-08 22:54] gvn commented on #700
We'll need to update `webmaker-browser` as well to make sure everything works properly there.

[2015-10-08 23:16] gvn opened #703 "Enable greenkeeper"
http://greenkeeper.io/

[2015-10-09 15:11] xmatthewx commented on #693
Here's copy extracted from the fallen etherpad, for posting in the play store.

[2015-10-12 19:18] vazquez commented on #655
### Updating UI

Removing Featured label icon:

![image](https://cloud.githubusercontent.com/assets/1119821/10436448/66f45274-70f4-11e5-989b-077390c2f8c8.png)

Adding guide text below `Description`

![image](https://cloud.githubusercontent.com/assets/1119821/10436406/33fbefbc-70f4-11e5-9c0f-d6beb1eb39e9.png)

[2015-10-12 21:20] lauradereynal commented on #655
So cool to see this feature come alive :+1:

One question @vazquez If the user chooses to keep project private, it wont show on their profile ? does that mean that they wont be able to see it themselves ? How will they retrieve it ?

[2015-10-12 21:23] vazquez commented on #655
:rocket:

If the user chooses to keep their project private, it will show up in the Make View, it will just have a little bit of a different look. The design for this is being done in https://github.com/mozilla/webmaker-core/issues/651

[2015-10-13 12:51] adamlofting commented on #611
I've not yet spent any time in the raw project data for Webmaker, but that would a great thing to explore. @secretrobotron do you have access to run this kind of query? It depends on how the project data is stored and what we can search against versus where we might need to build some indexes etc.

[2015-10-14 15:51] jbuck commented on #672
@cadecairos Lets upgrade to hapi 10!

[2015-10-14 15:56] cadecairos commented on #672
Hapi 10 doesn't have wildcard routing either.

We could just have two routes with the redirect: '/me' and '/{lang}/me' since we can't do something like '/lang?/me'

[2015-10-14 17:03] jbuck commented on #672
Oh, okay. Yeah, two routes is a good solution then!

[2015-10-16 19:21] xmatthewx opened #706 "Elements are shifted in project viewer"
all elements are shifted to the right by 5 to 10 px in project viewer as compared with project editor

[2015-10-16 19:25] xmatthewx opened #707 "Consider react-less rendering in browser-based viewer"
this would make stuff more webby, easier to import into thimble.

[2015-10-16 19:33] xmatthewx opened #708 "Add opacity to text element"
currently only accessible in tinker mode

[2015-10-16 19:42] xmatthewx opened #709 "Add photos to device gallery"
Currently, photos taken within Webmaker do not get saved to the device gallery. Doing this would be awesome, preserve content, and enable users to use a photo more than once.

cc @ryanw-se

[2015-10-16 20:06] xmatthewx commented on #611
A few updates:
- we should keep the option for `none` as a background color.
- when none is selected, there should be no highlight or shadow.
- we should also have white

Labels for two color pallets should be:
- Text Color
- Button Color

etc. let's discuss...

[2015-10-16 20:17] xmatthewx commented on #265
tracking in #692

[2015-10-16 20:17] #265 closed, assigned to nobody

[2015-10-16 20:19] xmatthewx commented on #692
ideas to fix difficult scrolling:
- mask the slider with an element to block touch target outside
- add margin to editor-options

[2015-10-16 20:25] xmatthewx commented on #692
@vazquez - it seems like we'll need to add 40-50px padding on right side to make scrolling easier. @flukeout and I thought we could add a subtle texture to make the asymmetry ok and also make it super chill.

[2015-10-16 20:29] xmatthewx opened #710 "small text elements can’t be near edge of page"
@flukeout to add STR

cc @alanmoo

[2015-10-16 20:33] xmatthewx opened #711 "FTU in Beta might have a bug"
This might have happened. Confirm on a new install of latest Beta:
- in project I remixed
- add a new page
- FTU you pop'd up pointing at more actions
- tap "Got it"

expected: stay in the project editor
actual: taken to Make view

[2015-10-16 20:36] xmatthewx commented on #706
might just be text elements. and shift might be to the right and down.

[2015-10-16 20:43] xmatthewx opened #712 "Add padding to touch target only if necessary"
Currently, elements get padding to maintain a minimal touch target on small elements. On large elements, this padding blocks composition of this and other elements.

[2015-10-16 20:49] xmatthewx opened #713 "Hue picker locks"
Hue picker is locked at top when the brightness and saturation are 0 on the x-axis (a shade of gray).

Quick fix if real fix is a challenge: change the default white and gray to be one bit off so less people hit this bug.

[2015-10-16 20:55] xmatthewx opened #714 "Snap to horizontal"
Project are a little bit askew. Users struggle to neatly place images and text. Snap to horizontal (+/-5º) will make this much easier.

[2015-10-16 21:08] xmatthewx commented on #248
tracking in #709

[2015-10-16 21:08] #248 closed, assigned to nobody

[2015-10-17 16:03] ryanwarsaw commented on #611
I'm a bit confused as to why we are removing transparency... it might not be very popular but shouldn't we focus more on adding new features and less on removing them?

Someone might find a creative way to use transparency, especially with buttons, even more so as we implement more features in the future.

[2015-10-17 20:05] alanmoo commented on #611
@ryanw-se whatever we choose, it wouldn't go away completely. Transparent would still be an option in Tinker mode; this is just about default colors.

[2015-10-17 20:29] ryanwarsaw commented on #611
@alanmoo :+1:

[2015-10-19 15:04] alanmoo commented on #692
<img width="389" alt="screen shot 2015-10-19 at 11 02 10 am" src="https://cloud.githubusercontent.com/assets/1682681/10581474/e8283d72-7650-11e5-9dcd-7f7b65a6ea97.png">

@flukeout @vazquez who wants to take this on from a design standpoint? I also added that shadow under the preview (`box-shadow: 0px 2px 6px gray`), but I'm not sure if we have some guidelines for that kind of thing.

[2015-10-19 15:31] vazquez commented on #692
I'll take it on @alanmoo. Today I might not get to it as I'm in a workshop day with Cassie, but I'll get to it :)

In the meantime, what kind of design support do you need from me?

[2015-10-19 15:31] vazquez commented on #692
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;yLom8vZt&#x2F;131-l"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> l</a>

[2015-10-19 15:33] alanmoo commented on #692
No rush, I've got it on a branch whenever design is ready. Basically the separation between preview and options, and then...something visual for the scroll column? "Grips"?

[2015-10-19 15:33] vazquez commented on #692
:+1:

[2015-10-19 15:38] vazquez commented on #611
@xmatthewx -

Do you want to keep `none` as the background colour because you're looking to mimic links?

[2015-10-19 17:52] xmatthewx opened #715 "New color broken on old buttons"
`Beta 1.4` might not render all user-created button properly if they were created in a prior version.

Project linked below looks fine in the browser (white button, black text). In the app, buttons and text label are both white. Theory: previously, text color was set automatically to black or white based on background color. If color wasn't stored in DB, it may now default to white. Browser-based

[2015-10-19 17:59] xmatthewx commented on #611
Yes @vazquez and we've seen people use them to create integrated nav buttons as well. We could limit this to people who use transparency tinker mode if you think there's a good reason. But even in that case, we need to drop any highlight/shadow effect.

[2015-10-19 18:05] xmatthewx commented on #694
Let's add one more slide to the end that shows Webmaker featuring the hashtag. Text added, just needs a screenshot. https://docs.google.com/presentation/d/19TgHgfrDtbm3Q7VLKRcfyxb20pqSPFrcCP9qW2dmJUw/edit#slide=id.gcbe874022_0_0

[2015-10-19 19:43] xmatthewx opened #716 "Keep images below text elements"
Current implementation allows users to tap an element to move it above all other elements. This works well, except when it doesn't.

@flukeout proposes that we keep images in a lower group, text and links in a higher group. Users would still be able to tap and send an element to the front, but they'd stay within their respective groups. Images would never be in front of text or ~~images~~ buttons.

[2015-10-19 19:48] gvn commented on #707
Can you elaborate on this a bit? Not sure I'm understanding...

[2015-10-19 20:59] xmatthewx commented on #707
If I open a project in the browser and view the source, I don't see the rendered html. I can't save the project and open it in an editor to muck around.

In our project editor, we use react to power a lot of interaction and UI. For the project viewer, it seems like we could build the project server side so people could view the resulting source, pull it into thimble or another tool, and understand

[2015-10-19 21:26] gvn commented on #707
We might be able to render individual pages into raw non-React'y HTML, but I'm not sure how entire projects would work without React. We have a really complex project navigation/viewing UI, so making that work without React is quite an undertaking. Even without React you'd have a ton of JS powering the whole thing.

If we did render individual pages out as raw HTML, I'm not sure how the links woul

[2015-10-20 14:16] vazquez commented on #694
Done :guitar:

[2015-10-20 14:16] #694 closed, assigned to vazquez

[2015-10-20 14:30] xmatthewx commented on #694
:speaker: :postal_horn: :microphone:

[2015-10-20 15:23] alanmoo commented on #611
@vazquez @xmatthewx We are talking about within the set of default colors, right?

In addition, I'm trying to think about what approach we can take with this bevel (which is actually an inset box-shadow applied to all buttons right now). One thought is that the box-shadow's opacity could be reduced as the background opacity is reduced. This way we avoid weirdness around low opacities, as it will s

[2015-10-20 15:36] xmatthewx commented on #611
Thanks @alanmoo for the wrangling. That's a fair summary. If we'd benefit from splitting this into separate issues, feel free. Your call.
- Opacity on box-shadow seems like a reasonable, clean solution.
- I won't lose any sleep over flat buttons. None at all.
- A limited palette of options is okay, since it will encourage people to tinker.
- Let's definitely keep none :no_entry_sign: as a backgrou

[2015-10-20 15:36] gvn commented on #703
- [x] Enable for -core
- [x] Enable for -browser
- [x] Enable for -android

[2015-10-20 15:40] alanmoo commented on #611
I would say that none is more useful than white as a background color default option, would you agree @xmatthewx?

[2015-10-20 15:48] vazquez commented on #611
Rockstar status @alanmoo.

I would like to have 6 colours for text colour. So, I propose this:

![image](https://cloud.githubusercontent.com/assets/1119821/10612729/0d6a436c-7720-11e5-86a0-f0a7cf94e21e.png)

The colour values, in order, are the following:

`#FAFAFA` `@heatherGrey` `@slate` `@darkSlate` `#161616` `@blue`

[2015-10-20 15:54] vazquez commented on #716
:+1: from me. It makes sense to categorize our elements into two hierarchical groups. It would solve a lot of headaches!

[2015-10-20 16:28] flukeout commented on #611
@vazquez Want to challenge the text color set a bit ricardo, I don't think the two light grays will look good against the background colors we're offering. I think what we really need is black, white and an opacity slider for the text label. Then you can lighten the label without worrying that it might not look nice against the background.

**Exhibit A**
- Left side is solid colors set against ora

[2015-10-20 16:38] vazquez commented on #611
@flukeout - To clarify, is this what you're suggesting?

![image](https://cloud.githubusercontent.com/assets/1119821/10614303/790dc2ea-7727-11e5-9abe-d6d5e8ba0323.png)

[2015-10-20 16:41] flukeout commented on #611
@vazquez Yeah, that combo of options! Not sure how tinker would play with this so maybe we'd want opacity on the line below? We could set it to 60% or 80% default opacity, which should make most combos look nice.

In any case, we should mock up whatever colors / default we choose against the various backgrounds.

[2015-10-20 16:46] alanmoo commented on #611
I'm not sure an opacity text slider is useful, at least not using the standard web behavior for text opacity- as that gets reduced, the text would become less and less legible.

[2015-10-20 16:48] vazquez commented on #611
That's what I'm thinking too. Quick demo: http://codepen.io/rvazquez/pen/OyzxyR

[2015-10-20 16:50] flukeout commented on #611
@alanmoo When text is against a background color (like on a button) it's much faster to get a pleasing effect by lowering the opacity on solid white or black text than trying to pick a specific color that works well.

But I think I get what you mean - is it about using a style or property that isn't commonly related with "just text" (like font-family or font-weight?)

[2015-10-20 17:00] vazquez commented on #611
With @flukeout's proposal, the edit screen would change as per below. @xmatthewx - I will let you give the final yay or nay.

![button options copy 3](https://cloud.githubusercontent.com/assets/1119821/10614809/398a39de-772a-11e5-94ab-717ec3eac357.png)

The following option is still a possibility, but we would have to explore if we can bind both opacity sliders (the one in the element edit and the

[2015-10-20 17:37] xmatthewx commented on #459
@gvn to file follow up

[2015-10-20 17:42] xmatthewx commented on #596
cc @alanmoo

[2015-10-20 17:48] xmatthewx commented on #645
@vazquez says all is done or filed elsewhere.... yay

[2015-10-20 17:48] #645 closed, assigned to vazquez

[2015-10-20 17:53] xmatthewx commented on #685
@vazquez will find someone to test Webmaker on a spare device with Android 6 to QA and file UX issues.

[2015-10-20 17:59] vazquez opened #718 "Visual Audit of Webmaker in Tablets"
I will create a visual audit of Webmaker running on a Tablet to take note and document the visual bugs that are currently giving users a sub-par experience.

[2015-10-20 18:07] xmatthewx commented on #712
This should happen on release, not during transform.

[2015-10-20 18:14] xmatthewx commented on #713
This is annoying, but not critical. Let's invest time in it if there's a quick fix. Otherwise, let's move to backlog.

[2015-10-20 18:18] xmatthewx commented on #714
If on release, element is between -5º and +5º of horizontal, set to 0º.

[2015-10-20 18:29] xmatthewx commented on #611
We need to split this into to two tickets. @vazquez will lead the way. One ticket, get the simple fix done. One ticket for aspiration.

[2015-10-20 19:17] vazquez opened #719 "Enhance button style and color"
Dearest @alanmoo. A very Canadian sorry for switching things so much on you. We thought it best to create a new ticket to make this task easier to follow:
### Design

![button options copy 3](https://cloud.githubusercontent.com/assets/1119821/10618172/77ddd562-773c-11e5-970d-6a22eb868279.png)

---
### Important Notes
- If the user selects `None` as the background colour, we need to add an underlin

[2015-10-20 19:17] vazquez commented on #611
Filed new ticket for text and button colours in #719. ~~Closing this one.~~

[2015-10-20 19:23] vazquez commented on #611
@alanmoo -
- Follow @xmatthewx's comment to get this ticket done https://github.com/mozilla/webmaker-core/issues/611#issuecomment-149606427
- Regarding text colour and button colour, head over to #719

:cow: :star:

[2015-10-20 19:36] xmatthewx commented on #611
Timeout. Let's hit pause on all engineering until we can provide a clear spec. We have lost our way in an issue that was debatably not even a problem to begin with.

[2015-10-20 19:50] xmatthewx opened #720 "Fix button color & style"
Webmaker v1.4 Beta introduce a user feature to set both the button background and text color. There are a couple of issues with the current implementation.

Box shadow remains with backgrounds are set as transparent.
Text color includes the option none transparent.

proposed fix:
- remove none as an option for text
- set box-shadow opacity to match background opacity to support none and tinker tra

[2015-10-20 19:50] xmatthewx commented on #720
@vazquez - please confirm this as the simplest fix to the current 1.4 Beta implementation and then assign to @alanmoo for implementation.

[2015-10-20 19:51] xmatthewx commented on #611
Closing this. We will fix implementation in https://github.com/mozilla/webmaker-core/issues/720 and then can explore design dreamery in #719.

[2015-10-20 19:51] #611 closed, assigned to alanmoo

[2015-10-20 20:07] vazquez commented on #720
This is the simplest fix to close this issue. All aboard! :train:

[2015-10-20 20:10] xmatthewx commented on #719
We need to get back in sync. Design, then annotate, and then hand over for implementation. I've filed #720 for a short-term fix. This issue is for design speculation. @alanmoo, you may unsubscribe to this chatter. We will page you if and when things are ready.

Moody Matthew says:

We might have bigger fish to fry :fish: :fishing_pole_and_fish: :tropical_fish: :fire: :egg:

[2015-10-20 20:16] vazquez commented on #719
I hear Moody Matthew loud and clear. I will propose something clear and concise.

[2015-10-20 21:41] xmatthewx opened #721 "Review Webmaker curriculum"
@omnignorant shared some great Webmaker activities. Take a look, enjoy, and provide some cheers and feedback.

https://discourse.webmaker.org/t/webmaker-thimble/114
http://hackshop.github.io/hackshop/challenges/challenge02-03.html
http://hackshop.github.io/hackshop/challenges/challenge02-04.html

@flukeout @vazquez - care to post some thoughts on discourse?

[2015-10-20 23:31] tbaker4802 opened #722 "Android needs open Auth sign up and sign in authentication on app. Smartlock openAuth openID Android"
Hi guys,
Today I was going to use webmaker android app so I downloaded it from Google play but upon trying to sign in... I found no sign in with Google or any others. If it's there or if this is a known issue I apologize for my clumsiness.

This should be added. Any single sign in protocol would be great but In fact since it's an android build I think it'd be pretty cool to integrate it seamlessly

[2015-10-21 02:31] flukeout opened #723 "Browser player briefly shows "Untitled Project" when loading a project."
**Steps to reproduce**
- Load up a project in the browser
- Refresh it a bunch and keep an eye on the title bar

![reload](https://cloud.githubusercontent.com/assets/25212/10623000/002776fa-7740-11e5-8044-e507b1d22929.gif)

We probably have "untitled project" in the markup as text, which we can remove.

[2015-10-21 14:53] xmatthewx commented on #723
We could remove the text or change it to `loading...`

[2015-10-21 14:59] xmatthewx opened #724 "Prepare Webmaker postcard for Mozfest ??"
A postcard for the Mozfest schwag bag could invite participants to install Webmaker and use it to extend the Mozfest experience. It could include a few recommendations for how to use Webmaker to document brainstorms, capture names and faces, compose a mini-presentation on an idea.

Good idea? Discuss below.

cc @chadsansing @thornet

[2015-10-21 15:03] xmatthewx opened #725 "Create a simple deck from proposals"
We outlined a few ideas during the work week for how to connect Webmaker to curriculum (or not). Their outlined in a google doc. Create a simple deck to summarize for sharing. No frills, fewest slides possible.

[2015-10-21 15:08] thornet commented on #724
cc @Saallen

Seems good if you want to produce it, but please note times are very tight and we can't assist much with printing and wrangling this.

[2015-10-21 15:08] jgmac1106 commented on #724
Why not fork the Whistler scavenger hunt activity and make it people
driven. I liked that one.

On Wed, Oct 21, 2015 at 10:59 AM matthew w notifications@github.com wrote:

[2015-10-21 15:14] xmatthewx commented on #724
Thanks @thornet. We'd handle all logistics ourselves. Will attendees see any info on pathways? If you have draft copy, we can aim for alignment.

Thanks @jgmac1106. I think we can offer higher quality. I'd also like to emphasize ways we can extend experiential learning.

[2015-10-21 15:20] thornet commented on #724
Sounds good!

Here's what will be printed and distributed regarding the pathways:
https://github.com/mozilla/2015.mozillafestival.org/issues/212

On Wed, Oct 21, 2015 at 5:14 PM, matthew w notifications@github.com wrote:

##

_Michelle Thorne_
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-21 15:25] xmatthewx commented on #722
Thanks @tbaker4802 for the suggestion. While I don't think we can tackle this in the next release, an improved login experience is definitely something we'd like to address. This is useful info.

[2015-10-21 16:00] xmatthewx opened #726 "Identify UX events for analytics"
Review app views and identify the most important user events we should track with analytics. Create an annotated doc.

Approach this as a chance to set a benchmark for how we should do this for any Mozilla site or tool.

[2015-10-21 16:14] flukeout commented on #725
On it! For reference - [Notes from the workweek](https://docs.google.com/document/d/1AOj3nF-wn8uAWGXpzLr8kGHrQxpjvBlRJwW85R63YIo/edit#)

[2015-10-21 16:17] ioana-chiorean commented on #724
Hi all, sorry for bugging in, I quickly scan the link from Michelle and I saw that there are no QR codes ( sorry If i am wrong)
As it is a mobile app - we should also consider adding a QR Code that people can scan and be directly sent to the Google play to install it.
Beside the postcards in the bags ( or where we will have it) we might have one or two posters per floor with it.

What do u think?

[2015-10-21 17:34] flukeout commented on #725
In-progress deck here - https://docs.google.com/presentation/d/1qu7RAhtCkisrsq1fSeOO41O7-q0Qm-Wd8vkgwog541U/edit#slide=id.p

[2015-10-21 17:41] xmatthewx commented on #724
Thanks @ioana-chiorean.

First, I'd like to make sure we have a good reason to suggest people use the app at Mozfest. After we nail that down, figure out how to spread the idea.

cc @flukeout

[2015-10-21 19:30] xmatthewx commented on #241
tracking in #726

[2015-10-21 19:30] #241 closed, assigned to nobody

[2015-10-21 19:37] xmatthewx opened #727 "API for Discover hashtags"
cc @vazquez

[2015-10-21 21:00] flukeout opened #728 "Add support email link to the footer."
We've set up `thimble@mozillafoundation.org` and want to link it on the footer as seen below...

![image](https://cloud.githubusercontent.com/assets/25212/10650024/194a391c-77fc-11e5-9469-4822d14f1017.png)

@hannahkane I had to change some of the link labels so they would all fit, what do you think?

[2015-10-21 21:05] alanmoo commented on #720
I'm removing transparent as an option for text and adding `#8173E4`, right @vazquez?

[2015-10-21 21:08] vazquez commented on #720
@alanmoo - :+1: Yes and it's already a LESS variable titled `@purple`.

[2015-10-21 21:30] hannahkane commented on #728
Hey @flukeout, looks good.
- For consistency, "Email Us" (capitalize Us)
- Maybe "Tweet at Us"?

[2015-10-21 21:31] flukeout commented on #728
I like "Email Us", but was thinking that it would be good to keep the word "Twitter" in case someone was searching on the page for it?

[2015-10-21 21:40] vazquez commented on #727
:pizza:

Client includes a single text field called `description` limited to 100 characters. A description can include #hashtags.

API should be able to:
- Store `description` as metadata on `project`
- Extract a list of `#hashtags`
- Index `#hashtags` and store a list of related projects
- Query for a list of `projects` that contain a specific `#hashtag`
- Cache the project list for recent querie

[2015-10-21 21:41] flukeout commented on #728
Closing because I added this to webmaker-core for some reason.

[2015-10-21 21:41] #728 closed, assigned to flukeout

[2015-10-21 22:00] xmatthewx commented on #727
Thanks @vazquez. I made a few edits above, but your draft :pizza: tasted great. I will discuss this with @cadecairos and @simonwex next week.

[2015-10-21 22:24] xmatthewx commented on #563
Did this happen @k88hudson?

[2015-10-21 22:39] k88hudson commented on #563
No not yet, I was waiting on a USB key. Can do when I get back next week 

— K

On Wed, Oct 21, 2015 at 5:24 PM, matthew w notifications@github.com
wrote:

[2015-10-22 03:20] xmatthewx commented on #651
The privacy icon is good, and might work better next to the title. Or, in it's current location, it could extend the touch target on the kabob instead of showing the tooltip. Kabob, of course, should reveal a menu that includes "project details".

Let's file the "name this project" CTA as a separate issue, and create and wrap up the spec for this privacy setting.

[2015-10-22 13:17] vazquez commented on #651
:+1: On it

[2015-10-22 15:51] vazquez commented on #651
Let me know what you think @xmatthewx and I will file a separate implementation issue for cleanliness.

![page background annotations copy](https://cloud.githubusercontent.com/assets/1119821/10670351/22b811ec-78b3-11e5-835d-b044e1a059b2.png)

[2015-10-22 15:57] vazquez opened #729 ""Name This Project" CTA"
During our standup, we talked about adding a CTA on the Make View if the user has not added any metadata. This could help us in:
1. Encouraging unique Titles
2. Descriptions with hashtags in the future!
3. Show the user that the visibility toggle appears in Settings

The `Name This Project` button would take the user to the **Settings View**.

![scan sep 29 2015 1 37 pm](https://cloud.githubuserco

[2015-10-22 16:00] vazquez commented on #651
Filed #729 for the Name Your Project

[2015-10-22 21:10] alanmoo commented on #701
Closed with #702

[2015-10-22 21:10] #701 closed, assigned to alanmoo

[2015-10-22 22:18] alanmoo opened #731 "Tinker mode tabs don't link slider values"
Seems to be the same problem that was in #334.

Opening tinker mode, changing colors, then switching tabs doesn't show the same value for sliders on the next tab.

[2015-10-22 22:22] #55 closed, assigned to alanmoo

[2015-10-22 22:22] #720 closed, assigned to alanmoo

[2015-10-22 23:54] flukeout opened #733 "Incorrect fonts are being used in desktop browser player."
Parts of this project are rendering in Times New Roman...
https://beta.webmaker.org/?user=56433&project=4778#/project?user=56433&project=4778

Looks like the font **Bitter** isn't working correctly.

![image](https://cloud.githubusercontent.com/assets/25212/10681387/9b9349a4-78dd-11e5-8029-ae1044ab474c.png)

[2015-10-22 23:57] flukeout opened #734 "Browser player renders buttons differently in FF and Chrome"
Firefox and Chrome side by side, respectively...

Looks like the button labels are wrapping in FF

![image](https://cloud.githubusercontent.com/assets/25212/10681424/ee879bba-78dd-11e5-8038-5038fb384b82.png)

[2015-10-22 23:59] simonwex commented on #727
This design of tags from MakeAPI might be a useful input

[code]

[2015-10-23 14:05] alanmoo commented on #706
Looks at least part of this is a result of #440's patch...investigating if there's another solution for that issue/if that's the only issue here. I notice that the actual page is slightly larger in project view compared to edit view, so if you're toggling between them elements will appear shift. However, they may actually still be in the same relative spot.

[2015-10-23 15:10] alanmoo commented on #734
Have a project link @flukeout?

[2015-10-23 15:28] xmatthewx commented on #734
may or may not be related to #733 and #706

[2015-10-23 15:30] xmatthewx commented on #706
Interesting. After you dig a bit more, let's evaluate our options before we dive toward a solution.

[2015-10-23 15:46] flukeout commented on #734
@alanmoo Here it is https://beta.webmaker.org/?user=56433&project=4778#/project?user=56433&project=4778

[2015-10-23 16:19] xmatthewx commented on #672
Ready for redirect. /me is ready on teach. Will be awesome to unblock launch of Webmaker site. cc @simonwex

edit: looks like there's an open PR https://github.com/mozilla/webmaker-browser/issues/228

[2015-10-23 17:05] xmatthewx commented on #725
Thanks @flukeout for the speediness. Linked to your deck from the recap doc. We can call this done and open new tickets if needed.

[2015-10-23 17:05] #725 closed, assigned to flukeout

[2015-10-23 19:10] #672 closed, assigned to cadecairos

[2015-10-23 20:09] xmatthewx commented on #651
r+ :+1:

[2015-10-23 21:31] alanmoo commented on #733
This looks to be an https vs http issue, according to the console

[2015-10-23 21:53] alanmoo commented on #706
Further investigation reveals the #440 patch that caused this might have another solution- it appears that text elements are being rendered in `sans-serif` which will be different depending on the OS you're on. So using the project linked [there](https://beta.webmaker.org/#/player?user=454339&project=5721) as an example, forcing the `Roboto` font seems to solve a lot of problems. Everything looked

[2015-10-26 15:52] xmatthewx commented on #724
Closing this. We've decided to focus the resources we have toward the next release.

[2015-10-26 16:08] alanmoo commented on #715
Yeah, looks like the default color is `#FFF` if there's no color attribute on the element. I think what I'll do is put the "figure out a color automatically" code back in to the `render` method on links if there's no color explicitly assigned. Seem like a reasonable solution, @xmatthewx?

[2015-10-26 18:06] xmatthewx commented on #715
I'm hesitant to put auto color back in, because it was broken.

Default `#FFF` will work in most scenarios.  If no color is set, what if we do a quick test on HSL or HSV and switch to black if needed?

I think I've chosen a good break points for [HSL](http://hslpicker.com/#fffb80). It's more tricky for [HSV](http://www.rapidtables.com/web/color/color-picker.htm). Yellow (45 < hue < 90) will almost

[2015-10-26 18:09] alanmoo commented on #715
That's why I was thinking of switching that part back for old projects only- that way they would be consistent as to what it was when the user originally built the project.

[2015-10-26 18:39] alanmoo opened #736 "Discussion: Maintain 2 APKs - for old and new Android devices"
Last week in chat @ryanw-se asked about the possibility of maintaining two APKs since Android 5 and 6 devices no longer need Crosswalk. (They use Chromium web views instead of webkit), so we're serving up unnecessary bloat to users on new devices/operating systems.

[2015-10-26 18:40] alanmoo commented on #736
My thought was yes, it's more bloat but I'm curios what the actual amount is (vs the headache to maintain two), and is it relevant (and I could easily be wrong here) since it's users on older devices that are presumably more likely to be in bandwidth limited areas anyway.

[2015-10-26 19:21] xmatthewx commented on #736
I'll file this as an analytics/research question so we can find out if the users with low bandwidth who would benefit are also the users who need crosswalk.

[2015-10-26 19:48] ryanwarsaw commented on #736
I'm not sure I fully understand where the headache comes in, from maintaining both a crosswalk version of Webmaker and a native chromium Webview version. The implementations for both are identical, all you need to do is switch over the Crosswalk imports to the native Android Chromium Webview ones.

Unless those imports are ever modified in a PR/Commit, you could easily apply commits/patches seamle

[2015-10-26 21:00] cassiemc commented on #726
@xmatthewx it's not super clear to me what @vazquez's deliverable is here, can you elaborate a bit about why this needs design?

[2015-10-26 21:11] xmatthewx commented on #726
For all of our websites and products, we need to gather better analytics on how people are using them. Engineers can hook this up, but we'll only get good answers to smart questions if designers lead the way.

A designer, for example, can anticipate how a Mozfest participant or Teacher on the teach site might move through the website. Pageviews alone can't confirm whether these sites succeed or fa

[2015-10-26 21:24] cassiemc commented on #726
ok, thanks a bunch for the clarification! is this a google doc? a diagram? a slide deck? not sure how it will be cross-team relevant or reusable

[2015-10-26 21:31] xmatthewx commented on #726
Format is TBD. I do think it should start with the UX annotation templates by @flukeout and myself. The chief design challenge - how do you communicate user experience succinctly to engineers so that they can capture events in code for analysis later? How can we make this part of our practice?

[2015-10-27 12:52] alanmoo commented on #736
That's a great point, @ryanw-se. I'm not familiar with the process for managing the APKs, a headache was just a general assumption about adding more complexity to the project. But if the wins are as big as you describe in terms of APK size alone, I'd vote it's something worth pursuing.

@xmatthewx Going back to our conversations the other week, if we want to support the learning networks and enabl

[2015-10-27 13:06] alanmoo commented on #715
Also, if I dig deep enough to the existing autoColor function, it looks like that's more or less what it's doing (though I can't parse through the math to figure out the effective L values). I'd strongly vote that we use autoColor to render the components in existing projects (so they look the same as they did before), but it won't affect new components at all.

Basically on element creation I'd s

[2015-10-27 15:27] xmatthewx opened #737 "Release 1.4.1"
- [x] Release is scheduled and a ticket to track the release process is created.
- [x] Tag release on webmaker-core repo.
- [x] Generate signed APK.
- [x] Release notes are drafted in the ticket.
- [x] Ticket is assigned to deploy APK to beta channel.
- [x] Once APK has been released to beta channel wait about 4 hours.
- [x] QA beta on several devices (flag people to test in release ticket) (Set t

[2015-10-27 15:29] xmatthewx commented on #737
blocked by
- [x] #711 FTU
- [x] #715 Botton text color

[2015-10-27 15:29] xmatthewx commented on #715
:+1:

[2015-10-27 16:14] vazquez opened #738 "Favourites"
### Description

Wouldn't it be great to give a little love to the author of a moving project? With Favourites, Webmaker users will be able to do two things that are currently not a part of the interface:
1. Favourite a project they :heart:
2. The the process of favouriting, create a library of projects. Use favourites as a bookmarking service.

There is one new sub-view that is introduced, as par

[2015-10-27 16:17] xmatthewx commented on #177
tracking in #650

[2015-10-27 16:17] #177 closed, assigned to nobody

[2015-10-27 16:19] ioana-chiorean commented on #737
hey @xmatthewx - I can help with " QA beta on several devices (flag people to test in release ticket) (Set tag: Needs QA)." I have at access several devices ( more than 30 - some old, some news etc)

[2015-10-27 16:22] xmatthewx opened #739 "Enable duplicate or copy an element"
It can be difficult to create a page with multiple similar elements, however, persisting recent styles to new elements will solve much of this. In addition, the ability to duplicate a page will also make the task easier between pages.

UX for this feature would be a high cost to design and implement.

[2015-10-27 16:25] xmatthewx opened #740 "Persist styles on new elements"
When a user creates a button and carefully styles it, they often want to reuse that style on future elements. Let's help them by remembering the most recent styles and using them as the default for that element type.

Notes: styles do not need to persist across different element types. For example, link font color does not impact text font color.

[2015-10-27 16:29] xmatthewx opened #741 "Add page to page nav with in page editor"
In the player, users see arrows to nav to neighboring pages. Authors, do not have this in mind while they compose projects, because the editor does not include them. As a result, they add custom next/back buttons that make sense in the editor, but less sense in the player.

Let's add this nav for a better authoring experience .

[2015-10-27 16:37] #184 closed, assigned to lauradereynal

[2015-10-27 16:38] xmatthewx commented on #205
tracking in #185

[2015-10-27 16:38] #205 closed, assigned to nobody

[2015-10-27 16:38] xmatthewx commented on #507
might be resolved.

[2015-10-27 16:38] #507 closed, assigned to nobody

[2015-10-27 16:39] xmatthewx commented on #508
might be resolved.

[2015-10-27 16:39] #508 closed, assigned to nobody

[2015-10-27 16:43] xmatthewx commented on #232
Android work prepped in #285. Very important project play view. Nice to have in project editor. This is lower priority than some of the other unlock discover goals. Let's tackle it only if it is a small lift.

[2015-10-27 16:46] xmatthewx opened #742 "Enable users to add link to hashtags"
Link button element currently offers Page and URL as destination. A link hashtag would be a great addition. Could be a helper in the set URL destination feature.

[2015-10-27 16:49] xmatthewx opened #743 "Make it easier to flag featured projects"
Make a plan with @secretrobotron to enable more staff and community to flag featured projects.

[2015-10-27 16:50] xmatthewx opened #744 "Shuffle featured projects in Discover"
Let's randomize the projects initially loaded into Discover to add more spice to Webmaker life.

[2015-10-27 16:52] xmatthewx opened #745 "Add beautiful content to Webmaker"
Look to Design 101 activities to create some truly interesting and beautiful projects and remixable templates.

https://designschool.canva.com/tutorials/

cc @flukeout

[2015-10-27 17:18] alanmoo commented on #715
There's a slight side effect to this, at least with my current approach: Since I can't assign a default button color of white without risking white-on-light, the above approach results in all new buttons being white text on blue background, and the `getContrastingColor` method being used as the user switches background colors until the user specifically chooses a text color.  (None of the color ra

[2015-10-27 17:40] xmatthewx commented on #737
Thanks @ioana-chiorean - that's fantastic.

The easiest way to participate:
- pick one of these to test (Editing and Elements would be fun and useful): https://github.com/mozilla/webmaker-core/wiki/Webmaker-QA-Template-Issues
- open the sample issue. copy the text. create a new issue, paste and save it.
- you can now use the checkboxes to guide your test

Find me or @vazquez on irc as mattheww and

[2015-10-27 17:43] xmatthewx commented on #715
When a new button is created, if we assign white on blue as defaults, I'm ok with user switching around and accidentally creating white-on-light. Is that the concern?

[2015-10-27 17:51] alanmoo commented on #715
No, that's an understood possibility. The concern is that until a user specifically picks a text color, it will be on "autopilot" as the background color changes, and the set of colorful radio buttons won't show any text color as specifically chosen (they're all unselected). Once the user does pick a text color, everything's normal.

[2015-10-27 18:05] alanmoo commented on #598
Also see #735, but yeah I think that should take care of it.

[2015-10-27 18:35] gvn opened #747 "Upgrade hapi in webmaker-browser"
Hapi is out of date, but will require a refactor to upgrade.

[2015-10-27 18:38] gvn opened #748 "Rebundle React and React DOM"
I unbundled React and React DOM in `webmaker-browser` because they were getting packaged twice by webpack.

Ideally we should add them back to the manifest and bundle them with the rest of the JS...

[2015-10-27 18:50] xmatthewx commented on #715
Ok, that's fine if we can't set a default color at the moment the button is created.  Run with it. We can follow up with other fixes later if needed.

[2015-10-27 18:56] xmatthewx commented on #724
@vazquez looking at options to create an activity/handout that connects with the Pathways introduction by Robert and Julia.
https://github.com/mozilla/learning-networks/issues/276

[2015-10-27 19:01] gvn commented on #598
I also realized that custom fonts weren't being pulled into `project.html` when I was updating React, so that new patch should actually fix it.

[2015-10-27 19:55] xmatthewx commented on #716
A good issue for @alanmoo to look at if he clears his desk.

[2015-10-27 20:15] ioana-chiorean opened #749 "[x86 device] QA Feedback - Android App - Project Editing Basics"
- [x] create a new project, or open an existing one
- [x] you will see the map view of the project, centered on one of the pages
- [x] the blue header says "Project"
- [x] the centered page is selected
- [x] the pencil and trash icons are visible below the page
- [x] dragging the view to pan around the project view
- [x] pinching the view zooms the view in and out
- [x] pan to a place where there

[2015-10-27 21:16] jbuck commented on #747
@gvn I did this upgrade recently for donate.m.o, you can see my changes here but it's fairly straightforward going from 8-11:
- [Upgrade to Hapi v9](https://github.com/mozilla/donate.mozilla.org/commit/cb55926b7971e5e0093eb65f68c6101cffd368a0)
- [Upgrade to Hapi v10](https://github.com/mozilla/donate.mozilla.org/commit/ce8ff1131fa8836b9d027eba6d6eebbace9e12d0)
- [Upgrade to Hapi v11](https://githu

[2015-10-27 21:59] gvn commented on #747
Thanks! I very well might! :dancers:

[2015-10-27 22:01] gvn commented on #744
This is actually already being done! :+1:

[2015-10-28 22:51] ioana-chiorean commented on #749
All test passed OK on ZTE Grand IN - x86 - API 15 (Android 4.0.4)

[2015-10-28 22:54] ioana-chiorean commented on #398
Some clarifications and proposals:
Line 5  "the pencil and trash icons are visible below the page"
- [ ] the pencil icon is visible below the page

After line 11 add:
- [ ] the pencil and trash icons are visible below the page

**Adding Elements**
Line 4- " tap the plus icon, the view becomes dark and three new icons are visible "
- [ ] tap the plus icon, the view becomes dark and four new icons a

[2015-10-29 12:30] alanmoo commented on #654
@xmatthewx When you say it should be either Discover or neither, can it have the same heading as other pages do, with the arrow at the top?

I ask this because
- That's how the I currently have it working (and I'm hitting a wall trying to figure out how to get it to show up under discover)
- I'm also genuinely not sure what the best IA for this feature is

I'm not opposed to it being under Discove

[2015-10-29 13:15] vazquez commented on #654
(I apologize for not updating the design – fell out of my radar)

You are taking about this header, right?

<img width="347" alt="screenshot 2015-10-29 09 04 39" src="https://cloud.githubusercontent.com/assets/1119821/10819011/2a746c82-7e1c-11e5-8e68-2be5452375c7.png">

If so, a couple of questions:
- Can we modify the title?
- If we press back, where would we go?
- Does the More Actions appear? I

[2015-10-29 13:19] alanmoo commented on #654
We can modify the title, though I agree that I really like using the system back button (the current experience is a bit confusing with the top arrows in other views). I'm guessing the title can be dynamic ("Projects by alanmoo"), though I'd have to figure that out. Similarly, we should be able to remove the actions.

[2015-10-29 14:56] xmatthewx commented on #749
:+1: thanks @ioana-chiorean ! :cake:

Are you running the Beta version of the app? You can opt-in to get the latest features for testing: https://play.google.com/apps/testing/org.mozilla.webmaker

I added a note about this to the top of the [QA wiki page](https://github.com/mozilla/webmaker-core/wiki/Webmaker-QA-Template-Issues)

[2015-10-29 15:05] xmatthewx commented on #398
Thanks @ioana-chiorean for the keen eye on this. I've integrated your suggestions in the template above.

[2015-10-29 15:14] ioana-chiorean commented on #749
:tired_face: Of course i did not.. Damn.. I will redo the testing in a few hours..

[2015-10-29 15:18] xmatthewx opened #750 "Implement custom title on Author view"
Usernames on project cards in discover will link to a list view of author projects. Set a the title of view to be the username.

Ryan and Kate landed a method for setting unique view titles, but it hasn't been put to use yet.

depends on #654

[2015-10-29 15:19] xmatthewx commented on #654
@alanmoo - let's land this without too much concern about the header. I filed a follow up ticket to tackle that.  If the easiest header is back arrow + "Author" or "User", that's fine.

[2015-10-29 15:21] alanmoo commented on #654
Great. I'll see what I can do about making the header the author's name and making the top back button work properly.

[2015-10-29 15:23] xmatthewx commented on #654
Sharing a link to an author view could be a nice feature. Remixing an author on the other hand, might push the limits of our science.

[2015-10-29 15:24] vazquez commented on #654
Good thoughts @xmatthewx :+1: :cow: :star:

[2015-10-29 15:29] xmatthewx commented on #749
@ioana-chiorean - don't worry about repeating this. I can do it or have @vazquez. Most of the changes in Beta appear in the Page editor and Element editors. Probably more fun for you to dive into a new section and useful for us to have your input on those QA scripts.

[2015-10-29 18:06] xmatthewx commented on #727
@gvn - can you take a look at the short list above: https://github.com/mozilla/webmaker-core/issues/727#issuecomment-150033190 to see if this reflects a minimal spec for hashtags? MakeAPI might be a useful reference, but includes more complexity than we require.

[2015-10-29 19:17] ryanwarsaw commented on #750
Since this functionality has already been implemented on the Android side, we probably can remove that label. @xmatthewx

[2015-10-29 20:43] ioana-chiorean opened #751 "Improve layout of login/signup view"
I might have been tired but it took me a bit to figure it out I need to pan the page to get the log in button.
Nexus 5 - Android 6.0

<img src="https://cloud.githubusercontent.com/assets/1391451/10831436/4f0204f2-7e8e-11e5-8e71-ebaaeaf3fc37.jpg" width="300" height="550" />

[2015-10-29 21:47] gvn commented on #731
Looks good. One weird thing I noticed (but seems to be in `develop` too) is that when you first edit text color you see a hex value. Subsequent edits show up as rgba.

[2015-10-29 22:23] ioana-chiorean opened #752 "[29.11] QA Feedback - Android Beta - Account"
Template from: https://github.com/mozilla/webmaker-core/issues/395
Environment: Nexus 5 - Android 6.0

**Sign up**
- [x] open the app (or log out from the 'MAKE' tab, if already signed in)
- [x] make sure you are on the screen that says the equivalent of "Join Webmaker" on the button at the bottom
- [x] tap the "Terms" and "Privacy Policy" links at the very bottom
- [x] enter an invalid username b

[2015-10-29 22:39] ioana-chiorean opened #753 "Error message for already used nickname doesn't disappear"
Entering an already taken nick name and tapping submit will display and error message.
Going to the username field and change it should make the error disappear
- I know it need to press submit to check but if we edit it it should consider it a new entry
- all messages are very responsive to appear - after 1 character entered - so user will be waiting to see this disappear as fast as i appeared.

[2015-10-29 22:42] ioana-chiorean opened #754 "Keep the data entered at Sign in/ Sign up screen"
Entering partial data to the Log in screen and switching to Join screen (and viceversa) will loose the data entered. Most of the service use o keep it between screens (ex. FX Accounts)

<img src="https://cloud.githubusercontent.com/assets/1391451/10834029/d27514ea-7e9e-11e5-9b17-d859e193fc26.jpg" width="300" height="550" />

[2015-10-29 22:47] ioana-chiorean opened #755 "Inconstancy at logos -Webmaker reset pass"
Going on the path to reset the password you will get into a screen with a form of the old webmaker logo. I think some users might be confused and refuse to change/use the page. (50% of users leave on product because of forgotten pass)

<img src="https://cloud.githubusercontent.com/assets/1391451/10834130/9296d95c-7e9f-11e5-8f90-54331551e49a.jpg" width="300" height="550" />

<img src="https://cloud

[2015-10-29 22:48] ioana-chiorean commented on #752
All tests passed OK.
Feedback:
- some users might not see the Log in option: #751
- error message for already used nickname doesn't disappear #753
- keep the data entered at Sign in/ Sign up screen #754
- Inconstancy at logos -Webmaker reset pass #755

cc @xmatthewx

[2015-10-29 22:56] ioana-chiorean commented on #395
Some clarifications and proposals:

**Sign up**
After "tap the "Terms" and "Privacy Policy" links at the very bottom" we should add a helping text telling people that this 2 links will open new broswer pages and they should return to webmaker app.

At all 3 tasks with check the message we should add some clarification that they see the correct message.
- [ ] enter an invalid username by adding a @

[2015-10-29 23:06] ioana-chiorean opened #756 "[29.11.05] QA Feedback - Android Beta App - View Project"
Template from: #396
Environment: Nexus 5 - Android 6.0
- [x] Open the app and tap the Discover tab, which opens the Discover view

**Discover View**
- [x] In the Discover view you see a list of projects. Each projects includes...
  - [x] a title
  - [x] a preview image
  - [x] an author (indicated in blue)
- [x] scroll up and down to view additional projects
- [x] tap on any project in the Discove

[2015-10-29 23:18] ioana-chiorean opened #757 "[29.10.05] QA Feedback - Android Beta App - Create & Delete Project"
Template from: #397
Environment: Nexus 5 - Android 6.0
- [x] Open the app and tap the Make tab, which displays the Make view

**Make View**
- [x] you see your username displayed at the top of the view
- [x] tap the "+ Create a Project" button, you will enter the Project view

**Project View**
- [x] you are in the map view of a project with a single page
- [x] the page is selected (there is a blue

[2015-10-29 23:36] ioana-chiorean commented on #749
Retried on new beta build - tasks were successful.
I did notice that the app had some lags in Edition page - Adding elements section. i can do a video in the morning. Can u assign me on this issue pls. Thanks.

[2015-10-30 04:37] cadecairos commented on #727
I had an idea how to implement this and ran with it:

https://github.com/mozilla/api.webmaker.org/compare/develop...cadecairos:hashtags?expand=1

POC code here. Adds a description(varchar) and metadata (jsonb) field to projects. hashtags in description are captured and saved to metadata.tags. metadata.tags have an index that lets us do fancy shmancy queries, pretty quickly.

This patch adds in mig

[2015-10-30 16:30] gvn commented on #727
That spec looks pretty good to me. :+1:

@cadecairos A couple things:
1. It looks like your [regex](https://github.com/mozilla/api.webmaker.org/compare/develop...cadecairos:hashtags?expand=1#diff-692ca591c33e97721692bd59e307ebe5R235) can be simplified to just `#([A-Za-z\d]+)`.
2. Does your code handle removing tags if a project description changes?

General question to all: Are we going to try and

[2015-10-30 16:35] xmatthewx commented on #727
Thanks @cadecairos for diving into this.

Good thinking @gvn on removing tags if that don't appear in an updated description.

Re: non-alphanumeric characters - let's worry about that later, if we discover a demand.

[2015-10-30 16:42] cadecairos commented on #727
@gvn yeah, updating tags when description changes is easy, I just haven't done that part yet :)

[2015-10-30 19:13] gvn commented on #751
I've felt the same way...I think we need to make the logo smaller to avoid needing to scroll. We might be able to use Flexbox to keep everything within one screen-height.

[2015-10-30 19:26] gvn commented on #711
I just tried this with our latest code and can't repro.

[2015-10-30 19:26] #711 closed, assigned to gvn

[2015-10-30 19:59] #700 closed, assigned to gvn

[2015-10-30 20:53] gvn commented on #371
This is pretty well covered by our new release process draft and our recent versioning choices.

[2015-10-30 20:53] #371 closed, assigned to gvn

[2015-10-30 21:59] gvn commented on #596
I did a PR adding `npm start` (which runs `npm run build`) as a postinstall. @ryanw-se Do you think this will help make things easier?

We do have the fact you need to run some npm commands documented [here](https://github.com/mozilla/webmaker-android#clone--install-dependencies), but let me know if there's any way we can clarify the instructions!

[2015-10-31 20:55] ioana-chiorean commented on #756
**Page View**
- swiping the page in the direction of any of the arrows also moves the view to the adjacent page -> the view animates to the adjacent page smoothly
- swipe in a direction where there isn't an adjacent page, the view will not move
- This is not happening - You can not swipe.
- tap the back button in the header to zoom back out to the Project view
- this will get you back to Discover

[2015-10-31 20:55] ioana-chiorean commented on #396
Typo:
**Page Vie** ->  **Page View**

[2015-10-31 21:08] ioana-chiorean commented on #757
Feedback:
- change color for indicator: #759
- use Capital for name projects #758
- the character count indicator and underline should turn red
  This is not happening. Is this an issue or it changed? @xmatthewx @secretrobotron

<img src="https://cloud.githubusercontent.com/assets/1391451/10865884/3e6a2e20-8024-11e5-97cd-b9dbad1d15ce.jpg" width="300" height="550" />

[2015-10-31 21:11] ioana-chiorean opened #758 "Use Capital for name projects"
Most used case scenario is to use a capital for the name of the project. I do not have telemetry data to confirm it  - we might have an input on the makes done till now to see the preferences.

<img src="https://cloud.githubusercontent.com/assets/1391451/10865896/7a8ff308-8024-11e5-9416-d68b6d16ef68.jpg" width="300" height="550"/>

[2015-10-31 21:12] ioana-chiorean opened #759 "Change color for count indicator in project name"
At the moment it is white but on some devices till will be really hard to be noticed. We can use the blue, the green used already in the page.

<img src="https://cloud.githubusercontent.com/assets/1391451/10865896/7a8ff308-8024-11e5-9416-d68b6d16ef68.jpg" width="300" height="550"/>

[2015-10-31 23:00] ioana-chiorean opened #760 "[1.11] QA Feedback - Android Beta App - Image Element"
Template from: #399
Environment: Nexus 5 - Android 6.0
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add an image element to the page
  - [x] an image appears in the center of the page (it can be one of many starter images)
  - [x] the image is selected, it has a blue dashed border
  - [x] there is a garbage

[2015-11-02 08:14] Timboliu commented on #582
Regarding my previous question about creating applications. Maybe the creation of applications will supported by the Thimble project (https://thimble.mozilla.org)?

[2015-11-02 14:32] xmatthewx commented on #727
I added one more bit above https://github.com/mozilla/webmaker-core/issues/727#issuecomment-150033190. We should be able to query for hashtags flagged as featured (an admin can flag these manually).

[2015-11-02 15:15] xmatthewx commented on #744
I'm going to reopen this, and flag for discussion next heartbeat since the ideal solution is very debatable. I think we did this on infinite scroll but not initial loading.

It might not be practical, but an ideal solution might look like this:
- if anything was featured today, show it first
- random load following projects

"Today" would ideally be a feature date rather than create or edit date.

[2015-11-02 15:45] xmatthewx commented on #750
thanks @ryanw-se. Can you add a quick note here on how someone would leverage that?

[2015-11-02 16:26] gvn commented on #744
Well, that view gets cached, so it will only be randomized the first time you open it. You'd have to pull to refresh to get a new random order.

[2015-11-02 16:41] xmatthewx commented on #750
Scratch that request @ryanw-se. @alanmoo was able to move forward with this.

[2015-11-02 16:45] #715 closed, assigned to alanmoo

[2015-11-02 16:59] gvn commented on #512
@xmatthewx Backlog?

[2015-11-02 17:00] gvn commented on #684
@xmatthewx Backlog?

[2015-11-02 17:00] gvn commented on #459
@xmatthewx Backlog?

[2015-11-02 17:02] xmatthewx commented on #749
Thanks @ioana-chiorean - digging thru your QA now!!

[2015-11-02 17:02] #749 closed, assigned to xmatthewx

[2015-11-02 17:05] vazquez commented on #756
@ioana-chiorean Great catch, the template is not updated. We used to allow swiping but we have since removed it.

[2015-11-02 17:06] vazquez commented on #755
Great find, this has been filed in the id.webmaker.org repo

https://github.com/mozilla/id.webmaker.org/issues/405

[2015-11-02 17:06] xmatthewx commented on #751
:+1: @vazquez might some updated UI that would also help.

[2015-11-02 17:07] xmatthewx commented on #752
:+1:  thanks!

[2015-11-02 17:07] #752 closed, assigned to nobody

[2015-11-02 17:07] vazquez commented on #754
Definitely! :) We are doing this work in #512.

[2015-11-02 17:07] xmatthewx commented on #753
tracking in https://github.com/mozilla/webmaker-core/issues/580

[2015-11-02 17:07] #753 closed, assigned to nobody

[2015-11-02 17:08] #754 closed, assigned to nobody

[2015-11-02 17:11] #755 closed, assigned to nobody

[2015-11-02 17:14] xmatthewx commented on #757
:+1: issues filed and wiki fixed

[2015-11-02 17:14] #757 closed, assigned to nobody

[2015-11-02 17:14] ryanw-se commented on #591
I'd like to finish this off this week, I attempted to do this twice but for some reason I was getting funky results when clearing some from the Queue (It was telling me stuff that existed, didn't exist), but still worked when you cleared all payloads for a key.

[2015-11-02 17:15] xmatthewx commented on #756
QA template updated

[2015-11-02 17:15] #756 closed, assigned to nobody

[2015-11-02 17:16] ryanwarsaw commented on #736
I seriously don't mind helping to maintain this, I just need a green light and I can make a PR for this.

[2015-11-02 17:17] ryanwarsaw commented on #78
This no longer requires the android label, as an API function has been landed to allow the JS side to set the ActionBar title.

[2015-11-02 17:18] xmatthewx opened #761 "QA feedback - Edit text element"
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a text element to the page by tapping the "Aa" icon
  - [x] a text element appears in the center of the page and contains some text
  - [x] the text is selected, it has a blue dashed border
  - [x] there is a garbage icon, a plus icon, and a paintbrush icon at

[2015-11-02 17:19] xmatthewx opened #762 "QA feedback - edit button element"
- [x] open one of your existing projects or create a new one
- [x] make sure the project has at least two pages, add one if necessary
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a Button by tapping the third icon
  - [x] a blue button appears in the center of the page
  - [x] the button label is "Button link"
  - [x] the button is selected, it has a blue dashed b

[2015-11-02 17:23] ryanwarsaw commented on #750
Rad.

[2015-11-02 17:29] #260 closed, assigned to nobody

[2015-11-02 17:29] Pomax commented on #260
Closing due to lots of work done; if we discover we missed a thing, we can file issues for each thing we discover.

[2015-11-02 18:36] xmatthewx commented on #762
- current page is made gray to show you can set it there. it is too dark. can barely see the button. will file elsewhere.

[2015-11-02 18:36] #762 closed, assigned to vazquez

[2015-11-02 18:38] xmatthewx opened #763 "Destination picker - current page is too dark"
When add a link destination, the destination picker shows all the available pages. The current page has a gray mask or the opacity of the page is reduced. The gray is too dark, making the button on that page almost invisible. The page should be more subtly muted.

[2015-11-02 18:39] xmatthewx commented on #760
@vazquez ran through this list. everything came back ok!

[2015-11-02 18:39] #760 closed, assigned to nobody

[2015-11-02 18:42] xmatthewx commented on #737
@gvn - QA is complete. You can continue with the fix and the release checklist above.

[2015-11-02 18:48] xmatthewx commented on #736
This all sounds very reasonable. I'll let @gvn respond and then the rest of us can discuss in London!

[2015-11-02 18:49] xmatthewx commented on #459
backlog

[2015-11-02 19:03] xmatthewx commented on #761
everything checked out okay! :cat2:

[2015-11-02 19:03] #761 closed, assigned to vazquez

[2015-11-02 19:26] gvn commented on #748
This should be achievable now that this is merged:

https://github.com/facebook/react/pull/5366

[2015-11-02 20:10] xmatthewx commented on #737
Release notes for future reference:

[2015-11-02 20:16] xmatthewx commented on #693
tracking release in #737

[2015-11-02 20:16] #693 closed, assigned to xmatthewx

[2015-11-02 20:16] xmatthewx commented on #724
done!

[2015-11-02 20:16] #724 closed, assigned to vazquez

[2015-11-02 20:16] xmatthewx commented on #692
ping @vazquez

[2015-11-02 20:17] xmatthewx commented on #721
done!

[2015-11-02 20:17] #721 closed, assigned to vazquez

[2015-11-02 20:36] ioana-chiorean opened #764 "[2.11] QA Feedback - Android Beta App - Text Element"
Issue template from #400
Nexus 5 - Android 6.0
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a text element to the page by tapping the "Aa" icon
  - [x] a text element appears in the center of the page and contains some text
  - [ ] the text is selected, it has a blue dashed border
  - [ ] there is a garb

[2015-11-02 20:43] #731 closed, assigned to alanmoo

[2015-11-02 20:44] #713 closed, assigned to alanmoo

[2015-11-02 20:56] gvn commented on #737
This is actually 1.4.1 since it's just a hotfix patch. 1.5.0 is still "under construction".

[2015-11-02 21:05] xmatthewx opened #765 "Release 1.5"
- [x] Release is scheduled and a ticket to track the release process is created.
- [x] Tag release on webmaker-core repo.
- [x] Generate signed APK.
- [x] Release notes are drafted in the ticket. https://github.com/mozilla/webmaker-core/issues/765#issuecomment-156539700
- [x] Ticket is assigned to deploy APK to beta channel.
- [x] Coordinate release for Browser if relevant.
- [x] Once APK has been

[2015-11-02 21:08] xmatthewx commented on #737
right-o

[2015-11-02 21:12] xmatthewx commented on #764
@ioana-chiorean - glad to see you're running Android 6. We haven't started testing with that yet.

[2015-11-02 22:06] vazquez commented on #692
@alanmoo I really like the box-shadow. I suggest we go with these slightly subtler values:

`box-shadow: 0px 4px 10px 0px rgba(84,94,102,0.30);`

![text options 2](https://cloud.githubusercontent.com/assets/1119821/10895776/f58dd6aa-8183-11e5-8809-1f02aacdb594.png)

[2015-11-02 22:13] alanmoo commented on #692
Any design guidance for the space on the right which makes it easier to scroll, @vazquez?

[2015-11-02 22:14] gvn commented on #737
1.4.1 APKs are now uploaded into the beta channel. I think it takes a few hours for them to propagate though...

[2015-11-02 22:26] alanmoo commented on #654
@vazquez @xmatthewx This is what it's going to look like when #766 lands. Sound good?

![screenshot_2015-11-02-17-16-23](https://cloud.githubusercontent.com/assets/1682681/10896249/b7bdf8a2-8186-11e5-8312-481c6f3003f3.png)

[2015-11-02 22:37] vazquez commented on #654
WFM :cow: :star:

[2015-11-02 22:38] vazquez commented on #692
Right. I'm on it

[2015-11-02 23:04] xmatthewx commented on #727
Cool. We agreed that tag extraction will be handled server side. "Featured" tags will initially be set up as an environment variable, delivered along with the current default Discover payload. It might include project metadata if it doesn't add too much overhead to reduce http hits and speed things up for users.

@cadecairos will draft some example requests and responses for discussion.

Anything

[2015-11-03 13:09] xmatthewx commented on #654
If we have author name in the header, this is perfect.

[2015-11-03 13:43] mcepl opened #767 "Please, post the package to f-droid repo as well"
Not everybody uses Google Ad infested Play Store. I for one would a way more prefer the package on https://f-droid.org/

Thank you

[2015-11-03 15:18] ryanwarsaw commented on #767
Almost all Android devices sold on the market come with Google apps installed, (playstore, etc). If you don't want to search for the package, there is a direct link you can use as well. To add onto this, I've literally never seen an Ad in the Google Play store ever.

To add onto this, I'm not sure how powerful f-droid is, we serve different APK files to use on x86 and ARM devices, I'm not sure if

[2015-11-03 15:57] cadecairos commented on #727
@xmatthewx @simonwex @gvn

https://gist.github.com/cadecairos/58e3509395342f8e2dfe

Three ideas to kick around.

[2015-11-03 16:43] vazquez commented on #692
For the right hand side, let's add a visual enhancement that looks like a scrub.

![text options 2](https://cloud.githubusercontent.com/assets/1119821/10914152/1c20df88-821f-11e5-900f-c02999ab4cc4.png)

[2015-11-03 17:17] gvn commented on #727
I just left some comments in the gist... :dancers:

[2015-11-03 18:44] mcepl commented on #767
OK, I guess I just don't need your app that much.

[2015-11-03 18:44] #767 closed, assigned to nobody

[2015-11-03 20:07] vazquez commented on #692
Scrollbar SVG here: https://dl.dropboxusercontent.com/u/43783651/scrubber.svg

[2015-11-03 20:56] gvn commented on #736
I'm good with this as long as we can automate it. We're actually already generating 2 APKs for X86 and ARM, so I believe this would mean we'd generate 3 APKs (maybe 4?).

I'm assuming the Play Store is smart enough to negotiate which APK to deliver based on the user's OS version...

The only real implications I see are more APKs to upload and test, but the reduction in app size seems well worth it

[2015-11-03 22:23] xmatthewx commented on #692
R+ !

[2015-11-03 22:36] ioana-chiorean opened #768 "[3.11] QA Feedback - Android Beta App - Button Element"
Issue template from #401
Nexus 5 - Android 6.0
- [x] open one of your existing projects or create a new one
- [x] make sure the project has at least two pages, add one if necessary
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a Button by tapping the third icon
  - [x] a blue button appears in the center of the page
  - [x] the button label is "Button link"
  - [x]

[2015-11-04 10:17] xmatthewx commented on #727
Cool. Dropped in some comments as well.

[2015-11-04 10:25] xmatthewx commented on #737
Excellent. I'm having some nexus charging issues but will try this out today.

@vazquez @flukeout  - take this for a spin as well. let's make sure this list of promises is true: https://github.com/mozilla/webmaker-core/issues/737#issuecomment-153143099. if so, we can push it to production.

[2015-11-04 10:48] xmatthewx commented on #737
@vazquez @flukeout - you can confirm you're on 1.4.1 instead of 1.4 via Android Settings > Apps > Webmaker

[2015-11-04 10:49] xmatthewx commented on #737
@gvn - it looks like 1.4.1 is hooked up with staging user accounts.

[2015-11-04 14:07] ioana-chiorean commented on #764
Feedback and issues:
- I was not able to use my regular account https://github.com/mozilla/id.webmaker.org/issues/406
-  "the text is selected, it has a blue dashed border" -> text not selected - template  not updated?
- " there is a garbage icon, a plus icon, and a paintbrush icon at the bottom of the page" - this should not fall under the text editing mode.

RE: - glad to see you're running Andr

[2015-11-04 14:08] ioana-chiorean commented on #400
Typo:
- [x] edit one the pages -> edit one of the pages
- [x] tap the plus icon at the bottom of the page add a text element to the page by tapping the "Aa" icon  ->  tap the plus icon at the bottom of the page and/; add a text element to the page by tapping the "Aa" icon
- [] there is a garbage icon, a plus icon, and a paintbrush icon at the bottom of the page -> not present in text editing mode

[2015-11-04 14:23] ioana-chiorean commented on #401
Feedback
- using both paintbrush and pencil to describe the editing button - might confuse some testers

Updates needed:
**Setting the Button Destination**
- [x] tap another page
  - [ ] a "Set Destination" button appears at the bottom of the view. Tap it.
- [x] you now see the link editor with "Edit Label", Font, etc.
  -> here you are not returned in editing button age but in page view
- after u

[2015-11-04 14:23] ioana-chiorean commented on #768
Feedback:
- " Text color" - I can not change it myself but it does change depending on the background color.
- After setting a destination you are in page view not button edition view: " you now see the link editor with "Edit Label", Font, etc.
- after u set a destination - returning to button editing will display "Change Link Destination "not "Set Destination"  - template not updated or bug?

Imp

[2015-11-04 15:54] xmatthewx commented on #764
We'll get this fixed soon. We'll need to submit a hotfix and you'll have to wait for google play to deliver an update to your app. In the mean time, you can create a temp account to continue using the app.

[2015-11-04 17:27] alanmoo opened #769 "Create 'Project List' component"
After some discussion in #766, we've realized that project lists should be their own component. I wanted to start this issue to figure out what features they need. So far I'm thinking

Properties:
- Data source (I'm leaning towards individual keys, so we can pass nothing (discover behavior), an author, hashtag, and maybe other combinations of search keys as necessary.)
- Shuffle (Boolean)
- Infini

[2015-11-04 17:39] xmatthewx commented on #769
Excellent thinking. Will this be used by the Make view as well? When the project is yours, the card includes the "more actions" kebab and may include an indication as to whether it's public/private (not currently implemented). We don't currently have "more actions" in Discover (when the project isn't yours), but might want that later for remix and share. I don't want to make your task more complic

[2015-11-04 17:56] alanmoo commented on #769
That's already a prop on the card component, so it'd just have to be passed down similarly to how it is already, so good call.

[2015-11-05 13:57] cadecairos commented on #727
I put a bit more work into this while on the plane to Mozfest.

https://github.com/mozilla/api.webmaker.org/compare/develop...cadecairos:hashtags

The create/update project routes now accept description as a payload param, which is parsed into an array of tags that is saved into a jsonb column called "metadata" as `{ tags: [] }`. This column is indexed to improve searching.

There are two ways to

[2015-11-05 16:51] gvn commented on #727
I think the second route should probably be projects matching any of the tags by default, but it might be nice to have a flag for matching all tags. However, off the top of my head I can't think of a good use case for matching all... `¯\_(ツ)_/¯`

[2015-11-05 17:00] gvn commented on #769
Whatever we come up with let's just be sure to get it in the style guide!

@vazquez Can you confirm that that appearance of cards under hashtag lists will be the same (or very similar) as under Discover and Make?

[2015-11-05 17:02] gvn commented on #737
Ah crap, you're right. I forgot to switch the .env over. I'll put a new one up...

[2015-11-05 19:13] gvn commented on #737
Ok, new APK is up and connected to prod servers. Just give it a few hours to propagate...

[2015-11-05 20:19] gvn commented on #626
I can't repro this with the latest build (forthcoming 1.4.1 release).

[2015-11-05 20:19] #626 closed, assigned to gvn

[2015-11-05 20:50] gvn commented on #598
Ok, I realized that there's a CSS conflict causing this. Projects are inheriting some style from another `btn` class used in the "website" portion of webmaker.org.

[2015-11-05 21:41] gvn commented on #596
PR is here:
https://github.com/mozilla/webmaker-android/pull/2447

[2015-11-05 23:52] xmatthewx commented on #769
Yes. Cards under hashtag lists will be the same as Discover. Both will change a bit to include new descriptions, but they will be consistent.

[2015-11-05 23:57] xmatthewx commented on #737
New APK didn't appear for me in the play store. I had to delete and then install. Not ideal, but won't affect anyone who didn't opt into beta. Odd.

I don't seem to have the new text color options for the link element. Just background color. Confirmed that I have 1.4.1 installed.

[2015-11-06 00:01] xmatthewx commented on #727
I don't think we'll have a need for advanced search for multiple tags with and/or. Let's just focus on the first route for now.

[2015-11-06 00:14] ioana-chiorean commented on #737
@xmatthewx for - I don't seem to have the new text color options for the link element. Just background color. Confirmed that I have 1.4.1 installed.

I commented yesterday - did not see it either

[2015-11-06 00:20] ioana-chiorean commented on #764
and the other 2 under feedback, @xmatthewx ?

[2015-11-06 00:52] gvn commented on #737
I haven't promoted the APK to production. It's still in the beta channel. Were you installing from the link or the play store?

[2015-11-06 00:53] gvn commented on #769
:+1:

[2015-11-06 00:55] xmatthewx commented on #737
1.4.1 is definitely from Beta. Once you opt-in, you continue to get beta unless you choose to exit.

[2015-11-06 01:19] gvn commented on #737
The commit I cherry picked as a patch to resolve #715 to unblock our release is [this one](https://github.com/mozilla/webmaker-core/commit/398ffb5464d1c84dc8bb1190f2260f4e68ebbfb3).

@xmatthewx are you referring to the functionality of [this patch](https://github.com/mozilla/webmaker-core/commit/2236f99832a554e33502b0a2e2f1b0983e038aab) being missing? That one isn't part of the 1.4.1 release...

L

[2015-11-06 15:41] xmatthewx commented on #737
Took a quick look at this with @alanmoo. It seems like we might have rolled back a few commits that were initially in beta 1.4. I believe we had everything thru Oct 7, 2015 up to 0a621d5. The cherry picked patch fixes link color that landed on that date. So the fix doesn't have anything to fix.  https://github.com/mozilla/webmaker-core/pull/696

Fortunately, right now nothing is broken. So, we can

[2015-11-06 19:01] gvn commented on #737
I've promoted [1.4.1](https://github.com/mozilla/webmaker-core/releases/tag/v1.4.1) to prod as is. I think some things made it into the last beta that weren't actually merged into master. Now that we're starting to tag releases things should become clearer moving forward...

[2015-11-07 21:09] xmatthewx commented on #737
done and done

[2015-11-07 21:09] #737 closed, assigned to gvn

[2015-11-08 11:02] xmatthewx opened #772 "implement hashtags"
Involves a few different chunks of implementation:
- [x] tags & description API #727
- [x] project descriptions #794
  - [x] add description field to settings view
  - [x] display description on project card
- [x] tags #795
  - [x] build list view filtered by tag
- [x] wrap tags in description on project card with links #904
- [ ] build tag "ads" for Discover #905

[2015-11-08 11:25] vazquez commented on #772
I would just add a minor note that the project graphic in the Discover view will also change to a larger size. We've seen a lot of cropping mishaps as we can't intelligently know if where the content lies.

<img width="239" alt="screenshot 2015-11-08 11 24 33" src="https://cloud.githubusercontent.com/assets/1119821/11020062/4dafa18e-860b-11e5-8b60-868d44b86eab.png">

[2015-11-08 15:12] xmatthewx opened #773 "disable scrolling of loading spinner"
also ... does it need to be a a full view blue screen?

[2015-11-08 15:49] xmatthewx opened #774 "Remove login requirement for new users"
Let's discuss what it would take to open Webmaker to new users without login. What complexity does this require from UX and engineering perspective?

[2015-11-09 11:41] xmatthewx commented on #655
design is done. implementation begins in #772

[2015-11-09 11:41] #655 closed, assigned to vazquez

[2015-11-09 16:09] xmatthewx commented on #692
design is ready for @alanmoo to finish up

[2015-11-09 16:10] xmatthewx commented on #716
bump back to 1.6?

[2015-11-09 16:10] xmatthewx commented on #654
bump back to 1.6?

[2015-11-09 16:29] xmatthewx commented on #765
Let's push issues in this milestone back to 1.6 unless we have a PR in review. @gvn @alanmoo

Here's a draft schedule to set a rhythm for the next couple of releases.  Let's discuss.

| Week | Release | Build |
| :-: | :-- | :-- |
| 1 | 1.5 to Beta (Nov 13) | Begin 1.6 |
| 2 | 1.5 to Production (Nov 17) | Finish 1.6 |
| 3 | 1.6 to Beta (Nov 23) | Begin 1.7 |
| 4 | 1.6 to Prod (Nov 30) | Finish 1.7

[2015-11-12 16:03] #712 closed, assigned to gvn

[2015-11-12 16:43] ryanwarsaw opened #780 "Deal with RAM leaks caused by some incorrect usage patterns of Context"
@xmatthewx If you could add the android label to this, that would be great. I'm dropping this here for reference to be fixed once work has been completed in patching the router (responsible for opening web views, so the main source of the issue).

[2015-11-12 17:09] xmatthewx opened #781 "load time"
Make sure we load a project without waiting for all the images. File a bug on https://github.com/mozilla/api.webmaker.org/issues to check health of our server.

[2015-11-12 17:14] alanmoo commented on #765
I'm not sure I follow how Thanksgiving and Orlando fit in to this

[2015-11-12 17:17] #598 closed, assigned to gvn

[2015-11-12 17:18] xmatthewx commented on #765
I'll push back the 1.8 beta release to account for Orlando. For Thanksgiving, let's adjust the number/scope of issues we tackle, rather than break the rhythm of releases.

[2015-11-12 17:25] ryanwarsaw commented on #765
1.6 is going to be a huge update in terms of performance (on webmaker-android), I've got a ton of awesome things in the works and I really think people are going to be excited with the results. I also have off from school around that time, so we don't really need to adjust the number/scope of issues.

[2015-11-12 17:37] xmatthewx commented on #563
nudge nudge @k88hudson :clock1130:  :zzz: :hammer: :grin:

[2015-11-12 17:40] xmatthewx commented on #567
cc @gvn

[2015-11-12 17:42] xmatthewx commented on #592
Bumping back. Write spec for API and implementation.

[2015-11-12 17:46] xmatthewx commented on #643
implementation in #646

[2015-11-12 17:46] #643 closed, assigned to nobody

[2015-11-12 17:47] xmatthewx commented on #567
nevermind. this is supplanted by #646.

[2015-11-12 17:47] #567 closed, assigned to gvn

[2015-11-12 17:47] xmatthewx commented on #212
wondering if image processing is handled by Android. cc: @ryanw-se

[2015-11-12 17:48] xmatthewx commented on #644
spike was temporary

[2015-11-12 17:48] #644 closed, assigned to nobody

[2015-11-12 17:51] xmatthewx commented on #690
tracking in #780

[2015-11-12 17:51] #690 closed, assigned to nobody

[2015-11-12 17:51] ryanwarsaw commented on #212
I wasn't involved too much in how webmaker-android handles images, so I can't answer that question properly right now, but I'd be more than happy to take a look and see what I can find.

[2015-11-12 18:19] xmatthewx commented on #744
this is done

[2015-11-12 18:19] #744 closed, assigned to xmatthewx

[2015-11-12 18:20] xmatthewx commented on #745
make something awesome @vazquez

[2015-11-12 18:28] xmatthewx opened #782 "UI for page background color"
Let's consider an approach that utilizes an element-editor-like view. Unique UI for this one feature is too heavy of a lift.

This view could include our typical color picker and maybe later an option to set a background image.

see: #63

[2015-11-12 18:30] xmatthewx commented on #782
This could be accessed via an icon on either the page editor or the project editor (if we still have a selected page state). Wherever it fits more super chilly.

[2015-11-12 19:01] #703 closed, assigned to gvn

[2015-11-12 19:49] xmatthewx opened #783 "Make new links on usernames obvious"
When we add links from username to author project list, odds are good that nobody will notice. In current release, usernames are already blue. We can call it out in release notes and assume that new users will tap to try. For existing users, we could underline the links or add a generic user icon sometimes included in @vazquez's mockups. Thoughts?

cc @alanmoo

[2015-11-12 20:11] alanmoo commented on #783
The plan was to have them blue and underlined...not sure what happened, I'll check on it.

[2015-11-12 20:34] ioana-chiorean commented on #764
ping @xmatthewx or @vazquez for non resolved questions.

[2015-11-12 20:37] xmatthewx commented on #350
wontfix

[2015-11-12 20:37] #350 closed, assigned to thisandagain

[2015-11-12 20:39] xmatthewx commented on #783
@alanmoo - I don't think the design included underline. It's not a common practice in apps. This is an oversight on our end when we first launched Discover without links ... not an error of yours. Let's see what @vazquez has to say.

[2015-11-12 20:56] alanmoo commented on #783
Ok. I thought @vazquez and I covered this in an issue comment, though I can't find it.

[2015-11-12 21:00] vazquez commented on #783
Whoops, wrong GH username heh :P, I'm @vazquez.

Matthew brings up a good point. I think the best way to proceed would be to add an avatar. By doing this, we give enough visual difference to the users to warrant their curiosity in tapping the author link.

![screenshot 2015-11-12 15 57 57](https://cloud.githubusercontent.com/assets/1119821/11130984/2ced214e-8956-11e5-8342-41fc52adbdc2.png)

The av

[2015-11-12 21:18] alanmoo commented on #783
Fair point. I assume actually uploading a photo isn't part of this?

[2015-11-12 21:20] vazquez commented on #783
That's correct, just the static image.

[2015-11-12 21:26] xmatthewx commented on #783
:+1:  Icon would just be a static SVG. I think this also offers a nice tap target. Someday, we could add the feature to add a photo avatar, but that day is not today ;)

[2015-11-12 22:02] xmatthewx commented on #764
hey @ioana-chiorean - I'm still getting caught up post-Mozfest. I assigned this to myself to make sure I don't neglect the questions.

[2015-11-12 22:23] ioana-chiorean commented on #764
oh , sorry for the pressure @xmatthewx . thanks for clearing this out ( that u did not forget)
Also let me know if you want me to check some more now ( I have way more free time after mozfest too and I will be able to check faster and more)

[2015-11-12 23:27] alanmoo commented on #716
Yeah. MozFest got in the way of this

[2015-11-13 15:26] vazquez commented on #782
### Design Annotation

![change background page colour](https://cloud.githubusercontent.com/assets/1119821/11149476/f7d1f2dc-89f0-11e5-8346-3f798c2dd94a.png)

[2015-11-13 16:00] xmatthewx commented on #782
Implementation notes:
- [ ] shorten the header to just Page Background
- [ ] apply most recently used color on newly created pages (if we need to, let's add a column in DB for a project's recent/default element and page styles)

[2015-11-13 16:17] xmatthewx commented on #768
- text color will land in the next release
- updating the QA template with feedback

[2015-11-13 16:17] #768 closed, assigned to xmatthewx

[2015-11-13 16:28] xmatthewx commented on #764
@ioana-chiorean - we will launch v1.5 to Beta by early next week and would be glad to have your help with another round of QA testing. I'll share a list of the specific changes, so that your tests can focus on that.

I made many changes to the templates based on your feedback. I probably didn't catch everything, but we can continually improve these. As the app changes, the tests change, so it will

[2015-11-13 16:28] #764 closed, assigned to xmatthewx

[2015-11-13 16:52] xmatthewx commented on #772
@vazquez - let's file the crop change as a new issue and delete from this thread.

[2015-11-13 17:25] xmatthewx commented on #772
### projects settings
- add description field with helper text
  - "Include #hashtags to link other related projects in Discover"

![image](https://cloud.githubusercontent.com/assets/1119821/10436406/33fbefbc-70f4-11e5-9c0f-d6beb1eb39e9.png)

### project cards
- display project descriptions
  - wrap tags with links

![image](https://cloud.githubusercontent.com/assets/1119821/10436448/66f45274-70f4

[2015-11-13 17:55] vazquez opened #788 "Make Project Thumbnails Full Height"
We've seen a lot of cropping mishaps as we can't intelligently know if where the content lies. In an effort to reduce this and to begin showcasing projects in their full light, we are increasing the thumbnail height of all projects.

By my calculations, the artwork would become `470px in width` by `580px in height`.

![discover view copy 5](https://cloud.githubusercontent.com/assets/1119821/111531

[2015-11-13 19:09] xmatthewx commented on #788
Let's discuss. If the view shows one whole project, and only one project, it might not be obvious that it's a list.  There might be other options for solving the problem. For example, we might put an overlay of title and username on image. Or maybe image is a smaller thumbnail.

[2015-11-13 19:30] xmatthewx opened #790 "1.5 Release Notes"
- Add background color to text
-
-
-

[2015-11-13 19:35] xmatthewx commented on #790
whoops. misfire.

[2015-11-13 19:35] #790 closed, assigned to nobody

[2015-11-13 19:48] xmatthewx commented on #765
Here are draft notes for the release. Thinking it'd be good to retain notes from last release as well.

[2015-11-13 20:14] vazquez commented on #788
The top image just shows one project, but the view is meant to show one project and hint at the next project:

![discover view copy 5](https://cloud.githubusercontent.com/assets/1119821/11156163/41c70266-8a18-11e5-880e-8490dab4214a.png)

I'm not too concerned about scrolling. The action people do the most on a mobile device is scroll down. There is no concept of above-the-fold in mobile. This new

[2015-11-13 20:16] ryanwarsaw commented on #510
I ended up discovering what was causing this, you can read more here https://github.com/ryanw-se/android-url-router/issues/13. Looking to get a fix out by 1.6 or at the latest, beta 1.7.

[2015-11-13 20:58] xmatthewx opened #791 "Add an icon to buttons that link to URL"
Some buttons will pan to another page, while others leave the app and open the browser. Wondering if we should add an icon or other indicator to buttons that exit the app.

[2015-11-13 21:11] xmatthewx commented on #788
The hint in your second mockup works, but on some screens will probably be cut off.

In other apps, the bottom edge of a list view will either reveal a hint of the next item or cut off the current item. That gives a subtle clue to scroll for more. Gmail almost shows me 6 messages, but the bottom one is cut off enough to hint for more. Wunderlist almost shows me nine items, but the bottom one is cu

[2015-11-13 21:19] vazquez commented on #791
In Android-land, there are two icons within its visual language that indicate to the user they are leaving the app, or opening something within the app:

<img width="68" alt="screenshot 2015-11-13 16 06 19" src="https://cloud.githubusercontent.com/assets/1119821/11157674/c357bed0-8a20-11e5-880e-75e00912d83c.png">

and

<img width="71" alt="screenshot 2015-11-13 16 08 40" src="https://cloud.githubu

[2015-11-13 21:34] xmatthewx commented on #788
Here are some different title treatments.

<img width="1142" alt="screenshot 2015-11-13 16 33 16" src="https://cloud.githubusercontent.com/assets/53411/11158162/49ac74f0-8a24-11e5-8fe3-131af949299e.png">

Let's push margins, proportions, columns to find the best fit.

[2015-11-13 21:41] xmatthewx commented on #791
:+1: just a matter of seeing how this balances with centered text. maybe matches colors of button label but with half opacity? make a pile of options.

[2015-11-14 18:56] xmatthewx opened #793 "Prompt for Title"
Ask user for Title if unset on Share, Remix, and other activity. Maybe exit from project?

[2015-11-16 16:20] xmatthewx opened #794 "Build project descriptions"
First step toward Discover with hashtags is to build out project descriptions.
- [ ] add description field to settings view
- [ ] display description on project card

@vazquez - let's add annotated comps for just this chunk of work

[2015-11-16 16:20] gvn commented on #772
@xmatthewx – I'm wondering why the design is indicating a modal showing the description again. Isn't this kind of redundant?

Also if the description gets too long the modal might not fit in the viewport.

[2015-11-16 16:21] gvn commented on #794
@vazquez you can assign back to me when this is ready to build...

[2015-11-16 16:24] gvn commented on #650
IMO this seems higher priority than #740. @xmatthewx thoughts?

[2015-11-16 16:26] xmatthewx commented on #772
@gvn - Good question. We currently edit a `project title` directly on the settings view without a modal. @vazquez, let's update the comp and post it to #794.

[2015-11-16 16:26] gvn commented on #638
@xmatthewx can we break out any pertinent issues from this ticket into their own tickets and then close this one?

[2015-11-16 16:28] gvn commented on #772
Another question: Do we want to set a max length on project descriptions? I think we should...

[2015-11-16 16:29] xmatthewx opened #795 "Build tag list view"
Build a Discover list view filtered by hashtags

@vazquez - let's add a annotated comp here with just the list view.

[2015-11-16 17:27] xmatthewx commented on #727
@cadecairos - let's discuss the status of this on our Tuesday stand. If you that time doesn't work for you, grab another time slot for you, me, @gvn, @alanmoo.

[2015-11-16 17:29] xmatthewx commented on #710
Might be resolved by @gvn work on conditional touch target padding. will test when 1.5 Beta lands this week.

[2015-11-16 17:33] xmatthewx commented on #794
@vazquez test a max length. 100 or 140 characters? See how that would look in Discover.

[2015-11-16 17:36] xmatthewx commented on #650
@vazquez to tackle a UX option that utilizes our approach to 'set link destintaiton' so we don't require complicated drag-and-pan in the project view.

[2015-11-16 18:20] vazquez commented on #794
## Design Annotation

![project description annotation](https://cloud.githubusercontent.com/assets/1119821/11217691/a1fcb234-8d1f-11e5-9a94-66f3b621152e.png)

[2015-11-16 18:52] cadecairos commented on #727
@xmatthewx can I get an invite to that stand?

[2015-11-16 19:11] vazquez commented on #791
What are you thinking @xmatthewx? I like the third option from the top.

<img width="304" alt="screenshot 2015-11-16 14 10 08" src="https://cloud.githubusercontent.com/assets/1119821/11191899/f7b9c98c-8c6b-11e5-84f7-ca400277c704.png">

[2015-11-16 19:13] vazquez commented on #791
For context:

![play page view](https://cloud.githubusercontent.com/assets/1119821/11191917/24009bce-8c6c-11e5-9061-7a1e6e004a8e.png)

[2015-11-16 19:35] alanmoo commented on #783
How does the avatar affect the tap targets? Seems like avatar and username should bring you to the user's projects, but project name should bring you to the project itself (as well as the existing behavior of the preview image bringing you to the project).

[2015-11-16 19:35] xmatthewx commented on #727
11:30 eastern tomorrow. Not on your calendar? Oye.

[2015-11-16 19:37] vazquez commented on #783
How about this:
- Avatar and username will bring you to the user's projects.
- The Thumbnail image will bring you to the project.
- The Project title itself is not tappable.

[2015-11-16 19:38] xmatthewx commented on #783
:+1:

[2015-11-16 19:39] alanmoo commented on #783
Cool. I'm planning on making the image and username separate links that go to the same place though, just for clean markup.

[2015-11-16 19:40] xmatthewx commented on #783
:+1: :+1:

[2015-11-16 19:40] vazquez commented on #783
Awesome :cow: :star:

[2015-11-16 19:41] xmatthewx commented on #791
Yep. Icon within the button looks good. Wondering if some opacity would be nice. Your call.

[2015-11-16 19:41] vazquez commented on #788
Progress:

![discover view copy 10](https://cloud.githubusercontent.com/assets/1119821/11192646/3bf7884c-8c70-11e5-8796-54c331e5ed29.png)

[2015-11-16 19:43] vazquez commented on #791
Yes, yes I like that.

[2015-11-16 19:44] vazquez commented on #791
![play page view](https://cloud.githubusercontent.com/assets/1119821/11192697/84c4c832-8c70-11e5-9a0d-c0ba55679b6f.png)

[2015-11-16 19:46] vazquez commented on #791
What do you think about this icon for the Link element?

<img width="239" alt="screenshot 2015-11-16 14 45 37" src="https://cloud.githubusercontent.com/assets/1119821/11192740/c2610034-8c70-11e5-852b-9cd68ef5578d.png">

[2015-11-16 20:00] xmatthewx commented on #791
:+1: prep some annotation and then assign to @gvn

[2015-11-16 20:18] debodirno commented on #765
I wish to test this.

[2015-11-16 20:27] xmatthewx commented on #788
Looks nice. Might be hard to read on a noisy/contrasty thumbnail.

I just realized that these should probably include descriptions since they're coming soon.

I'd explore a bunch of options loosely before you choose a direction.

<img width="1053" alt="screenshot 2015-11-16 15 26 24" src="https://cloud.githubusercontent.com/assets/53411/11193761/70b9cea4-8c76-11e5-8f60-a2adf470cb9f.png">

[2015-11-16 20:40] xmatthewx opened #796 "Quality test 1.5 Beta Release"
1.5 Beta will be released soon. When that happens, we have a few people ready to help with Quality testing. I'm very excited to make this a team effort.
- [x] Account Basics #803
- [x] Viewing a Project #804
- [x] Creating & Deleting Projects #815
- [X] Project Editing Basics #814
- [x] Image Element #812
  - [x] Bug found, reported in #813
- [x] Button Element #811
- [x] Text Element #810

@debod

[2015-11-16 20:49] xmatthewx commented on #796
Updated link to wiki page: https://github.com/mozilla/webmaker-core/wiki/Webmaker-Quality-Testing

[2015-11-16 20:51] xmatthewx commented on #765
Thanks @debodirno for emailing an offer to help! I shared some instructions here: https://github.com/mozilla/webmaker-core/issues/796

[2015-11-16 21:16] vazquez commented on #791
## Design Annotation

![url buttons annotations](https://cloud.githubusercontent.com/assets/1119821/11194977/4e266a8a-8c7d-11e5-94a6-4164cd560b5a.png)

[2015-11-16 21:18] vazquez opened #797 "Implement icon to buttons that link to URL"
## Design Annotation

![url buttons annotations](https://cloud.githubusercontent.com/assets/1119821/11195004/72882b8e-8c7d-11e5-9eaf-63c50d37ce40.png)

[2015-11-16 21:18] vazquez commented on #791
Tracking implementation in #797

[2015-11-16 21:18] ioana-chiorean commented on #796
On your mark, get set... :runner:

[2015-11-16 21:18] #791 closed, assigned to vazquez

[2015-11-16 21:39] vazquez opened #798 "Implement new icon for Link Element"
## Design Annotation

![link icon annotation](https://cloud.githubusercontent.com/assets/1119821/11195267/24d682e4-8c7f-11e5-9c8e-f36968c6ca25.png)

New icon available here: https://drive.google.com/a/mozilla.com/file/d/0ByIoeeW0a3R_UWFsUEJXdTROVWc/view?usp=sharing

[2015-11-16 22:12] xmatthewx commented on #536
:ship: has sailed :)

[2015-11-16 22:12] #536 closed, assigned to vazquez

[2015-11-17 15:49] vazquez commented on #795
## Design Annotation

![filtered hashtags annotation](https://cloud.githubusercontent.com/assets/1119821/11216375/d6761a0c-8d18-11e5-8e15-6d9a2e3d39ec.png)

[2015-11-17 16:07] xmatthewx commented on #794
:leopard:

[2015-11-17 16:57] xmatthewx commented on #727
Moving along:
- @gvn has WIP project description in settings
  - @cadecairos will enable that attribute
- @cadecairos will post quick documentation on tag routes before wrapping up tests and pushing this staging

[2015-11-17 16:59] xmatthewx commented on #727
Note: we've reduced limit on description from 140 to 100 characters.

[2015-11-17 17:01] xmatthewx commented on #796
@ioana-chiorean & @debodirno – want to meet up on video sometime this week? I'd be glad to answer any questions and would love to hear about your interests as a contributor.

[2015-11-17 17:34] debodirno commented on #796
How about Sunday?

On Tue, Nov 17, 2015 at 10:31 PM, matthew w notifications@github.com
wrote:

[2015-11-17 17:50] alanmoo commented on #783
Closed by https://github.com/mozilla/webmaker-core/commit/f33f8a870ac6486beca185cb30233dab2665912a

[2015-11-17 17:50] #783 closed, assigned to alanmoo

[2015-11-17 17:50] alanmoo commented on #769
Closed by https://github.com/mozilla/webmaker-core/commit/f33f8a870ac6486beca185cb30233dab2665912a

[2015-11-17 17:50] #769 closed, assigned to alanmoo

[2015-11-17 17:51] alanmoo commented on #654
Closed by https://github.com/mozilla/webmaker-core/commit/f33f8a870ac6486beca185cb30233dab2665912a

[2015-11-17 17:51] #654 closed, assigned to alanmoo

[2015-11-17 18:33] cadecairos commented on #727
@gvn @alanmoo @xmatthewx
Docs:
https://gist.github.com/cadecairos/3eba81bb869fcf65326c

[2015-11-17 19:01] xmatthewx commented on #727
thanks @cadecairos for the speedy work!

[2015-11-17 19:44] gvn commented on #765
I can't generate an APK due to an [un-localized string](https://github.com/mozilla/webmaker-android/commit/cd1674f55bfb32d326aa24a51b0e71595aa33111#diff-01dafb3fd0217441330103cfc8300094R14).

Options:
1. Localize it
2. Put English in the non-english locale XML files (Ali, is this bad?)
3. Refactor Android to fall back to English for missing localized strings

My preference is 3, but I'm not sure h

[2015-11-17 20:21] alicoding commented on #765
@gvn I think we can do 2 first then people will do 1 and in the meanwhile we can take our time to do 3.

[2015-11-17 20:22] xmatthewx commented on #765
:+1: to @alicoding's suggestion.

@alanmoo - are we using the phrase "User Projects" or is that replaced with the username? Maybe we can just remove this?

Option 2 is definitely ok for a Beta release while we translate.

[2015-11-17 20:23] alanmoo commented on #765
It appears temporarily while the page is loading, I suppose we could just remove it and have nothing show while the view is loading...

[2015-11-17 21:00] xmatthewx commented on #765
Is it possible we have an error because the string isn't in [en-US.yaml](https://github.com/mozilla/webmaker-core/blob/master/src/locales/en-US.yaml)? Maybe the fallback would otherwise work ok?

[2015-11-17 21:02] gvn commented on #765
No, this is an Android string, not a core string. Core will fallback to English already.

Opened a PR for Android strings: https://github.com/mozilla/webmaker-android/pull/2450

[2015-11-17 21:28] gvn commented on #765
Ok, beta APKs for 1.5.0 are up. Allow a few hours to propagate. :+1:

[2015-11-17 22:08] xmatthewx commented on #765
hurrah!! exciting stuff. thanks everyone for the push to wrap this up.

[2015-11-17 22:27] xmatthewx commented on #796
Ok team. Webmaker 1.5 Beta has landed in the play store! You should see an update available on your device now or in the next couple hours.

Pick a test from the [wiki page](https://github.com/mozilla/webmaker-core/wiki/Webmaker-Quality-Testing). When you open a ticket to start the test, drop a link to the new issue in this thread. That way, we can avoid duplicating each other's effort. Does that

[2015-11-18 01:09] debodirno opened #803 "Webmaker 1.5 Android Account Testing"
**Sign up**
- [x] open the app (or log out from the 'MAKE' tab, if already signed in)
- [x] make sure you are on the screen that says the equivalent of "Join Webmaker" on the button at the bottom
- [x] tap the "Terms" and "Privacy Policy" links at the very bottom
- [x] enter an invalid username by adding a @ in the Username field, check the error message you see
- [x] change to a valid username
-

[2015-11-18 01:22] debodirno commented on #803
Everything working fine. Just a proposal:

Add this message to the Sign Up:
- [ ] enter an already taken username and check the error message you see

[2015-11-18 02:50] xmatthewx commented on #803
Great. And thanks for the suggestion... I added it to the list for future tests.

[2015-11-18 02:50] #803 closed, assigned to nobody

[2015-11-18 10:32] ioana-chiorean commented on #796
Yes - I am in CET+1/UTC+2 now

Will start some tasks/qa issues now

[2015-11-18 12:29] debodirno opened #804 "Webmaker 1.5 Android Viewing Project"
- [x] Open the app and tap the Discover tab, which opens the Discover view

**Discover View**
- [x] In the Discover view you see a list of projects. Each projects includes...
  - [x] a title
  - [x] a preview image
  - [x] an author (indicated in blue)
- [x] scroll up and down to view additional projects
- [x] tap on any project in the Discover view, it will open

**Project Play Mode**
- [x] when

[2015-11-18 12:40] debodirno commented on #804
Everything working just fine, however, I feel you should write:

tap the zoom out(minus '-' button) in the right top to zoom back out to the Project view.

Because tapping the back button(←) leads to the Discover view rather than the Project view.

[2015-11-18 16:30] xmatthewx commented on #804
Perfect. Thanks for the correction ... I added it to the wiki page. The back arrow is used when you are in the project editor, but the project viewer as you noticed.

[2015-11-18 16:30] #804 closed, assigned to nobody

[2015-11-18 16:50] xmatthewx opened #805 "Infinite scroll seems to be finite"
Sometimes I get a few additional projects. Sometimes I get many. I never seem to get all of the featured projects.

[2015-11-18 16:51] xmatthewx opened #806 "Make view doesn't show all of a user's projects"
We should bump up the list limit, or add infinite scroll.

[2015-11-18 16:52] xmatthewx opened #807 "Tightening the style"
There are a few CSS bits we can clean up. Let's gather a list here and then triage. cc @vazquez

[2015-11-18 16:54] xmatthewx commented on #807
- [ ] reduce excessive line-height for two line project titles

[2015-11-18 16:55] xmatthewx opened #808 "System back does not dismiss modal in Make view"
Each project in the Make view includes a kebab modal menu to share and delete projects. Back button should dismiss this modal. Currently exits the app.

[2015-11-18 16:57] xmatthewx opened #809 "Add "Project Details" to more actions modal in Make view"
Project cards in Make view include a kebab-more-actions-modal-menu with Share and Delete. Add a link to "Project Details" for setting title, description, etc.

[2015-11-18 16:57] vazquez opened #810 "Webmaker 1.5 Android Text Element Testing"
- [x] open one of your existing projects or create a new one
- [x] edit one of the pages
- [x] tap the plus icon at the bottom of the page
- [x] add a text element to the page by tapping the "Aa" icon
- [x] change each of the available settings, the preview at the top of the page updates as you do so
  - [x] Font
  - [x] Color
  - [x] Text Style
  - [x] Background colour
- [x] once you've made cha

[2015-11-18 17:15] vazquez commented on #810
![popkey](https://m.popkey.co/73b6e2/9wE8O.gif)

[2015-11-18 17:34] #810 closed, assigned to nobody

[2015-11-18 17:34] vazquez commented on #810
No issues found. :cow: :star:

[2015-11-18 17:49] vazquez opened #811 "Webmaker 1.5 Android Button Element Testing"
- [x] open one of your existing projects or create a new one
- [x] make sure the project has at least two pages, add one if necessary
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a Button by tapping the third icon
  - [x] a blue button appears in the center of the page
  - [x] the button label is "Button link"
  - [x] the button is selected, it has a blue dashed b

[2015-11-18 18:38] vazquez commented on #811
No issues found! :cow: :star:

[2015-11-18 18:38] #811 closed, assigned to vazquez

[2015-11-18 18:41] vazquez opened #812 "Webmaker 1.5 Android Image Element Testing"
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add an image element to the page
  - [x] an image appears in the center of the page (it can be one of many starter images)
  - [x] the image is selected, it has a blue dashed border
  - [x] there is a garbage icon, a plus icon, and a paintbrush icon at the bottom

[2015-11-18 18:51] vazquez opened #813 "Images Options show NaN and undefinedpx values"
### STR:
- In the Editor, tap the plus icon at the bottom of the page add an image element to the page.
- Tap the pencil icon to enter the Options view

When entering the Image Options view, this is what you see:
### Issues Found
1. View is broken, you can scroll left and right
2. Opacity value shows as `NaN%`
3. Border width shows as `undefinedpx`

![screenshot_20151118-134547](https://cloud.gith

[2015-11-18 18:51] vazquez commented on #812
Bug found, filed in #813

[2015-11-18 18:53] xmatthewx commented on #813
Uh oh. cc @gvn @alanmoo

[2015-11-18 18:55] xmatthewx commented on #812
Ok. I'll leave this open to rerun after bug is squashed. :bug: :boot:

[2015-11-18 18:57] vazquez opened #814 "Webmaker 1.5 Android Project Editing Basics Testing"
- [x] create a new project, or open an existing one
- [x] you will see the map view of the project, centered on one of the pages
- [x] the blue header says "Project"
- [x] the centered page is selected
- [x] the pencil icon is visible below the page
- [x] dragging the view to pan around the project view
- [x] pinching the view zooms the view in and out
- [x] pan to a place where there is an empty

[2015-11-18 19:01] alanmoo commented on #813
I noticed this when working on #799, so if that gets merged in it should fix this. For some reason, the value attribute was missing on those sliders.

https://github.com/mozilla/webmaker-core/pull/799/files#diff-e858a41c1876cbd4433de2314fa2172dR55

[2015-11-18 19:02] vazquez commented on #814
No issues found :cow: :star:

[2015-11-18 19:02] #814 closed, assigned to vazquez

[2015-11-18 19:04] vazquez opened #815 "Webmaker 1.5 Creating & Deleting Projects Testing"
- [x] Open the app and tap the Make tab, which displays the Make view

**Make View**
- [x] you see your username displayed at the top of the view
- [x] tap the "+ Create a Project" button, you will enter the Project view

**Project View**
- [x] you are in the map view of a project with a single page
- [x] the page is selected (there is a blue border around it)
- [x] tap the triple dot menu in the

[2015-11-18 19:08] vazquez commented on #815
In Project Settings, when tapping the green arrow on the bottom of the keyboard, the keyboard does not go away. Is there some binding we could do to hide the keyboard upon pressing the green arrow, or is this normal?

cc @xmatthewx

[2015-11-18 19:08] vazquez commented on #815
Other than my question above, no issues found :cow: :star:

[2015-11-18 19:50] ioana-chiorean commented on #796
@debodirno, @vazquez what phones and android versions did u guys used?

[2015-11-18 19:50] vazquez commented on #796
@ioana-chiorean Nexus 5 running Android 6.0

[2015-11-18 19:50] xmatthewx commented on #813
So we'll need to make sure that we add #799 to Beta and test, before we go to production.

[2015-11-18 19:55] debodirno commented on #796
Moto E running Android 5.1

On Thu, Nov 19, 2015 at 1:20 AM, Ricardo Vazquez notifications@github.com
wrote:

[2015-11-18 19:58] xmatthewx commented on #796
@debodirno - what time zone are you in? Would it be possible to meet on a weekday? Or is that difficult?

[2015-11-18 20:01] xmatthewx commented on #796
@ioana-chiorean - I am in Brooklyn, UTC-5. Would Thursday or Friday at 15:00 UTC work for you? Are you on Vidyo? Skype works for me as well.

I aded device and version to the Quality test templates so we capture that in the future.

[2015-11-18 20:04] debodirno commented on #796
I am in Kolkata, India. UTC +5:30

On Thu, Nov 19, 2015 at 1:31 AM, matthew w notifications@github.com wrote:

[2015-11-18 21:26] ioana-chiorean commented on #796
@debodirno / @vazquez / @xmatthewx - Tomorrow morning (in 10h) in the office - if it is not to late - I can check on a 4.x device and an x86 Intel architecture phone. Also on a tablet. I have as personal only a Nexus 5/Android 6.0.

@xmatthewx - yes, both Thursday and Friday would work for me at 15UTC. Vidyo will work fine.

[2015-11-18 21:37] ioana-chiorean opened #816 "Webmaker 1.5 - Error loading projects in Make"
I am getting this in Make tab. Reload the tab, error appears.

<img src="https://cloud.githubusercontent.com/assets/1391451/11255106/2b312ee4-8e4d-11e5-89ce-8787e222f4c5.png" width="300" height="550" />

[2015-11-18 21:41] ioana-chiorean commented on #816
So , with my regular old account it works fine.

<img src="https://cloud.githubusercontent.com/assets/1391451/11255329/51babffc-8e4e-11e5-88b8-7ad98f57f362.jpg" width="300" height="550" />

[2015-11-18 22:07] xmatthewx commented on #816
@ioana-chiorean - the account you made on 1.4 Beta won't work here. That Beta was incorrectly linked to a separate database used during development. This Beta correctly links to the real live database.

[2015-11-18 22:07] #816 closed, assigned to nobody

[2015-11-18 22:29] ioana-chiorean opened #817 "Text postion can't be set at the top/bottom of page"
1. I am trying to move the text above the picture.
2. I am able only till a point.
3. I can move the picture thought
4. Try to set the text at the bottom of the page

max position:
<img src="https://cloud.githubusercontent.com/assets/1391451/11256376/40c3bca2-8e54-11e5-866d-ea96f6cb5343.jpg" width="300" height="550" />
<img src="https://cloud.githubusercontent.com/assets/1391451/11256377/40f5ff96-

[2015-11-18 22:34] ioana-chiorean commented on #816
Makes sense. Thanks.

[2015-11-18 22:53] ioana-chiorean opened #818 "Wrong display of text - overlaps button"
Play view:
<img src="https://cloud.githubusercontent.com/assets/1391451/11256979/b8a29df8-8e57-11e5-88b6-03adf1192e91.jpg" width="300" height="550" />

Preview:
<img src="https://cloud.githubusercontent.com/assets/1391451/11256976/b89bf7f0-8e57-11e5-8b0a-de5a02daec96.jpg" width="300" height="550" />

Page view:
<img src="https://cloud.githubusercontent.com/assets/1391451/11256977/b89f1a70-8e57-11e

[2015-11-18 22:56] ioana-chiorean opened #819 "Text on button - white shadow"
Not sure if intended but looks.. at least odd if not worse..

<img src="https://cloud.githubusercontent.com/assets/1391451/11257098/49b76dc8-8e58-11e5-938d-ca435563b367.jpg" width="300" height="550" />

[2015-11-18 23:06] ioana-chiorean opened #820 "Nice to clean/discuss: Text edits indicator"
Reverse engineering it I can see different cases to have both the white ( barely seen) and the black underline but I would like you guys to reconsider it or make sure it is really needed:

<img src="https://cloud.githubusercontent.com/assets/1391451/11257308/67f50b3c-8e59-11e5-8f50-5fe2d951e141.png" width="300" height="550" />

[2015-11-18 23:53] ioana-chiorean opened #821 "Buttons can't be set to top/bottom of page nor margins"
Not sure if intended, did not see any specs..
1. I am trying to move the button above the picture.
2. I am able only till a point.
3. I can move the picture thought
4. Try to set the buttom at the bottom of the page

<img src="https://cloud.githubusercontent.com/assets/1391451/11258217/12179142-8e60-11e5-8f67-647f447f5451.png" width="300" height="550" />

<img src="https://cloud.githubusercontent.

[2015-11-19 09:42] ioana-chiorean opened #827 "x86 device - app is super slow"
On ZTE Grand X In - x86 Intel architecture - Android 4.0.4 I am seeing slow response to actions
- see video: https://www.youtube.com/watch?v=33LUtOK2H20

[2015-11-19 14:26] alanmoo commented on #827
I've noticed something like this, though a lot of times it seems it's less responsive to quick touches than it is about the performance of the device itself. (Though the "back" button clearly wasn't working right in your video). If you're more deliberate in touching links does it behave better? I'm trying to figure out if it's an issue with the app, or how it's sensing touches.

[2015-11-19 15:40] #751 closed, assigned to vazquez

[2015-11-19 15:55] xmatthewx commented on #827
@ryanw-se - is looking at some memory issues that could affect a lower spec device like this. Maybe that's the issue?

[2015-11-19 16:11] ioana-chiorean commented on #751
:+1:  :tada: :dancers:

[2015-11-19 16:31] ryanwarsaw commented on #827
@xmatthewx Of course a memory issue like the one I'm working on fixing could always have an impact on less powerful devices, but I think @alanmoo is on to something with the touch sensitivity bit. I'd be really surprised if the memory issue had that big of an impact on performance like shown in the video though.

[2015-11-19 16:46] xmatthewx opened #828 "Set destination "mask" appears in project editor"
cc @vazquez @gvn @alanmoo
## STR
1. Create or Edit a Project
2. Add a Link Element
3. Tap on "Set Destination"
4. Once you're in the Set Destination screen, tap the back arrow on the header
5. Tap the back arrow again on the header
6. You are now in the Project. The selected page has a gray mask and is disabled.
7. Tap on "More Actions" at the top right hand side
8. Press "Play"
9. The page that a

[2015-11-19 16:52] xmatthewx commented on #828
Might push back to 1.6

[2015-11-19 17:08] alanmoo commented on #817
Duplicate of #710, which should be addressed by #735

[2015-11-19 18:07] #763 closed, assigned to vazquez

[2015-11-19 19:30] #692 closed, assigned to alanmoo

[2015-11-19 19:35] alanmoo commented on #818
Should be solved by #735

[2015-11-19 20:33] xmatthewx commented on #828
When I leave a project, open another, edit it, and return to the original one ... the mask remains. Pretty important to fix this. If I choose a select a different page, I can no longer edit that button to set a destination. There's no way out of this.

[2015-11-19 21:13] xmatthewx opened #831 "UI Polish - Project Card"
All project cards
- [x] Avatar section has too much vertical space
- [x] Line space within two-line Title
- [x] Does userame need to be blue? (with icon there now) check twitter instagram facebook?
- [x] Should icon be gray?
- [x] no bleed on thumbnail

Project card in Make
- [x] Project Title is not vertically centered
- [x] More Actions icon can be a touch smaller perhaps
- [x] The Share/Delete

[2015-11-19 21:14] vazquez opened #832 "UI Polish - Discover"
- Discover/Make Selected Header underline indicator should be dark blue, not white.

[2015-11-19 21:15] vazquez opened #833 "UI Polish - Make"
- "Create a project" button can switch to our new style with rounded borders

[2015-11-19 21:15] vazquez opened #834 "UI Polish - Project Editor"
- Header is “Project” … change to “Edit Project”

[2015-11-19 21:16] xmatthewx opened #835 "UI Polish - Set destination view"
- Change header string to “Pick Destination”

[2015-11-19 21:16] vazquez opened #836 "UI Polish - Page Editor"
- Change paintbrush. Use pencil.
- On the Add Image modal, make the Take Photo and From Camera Gallery a colour that is not #000. We can use the @slate LESS colour

[2015-11-19 21:18] vazquez opened #837 "UI Polish - Set Destination"
User needs some help
- could be arrows on the origin page
- https://www.google.com/search?q=community+butthole+flag&espv=2&biw=1120&bih=951&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI4MiBka-dyQIVxhk-Ch1QigQG
- could be FTU overlay +1 [requires localization]
- could be help text in element editor next to set destination button [requires localization]

[2015-11-19 21:20] xmatthewx opened #838 "Webmaker requires "uninstall for all users""
The app installs differently from typical apps.

[2015-11-19 21:31] ioana-chiorean commented on #817
well I think it is worse than "small text elements"

[2015-11-19 21:32] alanmoo commented on #817
It is, though I believe I've solved for all cases with that code.

[2015-11-19 21:33] xmatthewx commented on #612
@cadecairos - as I mentioned, this could become more important in the near future. Can we create a quick spec in preparation? We can talk about actual implementation later.

I'm thinking:
- User should be able to `Flag inappropriate` while viewing a project.
- DB should store a flag count.
- ~~Maybe useful to see who flagged~~ `Not MVP`
- Admins should be able to manually change status from publis

[2015-11-19 21:36] alanmoo commented on #828
This doesn't always happen up when I follow these STR, but I'm going to review #830 anyway.

[2015-11-19 21:40] xmatthewx opened #839 "UI Polish - Loading indicator"
The loading spinner with full screen blue background is a bit overwhelming. Consider white or gray. Consider a smaller modal.

[2015-11-19 21:43] xmatthewx commented on #837
Something like this arrow icon could work:

![image](https://cloud.githubusercontent.com/assets/53411/11285255/8c8088ea-8edc-11e5-8635-0089ff2ec3a0.png)

[2015-11-19 21:46] xmatthewx commented on #692
bam. this is gonna be amazing.

[2015-11-19 21:53] xmatthewx opened #840 "Don't auto-refresh Projects"
Projects refresh if you leave the app and then return. This slight nuisance will become a bigger problem when users are able to link to URLs. Users will land in the browser. When they return, the will be sent back to to the initial project view.

[2015-11-19 21:55] xmatthewx opened #841 "Block pull to refresh from project settings"
This quirk is weird, not critical. See also #126 & #130.

[2015-11-19 21:56] xmatthewx commented on #126
tracking in #841

[2015-11-19 21:56] #126 closed, assigned to nobody

[2015-11-19 21:57] xmatthewx commented on #130
tracking #841

[2015-11-19 21:57] #130 closed, assigned to nobody

[2015-11-19 22:02] alanmoo commented on #839
I'm not entirely sure when this shows up vs the horizontal loader. Are there rules about this? I feel like maybe I saw something about network performance in the code?

[2015-11-19 22:10] xmatthewx opened #843 "Discuss - discover sidebar for desktop"
Projects on desktop currently fill the whole horizontal view. A sidebar could be added to create a Discover experience. This would allow people who received a link to browse Webmaker a bit.

Question: would this be a big lift for implementation? Any obviously challenges?
- This would be an excellent addition to have after hashtags are enabled.
- It would have the added benefit or narrowing the pro

[2015-11-19 22:13] xmatthewx opened #844 "Links to URLs - can we intercept links to projects?"
When a user adds a link to URL, they could drop in a link to a project or user. Can we intercept and load these before going to the browser? Easy or hard to implement?

[2015-11-19 22:15] #828 closed, assigned to gvn

[2015-11-19 22:18] xmatthewx opened #845 "Add option to render projects in browser without header"
Projects work surprising nicely in an iframe, opening a range of interesting use cases. The branding and header feels heavy handed there. Could we offer a URL parameter to remove this or show a floating logo?

[2015-11-19 22:25] xmatthewx commented on #845
Example: https://d157rqmxrxj6ey.cloudfront.net/okfuture/1565/

<img width="706" alt="screenshot 2015-11-19 17 24 36" src="https://cloud.githubusercontent.com/assets/53411/11286333/7007e914-8ee2-11e5-82c5-3f17b4d1624c.png">

[2015-11-19 22:25] gvn commented on #844
Not sure about difficulty, but I was just noticing that we don't open any Webmaker URL schemes in the app on Android (at least in Marshmallow), which seems like a missed opportunity.

See: **Settings -> Apps -> Webmaker -> Open By Default -> Supported links**

[2015-11-19 22:26] gvn commented on #844
In theory it does seem like we should be able to "hack" in-app links to other projects in this fashion. Good call!

Any thoughts on implementing this @ryanw-se ?

[2015-11-19 22:29] xmatthewx commented on #844
@k88hudson might know the history. There was a problem that made this difficult for some reason.

[2015-11-19 22:33] xmatthewx commented on #839
Good question. Maybe it's used just within projects?

Loosely related to #781

[2015-11-19 22:43] xmatthewx commented on #765
@gvn - any thoughts on what we'll include in 1.5.1?
- Can we add improved scrolling in editor? I think that includes NaN fix for image editor
- Two fixes for set destination mask? (Yours and @vazquez's)
  Any other blockers still open on this?

[2015-11-19 23:09] gvn commented on #765
Yep all that should be in there. I'm going to start building APKs now...

[2015-11-20 00:01] flukeout commented on #692
:trumpet:

[2015-11-20 00:07] gvn commented on #765
Ok, `1.5.1` is now uploaded to the beta channel. Should be available in a couple hours!

[2015-11-20 01:52] xmatthewx commented on #796
Hi everyone. 1.5.1 Beta is now in the play store. It fixes a few of the bugs and quirks we found in 1.5.

I don't think we need full tests. Play around with it to see if the fixes are good or if you notice anything else.  Thanks!

[2015-11-20 01:58] xmatthewx opened #846 "UI Polish - FTU"
FTU Discover
- The arrows in Discover/Make FTU screen don't have great alignment. Might be fixed just by switching the left and right arrow with each other.

FTU Remix
- This arrow points too far to the right. Origin misses a bit as well.
- Opening quote around Remix looks odd. Can probably remove these quotes.

[2015-11-20 02:06] xmatthewx commented on #813
resolved

[2015-11-20 02:06] #813 closed, assigned to nobody

[2015-11-20 02:07] xmatthewx commented on #812
remaining tests passed!

[2015-11-20 02:07] #812 closed, assigned to vazquez

[2015-11-20 02:09] xmatthewx commented on #818
Seems resolved in 1.5.1. Can you confirm @ioana-chiorean?

[2015-11-20 02:12] xmatthewx opened #847 "Green arrow should dismiss keyboard in project settings"
In Project Settings, when tapping the green arrow on the bottom of the keyboard, the keyboard does not go away. It does dismiss the keyboard in the text element editor.

[2015-11-20 02:13] xmatthewx commented on #815
keyboard issue filed in #847

[2015-11-20 02:13] #815 closed, assigned to vazquez

[2015-11-20 02:41] xmatthewx commented on #765
Fab. Everything is looking great. Looks like we can finish testing tomorrow and push to production on Monday as planned.

[2015-11-20 06:38] ioana-chiorean commented on #813
:tada: :dancer:

[2015-11-20 09:45] ioana-chiorean commented on #818
Looks good indeed!
<img src="https://cloud.githubusercontent.com/assets/1391451/11295887/46bd0770-8f77-11e5-8e5c-b962d0fb211b.jpg" width="300"  height="550" />

[2015-11-20 09:49] ioana-chiorean commented on #821
I am able to set them now anywhere on the page with 1.5.1:

<img src="https://cloud.githubusercontent.com/assets/1391451/11296720/86d6a406-8f7c-11e5-9b94-5011f1d523cf.jpg" width="300" height="550" />

[2015-11-20 09:50] ioana-chiorean commented on #817
I am able to set them now anywhere on the page with 1.5.1:

<img src="https://cloud.githubusercontent.com/assets/1391451/11296720/86d6a406-8f7c-11e5-9b94-5011f1d523cf.jpg" width="300" height="550" />

[2015-11-20 13:37] #817 closed, assigned to alanmoo

[2015-11-20 13:39] #818 closed, assigned to alanmoo

[2015-11-20 14:34] alanmoo commented on #734
Closed by #735

[2015-11-20 14:34] #734 closed, assigned to alanmoo

[2015-11-20 14:34] alanmoo commented on #733
Closed by #735

[2015-11-20 14:34] #733 closed, assigned to alanmoo

[2015-11-20 14:35] alanmoo commented on #706
@xmatthewx, please confirm that this is resolved?

[2015-11-20 14:36] #710 closed, assigned to alanmoo

[2015-11-20 14:36] alanmoo commented on #710
Closed by #735

[2015-11-20 14:39] alanmoo commented on #716
It seems to me the main issue here is that elements are popping forward all the time, getting in the way of other elements. Images just happen to be the worst offenders because they're such big touch targets, is this correct? I'll examine solving it with groupings of elements, but I might also explore other possible solutions if that's ok; I feel like there may be better solutions that require les

[2015-11-20 14:46] alanmoo commented on #716
To clarify, the following seems like an opportunity to fix:
- Tap a button/text element, and it is selected.
- Accidentally tap (and immediately release) an image right behind it, and that image comes to the front

It might be better if tapping the image behind it results only in "selecting" the image, and another tap brings it to the front, that way there are less false "bring to front" actions.

[2015-11-20 14:50] xmatthewx commented on #821
:fireworks:

[2015-11-20 14:50] #821 closed, assigned to nobody

[2015-11-20 16:12] vazquez opened #849 "Make Avatar icon grey"

[2015-11-20 16:25] xmatthewx commented on #716
Does a single tap on a unselected element move it to the front? It does. Don't think that was intended. I agree with your proposed change. Tap once to select. Tap a selected element to bring to front. That will reduce the number of accidents for sure. The accidents will still be mysterious and frustrating.

[2015-11-20 16:26] alanmoo commented on #716
Yeah. Currently a single tap on any element brings it to the front, but a drag does not, so it's a bit...odd feeling.

[2015-11-20 18:08] vazquez commented on #837
@xmatthewx What about this?

![button pick destination page copy](https://cloud.githubusercontent.com/assets/1119821/11307692/d9977ffc-8f87-11e5-9889-b75f286fa923.png)

[2015-11-20 18:37] xmatthewx commented on #716
Top three most discussed UX topics in the past 9 months: zoom, swipe nav, z-index.  We talked about this a ton, and discussed many many solutions.

I'm confident that the image layer is a solution worth testing. It's a good balance: simple mental model that enables a range project ideas while reducing frustrating accidents. Unless...

Let us know if engineering cost seems to outweigh benefit.

[2015-11-20 18:39] xmatthewx opened #850 "Tap to front should only work on selected elements"
As noticed by @alanmoo - if a user bumps an element behind the one currently selected, it might pop to the front. It's disruptive and confusing.

Solution: Tap once to select. Tap a selected element to bring to front. This should reduce the number of accidents and frustration.

[2015-11-20 18:40] xmatthewx commented on #796
Quality tests are complete. Let's continue to play with the app over the weekend with the plan to release on Monday.

[2015-11-20 18:40] #796 closed, assigned to xmatthewx

[2015-11-20 18:43] xmatthewx commented on #765
@gvn - looking at the checklist above...
- I'll let you check for crash reports on Monday as you phase to production. We're good to go unless something new pops up.
- Will analytics show us views of author lists? Or does that require a follow up ticket for next heartbeat?

[2015-11-20 18:46] xmatthewx commented on #837
I read that as a move this page icon. What if it is much larger without the background circle? I think 6-8 arrows will also read more as directional links.

[2015-11-20 18:46] xmatthewx commented on #837
Try a bunch a quick rough ideas side-by-side.

[2015-11-20 19:10] xmatthewx commented on #706
Let's good!

[2015-11-20 19:10] #706 closed, assigned to xmatthewx

[2015-11-20 19:17] alanmoo commented on #765
I wasn't aware analytics of specific views existed, so I didn't do anything special when I created the new view, AFAIK. So unless it hooks in globally, it's doubtful it'll be there.

[2015-11-20 19:25] xmatthewx commented on #765
No big deal. I'm going to file a new bug alerting Adam to changes coming down the pipe.

[2015-11-20 19:42] xmatthewx opened #851 "Prep analytics for upcoming features"
@adamlofting - we have a new features in the works that need a couple minutes of advice from you. cc @gvn @alanmoo

We can keep the scope of this work small and simple, aim to grab the low hanging fruit.
1. **Author project list** - A user can now nav from Discover to view an individual author's list of projects. I'm unsure if we have global hooks to track these views.
2. **Link to URL** - A user

[2015-11-20 20:03] xmatthewx opened #852 "Button elements are different in browser than app"
Buttons are rendered much larger in the browser than in the app.
- font-size is the same `ok`
- font is uppercase in browser `odd`
- padding is quite different `ugh`

Approximate measurements on Kite button below.
https://beta.webmaker.org/#/project?user=421495&project=361

<img width="911" alt="screenshot 2015-11-20 15 01 45" src="https://cloud.githubusercontent.com/assets/53411/11310445/a2aff9f0

[2015-11-20 20:19] vazquez commented on #837
![screenshot 2015-11-20 15 18 57](https://cloud.githubusercontent.com/assets/1119821/11310830/0cc6ad78-8f9a-11e5-8dbb-ce07c9491694.png)

[2015-11-20 20:42] gvn commented on #765
So far so good...

<img width="868" alt="screenshot 2015-11-20 12 41 56" src="https://cloud.githubusercontent.com/assets/206379/11311347/29908f8e-8f84-11e5-8b6c-4b37eb3d01bd.png">

[2015-11-20 20:51] gvn commented on #765
@xmatthewx I can't fit all the notes from the 1.4 release in our new release notes due to character count. Should I just go with the 1.5 release notes?

[2015-11-20 21:32] xmatthewx commented on #765
I tried to edit and squash them in there too, but no dice. Notes for just 1.5 is fine. Thanks for updating that.

[2015-11-20 21:34] xmatthewx commented on #837
What do you think? The 3rd reminds me of a first person shooter. I prefer the second over the first, but not a strong preference.

[2015-11-20 21:36] vazquez commented on #837
Hahaha right, I see it now. I meant to create an abstract compass.

I also like the 2nd the best.

[2015-11-20 22:00] xmatthewx opened #853 "Think about use-cases and content partners"
- http://inter-section.org/

[2015-11-20 22:07] xmatthewx opened #854 "Text element background color not rendering in browser"
This impacts thumbnail service as well.

Ex: https://beta.webmaker.org/?user=421495&project=44682#/project?user=421495&project=44682

<img width="770" alt="screenshot 2015-11-20 17 06 14" src="https://cloud.githubusercontent.com/assets/53411/11313179/0c658cf0-8fa9-11e5-90f1-32a624525474.png">

[2015-11-20 23:21] gvn opened #855 "Warn on nav to missing view"
If you try to navigate to a missing view the app will die without any kind of useful error.

This should only affect developers, but we should put something more helpful in there.

Currently: `"Unfortunately, Webmaker has stopped"`
Expected: `"Page not found."`

[2015-11-21 00:03] gvn opened #857 "Only allow setting a in-project link for multi-page projects"
Let's hide the option to set a in-page destination for a link for projects with only 1 page. There's nothing you can do but hit back when that's the case...

[2015-11-21 02:21] xmatthewx commented on #857
Good thinking. Maybe disable the button in the element editor so there's still a hint of the possibilities?

[2015-11-21 16:57] xmatthewx opened #858 "Don't trim spaces in Text element"
Don't trim trailing and leading spaces. Prevents user from hacking the tool for different effects.

[2015-11-22 18:58] ioana-chiorean opened #859 "Add a more specific error text for no connection"
I did not notice i lost connection and got the error - I was a bit intrigued that there was not a specific "no connectivity error" but a generic one.

<img src="https://cloud.githubusercontent.com/assets/1391451/11325640/9e8acbc8-915b-11e5-9391-e8178e178749.jpg" width="300" height="550" />

[2015-11-23 13:24] adamlofting commented on #851
Quick thoughts:

_GA Screenviews_

Make sure we're recording Google Analytics (GA) screen views for:
- Author Project List / Author ID
- Hash tag 'search results' list page / Tag String
- We could also add project views to the scope of this work #609

I can't remember where this is instrumented - I think views are currently tracked in the wrapper rather than in the src. This might be where the pro

[2015-11-23 14:50] #831 closed, assigned to nobody

[2015-11-23 17:01] xmatthewx commented on #727
hey @cadecairos - all of us south of the border have PTO the second half of this week. Ping us with any questions about tags before we vanish. It'd be great to run with this full speed when we return.

[2015-11-23 17:03] gvn commented on #765
1.5.1 has been promoted to production. :tada:

[2015-11-23 17:04] xmatthewx commented on #840
@ryanw-se - is this something you could peek at?

[2015-11-23 17:07] xmatthewx commented on #807
a pile of enhancements were filed.

[2015-11-23 17:07] #807 closed, assigned to xmatthewx

[2015-11-23 18:06] gvn opened #862 "Add healthcheck"
We should add a `/healthcheck` route to `webmaker-browser` that at a minimum contains the current version number.

Currently: `https://beta.webmaker.org/healthcheck` gives a 404

[2015-11-23 18:17] xmatthewx opened #863 "Tap +element icon should deselect current element"
Crafting a page would be nicer if I could deselect my current element and see how it all looks. There isn't much space to do this in the background, so using a tap of the add element icon would work. A user could cancel that modal to view their composition.

[2015-11-23 18:29] vazquez opened #864 "Login Screen is low low low"
`.editor-options` has been set to `margin-top: 150px;`

I think this CSS rule might have been introduced in #692

![screenshot 2015-11-23 13 25 52](https://cloud.githubusercontent.com/assets/1119821/11345538/bdb45408-91e5-11e5-916e-c74338dbb42d.png)

[2015-11-23 18:37] gvn commented on #765
I also pushed `webmaker-browser` to prod.

It required a patch to core, so it's actually at `1.5.2` now.

[2015-11-23 20:19] xmatthewx commented on #864
whoa

[2015-11-23 20:19] #864 closed, assigned to vazquez

[2015-11-23 20:19] #798 closed, assigned to vazquez

[2015-11-23 20:19] #833 closed, assigned to vazquez

[2015-11-23 20:22] xmatthewx commented on #854
Resolved by update to webmaker-desktop https://github.com/mozilla/webmaker-browser/commit/7a2016bef43de61958a38687f9abbd1d0f3a54dc

[2015-11-23 20:22] #854 closed, assigned to nobody

[2015-11-23 20:35] #837 closed, assigned to vazquez

[2015-11-23 21:02] xmatthewx commented on #765
Excellent. Update to webmaker-browser resolved some lingering rendering issues!

[2015-11-23 21:02] #765 closed, assigned to gvn

[2015-11-23 21:05] vazquez opened #868 "Login uses .editor-options"
We need to refactor the CSS.

[2015-11-23 22:43] xmatthewx commented on #638
@ryanw-se - let's file new tickets to align this with the plan you outlined in your list. And then close this.

[2015-11-23 22:51] xmatthewx opened #869 "Release 1.5.4"
- [x] Release is scheduled and a ticket to track the release process is created.
- [ ] Tag release on `webmaker-core` repo.
- [ ] Generate signed APK.
- [x] Release notes are [drafted in the ticket below](https://github.com/mozilla/webmaker-core/issues/869#issuecomment-166361656).
- [x] Ticket is assigned to deploy APK to beta channel.
- [ ] Coordinate release for Browser viewer if relevant (bump

[2015-11-23 22:57] xmatthewx commented on #852
resolved!

[2015-11-23 22:57] #852 closed, assigned to nobody

[2015-11-23 23:01] xmatthewx commented on #869
A small bug was introduced to 1.5.1 that makes the layout of the login/signup view weird. We could patch it, or put the energy toward 1.6. That's my preference if we can keep the next release lean and get it to production _before_ Orlando.  That means Beta test and release next week.
- link to URL
- lots of UI polish
- project descriptions
- better UX on z-index & rotation

Drop in your thoughts @

[2015-11-23 23:04] xmatthewx commented on #740
Likely best done with a project-styles column in the DB so it persists. We'll have to start with a spec for the services team. Benefits to doing it in app vs db?

[2015-11-23 23:08] alanmoo commented on #740
Is the idea to have this persist across relaunches in the entire project? Or just if you're building a project and want to add multiple of the same item in a row?

[2015-11-23 23:09] alanmoo commented on #869
I think @vazquez already merged the fix in. #864?

[2015-11-23 23:12] gvn commented on #797
@vazquez Do you have an SVG for the icon? We're not including ionicons in our build...

[2015-11-24 00:10] gvn commented on #781
From what I can tell we're not waiting for images to load and the API responses seem reasonably snappy. I think performance is going to take some deeper digging and maybe refactoring how we load projects. Right now we don't lazy load anything, which might be part of the problem for large projects...

[2015-11-24 00:10] gvn commented on #781
I'm going to punt this since we're strapped for time this sprint.

[2015-11-24 00:13] gvn commented on #869
Link to URL is awaiting review, but should finally, finally, _finally_ be done.

[2015-11-24 00:46] xmatthewx commented on #797
That's the icon currently used for add link element (soon to be changed for chain link icon). This should match color of link's label. Doable?

[2015-11-24 00:50] xmatthewx commented on #869
Yes, he did a quick fix. He plans to clean up classes to avoid a repeat. I'm just not sure it's worth the time to build a new apk if we'll release 1.6 next week. Open for debate.

[2015-11-24 00:58] xmatthewx commented on #740
Open for debate. Ideally ux-wise, if I use a project to periodically post about a thing, it'd be nice to carry those default styles across relaunches of the app. But, even just session persistence would be helpful. Engineering wise, I wonder if it's easier to track styles in db than move props between pages. We should probably pursue the easier engineering approach unless the lift is similar.

[2015-11-24 01:00] vazquez commented on #797
Err... I merged in the new icon already, and removed the old one. @gvn I
will have something for you tomorrow first thing.

On Monday, November 23, 2015, matthew w notifications@github.com wrote:

##

Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez http://twitter.com/iamrvazquez
IRC: ricardo

[2015-11-24 01:24] xmatthewx opened #871 "Add localized languages"
Many translations have been completed. We should make a plan for updating any string changes and then adding these new locales. https://www.transifex.com/webmaker/webmaker/webmaker-core/

[2015-11-24 01:30] xmatthewx commented on #871
We should do this for the website as well. https://www.transifex.com/webmaker/webmaker/betawebmakerorg/

[2015-11-24 16:18] #646 closed, assigned to gvn

[2015-11-24 16:25] vazquez commented on #797
Here it is: https://dl.dropboxusercontent.com/u/43783651/external-url.svg

[2015-11-24 17:32] alanmoo commented on #716
Please play with the changes from #850, I think it dramatically reduces frustrating accidents without the added logic that I feel might over-complicate things.

[2015-11-24 17:36] gvn commented on #716
It feels weird to me to have different priorities for different element types. I can't think of any tool that does this and any time we add extra logic to UI it means users have to either intuit the functionality or we need extra FTU explaining it.

If #850 feels sufficient without adding the logic then it gets a big :+1:  from me.

[2015-11-24 18:00] vazquez opened #872 "Change Name Page Editor"
Header is “Page” … change to “Edit Page”

[2015-11-24 19:08] alanmoo commented on #714
Right now I've got this working so that as you drag, if it's close to zero (using a value that "feels" right), it snaps to zero until you drag farther. I'm thinking the behavior should be along the lines of "if I'm dragging towards zero and get close, jump to it" rather than on release, as changing the element after we release it is a.)not something we do elsewhere, and b.)more difficult given the

[2015-11-24 19:14] vazquez commented on #855
:+1: for people like me :smile:

[2015-11-24 19:47] #797 closed, assigned to gvn

[2015-11-24 22:02] #714 closed, assigned to alanmoo

[2015-11-25 00:47] #850 closed, assigned to alanmoo

[2015-11-25 02:01] gvn commented on #869
@alanmoo @vazquez @xmatthewx – I just pushed a new APK to the beta channel ([v1.5.3](https://github.com/mozilla/webmaker-core/releases/tag/v1.5.3)).

It doesn't have descriptions yet as the related service patch hasn't landed. I'm pretty close to an MVP on the frontend when it does get landed though.

[2015-11-25 03:36] xmatthewx commented on #869
:poultry_leg:  Thanks team! 1.5.3 is awesome for many reasons. i did a quick test. snap to horizontal feels great. the polished project cards look amazing. the login screen is tight. link to URL is awesome!! and I have so much less fear of accidentally losing text behind images. Thanks for pushing a new APK.

The app has come a long way from the initial release. if we can push a little bit for the

[2015-11-25 03:37] xmatthewx opened #879 "Add element selection border to cropped elements"
If an image or other element is larger than the page and cropped, there's no indiction that it has been selected. If we can detect this, let's add a section border along page margin.

[2015-11-25 12:50] #849 closed, assigned to vazquez

[2015-11-25 12:51] #836 closed, assigned to vazquez

[2015-11-25 16:03] alanmoo commented on #806
This is probably a matter of passing `infiniteScroll={true}` to the `<ProjectList>` on make.jsx. We might also consider making infiniteScroll the default on Project Lists, though I'd want to be a little more familiar with the API responses before deciding that

[2015-11-25 20:35] xmatthewx commented on #714
This just happens on two-finger drag, yes? If so, I think your implementation is good.

[2015-11-25 22:01] xmatthewx opened #881 "Quality test 1.5.3"
A new release is in Beta on the play store. It includes several enhancements and fixes.
- when rotating elements, they snap to horizontal if they're near to horizontal to make alignment easier
- links can now point to a page or any web URL
- UI clean up in several sections, including login screen
- select element now required before you can tap to move element in front of others

cc @vazquez @ioan

[2015-11-25 22:04] xmatthewx commented on #716
We can put this on hold for now. Wait and see.

[2015-11-25 22:29] ioana-chiorean commented on #881
On it.. 🎯🔎🐞

[2015-11-26 19:31] cadecairos commented on #727
Should I filter the tag suggestion results for bad words? Might be heavy handed to blacklist words from description and tags completely but suggesting "shit" when someone types "shi" (ship?) sounds undesireable

[2015-11-30 15:36] #868 closed, assigned to vazquez

[2015-11-30 15:49] alanmoo commented on #805
What view is this in, discover?

[2015-11-30 16:48] vazquez opened #890 "QA Feedback - Android - Account"
Android version: 6.0
Device: Nexus 5
Webmaker version: 1.5.3

**Sign up**
- [x] open the app (or log out from the 'MAKE' tab, if already signed in)
- [x] make sure you are on the screen that says "Join Webmaker" or something similar on the button at the bottom
- [x] tap the "Terms" and "Privacy Policy" links at the very bottom. Return to the app.
- [x] Error messages
  - [x] enter an invalid usern

[2015-11-30 16:50] vazquez opened #891 "QA Feedback - Android App - View Project"
Android version: 6.0
Device: 5.3
Webmaker version: 1.5.3
- [x] Open the app and tap the Discover tab, which opens the Discover view

**Discover View**
- [x] In the Discover view you see a list of projects. Each projects includes...
  - [x] a title
  - [x] a preview image
  - [x] an author (indicated in blue)
- [x] scroll up and down to view additional projects
- [x] tap on any project in the Disco

[2015-11-30 16:51] vazquez opened #892 "QA Feedback - Android App - Create & Delete Project"
Android version: 6.0
Device: Nexus 5
Webmaker version: 1.5.3
- [x] Open the app and tap the Make tab, which displays the Make view

**Make View**
- [x] you see your username displayed at the top of the view
- [x] tap the "+ Create a Project" button, you will enter the Project view

**Project View**
- [x] you are in the map view of a project with a single page
- [x] the page is selected (there is a

[2015-11-30 16:52] vazquez opened #893 "QA Feedback - Android App - Project Editing Basics"
Android version: 6
Device: Nexus 5
Webmaker version: 1.5.3
- [x] create a new project, or open an existing one
- [x] you will see the map view of the project, centered on one of the pages
- [x] the blue header says "Project"
- [x] the centered page is selected
- [x] the pencil icon is visible below the page
- [x] dragging the view to pan around the project view
- [x] pinching the view zooms the vi

[2015-11-30 17:10] xmatthewx commented on #805
Yes. There are known featured projects I can't always view in Discover, even when I hit the end of infinity.

[2015-11-30 17:15] xmatthewx commented on #727
Tag suggestions are not part of MVP. Let's get the basics up and running first. See how people use them before build out other bits.

[2015-11-30 17:29] cadecairos commented on #727
I already built that while waiting for code review, but I'll separate it out into a different patch, in case we need it later.

[2015-11-30 17:29] vazquez commented on #893
No issues found :cow: :star:

[2015-11-30 17:29] #893 closed, assigned to vazquez

[2015-11-30 17:37] vazquez commented on #892
No issues found :cow: :star:

[2015-11-30 17:37] #892 closed, assigned to vazquez

[2015-11-30 17:44] vazquez commented on #891
No issues found :cow: :star:

[2015-11-30 17:44] #891 closed, assigned to vazquez

[2015-11-30 17:47] vazquez commented on #881
Tests done:

Account Basics - https://github.com/mozilla/webmaker-core/issues/891
Viewing a Project - https://github.com/mozilla/webmaker-core/issues/891
Creating & Deleting Projects - https://github.com/mozilla/webmaker-core/issues/892
Project Editing Basics https://github.com/mozilla/webmaker-core/issues/893
Image Element - https://github.com/mozilla/webmaker-core/issues/894
Button Element - htt

[2015-11-30 17:51] vazquez commented on #890
No issues found :cow: :star:

[2015-11-30 17:51] #890 closed, assigned to vazquez

[2015-11-30 17:52] vazquez opened #894 "QA Feedback - Android App - Image Element"
Android version: 6.0
Device: Nexus 5
Webmaker version: 1.5.3
- [x] open one of your existing projects or create a new one
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add an image element to the page
  - [x] an image appears in the center of the page (it can be one of many starter images)
  - [x] the image is selected, it has a blue dashed border
  - [x] there is a ga

[2015-11-30 17:53] vazquez opened #895 "QA Feedback - Android App - Button Element"
Android version: 6.0
Device: Nexus 5
Webmaker version: 1.5.3
- [x] open one of your existing projects or create a new one
- [x] make sure the project has at least two pages, add one if necessary
- [x] edit one the pages
- [x] tap the plus icon at the bottom of the page add a Button by tapping the third icon
  - [x] a blue button appears in the center of the page
  - [x] the button label is "Button

[2015-11-30 17:53] vazquez opened #896 "QA Feedback - Android App - Text Element"
Android version: 6.0
Device: Nexus 5
Webmaker version: 1.5.3
- [x] open one of your existing projects or create a new one
- [x] edit one of the pages
- [x] tap the plus icon at the bottom of the page
- [x] add a text element to the page by tapping the "Aa" icon
- [x] change each of the available settings, the preview at the top of the page updates as you do so
  - [x] Font
  - [x] Color
  - [x] Te

[2015-11-30 17:56] vazquez commented on #881
:star: All tests have been done using the following device and OS :star:

Android OS: Android 6.0
Device: Nexus 5
App Version: Webmaker 1.5.3

[2015-11-30 17:58] vazquez commented on #894
No issues found :cow: :star:

[2015-11-30 17:58] #894 closed, assigned to vazquez

[2015-11-30 18:00] vazquez commented on #896
No issues found :cow: :star:

[2015-11-30 18:00] #896 closed, assigned to vazquez

[2015-11-30 18:16] vazquez commented on #895
No issues found. I also took the opportunity to update the QA script in the wiki.

[2015-11-30 18:16] #895 closed, assigned to vazquez

[2015-11-30 21:10] #594 closed, assigned to vazquez

[2015-11-30 21:10] #834 closed, assigned to vazquez

[2015-11-30 21:10] #835 closed, assigned to vazquez

[2015-11-30 21:10] #872 closed, assigned to vazquez

[2015-11-30 21:44] alanmoo commented on #740
Two thoughts, after an IRC conversation with @gvn

1.) Would the ability to duplicate pages/elements accomplish the same thing? Would it be a better/worse approach?
2.) We wouldn't have to save this to the server, we could use https://github.com/mozilla/webmaker-android#sharedpreferences

[2015-11-30 22:07] alanmoo commented on #782
@vazquez Is that paint fill icon already in the repo somewhere?

[2015-12-01 15:44] xmatthewx commented on #871
For both core and andorid https://github.com/mozilla/webmaker-android/blob/develop/app/src/main/res/values-en/strings.xml

[2015-12-01 16:00] xmatthewx commented on #782
I don't love this paint bucket. It's a bit hard to read.

[2015-12-01 16:01] alanmoo commented on #782
As I'm building this I'm simply using the paint brush as a placeholder. Do we keep that for consistency?

[2015-12-01 16:02] xmatthewx commented on #895
thanks for updating the script @vazquez :cake: :gift:

[2015-12-01 16:02] xmatthewx commented on #881
Super! Thanks for the swiftness.

[2015-12-01 16:02] #881 closed, assigned to xmatthewx

[2015-12-01 16:11] vazquez commented on #782
The paint brush can be a good alternative since we removed the paint brush in all other views in favour of the pencil.

[2015-12-01 16:16] vazquez commented on #782
@xmatthewx We can also try

![screenshot 2015-12-01 11 15 24](https://cloud.githubusercontent.com/assets/1119821/11506314/ea495440-981c-11e5-900c-2652bb1bcae7.png)

or

![screenshot 2015-12-01 11 15 43](https://cloud.githubusercontent.com/assets/1119821/11506315/ea51853e-981c-11e5-890b-343dc64cb983.png)

[2015-12-01 17:44] gvn opened #898 "Add EditorConfig"
http://editorconfig.org/

CC: @alanmoo

[2015-12-01 18:17] xmatthewx commented on #898
i love the hand-drawn editor icons on that site

[2015-12-01 18:22] xmatthewx commented on #782
I like the palette.

If we use the paintbrush, let's adjust it so it looks less like the pencil. Current, both point down from top-right to bottom-left. They don't have enough contrast. Brush could be oriented like the wand above, with brush upward.

[2015-12-01 18:26] #806 closed, assigned to alanmoo

[2015-12-01 18:29] xmatthewx commented on #740
As we discussed:
1. There is some overlap, but both persistent styles and page duplication are useful. Since persistent styles will impact all projects and users, we will pursue that first. Duplicating a page is a feature that will support authors who create more involved projects ... particularly useful for layout and repeat images/textures.
2. Shared preferences sounds like the best approach to

[2015-12-01 18:37] xmatthewx commented on #805
cc @gvn

[2015-12-01 18:39] gvn commented on #805
Hmm. Somewhat related: should we stop randomizing the load order for Discover now that we have infinite scroll? Seems a tad weird to have it still...

[2015-12-01 18:43] xmatthewx opened #901 "Stop randomizing Discover"
This was an interim measure to add some variety. Not very successful. Feels awkward. Instead, we need to prune the featured projects and utilize tags to find new content to highlight.

[2015-12-01 18:44] xmatthewx commented on #805
I think yes. Was my mediocre idea. Filed here: https://github.com/mozilla/webmaker-core/issues/901

[2015-12-01 18:54] xmatthewx commented on #727
Thanks @cadecairos - drop an update here when you're ready for @gvn to hook this up.

[2015-12-01 20:04] vazquez commented on #782
I think I like the palette better.

![screenshot 2015-12-01 15 03 03](https://cloud.githubusercontent.com/assets/1119821/11512576/c25af6b2-983c-11e5-9438-252a51865e25.png)

![screenshot 2015-12-01 15 03 35](https://cloud.githubusercontent.com/assets/1119821/11512575/c2587680-983c-11e5-98dd-1aae77a4a5f8.png)

Palette icon (with svgo optimization): https://dl.dropboxusercontent.com/u/43783651/Mozill

[2015-12-01 20:09] xmatthewx commented on #782
R+ on the palette

[2015-12-01 21:18] xmatthewx opened #902 "Count shares, remixes, favs, flags, etcetera"
A few basic metrics would be useful to track within the app. Would help us curate Discover and allow us to report info back to users.

Project
- Project view count
- Project remix count
- Project share intent count

Platform
- Tag list view count
- Tag project count

[2015-12-02 19:27] alanmoo commented on #782
@vazquez Default color options? Normal set with transparent replaced by that dark one in the comps? If so, what is that one color?

[2015-12-02 19:31] xmatthewx commented on #782
Dark one is probably the same as text color on text element.

Wondering: should we swap the blue for the yellow. If page background often match the app header, things might get a bit weird.

[2015-12-02 19:33] alanmoo commented on #782
Yeah I was wondering if we should have a different palette altogether. I'm not sure how often the default colors get used for elements vs tinkered ones, but new colors here that complement the default element ones could result in more good looking projects.

[2015-12-02 19:57] xmatthewx commented on #727
@gvn - description api has landed on staging. check in with @cadecairos about pushing tags there too. tests are almost complete. Might be good to have that in staging for you while work is completed.

[2015-12-02 19:58] vazquez commented on #782
Let's have these colours:

![screenshot 2015-12-02 14 48 35](https://cloud.githubusercontent.com/assets/1119821/11542323/d72c11b6-9904-11e5-988d-101fbd02706c.png)

We have a blackish colour, a greyish colour, and some colours that are complementary with a blue header.

New Colour Values:
- Black: `#484B50`
- Grey: `#6D7886`
- Green: @green LESS variable
- Orange: @orange LESS variable
- Purple: @p

[2015-12-02 20:07] alanmoo commented on #782
Transparent vs white? Thoughts?

[2015-12-02 20:14] vazquez commented on #782
I don't have a strong preference. @xmatthewx what do you think? How should we communicate "white" in this case?

[2015-12-02 20:49] xmatthewx commented on #782
Good point. White is probably better. (I bet most people read that as none, not transparent. But still, white requires less thinking.)

[2015-12-02 21:00] alanmoo commented on #782
Turns out it's not actually white, but an off-white `#f2f6fc`. After a quick in person discussion (!), @xmatthewx and I decided we should use that instead of `#FFF` in the palette.

[2015-12-03 16:01] ryanwarsaw commented on #510
Starting work on this today! :train:

[2015-12-03 16:44] xmatthewx commented on #902
@cadecairos - there are a few basic numbers in the DB that would help us curate interesting content. Analytics can't really give us a good view into content on the app.

The Project level counts would be pretty simple and top priority. The Tag counts would be nice to have, but could be inferred somewhat by looking at top projects.

In fact, if we had nothing but a count of projects views before we

[2015-12-03 18:28] cadecairos commented on #902
What is the definition of a "project view"? What would trigger this value to increment? Surely not just a single request for the project data, as many things in the app could trigger that.

[2015-12-03 18:42] xmatthewx commented on #902
Good question.

Project view triggers:
- appearance in a list view += 0
- project opened from list view += 1
- ideally we filter out a user opening their own projects. BUT! that's truly not essential for MVP

Why? I am more interested in scale than accuracy. We have 47919 projects in the DB. 99% have probably been viewed 0 or 1 times. I can't find the other 1%. If we _can_ find them, we can featur

[2015-12-03 18:47] cadecairos commented on #902
so it sounds like projects require a column that can be incremented via an authenticated API call from the app, when a project is opened. it will increment the view count if the user ID hasn't already viewed the project. We can use a JSON datatype to store that information and grab a total view count from there.

i.e.

[code]

a new view inserts the user id into the users array and ups the view co

[2015-12-03 18:47] cadecairos commented on #902
are there ways to anonymously view?

[2015-12-03 19:00] xmatthewx commented on #902
Interesting, interesting. I don't think we need to track users for unique views. If someone feels compelled to view your project 10 times, that's useful measure of impact.[1]  Checking user id so we don't count the author is definitely useful, but again not essential.

AFAIK the only anonymous viewing is via the browser. That's roughly captured in analytics. Let's not worry about that for a first